Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(standards): make shell arithmetic POSIX compliant
  scripts/manage-standards.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): update sandbox state check log formatting
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(scripts): improve POSIX compliance and sandbox setup (#200)
  scripts/manage-sandbox.sh
  scripts/manage-standards.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/standards.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): clarify sandbox writing hooks and config flags (#201)
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): remove cosmetic leading grey box
  scripts/manage-gov.sh
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(sandbox): rename tooling scaffold script to upstream
  scripts/sandbox/tooling/upstream.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add claude infra sandbox script
  scripts/sandbox/infra/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): add interactive infra tests and upstream sandbox
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add interactive infra tests and improve cli output (#202)
  docs/SANDBOX.md
  scripts/manage-claude.sh
  scripts/manage-gov.sh
  scripts/manage-tooling.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/sandbox/tooling/upstream.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): align docs with scaffold to create rename
  README.md
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): rename scaffold command to create (#203)
  README.md
  docs/SANDBOX.md
  docs/TOOLING.md
  scripts/manage-aitk.sh
  scripts/manage-tooling.sh
  scripts/sandbox/infra/tooling.sh
  scripts/tooling/create.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(prompts): clarify section header usage
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): simplify review mode instruction
  snippets/review-mode.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(scripts): normalize log and echo headers to sentence case
  scripts/core/clean.sh
  scripts/core/update.sh
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/lib/inject.sh
  scripts/manage-claude.sh
  scripts/manage-sandbox.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/sandbox/release/changelog.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/chrome.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/gemini.sh
  scripts/sandbox/tooling/vite-react.sh
  scripts/tooling/create.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(scripts): update log step headers to sentence case
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/chrome/configs/scripts/setup.sh
  tooling/vite-react/configs/scripts/setup.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(ref): update internal doc links to lowercase filenames
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  README.md
  gemini/commands/docs/sync.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add planner style guidelines
  tooling/claude/seeds/.claude/PLANNER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(dev): add review command for code findings
  gemini/commands/dev/review.toml
  scripts/sandbox/dev/review.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): add task tracking template
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add wireframe template
  tooling/claude/seeds/.claude/WIREFRAMES.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(ai-workflow): update review workflow with /dev:review command
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add dev comment sandbox scenario
  scripts/sandbox/dev/comment.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(comment): document /dev:comment command
  docs/ai-workflow.md
  docs/sandbox.md
  gemini/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(comment): add /dev:comment command (#208)
  docs/ai-workflow.md
  docs/sandbox.md
  gemini/README.md
  gemini/commands/dev/comment.toml
  scripts/sandbox/dev/comment.sh
  standards/comments.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(prompt): reorder observation section in command prompts
  gemini/commands/dev/apply.toml
  gemini/commands/dev/comment.toml
  gemini/commands/dev/review.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/release/changelog.toml
Due: none

refactor(prompt): standardize command prompt structure (#209)
  docs/ai-workflow.md
  gemini/commands/dev/apply.toml
  gemini/commands/dev/comment.toml
  gemini/commands/dev/review.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/release/changelog.toml
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): update prompt skill documentation references
  .claude/skills/aitk-prompts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): update script skill description and references
  .claude/skills/aitk-scripts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude-skill): add aitk-snippets skill
  .claude/skills/aitk-snippets/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude-skill): simplify claude skill descriptions
  .claude/skills/aitk-gemini-commands/SKILL.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): make aitk-scripts skill description concise
  .claude/skills/aitk-scripts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): refine review mode instructions
  snippets/review-mode.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prose): add code block language identifier guidelines
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(markdown): add fenced code block language identifiers
  claude/README.md
  claude/skills/git-branch/SKILL.md
  docs/ai-workflow.md
  docs/governance.md
  docs/prompts.md
  docs/sandbox.md
  docs/skills.md
  docs/snippets.md
  docs/standards.md
  docs/tooling.md
  gemini/README.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): enforce period at end of PR standard bullet points
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): enforce consistent punctuation rules (#213)
  standards/changelog.md
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(comment): refine command instructions
  gemini/commands/dev/comment.toml
Due: none

docs(comments): add comment guideline and update examples
  standards/comments.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): add 'comments' to standards list
  docs/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(comments): add standard and examples for code comments (#215)
  docs/standards.md
  gemini/commands/dev/comment.toml
  scripts/sandbox/dev/comment.sh
  standards/comments.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
