Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): pin the bootstrap arm's reply and its untouched file
  .claude/context/claude-plugin/skill-procedures.md
  scripts/sandbox/fixtures/infra/indexes/bootstrap/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(web): spawn this checkout's own CLI for catalog reads
  .claude/context/web.md
  src/gate/stages.ts
  web/astro.config.mjs
  web/e2e/home.spec.ts
  web/public/assets/governance.png
  web/public/assets/install-surface.png
  web/public/assets/install.png
  web/public/assets/task-board.png
  web/src/content/copy.ts
  web/src/lib/canon-cli.ts
  web/src/lib/catalogs.ts
  web/src/lib/counts.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): state the surface-capture rule's new accepted cost
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): assert the bootstrap indexes arm's measured stop (#1582)
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  scripts/sandbox/fixtures/infra/indexes/bootstrap/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): widen surface-capture rule to match components/ (#1583)
  .claude/context/development/regeneration.md
  .claude/context/tooling.md
  .claude/rules/canon/ui/440-surface-capture.md
  governance/rules/ui/440-surface-capture.md
  src/gov/list.test.ts
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(web): drop the inert local-CLI link from deploy
  .claude/context/web.md
  .github/workflows/deploy-site.yml
  web/astro.config.mjs
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(web): fix the favicon-symlink claim's stale order
  .claude/context/web.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): name the sync checklist's two silent gates
  .claude/context/claude-plugin/skill-procedures.md
  .claude/skills/internal-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): give the three genuine skill gaps their consumer-map row
  .claude/context/claude-plugin/skill-strategy.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.65.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.65.0 (#1584)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): match the repo-metadata row to its table's when-clause
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add ai-workflow row to the skill sync checklist
  .claude/skills/internal-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): extract the checkout-mismatch warning as a helper
  .cspell/project-terms.txt
  src/project-root.test.ts
  src/project-root.ts
Due: none

feat(cli): warn from every verb that answers from PROJECT_ROOT
  src/commands/checkout-mismatch.test.ts
  src/commands/claude.ts
  src/commands/design.ts
  src/commands/docs.ts
  src/commands/gov.ts
  src/commands/migrate.ts
  src/commands/sandbox.ts
  src/commands/snippets.ts
  src/commands/tooling.ts
  src/exec.ts
  src/sync/engine.ts
  src/target.ts
Due: none

docs(claude): record the warning's reach and its exempt set
  .claude/ARCHITECTURE.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): name the skill sync checklist's silent requirements (#1585)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/skills/internal-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): give the three genuine skill gaps their consumer-map row (#1586)
  .claude/context/claude-plugin/skill-strategy.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): place the mismatch warning inside the frame that opens
  src/commands/claude.ts
  src/commands/design.ts
  src/commands/gov.ts
  src/commands/snippets.ts
  src/commands/tooling.ts
Due: none

feat(cli): warn from every verb that answers from PROJECT_ROOT (#1587)
  .claude/ARCHITECTURE.md
  .claude/context/tooling.md
  .cspell/project-terms.txt
  src/commands/checkout-mismatch.test.ts
  src/commands/claude.ts
  src/commands/design.ts
  src/commands/docs.ts
  src/commands/gov.ts
  src/commands/migrate.ts
  src/commands/sandbox.ts
  src/commands/snippets.ts
  src/commands/tooling.ts
  src/exec.ts
  src/project-root.test.ts
  src/project-root.ts
  src/sync/engine.ts
  src/target.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): give claude-worktree step 6 a literal dependency test
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(demo): add a frames verb that reads a recording's stills
  .claude/context/demo.md
  docs/agents/demo.md
  docs/agents/index.md
  src/commands/demo.ts
  src/demo/container.test.ts
  src/demo/container.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add canon-frames-read to read a recording's frames back
  claude/skills/canon-frames-read/REQUIREMENT.md
  claude/skills/canon-frames-read/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/claude/canon-frames-read.sh
  src/claude/cases/claude-workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): note the empty-diff commit gotcha for a refusal arm
  .claude/context/sandbox/authoring.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): regenerate hero capture for the updated skill count
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

fix(claude): give bun-first order a reason that holds
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(demo): clear stale frames before re-extracting a video
  .claude/context/demo.md
  src/demo/container.test.ts
  src/demo/container.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(demo): test the sort extractFrames actually calls
  src/demo/container.test.ts
  src/demo/container.ts
Due: none

feat(demo): read a recording's frames back through a new skill (#1589)
  .claude/context/demo.md
  .claude/context/sandbox/authoring.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/canon-frames-read/REQUIREMENT.md
  claude/skills/canon-frames-read/SKILL.md
  docs/agents/demo.md
  docs/agents/index.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/claude/canon-frames-read.sh
  src/claude/cases/claude-workflow.ts
  src/commands/demo.ts
  src/demo/container.test.ts
  src/demo/container.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): give claude-worktree step 6 a literal dependency test (#1590)
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.66.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.66.0 (#1588)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): parameterize the rename engine and add migrate skill-names
  .claude/context/cli/commands.md
  docs/agents/commands.md
  src/commands/migrate.ts
  src/migrate/plan.test.ts
  src/migrate/plan.ts
  src/migrate/rename.test.ts
  src/migrate/rename.ts
  src/migrate/skill-names.test.ts
  src/migrate/skill-names.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): assert the port walk skips rather than lands one above
  src/serve/static.test.ts
Due: none

docs(claude): name the resync order a renamed skill needs in a target
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): parameterize the rename engine and add migrate skill-names (#1591)
  .claude/context/cli/commands.md
  docs/agents/commands.md
  docs/target-projects.md
  src/commands/migrate.ts
  src/migrate/plan.test.ts
  src/migrate/plan.ts
  src/migrate/rename.test.ts
  src/migrate/rename.ts
  src/migrate/skill-names.test.ts
  src/migrate/skill-names.ts
  src/serve/static.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(teach): alias the retired palette so old diagrams still resolve
  src/design/components.ts
  src/teach/workspace.test.ts
Due: none

fix(teach): rebuild the chrome css as tracked source, not a survivor
  .claude/context/design.md
  .cspell/tech-stack.txt
  cspell.json
  src/design/components.ts
  src/design/css.test.ts
  src/design/css.ts
  src/teach/fonts.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(teach): restore chrome css and diagram fills from tracked source (#1593)
  .claude/context/design.md
  .cspell/tech-stack.txt
  cspell.json
  src/design/components.ts
  src/design/css.test.ts
  src/design/css.ts
  src/teach/fonts.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
