Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): reach .astro in the filename naming rule (#1562)
  .claude/context/tooling.md
  tooling/astro/configs/eslint.config.js
  tooling/astro/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.62.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): assert nine indexes scenario arms (#1560)
  scripts/sandbox/fixtures/infra/indexes/bootstrap/expect.toml
  scripts/sandbox/fixtures/infra/indexes/dry-run/expect.toml
  scripts/sandbox/fixtures/infra/indexes/json/expect.toml
  scripts/sandbox/fixtures/infra/indexes/lint-staged/expect.toml
  scripts/sandbox/fixtures/infra/indexes/nested/expect.toml
  scripts/sandbox/fixtures/infra/indexes/no-stage/expect.toml
  scripts/sandbox/fixtures/infra/indexes/opt-out/expect.toml
  scripts/sandbox/fixtures/infra/indexes/path/expect.toml
  scripts/sandbox/fixtures/infra/indexes/regen/expect.toml
  scripts/sandbox/infra/indexes.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.62.1 (#1563)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(repo-metadata): compress the about description before reporting
  claude/skills/repo-metadata/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(labels): add commitlint configs to repo domain
  .claude/canon/pr-labels.toml
Due: none

refactor(skills): rename drafting family verb-first
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/draft-context/REQUIREMENT.md
  claude/skills/draft-context/SKILL.md
  claude/skills/draft-docs/REQUIREMENT.md
  claude/skills/draft-docs/SKILL.md
  claude/skills/draft-wireframes/REQUIREMENT.md
  claude/skills/draft-wireframes/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/docs/draft.sh
  src/claude/cases/authoring.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(gate): separate a placeholder path from a broken one by shape
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: none

fix(repo-metadata): stop naming a shape the propose input may lack
  claude/skills/repo-metadata/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): point canon-cli at the verb catalog and docs corpus
  .claude/context/claude-plugin/skill-requirements.md
  claude/skills/canon-cli/REQUIREMENT.md
  claude/skills/canon-cli/SKILL.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): rename drafting family verb-first (#1566)
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/draft-context/REQUIREMENT.md
  claude/skills/draft-context/SKILL.md
  claude/skills/draft-docs/REQUIREMENT.md
  claude/skills/draft-docs/SKILL.md
  claude/skills/draft-wireframes/REQUIREMENT.md
  claude/skills/draft-wireframes/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/docs/draft.sh
  src/claude/cases/authoring.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(labels): add commitlint configs to repo domain (#1565)
  .claude/canon/pr-labels.toml
Due: none

feat(tooling): detect a checkout mismatch on sync
  .claude/context/tooling.md
  src/commands/tooling-sync.test.ts
  src/commands/tooling.ts
  src/project-root.test.ts
  src/project-root.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(repo-metadata): compress the about description before reporting (#1564)
  claude/skills/repo-metadata/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(gate): rename isDocsPathResolvable to isDocsPathReportable
  src/shipped/references.ts
Due: none

fix(skills): match canon-cli bullet punctuation to its siblings
  claude/skills/canon-cli/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gate): separate a placeholder path from a broken one by shape (#1567)
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: none

feat(skills): point canon-cli at the verb catalog and docs corpus (#1568)
  .claude/context/claude-plugin/skill-requirements.md
  claude/skills/canon-cli/REQUIREMENT.md
  claude/skills/canon-cli/SKILL.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): detect a checkout mismatch on sync (#1570)
  .claude/context/tooling.md
  src/commands/tooling-sync.test.ts
  src/commands/tooling.ts
  src/project-root.test.ts
  src/project-root.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.63.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.63.0 (#1569)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(web): rename astro components to kebab-case
  .claude/context/web.md
  .claude/rules/internal/claude/593-landing-page.md
  internal/rules/claude/593-landing-page.md
  src/gate/stages.test.ts
  web/e2e/home.spec.ts
  web/src/components/agent-view.astro
  web/src/components/board-lifecycle.astro
  web/src/components/call-to-action.astro
  web/src/components/catalog.astro
  web/src/components/hero.astro
  web/src/components/install.astro
  web/src/components/rule-arrival.astro
  web/src/components/target-receives.astro
  web/src/layouts/base.astro
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): assert the indexes no-candidate arm
  scripts/sandbox/fixtures/infra/indexes/no-candidate/expect.toml
Due: none

fix(tooling): add trailing slash so folder-naming-convention fires
  .claude/context/tooling.md
  bun.lock
  package.json
  src/tooling/folder-naming-convention.test.ts
  tooling/astro/configs/eslint.config.js
  tooling/astro/reference.md
  tooling/nextjs/configs/eslint.config.js
  tooling/nextjs/reference.md
  tooling/web/configs/eslint.config.js
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): keep filename presence as the seeding check bound
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scripts): update stale filename in agent-view fixture comment
  scripts/core/regen-agent-fixture.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): assert what the indexes no-candidate arm actually leaves
  scripts/sandbox/fixtures/infra/indexes/no-candidate/expect.toml
Due: none

refactor(web): rename astro components to kebab-case (#1571)
  .claude/context/web.md
  .claude/rules/internal/claude/593-landing-page.md
  internal/rules/claude/593-landing-page.md
  scripts/core/regen-agent-fixture.sh
  src/gate/stages.test.ts
  web/e2e/home.spec.ts
  web/src/components/agent-view.astro
  web/src/components/board-lifecycle.astro
  web/src/components/call-to-action.astro
  web/src/components/catalog.astro
  web/src/components/hero.astro
  web/src/components/install.astro
  web/src/components/rule-arrival.astro
  web/src/components/target-receives.astro
  web/src/layouts/base.astro
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): add trailing slash so folder-naming-convention fires (#1573)
  .claude/context/tooling.md
  bun.lock
  package.json
  src/tooling/folder-naming-convention.test.ts
  tooling/astro/configs/eslint.config.js
  tooling/astro/reference.md
  tooling/nextjs/configs/eslint.config.js
  tooling/nextjs/reference.md
  tooling/web/configs/eslint.config.js
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add test-first with its sandbox arm and routing case
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/test-first/REQUIREMENT.md
  claude/skills/test-first/SKILL.md
  scripts/sandbox/claude/test-first.sh
  src/claude/cases/misc.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(autoship): run test-order between verify and review
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  scripts/sandbox/claude/autoship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(governance): cite test-first from the planning rule
  .claude/rules/canon/core/070-planning.md
  governance/rules/core/070-planning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(autoship): add the test-first row and renumber the steps
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  docs/agents/review-classification.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): keep filename presence as the seeding check bound (#1574)
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): clarify what the no-candidate pins prove
  scripts/sandbox/fixtures/infra/indexes/no-candidate/expect.toml
Due: none

test(sandbox): assert the indexes no-candidate arm (#1572)
  scripts/sandbox/fixtures/infra/indexes/no-candidate/expect.toml
Due: none

feat(autoship): carry the test-first rule into the work (#1578)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/rules/canon/core/070-planning.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/test-first/REQUIREMENT.md
  claude/skills/test-first/SKILL.md
  docs/agents/review-classification.md
  docs/workflow/ai-workflow.md
  governance/rules/core/070-planning.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/test-first.sh
  src/claude/cases/misc.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(skills): note the icon fallback is raster-only
  claude/skills/identity/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): note the pre-supplied pick in the identity scenario
  scripts/sandbox/claude/identity.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): add identity skill for a logo mark and social card
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/identity/REQUIREMENT.md
  claude/skills/identity/SKILL.md
  docs/workflow/ai-workflow.md
  docs/workflow/visual-design-workflow.md
  scripts/sandbox/claude/identity.sh
  src/claude/cases/misc.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
