Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(records): read the backed-set derivation off the manifest group
  .claude/context/tooling.md
  docs/agents/records.md
  src/records/backup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): record the census where a clone reader can reach it
  .claude/context/claude-plugin/skill-procedures.md
  .claude/pr-labels.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): cover the two record folders a target creates (#1079)
  .claude/context/tooling.md
  docs/agents/records.md
  src/records/backup.ts
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.7.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.7.1 (#1081)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): correct the prefix count and the declined-set split
  .claude/context/claude-plugin/skill-procedures.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(pr): cover every surface the label map never reached (#1080)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/pr-labels.toml
  claude/skills/git-pr/references/labels.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards)!: remove the install and sync channel
  scripts/standards/list.sh
  src/cli.ts
  src/commands/gov.ts
  src/commands/init.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/gov/install.test.ts
  src/gov/install.ts
  src/init/flags.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/steps.test.ts
  src/init/steps.ts
  src/standards/adapter.test.ts
  src/standards/adapter.ts
  src/standards/closure.test.ts
  src/standards/closure.ts
  src/standards/index-refresh.ts
  src/standards/install.test.ts
  src/standards/install.ts
  src/standards/read.test.ts
  src/standards/read.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.test.ts
  src/sync/git.test.ts
  src/sync/layout.test.ts
  src/sync/layout.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/sync/target.test.ts
  src/sync/target.ts
  src/sync/workflow.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): drop the standards injection from every scenario
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/memory-review.sh
  scripts/sandbox/claude/migration-standards.sh
  scripts/sandbox/claude/migration-superseded.sh
  scripts/sandbox/claude/review.sh
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/claude/standards-audit.sh
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/claude/ui-test.sh
  scripts/sandbox/claude/write-human.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/migration-standards/root-layout/expect.toml
  scripts/sandbox/fixtures/claude/migration-superseded/retired/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
  scripts/sandbox/fixtures/claude/tasks/create/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/installed/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/unmigrated/expect.toml
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
  scripts/sandbox/fixtures/infra/drift/unmigrated/expect.toml
  scripts/sandbox/fixtures/infra/standards/read/expect.toml
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/followup.sh
  scripts/sandbox/git/issue.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/git/stage.sh
  scripts/sandbox/infra/drift.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): repoint the plugin skills off the installed tree
  .claude/standards/skill.md
  .claude/standards/standard.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/create-standard/REQUIREMENT.md
  claude/skills/create-standard/SKILL.md
  claude/skills/migration-standards/REQUIREMENT.md
  claude/skills/migration-standards/SKILL.md
  claude/skills/migration-superseded/REQUIREMENT.md
  claude/skills/migration-superseded/SKILL.md
  claude/skills/setup-gov/REQUIREMENT.md
  claude/skills/toolkit-cli/SKILL.md
  standards/skill.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling)!: name the standard in seed prose rather than a path
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/DESIGN.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): record the closed channel and the two roots
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/distribution.md
  .claude/context/cli/commands.md
  .claude/context/cli/overview.md
  .claude/context/cli/sync.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  .claude/context/standards/index.md
  .claude/context/standards/install.md
  .claude/context/standards/overview.md
  .claude/context/standards/resolution.md
  .claude/context/standards/scope.md
  .claude/skills/aitk-standards/SKILL.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): sync the public surface to the closed channel
  README.md
  docs/agents/commands.md
  docs/agents/install-and-sync.md
  docs/agents/scripting.md
  docs/target-projects.md
  scripts/core/install-check.sh
  scripts/eval/README.md
  scripts/eval/pre-registration.md
  scripts/eval/result-seed.md
  scripts/eval/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(standards): give the seed a route and drop the stale target field
  .claude/context/standards/overview.md
  scripts/sandbox/infra/standards.sh
  scripts/standards/list.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): clear the open-channel claims the close left behind
  .claude/context/cli/audits.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  .claude/context/standards/resolution.md
  .claude/context/standards/scope.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the two stale claims a diff-scoped refresh misses
  .claude/context/context-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): move the removal sweep into the step that runs it
  .claude/context/context-model.md
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): drop a pointer that resolves only in the toolkit
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): trim the seed clause and correct a stale slug expectation
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/DESIGN.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): strip the branch type from every declared slug
  claude/skills/claude-seed-sync/SKILL.md
  scripts/sandbox/claude/memory-review.sh
  scripts/sandbox/claude/review.sh
  scripts/sandbox/claude/ui-test.sh
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): say what a declined seed section costs and how to end it
  claude/skills/claude-seed-sync/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): point the escape at the path it actually names
  claude/skills/claude-seed-sync/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 2.0.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 2.0.0 (#1083)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): rename the anchor remote and probe for it before use
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/running.md
  .claude/skills/aitk-scripts/SKILL.md
  scripts/lib/sandbox-git.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(scripts): record how to test a gh path without provisioning
  .claude/context/scripts/lib.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): refuse an absent anchor rather than creating it
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/running.md
  .claude/context/scripts/lib.md
  scripts/lib/sandbox-git.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): accept the sibling true spelling on the create flag
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/running.md
  scripts/lib/sandbox-git.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): rename the anchor remote and probe for it before use (#1084)
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/running.md
  .claude/context/scripts/lib.md
  .claude/skills/aitk-scripts/SKILL.md
  scripts/lib/sandbox-git.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 2.1.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 2.1.0 (#1085)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(secrets): scan the shipped tree for credential-shaped values
  .cspell/tech-stack.txt
  src/secrets/marker.test.ts
  src/secrets/marker.ts
  src/secrets/patterns.test.ts
  src/secrets/patterns.ts
  src/secrets/scan.test.ts
  src/secrets/scan.ts
  src/secrets/shipped.test.ts
  src/secrets/shipped.ts
Due: none

feat(deps): report advisories against the resolved dependency set
  src/deps/audit.test.ts
  src/deps/audit.ts
Due: none

feat(audits): register the state-scoped checks and upstream corpus
  src/audits/baseline.test.ts
  src/audits/baseline.ts
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/audits/run.test.ts
  src/audits/run.ts
  src/cli.ts
  src/commands/audits.ts
  src/commands/deps.ts
  src/commands/secrets.ts
Due: none

docs(agents): document the two state-scoped risk checks
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/scripting.md
  docs/agents/state-scoped-risk.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the corpus split and the absence override
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/cli/overview.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(secrets): separate an undeclared corpus from one that ships nothing
  .claude/context/cli/audits.md
  docs/agents/audits.md
  docs/agents/state-scoped-risk.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/commands/secrets.ts
  src/secrets/scan.ts
  src/secrets/shipped.test.ts
  src/secrets/shipped.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(audits): attribute the absence allowance to the private field
  .claude/context/cli/audits.md
  docs/agents/audits.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(audits): read committed state for risk, not only the diff (#1086)
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/cli/overview.md
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/scripting.md
  docs/agents/state-scoped-risk.md
  src/audits/baseline.test.ts
  src/audits/baseline.ts
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/audits/run.test.ts
  src/audits/run.ts
  src/cli.ts
  src/commands/audits.ts
  src/commands/deps.ts
  src/commands/secrets.ts
  src/deps/audit.test.ts
  src/deps/audit.ts
  src/secrets/marker.test.ts
  src/secrets/marker.ts
  src/secrets/patterns.test.ts
  src/secrets/patterns.ts
  src/secrets/scan.test.ts
  src/secrets/scan.ts
  src/secrets/shipped.test.ts
  src/secrets/shipped.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
