Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): record which route a standard reader takes
  .claude/context/standards/install.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.103.0 (#1019)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): name the published-layout gap the read arm leaves
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): resolve a lesson and draw its quiz order in a verb
  docs/agents/index.md
  docs/agents/teach.md
  src/commands/teach.ts
  src/records/validate.ts
  src/teach/lesson.test.ts
  src/teach/lesson.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): match a path or content entry as a glob
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: none

test(sandbox): drive one lesson against a live workspace
  .cspell/project-terms.txt
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/lesson/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(teach): take the order as given and read the mission as exit criteria
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .claude/context/sandbox/running.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the package-corpus standards read (#1020)
  .claude/context/sandbox/coverage.md
  .claude/context/standards/install.md
  scripts/sandbox/fixtures/infra/standards/read/expect.toml
  scripts/sandbox/infra/standards.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): state why a ceiling above the cap asserts nothing
  .claude/ARCHITECTURE.md
  scripts/sandbox/fixtures/claude/teach/lesson/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): resolve the lesson layer and draw its quiz order in a verb (#1022)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .claude/context/sandbox/running.md
  .cspell/project-terms.txt
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  docs/agents/index.md
  docs/agents/teach.md
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/lesson/expect.toml
  src/commands/teach.ts
  src/records/validate.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
  src/teach/lesson.test.ts
  src/teach/lesson.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.104.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.104.0 (#1023)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): settle a blocker on the trunk, not the checkbox
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/standards/tasks.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/tasks/trunk.test.ts
  src/tasks/trunk.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): strip git resolution vars from the trunk read
  src/tasks/trunk.ts
Due: none

fix(tasks): count plan citations in the archive gate
  src/tasks/archive.test.ts
  src/tasks/archive.ts
Due: none

feat(tasks): expose plan citations as a verb the archive gate reads
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): correct why the plans sweep holds its own citation rule
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  docs/agents/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): count plan citations and settle blockers on the trunk (#1021)
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/trunk.test.ts
  src/tasks/trunk.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.104.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.104.1 (#1024)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): report an implementation that reached history before its test
  src/commands/gov.ts
  src/gov/test-order.test.ts
  src/gov/test-order.ts
Due: none

feat(governance): name the test-order check in the planning rule
  .claude/rules/core/070-planning.md
  governance/rules/core/070-planning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the three test-order verdicts in one arm
  .cspell/tech-stack.txt
  scripts/sandbox/infra/gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(agents): document the test-order verb and its coverage limits
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/test-order.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the test-order design and its fixture shape
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/governance/rules.md
  .claude/context/sandbox/authoring.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(groundwork): send a spike's evidence into the track that cites it
  .claude/standards/groundwork.md
  claude/skills/claude-groundwork/SKILL.md
  standards/groundwork.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the input and evidence split for a spike
  .claude/context/development/index.md
  .claude/context/development/scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the groundwork arm gap and its measured run cost
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): state where a spike's evidence lives
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): assert the test-order arm and render its frame on stderr
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  docs/agents/test-order.md
  scripts/sandbox/fixtures/infra/gov/test-order/expect.toml
  scripts/sandbox/infra/gov.sh
  src/commands/gov.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): refuse a leftover worktree folder instead of the base port
  src/worktree-port.test.ts
  tooling/web/configs/scripts/worktree-port.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): propagate the port helper refusal through every call site
  tooling/astro/manifest.toml
  tooling/vite-react/manifest.toml
  tooling/web/manifest.toml
Due: none

fix(claude): branch the port line on the helper exit
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(spelling): add 'corge' and 'cksum' to the dictionaries
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
Due: none

test(sandbox): arm claude:worktree with a port-offset scenario
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/port-offset/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): state the leftover refusal and the required call form
  .claude/context/tooling.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(groundwork): state evidence placement without claiming an exception
  claude/skills/claude-groundwork/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add the write-human skill and its sandbox arm
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/SKILL.md
  claude/skills/write-human/references/density.md
  claude/skills/write-human/references/machine-tells.md
  claude/skills/write-human/references/source-material.md
  scripts/sandbox/claude/write-human.sh
  scripts/sandbox/fixtures/claude/write-human/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): retire prose.md and fold its bans into markdown.md
  .claude/rules/claude/500-prose.md
  .claude/rules/claude/501-markdown.md
  .claude/standards/diagrams.md
  .claude/standards/glossary.md
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  .claude/standards/markdown.md
  .claude/standards/memory.md
  .claude/standards/plan.md
  .claude/standards/prose.md
  .claude/standards/publish.md
  .claude/standards/readme.md
  .claude/standards/skill.md
  .claude/standards/standard.md
  .claude/standards/teach.md
  .claude/standards/versioning.md
  .claude/standards/wireframes.md
  governance/rules/claude/500-prose.md
  governance/rules/claude/501-markdown.md
  standards/bundled/issue.md
  standards/bundled/pr.md
  standards/bundled/snippets.md
  standards/diagrams.md
  standards/glossary.md
  standards/groundwork.md
  standards/index.md
  standards/intake.md
  standards/markdown.md
  standards/memory.md
  standards/plan.md
  standards/prose.md
  standards/publish.md
  standards/readme.md
  standards/skill.md
  standards/standard.md
  standards/teach.md
  standards/versioning.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): repoint every prose citation at its new carrier
  .claude/skills/aitk-ask/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-governance/references/rule-audit.md
  .claude/skills/aitk-standards/REQUIREMENT.md
  .claude/skills/aitk-standards/SKILL.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-snippet/references/snippets.md
  claude/skills/create-standard/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-issue/references/issue.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  claude/skills/git-stage/SKILL.md
  claude/skills/migration-standards/SKILL.md
  claude/skills/setup-indexes/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
