Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

ci: add a weekly dependency-advisories job
  .github/workflows/verify.yml
Due: none

docs: record the gate wall-time fix
  .claude/context/ci.md
  .claude/context/cli/audits.md
  .claude/context/development/gates.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/gate.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): drop the transcription declaration requirement
  .claude/context/standards/per-standard.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): report the count when a prefix hits several tasks
  src/tasks/archive.test.ts
  src/tasks/archive.ts
Due: none

fix(autoship): name the branch in the missing-plan stop message (#1488)
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(canon): add CONTRIBUTING.md and inventory.toml to label map (#1490)
  .claude/canon/pr-labels.toml
Due: none

docs(standards): permit transcription wireframes to cite their source (#1489)
  .claude/context/standards/index.md
  .claude/context/standards/per-standard.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): step the quiz on radio inputs rather than a script
  .claude/context/cli/commands.md
  .claude/wireframes/teach/lesson.md
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/lesson/expect.toml
  src/teach/nav.test.ts
  src/teach/nav.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(teach): schedule revisits from the learning records
  docs/agents/commands.md
  docs/agents/index.md
  src/commands/teach.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
  standards/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(teach): state the quiz contract, teach-back, and the ladder
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  claude/skills/claude-teach/references/pedagogy.md
  docs/agents/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(tooling): pin verify's Sync assertion, set git identity for CI
  src/tooling-verify.test.ts
Due: none

fix(tasks): say what a prefix resolves to on archive refusal (#1491)
  src/tasks/archive.test.ts
  src/tasks/archive.ts
Due: none

fix(gate): stop the deps audit from dominating wall time (#1493)
  .claude/context/ci.md
  .claude/context/cli/audits.md
  .claude/context/development/gates.md
  .github/workflows/verify.yml
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/gate.md
  src/audits/baseline.test.ts
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/audits/run.test.ts
  src/audits/run.ts
  src/commands/audits.ts
  src/commands/gate.ts
  src/deps/audit.test.ts
  src/deps/audit.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/sequencer.test.ts
  src/gate/sequencer.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): widen the remaining flat context-path spellings
  claude/skills/claude-teach/references/promotion.md
  claude/skills/migration-claude-md/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): widen context citations to nested domains (#1492)
  .claude/context/context-model.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-teach/references/promotion.md
  claude/skills/migration-claude-md/SKILL.md
  claude/skills/migration-context/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): resolve verify's Sync phase against the checkout (#1494)
  .claude/context/scripts/lib.md
  .claude/context/tooling.md
  scripts/tooling/verify.sh
  src/tooling-verify.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.48.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.48.1 (#1495)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(teach): gate the quiz stepper on every later question
  .claude/context/cli/commands.md
  docs/agents/teach.md
  src/teach/nav.test.ts
  src/teach/nav.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): close three pedagogy gaps in the lesson format (#1496)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .claude/wireframes/teach/lesson.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  claude/skills/claude-teach/references/pedagogy.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/teach.md
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/lesson/expect.toml
  src/commands/teach.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
  standards/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.49.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.49.0 (#1497)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): share prefix-match refusal wording across stem lookups
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/record.test.ts
  src/tasks/record.ts
Due: none

fix(tooling): keep astro's preview server foregrounded for playwright
  .claude/context/tooling.md
  tooling/astro/configs/playwright.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): make the prefix refusal wording verb-neutral
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/record.test.ts
Due: none

feat(design): add a proportional hero role and emit every family
  .claude/DESIGN.md
  assets/captures/governance.html
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/captures/install.html
  assets/captures/task-board.html
  assets/governance.stamp
  assets/hero.stamp
  assets/install-surface.stamp
  assets/install.stamp
  assets/task-board.stamp
  src/design/base.css
  src/design/css.test.ts
  src/design/css.ts
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(design): record the family emission and the base.css width limit
  .claude/context/design.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): attribute the astro fix's run counts to their measurement
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): share prefix-match refusal wording across stem lookups (#1498)
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/record.test.ts
  src/tasks/record.ts
Due: none

fix(tooling): keep astro's preview server foregrounded for playwright (#1499)
  .claude/context/tooling.md
  tooling/astro/configs/playwright.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): add a proportional hero role and emit every family (#1500)
  .claude/DESIGN.md
  .claude/context/design.md
  assets/captures/governance.html
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/captures/install.html
  assets/captures/task-board.html
  assets/governance.stamp
  assets/hero.stamp
  assets/install-surface.stamp
  assets/install.stamp
  assets/task-board.stamp
  src/design/base.css
  src/design/css.test.ts
  src/design/css.ts
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.50.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.50.0 (#1501)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): force lint back to eslint over vite-react's oxlint
  .claude/context/tooling.md
  src/tooling/package.test.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add docs-draft for a brand-new docs page
  .claude/context/claude-plugin/skill-strategy.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/docs-draft/REQUIREMENT.md
  claude/skills/docs-draft/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/docs/draft.sh
  src/claude/cases/authoring.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): widen docs-draft's duplicate-topic guard
  assets/hero.stamp
  claude/skills/docs-draft/REQUIREMENT.md
  claude/skills/docs-draft/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add docs-draft for a brand-new docs page (#1502)
  .claude/context/claude-plugin/skill-strategy.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/docs-draft/REQUIREMENT.md
  claude/skills/docs-draft/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/docs/draft.sh
  src/claude/cases/authoring.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): force lint back to eslint over vite-react's oxlint (#1503)
  .claude/context/tooling.md
  src/tooling/package.test.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.51.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.51.0 (#1504)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
