Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(skills): name who may lift a pull request's draft mark (#1604)
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/auto-ship/SKILL.md
  claude/skills/role-orchestrator/SKILL.md
  claude/skills/role-worker/SKILL.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): split canon- prefix onto verb-first names (#1605)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/demo.md
  .claude/context/development/scratch.md
  .claude/context/slides.md
  claude/skills/draft-and-pick/REQUIREMENT.md
  claude/skills/draft-and-pick/SKILL.md
  claude/skills/draft-screencast/REQUIREMENT.md
  claude/skills/draft-screencast/SKILL.md
  claude/skills/draft-slides/REQUIREMENT.md
  claude/skills/draft-slides/SKILL.md
  claude/skills/read-frames/REQUIREMENT.md
  claude/skills/read-frames/SKILL.md
  claude/skills/record-screencast/REQUIREMENT.md
  claude/skills/record-screencast/SKILL.md
  docs/agents/demo.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/claude/draft-screencast.sh
  scripts/sandbox/claude/draft-slides.sh
  scripts/sandbox/claude/read-frames.sh
  scripts/sandbox/claude/record-screencast.sh
  src/claude/cases/workflow.ts
  src/commands/demo.ts
  src/demo/beats.ts
  src/migrate/skill-names.test.ts
  src/migrate/skill-names.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(web): add a live design token preview section (#1606)
  .claude/context/web.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
  package.json
  scripts/core/regen-web-previews.ts
  web/e2e/home.spec.ts
  web/public/previews/design-tokens/design.css
  web/public/previews/design-tokens/index.html
  web/src/components/design-preview.astro
  web/src/content/copy.ts
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(web): reformat the design-tokens preview
  web/public/previews/design-tokens/index.html
Due: none

feat(web): add a live teach workspace preview section
  scripts/core/regen-web-previews.ts
  web/e2e/home.spec.ts
  web/public/previews/design-tokens/index.html
  web/public/previews/teach-workspace/04-governance-rule-loading/assets/course.css
  web/public/previews/teach-workspace/04-governance-rule-loading/index.html
  web/public/previews/teach-workspace/04-governance-rule-loading/lessons/0001-rule-arrival.html
  web/public/previews/teach-workspace/course.css
  web/public/previews/teach-workspace/index.html
  web/src/components/teach-preview.astro
  web/src/content/copy.ts
  web/src/pages/index.astro
Due: none

docs(web): fold the teach-workspace preview into docs
  .claude/context/web.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): read the marker off the last line rather than by search
  .claude/context/claude-plugin/skill-review.md
  claude/skills/review-pr/SKILL.md
  docs/agents/pr-reads.md
  scripts/sandbox/fixtures/claude/review-pr/marker-race/expect.toml
  src/pr/review-scope.test.ts
  src/pr/review-scope.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add a decline verb for decided-against tasks (#1608)
  docs/agents/commands.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/label.test.ts
  src/tasks/label.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/plan.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(web): add a live teach workspace preview section (#1610)
  .claude/context/web.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
  scripts/core/regen-web-previews.ts
  web/e2e/home.spec.ts
  web/public/previews/teach-workspace/04-governance-rule-loading/assets/course.css
  web/public/previews/teach-workspace/04-governance-rule-loading/index.html
  web/public/previews/teach-workspace/04-governance-rule-loading/lessons/0001-rule-arrival.html
  web/public/previews/teach-workspace/course.css
  web/public/previews/teach-workspace/index.html
  web/src/components/teach-preview.astro
  web/src/content/copy.ts
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(pr): record what a review pass read, not what GitHub stamped (#1607)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/commands.md
  claude/skills/review-pr/SKILL.md
  claude/skills/role-orchestrator/references/orchestrator-poll.md
  claude/skills/role-orchestrator/scripts/poll.sh
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/pr-reads.md
  scripts/sandbox/claude/review-pr.sh
  scripts/sandbox/fixtures/claude/review-pr/marker-race/expect.toml
  src/commands/pr.ts
  src/orchestrate-poll.test.ts
  src/pr/review-scope.test.ts
  src/pr/review-scope.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.70.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.70.0 (#1609)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): rename identity skill to draft-identity
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/draft-identity/REQUIREMENT.md
  claude/skills/draft-identity/SKILL.md
  docs/workflow/ai-workflow.md
  docs/workflow/visual-design-workflow.md
  scripts/sandbox/claude/draft-identity.sh
  src/claude/cases/misc.ts
  src/migrate/skill-names.test.ts
  src/migrate/skill-names.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(context): correct stale canon- names in skill-strategy citation
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(deploy): add cloudflare stack and deploy-cloudflare skill
  .claude/context/tooling.md
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/hero.png
  assets/hero.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  claude/skills/canon-cli/SKILL.md
  claude/skills/deploy-cloudflare/REQUIREMENT.md
  claude/skills/deploy-cloudflare/SKILL.md
  src/claude/cases/misc.ts
  tooling/cloudflare/configs/.github/workflows/deploy.yml
  tooling/cloudflare/manifest.toml
  tooling/cloudflare/reference.md
  wiki/tools/cloudflare.md
  wiki/tools/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): rename identity skill to draft-identity (#1611)
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/draft-identity/REQUIREMENT.md
  claude/skills/draft-identity/SKILL.md
  docs/workflow/ai-workflow.md
  docs/workflow/visual-design-workflow.md
  scripts/sandbox/claude/draft-identity.sh
  src/claude/cases/misc.ts
  src/migrate/skill-names.test.ts
  src/migrate/skill-names.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(deploy): bind cloudflare secrets through env before testing
  tooling/cloudflare/configs/.github/workflows/deploy.yml
Due: none

feat(deploy): add cloudflare stack and deploy-cloudflare skill (#1612)
  .claude/context/tooling.md
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/hero.png
  assets/hero.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  claude/skills/canon-cli/SKILL.md
  claude/skills/deploy-cloudflare/REQUIREMENT.md
  claude/skills/deploy-cloudflare/SKILL.md
  src/claude/cases/misc.ts
  tooling/cloudflare/configs/.github/workflows/deploy.yml
  tooling/cloudflare/manifest.toml
  tooling/cloudflare/reference.md
  wiki/tools/cloudflare.md
  wiki/tools/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): link the live landing page
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(web): capture the landing page on PR and gate its path globs
  .claude/context/web.md
  .github/workflows/pr-visual-checks.yml
  .gitignore
  assets/captures/home/dark.png
  assets/captures/home/light.png
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): split the workspace stylesheet into base and course files
  src/commands/teach.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: none

feat(web): name the terminal chrome literals as constants
  assets/captures/governance.html
  assets/captures/governance.html.tmpl
  assets/captures/install-surface.html
  assets/captures/install-surface.html.tmpl
  assets/captures/install.html
  assets/captures/install.html.tmpl
  assets/captures/task-board.html
  assets/captures/task-board.html.tmpl
  assets/governance.stamp
  assets/install.stamp
  assets/task-board.stamp
Due: none

feat(ux-audit): read a committed capture beside source
  claude/skills/ux-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(web): scope push permissions and bind the untrusted head ref
  .github/workflows/pr-visual-checks.yml
  assets/install-surface.stamp
Due: none

docs(web): state why the evidence rule's own path is not used here
  .gitignore
Due: none

fix(web): let the runner write the first capture baseline
  .github/workflows/pr-visual-checks.yml
  assets/captures/home/dark.png
  assets/captures/home/light.png
Due: none

docs(web): restate why the capture push cannot loop
  .github/workflows/pr-visual-checks.yml
Due: none

feat(web): capture the landing page and gate its visual checks (#1614)
  .claude/context/web.md
  .github/workflows/pr-visual-checks.yml
  .gitignore
  README.md
  assets/captures/governance.html
  assets/captures/governance.html.tmpl
  assets/captures/home/dark.png
  assets/captures/home/light.png
  assets/captures/install-surface.html
  assets/captures/install-surface.html.tmpl
  assets/captures/install.html
  assets/captures/install.html.tmpl
  assets/captures/task-board.html
  assets/captures/task-board.html.tmpl
  assets/governance.stamp
  assets/install-surface.stamp
  assets/install.stamp
  assets/task-board.stamp
  claude/skills/ux-audit/SKILL.md
  src/commands/teach.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.71.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.71.0 (#1613)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): admit an established capture convention
  .claude/rules/canon/ui/440-surface-capture.md
  .gitignore
  governance/rules/ui/440-surface-capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(governance): rewrite capture-convention bullet as a permission
  .claude/rules/canon/ui/440-surface-capture.md
  governance/rules/ui/440-surface-capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add plan-reach to read a branch back
  src/commands/tasks.ts
  src/tasks/reach.test.ts
  src/tasks/reach.ts
Due: none

feat(skills): run the reach at ship and report it back
  claude/skills/git-ship/SKILL.md
  claude/skills/role-orchestrator/references/orchestrator-dispatch.md
  claude/skills/role-worker/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): state a declared file set as a prediction
  .claude/context/claude-internal/orchestration.md
  .claude/context/cli/commands.md
  .claude/context/development/verification.md
  docs/agents/tasks.md
  standards/plan.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): admit an established capture convention (#1615)
  .claude/rules/canon/ui/440-surface-capture.md
  .gitignore
  governance/rules/ui/440-surface-capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): keep draft-and-pick's arms as images, not delete them
  .claude/context/claude-internal/orchestration.md
  .claude/context/development/scratch.md
  claude/skills/draft-and-pick/REQUIREMENT.md
  claude/skills/draft-and-pick/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add session-relay for the no-tool channel gap
  .claude/context/claude-plugin/skill-review.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/role-planner/SKILL.md
  claude/skills/role-worker/SKILL.md
  claude/skills/session-relay/REQUIREMENT.md
  claude/skills/session-relay/SKILL.md
  docs/workflow/ai-workflow.md
  src/claude/cases/workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): credit key-changes claims against renames and gitignore
  .claude/context/cli/audits.md
  .claude/context/cli/overview.md
  docs/agents/key-changes.md
  src/commands/pr.test.ts
  src/commands/pr.ts
  src/git-files.test.ts
  src/git-files.ts
  src/pr/bijection.test.ts
  src/pr/bijection.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): group a reach claim by path and mark a rowless plan
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/reach.test.ts
  src/tasks/reach.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
