Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(tooling): add tooling system documentation
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): update cli command and doc structure
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): update command tables and descriptions
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): refactor and expand project documentation
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): add new sandbox scenarios and update descriptions
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(project): refactor and expand project documentation (#105)
  GEMINI.md
  README.md
  docs/GOVERNANCE.md
  docs/SANDBOX.md
  docs/TOOLING.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): rename prompts directory
  prompts/bash-script.md
  prompts/claude-skill.md
  prompts/cursor-rules.md
  prompts/dev-reference.md
  prompts/gemini-cli.md
  prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): inject tooling references and audit test
  scripts/sandbox/infra/cursor.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(templates): add master prompt template
  scripts/templates/master-prompt.template
Due: none

feat(cli): add prompt management script
  scripts/manage-prompts.sh
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(scripts): use PWD for rules and output directories
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(prompts): add spacing to generated master prompt
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(prompts): add prompt to confirm master prompt generation
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(gov): remove redundant prompt.toml command definition
  gemini/commands/gov/prompt.toml
Due: none

chore(dev): remove obsolete apply-cli command definition
  gemini/commands/dev/apply-cli.toml
Due: none

refactor(templates): rename and refine master prompt template
  scripts/templates/master-prompt-cli.template
Due: none

feat(templates): add master prompt template for chat LLMs
  scripts/templates/master-prompt-chat.template
Due: none

feat(prompts): add template selection for master prompt generation
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(scripts): format and refine prompt selection flow
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(prompts): add documentation for new prompt system
  docs/PROMPTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): refine and clarify prompt system documentation
  docs/PROMPTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cli): update documentation for prompt command and doc
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): update cli commands and documentation links
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): centralize prompt generation and template management (#106)
  GEMINI.md
  README.md
  docs/PROMPTS.md
  gemini/commands/dev/apply-cli.toml
  gemini/commands/gov/prompt.toml
  prompts/bash-script.md
  prompts/claude-skill.md
  prompts/cursor-rules.md
  prompts/dev-reference.md
  prompts/gemini-cli.md
  prompts/meta-prompt.md
  scripts/manage-prompts.sh
  scripts/manage-test.sh
  scripts/sandbox/infra/cursor.sh
  scripts/templates/master-prompt-chat.template
  scripts/templates/master-prompt-cli.template
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(docs): rename readme command to sync
  gemini/commands/docs/sync.toml
  scripts/sandbox/docs/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(docs): expand doc sync command to include all documentation files
  gemini/commands/docs/sync.toml
Due: none

docs(sync): rename docs command to sync
  README.md
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): refine gemini cli prompt docs
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): remove bash script constraint from prompts
  gemini/commands/dev/apply.toml
  gemini/commands/dev/setup.toml
  scripts/templates/master-prompt-cli.template
Due: none

refactor(prompts): clarify tool usage in prompts
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): make prompt structure guidelines more concise
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prompts): update description format in prompt templates
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(dev): simplify setup command constraints
  gemini/commands/dev/setup.toml
Due: none

refactor(docs): streamline sync command prompt
  gemini/commands/docs/sync.toml
Due: none

refactor(commands): relocate standards to data context in commands
  gemini/commands/git/pr.toml
Due: none

refactor(release): relocate changelog standards to data context
  gemini/commands/release/changelog.toml
Due: none

docs(commands): update docs:sync command entry
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(sandbox): add prose standard & update docs sync ref
  scripts/sandbox/docs/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): add reference injection to dev setup scenario
  scripts/sandbox/dev/setup.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): update dev setup scenario for tooling audit
  scripts/sandbox/dev/setup.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning
