Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(cli): add claude command
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): make script executable
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(claude): format output header
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add .gitignore merging from tooling manifests
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): use merge_gitignore for .gitignore management
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(base): add .gitignore configuration
  tooling/base/manifest.toml
Due: none

feat(claude): add .gitignore for PROJECT.md
  tooling/claude/manifest.toml
Due: none

feat(vite-react): add .gitignore configuration
  tooling/vite-react/manifest.toml
Due: none

docs(base): add .gitignore reference
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): fix .gitignore check for directory entries
  scripts/lib/inject.sh
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(inject): use log_step for tooling injection progress
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): update tooling sync command for .gitignore
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): centralize log_step calls within inject lib
  scripts/lib/inject.sh
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): update tooling system overview
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): refine overview prose
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): refine documentation prose
  docs/GOVERNANCE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): refine documentation prose and formatting
  docs/PROMPTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prose): refactor documentation prose (#118)
  docs/GOVERNANCE.md
  docs/PROMPTS.md
  docs/SANDBOX.md
  docs/TOOLING.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): update architecture description for governance and tooling
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gov): clarify governance rules compilation and standards sync
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(inject): standardize logging for injected items
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): reformat scan config log messages
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(scripts): streamline log messages
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(prompts): rename reference prompt to standards
  prompts/standards-reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(github): add pull request template
  tooling/base/configs/.github/pull_request_template.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(github): add pull request template and reference (#124)
  tooling/base/configs/.github/pull_request_template.md
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(sandbox): remove verbose logging from setup scripts (#126)
  scripts/sandbox/dev/setup.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(inject): deduplicate gitignore application logging
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): improve sync command user interaction
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(tooling): reorder sync command prompt options
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): clarify optional reference sync for tooling command
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(sandbox): remove explicit auto-commit skip
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(config): rename LLM_MODEL to GEMINI_MODEL
  scripts/config.sh
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(config): centralize and refine environment configuration (#129)
  scripts/config.sh
  scripts/manage-test.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(vite-react): add setup script for new projects
  tooling/vite-react/configs/scripts/setup.sh
  tooling/vite-react/manifest.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(vite-react): document setup script
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(vite-react): correct script removal in package.json
  tooling/vite-react/configs/scripts/setup.sh
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(vite-react): add setup script and documentation (#130)
  tooling/vite-react/configs/scripts/setup.sh
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(chrome): add chrome extension tooling stack
  tooling/chrome/configs/manifest.config.ts
  tooling/chrome/configs/scripts/setup.sh
  tooling/chrome/configs/vite.config.ts
  tooling/chrome/configs/vitest.config.ts
  tooling/chrome/manifest.toml
  tooling/chrome/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): add claude tooling sandbox to structure
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
