Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(issue): replace toolkit-issue with general git-issue skill
  .claude/context/claude.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-issue/references/issue.md
  claude/skills/toolkit-issue/SKILL.md
  docs/agents.md
  src/cli.ts
  src/commands/issue.ts
  standards/bundled/issue.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add git:issue scenario for the git-issue skill
  .claude/context/sandbox.md
  scripts/sandbox/git/issue.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(issue): replace toolkit-issue with general git-issue skill (#589)
  .claude/context/claude.md
  .claude/context/sandbox.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-issue/references/issue.md
  claude/skills/toolkit-issue/SKILL.md
  docs/agents.md
  scripts/sandbox/git/issue.sh
  src/cli.ts
  src/commands/issue.ts
  standards/bundled/issue.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sync): detect standards and snippets under .claude
  scripts/manage-sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): repoint rule authoring at the standard and fix heading case
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/create-rule/SKILL.md
  claude/skills/setup-gov/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): detect standards and snippets under .claude (#591)
  scripts/manage-sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): repoint rule authoring at the standard and fix heading case (#592)
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/create-rule/SKILL.md
  claude/skills/setup-gov/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): resolve snippet and standard authoring in targets
  .claude/context/snippets.md
  .claude/context/standards.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): resolve snippet and standard authoring in targets (#594)
  .claude/context/snippets.md
  .claude/context/standards.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): remove role prompts, injection engine, and commands
  .claude/context/claude.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/tooling.md
  claude/skills/toolkit-cli/SKILL.md
  docs/agents.md
  docs/target-projects.md
  governance/stacks/planner.toml
  scripts/claude/prompt.sh
  scripts/claude/roles-list.sh
  scripts/manage-claude.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/tooling/claude.sh
  src/cli.ts
  src/commands/claude.ts
  tooling/claude/reference.md
  tooling/claude/roles/IMPLEMENTER.md
  tooling/claude/roles/PLANNER.md
  tooling/claude/roles/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): remove role prompts, injection engine, and commands (#595)
  .claude/context/claude.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/tooling.md
  claude/skills/toolkit-cli/SKILL.md
  docs/agents.md
  docs/target-projects.md
  governance/stacks/planner.toml
  scripts/claude/prompt.sh
  scripts/claude/roles-list.sh
  scripts/manage-claude.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/tooling/claude.sh
  src/cli.ts
  src/commands/claude.ts
  tooling/claude/reference.md
  tooling/claude/roles/IMPLEMENTER.md
  tooling/claude/roles/PLANNER.md
  tooling/claude/roles/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): move tooling reference to aitk internal category
  .claude/context/standards.md
  .claude/skills/aitk-tooling/SKILL.md
  .claude/standards/aitk/tooling-reference.md
  .claude/standards/index.md
  standards/aitk/tooling-reference.md
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): reshape context entries around decisions
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): reframe entry length as a diagnostic
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): reshape context entries around decisions (#597)
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): split the claude entry and give the CLI its own
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/context-model.md
  .claude/context/index.md
  .claude/context/indexes.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/tooling.md
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-claude/SKILL.md
  README.md
  docs/ai-workflow.md
  docs/target-projects.md
  wiki/claude-worktrees.md
  wiki/skills-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): repoint toolkit-cli at the split claude context entry
  claude/skills/toolkit-cli/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): split the claude entry and give the CLI its own (#598)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/context-model.md
  .claude/context/index.md
  .claude/context/indexes.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/tooling.md
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-claude/SKILL.md
  README.md
  claude/skills/toolkit-cli/SKILL.md
  docs/ai-workflow.md
  docs/target-projects.md
  wiki/claude-worktrees.md
  wiki/skills-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform six entries to the amended standard
  .claude/context/ci.md
  .claude/context/design.md
  .claude/context/development.md
  .claude/context/extensions.md
  .claude/context/slides.md
  .claude/context/transcripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): correct the CI and local check coverage claims
  .claude/context/ci.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform six entries to the amended standard (#599)
  .claude/context/ci.md
  .claude/context/design.md
  .claude/context/development.md
  .claude/context/extensions.md
  .claude/context/slides.md
  .claude/context/transcripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): allow layout omission and route plugin skill edits
  .claude/rules/claude/570-skill.md
  .claude/standards/context.md
  governance/rules/claude/570-skill.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): allow layout omission and route plugin skill edits (#600)
  .claude/rules/claude/570-skill.md
  .claude/standards/context.md
  governance/rules/claude/570-skill.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform governance and indexes to the standard
  .claude/context/governance.md
  .claude/context/indexes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform scripts and sandbox to the standard
  .claude/context/sandbox.md
  .claude/context/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform tooling, snippets, and standards entries
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): scope the function-doc ban and ban duplicated catalogs
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): drop catalogs the list commands already return
  .claude/context/snippets.md
  .claude/context/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform governance and indexes to the standard (#601)
  .claude/context/governance.md
  .claude/context/indexes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform scripts and sandbox to the standard (#602)
  .claude/context/sandbox.md
  .claude/context/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): conform tooling, snippets, and standards entries (#603)
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): scope the function-doc ban and ban duplicated catalogs (#604)
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): list apply first so headless runs skip diff editors
  scripts/gov/sync.sh
  scripts/manage-standards.sh
  scripts/snippets/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): correct dispatcher scope and record prompt order
  .claude/context/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): apply changes headlessly without opening diff editors (#605)
  .claude/context/scripts.md
  scripts/gov/sync.sh
  scripts/manage-standards.sh
  scripts/snippets/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(governance): install the typescript testing rule
  .claude/rules/lib/300-testing-ts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
