Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): assert the design preview marks its tagged cells
  scripts/sandbox/claude/design-extract.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(ui): drop color for a piped destination or NO_COLOR
  src/cli.ts
  src/commands/claude.ts
  src/commands/design.ts
  src/commands/feedback.ts
  src/commands/gov.ts
  src/commands/init.ts
  src/commands/slides.ts
  src/commands/snippets.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/commands/tooling.ts
  src/commands/transcripts.ts
  src/commands/wiki.ts
  src/sync/engine.ts
  src/sync/workflow.ts
  src/ui.test.ts
  src/ui.ts
Due: none

docs(agents): state the color contract in the output shape
  docs/agents/output-shape.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record the per-stream color decision and its reach
  .claude/ARCHITECTURE.md
  .claude/REQUIREMENTS.md
  .claude/context/cli/overview.md
  .claude/context/scripts/framing.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): measure the architecture record against its own ceiling
  .cspell/project-terms.txt
  src/commands/context.ts
  src/context/architecture.test.ts
  src/context/architecture.ts
  src/context/gate.test.ts
  src/context/gate.ts
Due: none

feat(audits): report the record's length and claim coverage
  src/audits/catalog.test.ts
  src/audits/catalog.ts
Due: none

docs(context): document the record's length gate and claim coverage
  .claude/context/cli/audits.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  docs/agents/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(architecture): recompute the length ceiling for 25 decisions
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(design): scope the confidence ratio to anchorable columns
  .claude/context/design.md
  .claude/standards/design.md
  .cspell/project-terms.txt
  docs/visual-design-workflow.md
  scripts/sandbox/claude/design-extract.sh
  src/design/render.test.ts
  src/design/render.ts
  standards/design.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(design): carry the uncertainty tag through the preview (#1070)
  .claude/context/design.md
  .claude/standards/design.md
  .cspell/project-terms.txt
  docs/visual-design-workflow.md
  scripts/sandbox/claude/design-extract.sh
  src/design/parse.test.ts
  src/design/parse.ts
  src/design/render.test.ts
  src/design/render.ts
  standards/design.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(ui): drop color for a piped destination or NO_COLOR (#1071)
  .claude/ARCHITECTURE.md
  .claude/REQUIREMENTS.md
  .claude/context/cli/overview.md
  .claude/context/scripts/framing.md
  docs/agents/output-shape.md
  src/cli.ts
  src/commands/claude.ts
  src/commands/design.ts
  src/commands/feedback.ts
  src/commands/gov.ts
  src/commands/init.ts
  src/commands/slides.ts
  src/commands/snippets.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/commands/tooling.ts
  src/commands/transcripts.ts
  src/commands/wiki.ts
  src/sync/engine.ts
  src/sync/workflow.ts
  src/ui.test.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.4.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.4.0 (#1074)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): read the record's line allowances from the record itself
  .claude/context/cli/audits.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/commands/context.ts
  src/context/architecture.test.ts
  src/context/architecture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(records): back the review archive instead of leaving it in scratch
  .claude/ARCHITECTURE.md
  .claude/context/development/scratch.md
  .gitignore
  docs/agents/records.md
  docs/ai-workflow.md
  src/records/backup.ts
  tooling/claude/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): state when a memory receipt is collected
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the slug-keyed sweep hazard
  .claude/context/claude-plugin/skill-procedures.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(memory): collect a review receipt once its items resolve
  .claude/standards/memory.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
  standards/memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(records): restate the ignore group and refresh the record count
  .claude/ARCHITECTURE.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): measure the architecture record against its own ceiling (#1072)
  .claude/context/cli/audits.md
  .cspell/project-terms.txt
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  docs/agents/index.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/commands/context.ts
  src/context/architecture.test.ts
  src/context/architecture.ts
  src/context/gate.test.ts
  src/context/gate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.5.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.5.0 (#1075)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the review half of the docs sweep
  .claude/ARCHITECTURE.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/.claude/tasks/v01.0-notify.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/src/notify.ts.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/02-notify/create/src/notify.ts.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/memory/feedback-confirm-before-editing.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/memory/reference-transport-dashboard.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/review/memory-review-legacy-inbox.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/review/memory-review-stale-pen.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): collect a review receipt once its items resolve (#1073)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/development/scratch.md
  .claude/standards/memory.md
  .gitignore
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
  docs/agents/records.md
  docs/ai-workflow.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/.claude/tasks/v01.0-notify.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/01-initial/create/src/notify.ts.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/02-notify/create/src/notify.ts.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/memory/feedback-confirm-before-editing.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/memory/reference-transport-dashboard.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/review/memory-review-legacy-inbox.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/03-receipts/create/.claude/review/memory-review-stale-pen.md.fixture
  scripts/sandbox/fixtures/claude/docs/receipt-sweep/expect.toml
  src/records/backup.ts
  standards/memory.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 1.6.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.6.0 (#1076)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): fail the shell stage on an escape outside the library
  scripts/core/check-color-source.sh
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(ui): derive the bash palette per stream
  scripts/core/snapshot.sh
  scripts/lib/ui.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(ui): ask about stderr where a consumer frames to it
  scripts/manage-sandbox.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/tooling/ref.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(scripts): correct the stream a bare consumer frame reads
  .claude/ARCHITECTURE.md
  .claude/context/scripts/framing.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): record the bash color contract and its guard
  .claude/ARCHITECTURE.md
  .claude/context/scripts/core.md
  .claude/context/scripts/framing.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): re-anchor the color decision after the rebase
  .claude/ARCHITECTURE.md
  .claude/context/scripts/framing.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(ui): carry the color opt-out across the exec boundary (#1077)
  .claude/ARCHITECTURE.md
  .claude/context/scripts/core.md
  .claude/context/scripts/framing.md
  scripts/core/check-color-source.sh
  scripts/core/snapshot.sh
  scripts/core/verify.sh
  scripts/lib/ui.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/tooling/ref.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 1.7.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 1.7.0 (#1078)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): cover the two record folders a target creates
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(records): name the third entry the backed set subtracts
  docs/agents/records.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): record how a group edit reaches an existing target
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(pr): cover every surface the label map never reached
  .claude/pr-labels.toml
Due: none

docs(labels): state the prefix trap and the declined paths
  claude/skills/git-pr/references/labels.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
