Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

.lintstagedrc:

{
  "**/*.{json,css,md,mdc}": ["prettier --write --ignore-path .gitignore"],
  "**/*.sh": ["shfmt --write --indent 2"],
  "**/*.{json,md,mdc}": ["cspell --no-must-find-files"]
}

refactor(concurrency): refine async and failure handling rules
  scripts/assets/cursor/rules/core/020-concurrency.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(error-handling): refine error propagation and retry rules
  scripts/assets/cursor/rules/core/030-error-handling.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(performance): refine data handling and resource loading
  scripts/assets/cursor/rules/core/040-performance.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(naming): add function and boolean naming conventions
  scripts/assets/cursor/rules/core/060-naming.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(typescript): refine rules for casing and type safety
  scripts/assets/cursor/rules/lang/100-typescript.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(typescript): add rule for direct module imports
  scripts/assets/cursor/rules/lang/100-typescript.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(react): refine rules for component structure and memoization
  scripts/assets/cursor/rules/framework/200-react.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(testing-ts): refine typescript testing rules and conventions
  scripts/assets/cursor/rules/lib/300-testing-ts.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): add axios to tech-stack.txt
  .cspell/tech-stack.txt
Due: none

refactor(security): enhance web security rules
  scripts/assets/cursor/rules/lib/350-security-web.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(workflow): add planning guidance to node workflow rules
  scripts/assets/cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tanstack-query): add tanstack query governance rules
  scripts/assets/cursor/rules/lib/320-tanstack-query.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): add tanstack and navigations to cspell dictionary
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
Due: none

chore(gov): update 12 rules
  commands/gov/rules.toml
Due: none

refactor(governance): refine core rules and introduce new standards (#92)
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  commands/gov/rules.toml
  scripts/assets/cursor/rules/core/000-constitution.mdc
  scripts/assets/cursor/rules/core/010-testing.mdc
  scripts/assets/cursor/rules/core/020-concurrency.mdc
  scripts/assets/cursor/rules/core/030-error-handling.mdc
  scripts/assets/cursor/rules/core/040-performance.mdc
  scripts/assets/cursor/rules/core/060-naming.mdc
  scripts/assets/cursor/rules/framework/200-react.mdc
  scripts/assets/cursor/rules/lang/100-typescript.mdc
  scripts/assets/cursor/rules/lib/300-testing-ts.mdc
  scripts/assets/cursor/rules/lib/320-tanstack-query.mdc
  scripts/assets/cursor/rules/lib/350-security-web.mdc
  scripts/assets/cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(vscode): add recommended extensions
  .vscode/extensions.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cspell): add esbenp and mkhl to dictionary
  .cspell/project-terms.txt
Due: none

chore(vscode): add shellcheck and bash-ide extensions
  .vscode/extensions.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cspell): add timonwong and shellcheck to dictionary
  .cspell/project-terms.txt
Due: none

fix(cspell): add bunx and commitlint to dictionary
  .cspell/project-terms.txt
Due: none

chore(tooling): add shellcheck script
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(verify): add shell linting check
  scripts/verify.sh
Due: shfmt --write --indent 2

chore(tooling): add -x flag to shellcheck for sourced files
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(scripts): format indentation and remove unused color variable
  scripts/stages/dev/apply.sh
Due: shfmt --write --indent 2

style(infra): format indentation and remove unused color variable
  scripts/stages/infra/cursor.sh
Due: shfmt --write --indent 2

chore(shellcheck): configure shellcheck via .shellcheckrc
  .shellcheckrc
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): improve script robustness and clarity
  scripts/manage-test.sh
Due: shfmt --write --indent 2

fix(scripts): improve console UI and input handling
  scripts/build-gov.sh
Due: shfmt --write --indent 2

refactor(scripts): improve script robustness and console interaction
  scripts/sync-gov.sh
Due: shfmt --write --indent 2

docs(bash): add variable quoting guidelines
  .prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(shellcheck): update shellcheck severity configuration
  .shellcheckrc
Due: none

refactor(verify): update console output and terminology in verify script
  scripts/verify.sh
Due: shfmt --write --indent 2

refactor(scripts): improve robustness and linting of shell scripts (#93)
  .cspell/project-terms.txt
  .prompts/bash-script.md
  .shellcheckrc
  .vscode/extensions.json
  package.json
  scripts/build-gov.sh
  scripts/manage-test.sh
  scripts/stages/dev/apply.sh
  scripts/stages/infra/cursor.sh
  scripts/sync-gov.sh
  scripts/verify.sh
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

refactor(gemini): relocate commands and extension config
  gemini/commands/dev/apply-cli.toml
  gemini/commands/dev/apply.toml
  gemini/commands/docs/readme.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/gov/prompt.toml
  gemini/commands/gov/rules.toml
  gemini/commands/gov/standards.toml
  gemini/commands/release/changelog.toml
  gemini/gemini-extension.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): update gemini extension link path
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add extension scaffolding
  claude/.claude-plugin/plugin.json
  claude/commands/.gitkeep
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(build): adjust build paths for gemini commands
  scripts/build-gov.sh
Due: shfmt --write --indent 2

refactor(core): centralize commands and add claude extension (#94)
  README.md
  claude/.claude-plugin/plugin.json
  claude/commands/.gitkeep
  gemini/commands/dev/apply-cli.toml
  gemini/commands/dev/apply.toml
  gemini/commands/docs/readme.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/gov/prompt.toml
  gemini/commands/gov/rules.toml
  gemini/commands/gov/standards.toml
  gemini/commands/release/changelog.toml
  gemini/gemini-extension.json
  scripts/build-gov.sh
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

refactor(build): remove standards directory sync
  scripts/build-gov.sh
Due: shfmt --write --indent 2

refactor(standards): remove assets standards reference files
  scripts/assets/standards/branch.md
  scripts/assets/standards/changelog.md
  scripts/assets/standards/commit.md
  scripts/assets/standards/pr.md
  scripts/assets/standards/prose.md
  scripts/assets/standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
