Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add standards-audit skill and scenario (#468)
  claude/skills/claude-standards-audit/SKILL.md
  docs/claude.md
  docs/sandbox.md
  docs/snippets.md
  scripts/sandbox/claude/standards-audit.sh
  snippets/claude/prose-audit.md
  snippets/claude/standards-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): remove memory-capture and tasks-done, move vocab
  docs/ai-workflow.md
  docs/snippets.md
  snippets/aitk/vocab-capture.md
  snippets/claude/memory-capture.md
  snippets/claude/tasks-done.md
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): drop experiment plugin skill and sandbox
  claude/skills/experiment/SKILL.md
  claude/skills/experiment/assets/notes-template.md
  docs/claude.md
  docs/sandbox.md
  scripts/sandbox/claude/experiment.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): worktree-gate autoship and seed implement-in-worktree rule
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-feature/SKILL.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): provision one scenario at a time, queue the rest
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): drop experiment skill and two snippets, move vocab (#469)
  claude/skills/experiment/SKILL.md
  claude/skills/experiment/assets/notes-template.md
  docs/ai-workflow.md
  docs/claude.md
  docs/sandbox.md
  docs/snippets.md
  scripts/sandbox/claude/experiment.sh
  snippets/aitk/vocab-capture.md
  snippets/claude/memory-capture.md
  snippets/claude/tasks-done.md
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): re-align autoship recovery table
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): drop semicolon from autoship Step 0
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): provision one scenario at a time, queue the rest (#470)
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): apply implement-in-worktree rule to toolkit root
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(zsh): document cl/clp alias split for plugin loading
  .cspell/project-terms.txt
  docs/claude.md
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): gate autoship on worktree, seed implement-in-worktree rule (#471)
  CLAUDE.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-feature/SKILL.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(zsh): use TOOLKIT env var instead of hardcoded path
  docs/claude.md
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(zsh): document cl/clp alias split for plugin loading (#472)
  .cspell/project-terms.txt
  docs/claude.md
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): append project context to seed CLAUDE.md not overwrite
  docs/sandbox.md
  scripts/sandbox/claude/design-extract.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/memory.sh
  scripts/sandbox/claude/review.sh
  scripts/sandbox/claude/ux-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(snippets): add PR body sync step to git followup
  snippets/git/followup.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): extend append fix to seeded .claude/* files
  docs/sandbox.md
  scripts/sandbox/claude/design-extract.sh
  scripts/sandbox/claude/design-propose.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/ux-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): preserve seed CLAUDE.md and .claude/* across scenarios (#473)
  docs/sandbox.md
  scripts/sandbox/claude/design-extract.sh
  scripts/sandbox/claude/design-propose.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/memory.sh
  scripts/sandbox/claude/review.sh
  scripts/sandbox/claude/ux-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(snippets): add PR body sync step to git followup (#474)
  snippets/git/followup.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(git-split): use git switch -c to avoid main worktree lock
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): promote durable feedback into skills and standards bodies
  .claude/skills/aitk-snippets/SKILL.md
  claude/skills/claude-feature/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): branch off main only and timestamp chore branch
  docs/scripts.md
  scripts/manage-sync.sh
  scripts/sandbox/infra/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(sandbox): add multi-concern scenario for claude-feature
  docs/sandbox.md
  scripts/sandbox/claude/feature.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): promote feedback memories, fix git-split main lock (#475)
  .claude/skills/aitk-snippets/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/git-split/SKILL.md
  docs/sandbox.md
  scripts/sandbox/claude/feature.sh
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sync): branch off main only and timestamp chore branch (#476)
  docs/scripts.md
  scripts/manage-sync.sh
  scripts/sandbox/infra/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(zsh): add clpc alias for plugin resume
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(spell): add 'clpc' to project terms
  .cspell/project-terms.txt
Due: none

docs(zsh): add clpc alias for plugin resume (#477)
  .cspell/project-terms.txt
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add standards-audit PostToolUse hook to seed
  .claude/hooks/standards-audit.sh
  .claude/settings.json
  docs/claude.md
  scripts/claude/seeds-list.sh
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): drop redundant comments from standards-audit hook
  .claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add standards-audit PostToolUse hook to seed (#478)
  .claude/hooks/standards-audit.sh
  .claude/settings.json
  docs/claude.md
  scripts/claude/seeds-list.sh
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(governance): add python and python-fastapi stacks
  .cspell/tech-stack.txt
  docs/governance.md
  governance/rules/framework/220-fastapi.mdc
  governance/rules/lang/110-python.mdc
  governance/rules/lib/330-testing-py.mdc
  governance/rules/lib/340-pydantic.mdc
  governance/stacks/python-fastapi.toml
  governance/stacks/python.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(governance): refine python type and import rules
  .cspell/tech-stack.txt
  governance/rules/lang/110-python.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add rule audit checklist to aitk-governance
  .claude/skills/aitk-governance/SKILL.md
  .cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): extract rule-audit checklist to references
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-governance/references/rule-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add python and python-fastapi stacks (#479)
  .cspell/tech-stack.txt
  docs/governance.md
  governance/rules/framework/220-fastapi.mdc
  governance/rules/lang/110-python.mdc
  governance/rules/lib/330-testing-py.mdc
  governance/rules/lib/340-pydantic.mdc
  governance/stacks/python-fastapi.toml
  governance/stacks/python.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): bump python stack pin to 3.14
  scripts/sandbox/tooling/python.sh
  tooling/python/configs/.python-version
  tooling/python/configs/mypy.ini
  tooling/python/configs/ruff.toml
  tooling/python/manifest.toml
  tooling/python/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): inline python gitignore array, pin scaffold to py 3.13
  tooling/python/manifest.toml
Due: none

docs(tooling): drop em dashes and parenthetical asides in python docs
  docs/tooling.md
  tooling/python/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
