Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(driver): walk a page through named steps and measure each state
  src/cli.ts
  src/commands/driver.ts
  src/driver/drive.e2e.test.ts
  src/driver/drive.test.ts
  src/driver/drive.ts
  src/driver/probes/details.test.ts
  src/driver/probes/details.ts
  src/driver/probes/diagram.test.ts
  src/driver/probes/diagram.ts
  src/driver/probes/focus.test.ts
  src/driver/probes/focus.ts
  src/driver/probes/viewport.test.ts
  src/driver/probes/viewport.ts
  src/driver/steps.ts
Due: none

docs(driver): state the probe catalog and the refused defaults
  .claude/context/cli/packaging.md
  .claude/context/demo.md
  .claude/context/inventory.md
  docs/agents/commands.md
  docs/agents/driver.md
  docs/agents/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): regenerate the hero and admit one term
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

docs(driver): name the leading wait step as the arrival reading
  docs/agents/driver.md
  src/commands/driver.ts
  src/driver/drive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): cut the wiki bullets and unpin the pre-commit command
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the staging coupling and the board group gap
  .claude/context/claude-internal/orchestration.md
  .claude/context/sandbox/authoring.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(driver): drive a page through named steps and measure each state (#1311)
  .claude/context/cli/packaging.md
  .claude/context/demo.md
  .claude/context/inventory.md
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/commands.md
  docs/agents/driver.md
  docs/agents/index.md
  src/browser/engine.ts
  src/cli.ts
  src/commands/driver.ts
  src/driver/drive.e2e.test.ts
  src/driver/drive.test.ts
  src/driver/drive.ts
  src/driver/probes/details.test.ts
  src/driver/probes/details.ts
  src/driver/probes/diagram.test.ts
  src/driver/probes/diagram.ts
  src/driver/probes/focus.test.ts
  src/driver/probes/focus.ts
  src/driver/probes/viewport.test.ts
  src/driver/probes/viewport.ts
  src/driver/steps.ts
  src/inventory/walk.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.6.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.6.0 (#1312)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): drop the review key path the scaffold never creates
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): drop the rules key path explaining a product surface
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): name the design doc in place of a four-item folder gloss
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): drop four bullets a scaffolded project cannot act on (#1313)
  .claude/context/claude-internal/orchestration.md
  .claude/context/sandbox/authoring.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.6.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.6.1 (#1314)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): move a project's session records to .canon/
  src/commands/migrate.ts
  src/migrate/apply.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: none

feat(records): create a record at .canon/ rather than .claude/
  src/claude/seeds-list.test.ts
  src/claude/seeds.test.ts
  src/claude/seeds.ts
  src/commands/design.ts
  src/commands/feedback.ts
  src/commands/gov.ts
  src/commands/slides.ts
  src/record-root.test.ts
  src/record-root.ts
  src/records/backup.ts
  src/records/validate.test.ts
  src/sync/layout.test.ts
  src/sync/layout.ts
  src/tasks/answers.test.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/validate.test.ts
  src/teach/lesson.test.ts
Due: none

feat(tooling): ship one .canon/ ignore entry in place of twelve
  .gitignore
  scripts/core/check-ignore-parity.sh
  src/ignore-parity.test.ts
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(hooks): resolve the record root rather than pinning .claude/
  .claude/hooks/dev-command-reminder.sh
  .claude/hooks/index-reminder.sh
  .claude/hooks/memory-index.sh
  .claude/hooks/pr-create-log.sh
  .claude/hooks/precompact-handoff.sh
  .claude/hooks/scratch-guard.sh
  .claude/hooks/standards-audit.sh
  .claude/hooks/tasks-index.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): cover the records move and its ignore gate
  scripts/sandbox/infra/record-root.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record that the two hook trees drift unchecked
  .claude/context/development/hooks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(records): refuse a push while records sit under both roots
  .claude/context/development/scratch.md
  .claude/hooks/scratch-guard.sh
  docs/agents/records.md
  docs/target-projects.md
  scripts/sandbox/infra/record-root.sh
  src/migrate/apply.ts
  src/records/backup.test.ts
  src/records/backup.ts
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(migrate): name a path rather than a folder on a failed records write
  src/commands/migrate.ts
Due: none

chore(main): release 4.7.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.7.0 (#1316)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(capture): ship the command to targets and require --selector
  package.json
  src/capture/render.ts
  src/commands/capture.test.ts
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gate): add the required selector to every scripted capture call
  scripts/core/regen-hero.sh
  src/cli.ts
  src/gate/measures.ts
  src/gate/stages.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(capture): retire the toolkit-only claim in sibling modules
  src/demo/drive.ts
  src/driver/drive.ts
  src/inventory/walk.ts
Due: none

docs(agents): rewrite capture and the browser-command counts
  docs/agents/capture.md
  docs/agents/commands.md
  docs/agents/demo.md
  docs/agents/driver.md
  docs/agents/index.md
  docs/agents/state-scoped-risk.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record capture shipping in architecture and context
  .claude/ARCHITECTURE.md
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/cli/overview.md
  .claude/context/cli/packaging.md
  .claude/context/demo.md
  .claude/context/development/regeneration.md
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): lead with what the toolkit is and describe each domain
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): drop the Gemini reach the toolkit does not have
  .claude/context/index.md
  .claude/context/snippets.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): name the real audience and the publish boundary
  docs/agents/overview.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(aliases): add clpa and clpac and state the resume caveat
  .claude/context/claude-internal/discovery.md
  .cspell/project-terms.txt
  docs/zshrc-aliases.md
  scripts/core/bootstrap.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(bootstrap): disclose the write to the contributor shell profile
  CONTRIBUTING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add ? and keyboard shortcuts to agent view
  wiki/claude/claude-agent-view.md
  wiki/claude/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): carry the project in dispatch session names
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
