Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the dispatcher sunset and headless refusal
  .claude/REQUIREMENTS.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/scripts.md
  .claude/context/standards.md
  .cspell/project-terms.txt
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sync): cover the staged set behind a choose seam
  .claude/REQUIREMENTS.md
  .claude/context/cli.md
  src/sync/workflow.test.ts
  src/sync/workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(context): rewrite an unrecognized word in the cli entry
  .claude/context/cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(cli): move sync, init, and standards install to typescript (#613)
  .claude/REQUIREMENTS.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/scripts.md
  .claude/context/standards.md
  .cspell/project-terms.txt
  docs/agents.md
  docs/target-projects.md
  scripts/manage-init.sh
  scripts/manage-standards.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/init.sh
  scripts/sandbox/infra/sync.sh
  src/cli-run.ts
  src/commands/claude.ts
  src/commands/init.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/run.test.ts
  src/init/run.ts
  src/standards/adapter.ts
  src/standards/index-refresh.ts
  src/standards/install.test.ts
  src/standards/install.ts
  src/sync/engine.ts
  src/sync/git.test.ts
  src/sync/git.ts
  src/sync/target.test.ts
  src/sync/target.ts
  src/sync/workflow.test.ts
  src/sync/workflow.ts
  src/target.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add claude-groundwork skill
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add groundwork open, resume, decline arms
  scripts/sandbox/claude/groundwork.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): document groundwork ahead of feature
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
  wiki/skills-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): drop consumers field from handwritten skill reference
  .claude/context/standards.md
  claude/skills/claude-groundwork/references/folder-format.md
  scripts/sandbox/claude/groundwork.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): nest groundwork folders under .claude/.tmp/groundwork
  .claude/context/claude-plugin.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  docs/ai-workflow.md
  scripts/sandbox/claude/groundwork.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add claude-groundwork skill (#614)
  .claude/context/claude-plugin.md
  .claude/context/standards.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  docs/ai-workflow.md
  scripts/sandbox/claude/groundwork.sh
  wiki/skills-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the verb script migration verdicts
  .claude/REQUIREMENTS.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/tooling.md
  docs/agents.md
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(cli): move tooling list and claude seeds list to typescript
  scripts/claude/seeds-list.sh
  scripts/tooling/list.sh
  src/claude/seeds-list.test.ts
  src/claude/seeds-list.ts
  src/commands/claude.ts
  src/commands/tooling.ts
  src/tooling/list.test.ts
  src/tooling/list.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): move install and list to typescript
  scripts/snippets/install.sh
  scripts/snippets/list.sh
  src/commands/snippets.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
  src/snippets/list.test.ts
  src/snippets/list.ts
  src/snippets/presets.test.ts
  src/snippets/presets.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): move rule install to typescript
  scripts/gov/install.sh
  src/commands/gov.ts
  src/gov/install.test.ts
  src/gov/install.ts
  src/gov/stacks.test.ts
  src/gov/stacks.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(snippets): reject a category argument naming a file
  src/gov/install.test.ts
  src/gov/install.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
Due: none

docs(target-projects): correct the snippets install argument shape
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): open the timeline frame in the migrated list verbs
  .claude/context/scripts.md
  .claude/context/snippets.md
  .cspell/project-terms.txt
  src/commands/snippets.ts
  src/commands/tooling.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(cli): move the five agent-path verb scripts to typescript (#615)
  .claude/REQUIREMENTS.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/tooling.md
  .cspell/project-terms.txt
  docs/agents.md
  docs/target-projects.md
  scripts/claude/seeds-list.sh
  scripts/gov/install.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/tooling.sh
  scripts/snippets/install.sh
  scripts/snippets/list.sh
  scripts/tooling/list.sh
  src/claude/seeds-list.test.ts
  src/claude/seeds-list.ts
  src/commands/claude.ts
  src/commands/gov.ts
  src/commands/snippets.ts
  src/commands/tooling.ts
  src/gov/install.test.ts
  src/gov/install.ts
  src/gov/stacks.test.ts
  src/gov/stacks.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
  src/snippets/list.test.ts
  src/snippets/list.ts
  src/snippets/presets.test.ts
  src/snippets/presets.ts
  src/tooling/list.test.ts
  src/tooling/list.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the shared gate in ci and development
  .claude/context/ci.md
  .claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(verify): run every local gate stage through one entry point
  .github/workflows/verify.yml
Due: none

feat(scripts): add a no-write mode to the verification gate
  package.json
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): inject standards into .claude/standards/
  .claude/context/sandbox.md
  scripts/manage-sandbox.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(scripts): fail drift stages on untracked regenerated files
  .claude/context/ci.md
  .claude/context/development.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(ci): seed deliberate index drift
  .claude/context/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): filter the fixtures folder from category pickers
  scripts/manage-sandbox.sh
  src/commands/sandbox.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): move docs scenario fixtures to disk
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/docs/context-entries/01-initial/create/.claude/context/index.md.fixture
  scripts/sandbox/fixtures/docs/context-entries/01-initial/create/.claude/context/web.md.fixture
  scripts/sandbox/fixtures/docs/context-entries/01-initial/create/CLAUDE.md.fixture
  scripts/sandbox/fixtures/docs/context-entries/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/docs/context-entries/01-initial/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/docs/context-entries/01-initial/create/src/features/chat/screen.tsx.fixture
  scripts/sandbox/fixtures/docs/context-entries/02-provider-switch/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/docs/context-entries/03-plan/create/.claude/plans/feature-provider-switch.md.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/append/.claude/ARCHITECTURE.md.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/append/.claude/REQUIREMENTS.md.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/append/.claude/TASKS.md.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/create/src/db.ts.fixture
  scripts/sandbox/fixtures/docs/drift/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/docs/drift/02-postgres/create/src/db.ts.fixture
  scripts/sandbox/fixtures/docs/drift/03-plans/create/.claude/plans/feature-postgres-migration.md.fixture
  scripts/sandbox/fixtures/docs/drift/03-plans/create/.claude/plans/feature-some-old-plan.md.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/01-initial/create/.claude/wireframes/byok-gate.md.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/01-initial/create/.claude/wireframes/index.md.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/01-initial/create/CLAUDE.md.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/01-initial/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/02-widen/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/docs/wireframe-coverage/02-widen/create/src/features/mock/MockDemoStrip.tsx.fixture
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): document the fixture tree and staging helper
  .claude/context/sandbox.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add fixture staging helper with create and append modes
  scripts/lib/sandbox-fixtures.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

Revert "test(ci): seed deliberate index drift"
  .claude/context/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): namespace fixture paths by category and scenario
  .claude/context/sandbox.md
  scripts/lib/sandbox-fixtures.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/.claude/context/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/.claude/context/web.md.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/src/features/chat/screen.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/02-provider-switch/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/03-plan/create/.claude/plans/feature-provider-switch.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/.claude/ARCHITECTURE.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/.claude/REQUIREMENTS.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/.claude/TASKS.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/src/db.ts.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/docs/drift/02-postgres/create/src/db.ts.fixture
  scripts/sandbox/fixtures/claude/docs/drift/03-plans/create/.claude/plans/feature-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/03-plans/create/.claude/plans/feature-some-old-plan.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/.claude/wireframes/byok-gate.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/.claude/wireframes/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/02-widen/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/02-widen/create/src/features/mock/MockDemoStrip.tsx.fixture
  src/commands/sandbox.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

ci(verify): run every local gate stage in CI through one entry point (#616)
  .claude/context/ci.md
  .claude/context/development.md
  .github/workflows/verify.yml
  package.json
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): inject standards into .claude/standards/ (#617)
  .claude/context/sandbox.md
  scripts/manage-sandbox.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): move docs scenario fixtures to disk (#618)
  .claude/context/sandbox.md
  docs/agents.md
  scripts/lib/sandbox-fixtures.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/.claude/context/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/.claude/context/web.md.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/01-initial/create/src/features/chat/screen.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/02-provider-switch/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/context-entries/03-plan/create/.claude/plans/feature-provider-switch.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/.claude/ARCHITECTURE.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/.claude/REQUIREMENTS.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/.claude/TASKS.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/src/db.ts.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/docs/drift/02-postgres/create/src/db.ts.fixture
  scripts/sandbox/fixtures/claude/docs/drift/03-plans/create/.claude/plans/feature-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/03-plans/create/.claude/plans/feature-some-old-plan.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/.claude/wireframes/byok-gate.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/.claude/wireframes/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/01-initial/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/02-widen/create/src/features/chat/api-key-gate.tsx.fixture
  scripts/sandbox/fixtures/claude/docs/wireframe-coverage/02-widen/create/src/features/mock/MockDemoStrip.tsx.fixture
  src/commands/sandbox.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(plans): archive shipped plans instead of deleting them
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/development.md
  .claude/standards/tasks.md
  .cspell/project-terms.txt
  CLAUDE.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  standards/tasks.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(groundwork): add lean and falsifier to open questions
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): retarget dead stitch plan pointer at wiki page
  .claude/context/design.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): state archive destination in docs drift expectations
  scripts/sandbox/claude/docs.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(plans): archive shipped plans instead of deleting them (#619)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/design.md
  .claude/context/development.md
  .claude/standards/tasks.md
  .cspell/project-terms.txt
  CLAUDE.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/docs.sh
  standards/tasks.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add check subcommand emitting a run verdict
  src/commands/sandbox.ts
Due: none

feat(sandbox): add expectation checker with negative-tree tests
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
