Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(sessions): read branch refs so a merged branch reads claimed
  src/commands/sessions.ts
  src/sessions/claim.test.ts
  src/sessions/claim.ts
  src/worktree.test.ts
  src/worktree.ts
Due: none

fix(git): strip resolution vars from the indexes and sync calls
  src/commands/indexes.ts
  src/sync/git.ts
Due: none

fix(orchestrate): name the branch and model on the worker launch
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): record the third claim reading and launch naming
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/cli/overview.md
  docs/agents/sessions.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): resolve worktree paths via a new hook
  .claude/hooks/path-form.sh
  .claude/rules/core/015-output.md
  .claude/settings.json
  governance/rules/core/015-output.md
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/path-form.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): describe the path-form hook
  .claude/context/claude-plugin/cli.md
  .claude/context/development/hooks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): take a caller-supplied name ahead of the inference
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worktree/SKILL.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): keep the worktree path instruction self-sufficient
  .claude/context/development/hooks.md
  .claude/rules/core/015-output.md
  governance/rules/core/015-output.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add agent view page and cross-reference it
  .cspell/tech-stack.txt
  wiki/claude/claude-agent-view.md
  wiki/claude/claude-code.md
  wiki/claude/claude-worktrees.md
  wiki/claude/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record dispatch and isolation gotchas
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/boundaries.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): read both ref spaces in the branch collision test
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): resolve worktree paths via a new hook (#1183)
  .claude/context/claude-plugin/cli.md
  .claude/context/development/hooks.md
  .claude/hooks/path-form.sh
  .claude/rules/core/015-output.md
  .claude/settings.json
  governance/rules/core/015-output.md
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/path-form.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.29.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): gate arriving standards on a success criterion
  .claude/context/development/gates.md
  .claude/context/standards/authoring.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/standards-audit.md
  scripts/core/verify.sh
  src/commands/standards.ts
  src/standards/audit.test.ts
  src/standards/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(dev): record that bare bun test skips vitest context
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(design): allow anchored values and source citations
  .claude/standards/design.md
  standards/design.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.29.0 (#1185)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sessions): close every way the claim check clears a taken branch (#1182)
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/overview.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worktree/SKILL.md
  docs/agents/sessions.md
  docs/operating-model.md
  src/commands/indexes.ts
  src/commands/sessions.ts
  src/sessions/claim.test.ts
  src/sessions/claim.ts
  src/sync/git.ts
  src/worktree.test.ts
  src/worktree.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.29.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(wiki): separate idle state from process-exit signal
  wiki/claude/claude-agent-view.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.29.1 (#1187)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(ci): fetch full history so the standards gate resolves a base
  .claude/context/ci.md
  .github/workflows/verify.yml
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(worktrees): report which worktrees a merge has reclaimed
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  src/cli.ts
  src/commands/worktrees.ts
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
Due: none

docs(agents): document the worktree reclaim verb
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): send the merge sweep at the reclaim verb
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add agent view page for background sessions (#1184)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/boundaries.md
  .cspell/tech-stack.txt
  wiki/claude/claude-agent-view.md
  wiki/claude/claude-code.md
  wiki/claude/claude-worktrees.md
  wiki/claude/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): gate arriving standards on a success criterion (#1186)
  .claude/context/ci.md
  .claude/context/development/gates.md
  .claude/context/development/verification.md
  .claude/context/standards/authoring.md
  .claude/standards/design.md
  .github/workflows/verify.yml
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/standards-audit.md
  scripts/core/verify.sh
  src/commands/standards.ts
  src/standards/audit.test.ts
  src/standards/audit.ts
  standards/design.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(worktrees): strip git resolution vars from the merge read
  .claude/context/claude-internal/orchestration.md
  src/worktrees/reclaim.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.30.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill-strategy): verdict the four decide-what-to-build skills
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.30.0 (#1189)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(worktrees): report which worktrees a merge has reclaimed (#1188)
  .claude/context/claude-internal/orchestration.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/worktrees.md
  src/cli.ts
  src/commands/worktrees.ts
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.31.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.31.0 (#1191)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill-strategy): correct the decision-escalate typed superlative
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill-strategy): verdict the four decide-what-to-build skills (#1190)
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): let a caller name the plan instead of deriving it
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): let a caller name the plan instead of deriving it (#1192)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.32.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.32.0 (#1193)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
