Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.107.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): state what the ci row's scripts prefix covers
  .claude/pr-labels.toml
Due: none

docs(pr): drop the script count from the ci row comment
  .claude/pr-labels.toml
Due: none

chore(pr): add a ci row to the label map (#1038)
  .claude/pr-labels.toml
Due: none

chore(main): release 0.107.2 (#1039)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): require re-reading a skill body this session edited
  .claude/rules/claude/570-skill.md
  governance/rules/claude/570-skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): name the stale-body route that needs no age
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  .claude/standards/session.md
  docs/agents/skills-audit.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): consume a routing handoff by section rather than whole
  .claude/context/claude-plugin/skill-lifecycle.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(markdown): report sentence spread and repeated openers
  .claude/context/cli/audits.md
  docs/agents/markdown-audit.md
  src/commands/markdown.ts
  src/markdown/gate.test.ts
  src/markdown/structure.test.ts
  src/markdown/structure.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record why autoship cannot start from main
  .claude/context/claude-plugin/skill-procedures.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): retire the roadmap surface and its citations
  .claude/standards/requirements.md
  .claude/standards/tasks.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-roadmap/REQUIREMENT.md
  claude/skills/claude-roadmap/SKILL.md
  claude/skills/claude-roadmap/references/roadmap.md
  claude/skills/migration-superseded/REQUIREMENT.md
  claude/skills/migration-superseded/SKILL.md
  scripts/sandbox/claude/orchestrate.sh
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/claude/roadmap.sh
  scripts/sandbox/fixtures/claude/orchestrate/expect.toml
  standards/bundled/roadmap.md
  standards/requirements.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): state the sequencing gap the roadmap left
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/sandbox/coverage.md
  .claude/context/standards/authoring.md
  .claude/diagrams/request-flow.md
  docs/ai-workflow.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): regenerate the hero for one fewer skill
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

style(context): split a heavy bullet and fold the record to four paras
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(markdown): carry the cadence baseline into the legend
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/audits.md
  docs/agents/markdown-audit.md
  src/commands/markdown.ts
  src/markdown/structure.test.ts
  src/markdown/structure.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): a re-invocation reports unchanged rather than replaying
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  .claude/standards/session.md
  docs/agents/skills-audit.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): claim no re-read rather than a return shape
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  .claude/standards/session.md
  docs/agents/skills-audit.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): re-read a skill body before re-invoking it in one session (#1040)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/cli/commands.md
  .claude/rules/claude/570-skill.md
  .claude/standards/session.md
  docs/agents/skills-audit.md
  governance/rules/claude/570-skill.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(markdown): measure paragraph cadence the ban sets cannot reach (#1041)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/audits.md
  docs/agents/markdown-audit.md
  src/commands/markdown.ts
  src/markdown/gate.test.ts
  src/markdown/structure.test.ts
  src/markdown/structure.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.108.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.108.0 (#1043)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): retire the roadmap surface and its citations (#1042)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/sandbox/coverage.md
  .claude/context/standards/authoring.md
  .claude/diagrams/request-flow.md
  .claude/standards/requirements.md
  .claude/standards/tasks.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-roadmap/REQUIREMENT.md
  claude/skills/claude-roadmap/SKILL.md
  claude/skills/claude-roadmap/references/roadmap.md
  claude/skills/migration-superseded/REQUIREMENT.md
  claude/skills/migration-superseded/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
  scripts/sandbox/claude/orchestrate.sh
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/claude/roadmap.sh
  scripts/sandbox/fixtures/claude/orchestrate/expect.toml
  standards/bundled/roadmap.md
  standards/requirements.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(spelling): add repoint to the project dictionary
  .cspell/project-terms.txt
Due: none

feat(standards): record a destination for every standard in the corpus
  .claude/ARCHITECTURE.md
  .claude/context/standards/destinations.md
  .claude/context/standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): tighten the census paragraph past its checkpoint
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): record a destination for every standard in the corpus (#1044)
  .claude/ARCHITECTURE.md
  .claude/context/standards/destinations.md
  .claude/context/standards/index.md
  .cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.109.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.109.0 (#1045)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(audits): run every audit as one set with a kept baseline
  src/audits/baseline.test.ts
  src/audits/baseline.ts
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/audits/run.test.ts
  src/audits/run.ts
  src/cli.ts
  src/commands/audits.ts
Due: none

feat(verify): report the audit set and its growth as a stage
  .claude/audits/baseline.json
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(audits): document the aggregate, its gate split, and the baseline
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/development/gates.md
  .claude/context/development/index.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/scripting.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): recapture the hero at 25 CLI commands
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

feat(audits): run every audit as one set with a kept baseline (#1046)
  .claude/audits/baseline.json
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/development/gates.md
  .claude/context/development/index.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/scripting.md
  scripts/core/verify.sh
  src/audits/baseline.test.ts
  src/audits/baseline.ts
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/audits/run.test.ts
  src/audits/run.ts
  src/cli.ts
  src/commands/audits.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.110.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.110.0 (#1047)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(version): report the installed version against the registry
  src/commands/claude.ts
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/version/compare.test.ts
  src/version/compare.ts
  src/version/installed.ts
  src/version/manager.test.ts
  src/version/manager.ts
  src/version/skew.test.ts
  src/version/skew.ts
Due: none

feat(cli): add an upgrade verb that reinstalls globally
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  src/cli.ts
  src/commands/exit-code.test.ts
  src/commands/upgrade.ts
Due: none

docs(version): document the skew report and the upgrade verb
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  .claude/context/development/regeneration.md
  .cspell/tech-stack.txt
  README.md
  docs/agents/commands.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(version): refuse an upgrade when the manifest carries no name
  .claude/context/cli/commands.md
  src/cli.ts
  src/commands/exit-code.test.ts
  src/commands/upgrade.ts
  src/version/installed.ts
  src/version/skew.test.ts
  src/version/skew.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(version): report when the installed binary is behind (#1048)
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  .claude/context/development/regeneration.md
  .cspell/tech-stack.txt
  README.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/commands.md
  docs/target-projects.md
  src/cli.ts
  src/commands/claude.ts
  src/commands/exit-code.test.ts
  src/commands/sync.ts
  src/commands/upgrade.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/version/compare.test.ts
  src/version/compare.ts
  src/version/installed.ts
  src/version/manager.test.ts
  src/version/manager.ts
  src/version/skew.test.ts
  src/version/skew.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
