Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(agents): name the count the capture negation moved
  docs/agents/state-scoped-risk.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(aliases): say a re-run leaves an installed block alone
  .claude/context/scripts/core.md
  README.md
  docs/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): update agent view source date to today's fetch
  wiki/claude/claude-agent-view.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): fix stale worker name citation and undefined project
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worker/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(capture): ship to targets and refuse without a selector (#1317)
  .claude/ARCHITECTURE.md
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/cli/overview.md
  .claude/context/cli/packaging.md
  .claude/context/demo.md
  .claude/context/development/regeneration.md
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/tooling.md
  docs/agents/capture.md
  docs/agents/commands.md
  docs/agents/demo.md
  docs/agents/driver.md
  docs/agents/index.md
  docs/agents/state-scoped-risk.md
  package.json
  scripts/core/regen-hero.sh
  src/capture/render.ts
  src/cli.ts
  src/commands/capture.test.ts
  src/commands/capture.ts
  src/demo/drive.ts
  src/driver/drive.ts
  src/gate/measures.ts
  src/gate/stages.ts
  src/inventory/walk.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.8.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): carry a shipped task's plan into the archive with it
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
Due: none

feat(tasks): report a board row disagreeing with its task plan line
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

fix(sandbox): stage three fixture trees at the record root they assert
  .claude/context/sandbox/authoring.md
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/v01.0-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/v02.0-multi-user.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/03-plans/create/.claude/plans/feature-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/03-plans/create/.claude/plans/feature-some-old-plan.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/plans/archive/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/priority.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): assert the plan rides the archive and no tick moves one
  .claude/context/sandbox/coverage.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/tasks.sh
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
  scripts/sandbox/fixtures/claude/tasks/archive/expect.toml
  scripts/sandbox/infra/record-root.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tasks): settle a plan on the merge rather than on the tick
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/development/scratch.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  docs/agents/commands.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.8.0 (#1321)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): lead with what the toolkit is before how to install it (#1318)
  .claude/context/claude-internal/discovery.md
  .claude/context/index.md
  .claude/context/scripts/core.md
  .claude/context/snippets.md
  .cspell/project-terms.txt
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/agents/overview.md
  docs/zshrc-aliases.md
  scripts/core/bootstrap.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): add ? and keyboard shortcuts to agent view (#1319)
  wiki/claude/claude-agent-view.md
  wiki/claude/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): carry the project in dispatch session names (#1320)
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worker/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): recount the file budget against the current main
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): make a token module the source and ship it to targets
  .claude/DESIGN.md
  .cspell/tech-stack.txt
  src/commands/design.ts
  src/commands/sync.ts
  src/design/adapter.test.ts
  src/design/adapter.ts
  src/design/base.css
  src/design/components.ts
  src/design/contrast.test.ts
  src/design/contrast.ts
  src/design/css.test.ts
  src/design/css.ts
  src/design/document.test.ts
  src/design/document.ts
  src/design/regen.ts
  src/design/tokens.ts
  src/gate/stages.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.ts
  src/sync/stamp.ts
  src/sync/target.test.ts
  src/sync/target.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): read the token source from the slide theme and preview
  src/design/render.test.ts
  src/design/render.ts
  src/slides/styles.ts
Due: none

feat(teach): seed the workspace stylesheet from the design source
  claude/skills/claude-teach/SKILL.md
  src/commands/teach.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(design): record the token source and the design channel
  .claude/context/cli/sync.md
  .claude/context/design.md
  docs/agents/commands.md
  docs/agents/install-and-sync.md
  docs/agents/teach.md
  docs/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.8.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.8.1 (#1323)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(migrate): skip the record roots in the citation sweep
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: none

fix(sandbox): mark the deliberate old-root citations in the arm
  scripts/sandbox/infra/record-root.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(migrate): state the record-root skip and correct the route
  .claude/context/development/scratch.md
  docs/agents/commands.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): correct the two sentences design makes false
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): reseat the sweep skip under a sibling heading
  .claude/context/development/scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): consolidate six palettes onto one source with a channel (#1324)
  .claude/ARCHITECTURE.md
  .claude/DESIGN.md
  .claude/context/cli/sync.md
  .claude/context/design.md
  .cspell/tech-stack.txt
  claude/skills/claude-teach/SKILL.md
  docs/agents/commands.md
  docs/agents/install-and-sync.md
  docs/agents/teach.md
  docs/visual-design-workflow.md
  src/commands/design.ts
  src/commands/sync.ts
  src/commands/teach.ts
  src/design/adapter.test.ts
  src/design/adapter.ts
  src/design/base.css
  src/design/components.ts
  src/design/contrast.test.ts
  src/design/contrast.ts
  src/design/css.test.ts
  src/design/css.ts
  src/design/document.test.ts
  src/design/document.ts
  src/design/regen.ts
  src/design/render.test.ts
  src/design/render.ts
  src/design/tokens.ts
  src/gate/stages.ts
  src/slides/styles.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.ts
  src/sync/stamp.ts
  src/sync/target.test.ts
  src/sync/target.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.9.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.9.0 (#1326)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(migrate): skip the record roots in the citation sweep (#1325)
  .claude/context/development/scratch.md
  docs/agents/commands.md
  docs/target-projects.md
  scripts/sandbox/infra/record-root.sh
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.9.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.9.1 (#1327)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(autoship): read the draft flag back and drop the bound it claimed
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-worker/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record the arm gate an unattended ship takes
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(install): verify from a packed tarball instead of a clone
  .claude/context/ci.md
  .claude/context/cli/packaging.md
  .claude/context/development/gates.md
  .github/workflows/verify.yml
  scripts/core/install-check.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(migrate): sweep the record tree for its own old-root citations
  src/commands/migrate.ts
  src/migrate/record-tree.test.ts
  src/migrate/record-tree.ts
  src/migrate/records.ts
Due: none

test(sandbox): add a record-tree arm proving scope and idempotence
  scripts/sandbox/infra/record-root.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(migrate): document the record-tree sweep and its first-run step
  docs/agents/commands.md
  docs/ai-workflow.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
