Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.55.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.55.0 (#848)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): fall back when the report carries no unmigrated key
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/migration-standards/REQUIREMENT.md
  claude/skills/migration-standards/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): read the drift report in migration-standards and arm both (#847)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/running.md
  claude/skills/migration-standards/REQUIREMENT.md
  claude/skills/migration-standards/SKILL.md
  docs/agents/install-and-sync.md
  scripts/lib/sandbox-fixtures.sh
  scripts/sandbox/claude/migration-standards.sh
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/migration-standards/root-layout/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/fresh/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/installed/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/unmigrated/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.56.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.56.0 (#849)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): record the field test answering the release skew
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): record the field test answering the release skew (#850)
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scripts): pass hero catalogs as files past the env size cap
  scripts/core/regen-hero.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): own the intake and groundwork folder formats
  .claude/rules/claude/556-groundwork.md
  .claude/rules/claude/557-intake.md
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  .cspell/project-terms.txt
  assets/hero.html
  assets/hero.png
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  claude/skills/claude-intake/SKILL.md
  claude/skills/claude-intake/references/folder-format.md
  governance/rules/claude/556-groundwork.md
  governance/rules/claude/557-intake.md
  governance/stacks/base.toml
  scripts/sandbox/claude/groundwork.sh
  standards/groundwork.md
  standards/index.md
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the track folder standards and the hero cap
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/governance.md
  .claude/context/sandbox/coverage.md
  .claude/context/scripts/core.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(governance): give the track rule directives their own heading
  .claude/context/standards.md
  .claude/rules/claude/556-groundwork.md
  .claude/rules/claude/557-intake.md
  governance/rules/claude/556-groundwork.md
  governance/rules/claude/557-intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): own the intake and groundwork folder formats (#851)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/governance.md
  .claude/context/sandbox/coverage.md
  .claude/context/scripts/core.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/rules/claude/556-groundwork.md
  .claude/rules/claude/557-intake.md
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  claude/skills/claude-intake/SKILL.md
  claude/skills/claude-intake/references/folder-format.md
  governance/rules/claude/556-groundwork.md
  governance/rules/claude/557-intake.md
  governance/stacks/base.toml
  scripts/core/regen-hero.sh
  scripts/sandbox/claude/groundwork.sh
  standards/groundwork.md
  standards/index.md
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.57.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.57.0 (#852)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): resolve a stack entry naming a rule folder
  src/gov/install.ts
  src/gov/stacks.test.ts
  src/gov/stacks.ts
Due: none

refactor(gov): move the list verb off bash onto the resolver
  .claude/context/scripts/overview.md
  scripts/gov/list.sh
  scripts/sandbox/infra/gov.sh
  src/commands/gov.ts
  src/gov/list.test.ts
  src/gov/list.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gov): take the core and claude rule folders whole in base
  governance/stacks/base.toml
Due: none

feat(scripts): report rules no stack reaches in the verify run
  .claude/context/scripts/core.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(gov): record folder entries and the numbering split
  .claude/context/governance.md
  .claude/standards/rule.md
  docs/agents/scripting.md
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gov): repoint three references at the deleted script folder
  .claude/context/scripts/overview.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): let a stack entry name a whole rule folder (#854)
  .claude/context/governance.md
  .claude/context/scripts/core.md
  .claude/context/scripts/overview.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-sandbox-check/SKILL.md
  .claude/standards/rule.md
  docs/agents/scripting.md
  governance/stacks/base.toml
  scripts/core/verify.sh
  scripts/gov/list.sh
  scripts/sandbox/infra/gov.sh
  src/commands/gov.ts
  src/gov/install.ts
  src/gov/list.test.ts
  src/gov/list.ts
  src/gov/stacks.test.ts
  src/gov/stacks.ts
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.58.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): own the plan file format and its answer contract
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  .claude/standards/plan.md
  .claude/standards/tasks.md
  assets/hero.html
  assets/hero.png
  standards/groundwork.md
  standards/index.md
  standards/intake.md
  standards/plan.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): add records validate for the gitignored session records
  src/cli.ts
  src/commands/records.ts
  src/records/validate.test.ts
  src/records/validate.ts
Due: none

feat(governance): route plan folder edits to the plan standard
  .claude/rules/claude/558-plan.md
  governance/rules/claude/558-plan.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(records): accept both section spellings and looser touch entries
  .claude/context/cli/audits.md
  .claude/context/standards.md
  .claude/standards/plan.md
  claude/skills/claude-feature/SKILL.md
  docs/agents/records.md
  docs/ai-workflow.md
  src/records/validate.test.ts
  src/records/validate.ts
  standards/plan.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): cite the plan standard from the three consuming skills
  .claude/context/cli/audits.md
  .claude/context/standards.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/records.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(records): close a plan section on any marker and skip fenced blocks
  .claude/context/cli/audits.md
  docs/agents/records.md
  src/records/validate.test.ts
  src/records/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.58.0 (#855)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): own the plan file format and check it from the CLI (#853)
  .claude/context/cli/audits.md
  .claude/context/standards.md
  .claude/rules/claude/558-plan.md
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  .claude/standards/plan.md
  .claude/standards/tasks.md
  assets/hero.html
  assets/hero.png
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/records.md
  docs/ai-workflow.md
  governance/rules/claude/558-plan.md
  src/cli.ts
  src/commands/records.ts
  src/records/validate.test.ts
  src/records/validate.ts
  standards/groundwork.md
  standards/index.md
  standards/intake.md
  standards/plan.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.59.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.59.0 (#856)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): add the review poll and guard its failed queries
  .cspell/project-terms.txt
  package.json
  scripts/orchestrate/poll.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(snippets): add the poll prompt and its run condition
  .claude/internal/snippets/pr-poll.md
  internal/snippets/pr-poll.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the review trigger and its placement
  .claude/context/claude-internal.md
  .claude/context/scripts/overview.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add a memory standard owning entry format and lifecycle
  .claude/standards/index.md
  .claude/standards/memory.md
  standards/index.md
  standards/memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): route .claude/memory/ edits to the memory standard
  .claude/rules/claude/559-memory.md
  governance/rules/claude/559-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(records): add memory as a fourth validate kind
  src/commands/records.ts
  src/records/validate.test.ts
  src/records/validate.ts
Due: none

refactor(claude): cite the memory standard rather than restating it
  CLAUDE.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
