Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(claude): clarify reviewer input
  tooling/claude/configs/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): introduce claude.md and update reference
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): update ai workflow snippets and command table
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): add new claude snippets to docs
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): introduce workflow snippets and doc updates (#231)
  docs/ai-workflow.md
  docs/snippets.md
  package.json
  snippets/claude-docs.md
  snippets/claude-plan.md
  snippets/claude-tasks.md
  snippets/code-review.md
  tooling/claude/configs/.claude/REVIEWER.md
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add scenario for snippet commands
  docs/sandbox.md
  scripts/sandbox/infra/snippets.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(snippets): add 'aitk snippets' command
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): clarify snippets file structure
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add 'aitk snippets' command and workflow (#232)
  README.md
  docs/sandbox.md
  docs/snippets.md
  scripts/manage-aitk.sh
  scripts/manage-snippets.sh
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(snippets): update skill and documentation (#233)
  .claude/skills/aitk-snippets/SKILL.md
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add 'all' category option for snippet installation
  scripts/snippets/install.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(ui): add interactive ask function and improve prompt handling
  scripts/lib/ui.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): use exec for direct command execution
  scripts/claude/prompt.sh
  scripts/gov/build.sh
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
  scripts/tooling/create.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): add CLAUDE.md and config collection to script
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(prompts): refine timeline exit strategy for success paths
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(scripts): enhance interactivity, robustness, and cleanup
  scripts/claude/prompt.sh
  scripts/gov/build.sh
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/manage-sandbox.sh
  scripts/manage-standards.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
  scripts/tooling/create.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(scripts): enhance interactive prompts and exit handling (#235)
  .cspell/tech-stack.txt
  README.md
  docs/ai-workflow.md
  docs/governance.md
  docs/scripts.md
  docs/standards.md
  docs/tooling.md
  prompts/bash-script.md
  scripts/claude/prompt.sh
  scripts/gov/build.sh
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/lib/ui.sh
  scripts/manage-claude.sh
  scripts/manage-gov.sh
  scripts/manage-sandbox.sh
  scripts/manage-snippets.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
  scripts/tooling/create.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(gemini): update dev:review docs for branch diff support
  docs/ai-workflow.md
  docs/sandbox.md
  gemini/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(snippets): remove claude-tasks snippet
  snippets/claude-tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): refine docs snippet instructions
  snippets/claude-docs.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): refine planning snippet
  snippets/claude-plan.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): remove 'claude-tasks' references
  README.md
  docs/ai-workflow.md
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): update planner instructions for task granularity
  tooling/claude/configs/.claude/PLANNER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude-snippets): add new workflow snippets for claude code
  snippets/claude-feature.md
  snippets/claude-tell.md
  snippets/claude-ui-test.md
  snippets/claude-ux-audit.md
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): document placeholder syntax and claude workflow snippets
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add workflow snippets and refine ai development loop (#238)
  docs/ai-workflow.md
  docs/snippets.md
  snippets/chat-mode.md
  snippets/claude-docs.md
  snippets/claude-feature.md
  snippets/claude-plan.md
  snippets/claude-tell.md
  snippets/claude-ui-test.md
  snippets/claude-ux-audit.md
  snippets/snippets.toml
  tooling/claude/configs/.claude/PLANNER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): document new 'claude gov' command
  README.md
  docs/governance.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add 'gov' command to build GOV.md (#239)
  README.md
  docs/ai-workflow.md
  docs/governance.md
  scripts/lib/gov.sh
  scripts/manage-claude.sh
  scripts/sandbox/infra/claude.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/GOV.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): consolidate skill documentation and add sync checklists (#240)
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(rules): clarify documentation update rule
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): add instruction to update CLI table
  .claude/skills/aitk-scripts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): update skills overview and references
  docs/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): centralize claude and gemini documentation
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
  README.md
  claude/README.md
  docs/claude.md
  docs/gemini.md
  docs/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): centralize claude and gemini documentation (#242)
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
  README.md
  claude/README.md
  docs/claude.md
  docs/gemini.md
  docs/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): improve punctuation and readability
  standards/comments.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(content): standardize punctuation and grammar
  docs/governance.md
  docs/scripts.md
  docs/snippets.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(formatting): remove redundant backticks from inline code
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  standards/comments.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(config): standardize key-value pair syntax
  gemini/commands/dev/comment.toml
  gemini/commands/dev/review.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/stage.toml
Due: none

docs(prompts): improve clarity and standardize formatting
  prompts/bash-script.md
  prompts/cursor-rules.md
  prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): standardize punctuation in prompt examples
  tooling/claude/configs/.claude/PLANNER.md
  tooling/claude/configs/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
