Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): shorten the diagram row to fit the catalog column
  .claude/context/claude-plugin.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(init): report extra rules dropped by the governance skip
  .claude/context/cli.md
  docs/target-projects.md
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/steps.test.ts
  src/init/steps.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): match the review heading exactly to find the prior pass
  .claude/context/claude-plugin.md
  .cspell/tech-stack.txt
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add a source line to every page (#679)
  CLAUDE.md
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-design.md
  wiki/claude-hooks.md
  wiki/claude-mcp.md
  wiki/claude-memory.md
  wiki/claude-permissions.md
  wiki/claude-plan-mode.md
  wiki/claude-routines.md
  wiki/claude-skills.md
  wiki/claude-subagents.md
  wiki/claude-worktrees.md
  wiki/community-mcp-servers.md
  wiki/community-skills.md
  wiki/prose-influences.md
  wiki/rule-writing-vocabulary.md
  wiki/stitch.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(diagram): verify each diagram against its rendered image (#680)
  .claude/context/claude-plugin.md
  .claude/standards/diagrams.md
  .cspell/tech-stack.txt
  claude/skills/claude-diagram/SKILL.md
  docs/ai-workflow.md
  docs/target-projects.md
  scripts/sandbox/claude/diagram.sh
  standards/diagrams.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(init): install governance by default and keep the opt-out (#681)
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/tooling.md
  README.md
  docs/agents.md
  docs/target-projects.md
  src/commands/init.ts
  src/init/flags.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/run.test.ts
  src/init/run.ts
  src/init/steps.test.ts
  src/init/steps.ts
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(review): add a close-out pass to the PR review skill (#682)
  .claude/context/claude-plugin.md
  .cspell/tech-stack.txt
  claude/skills/claude-pr-review/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
  scripts/sandbox/claude/pr-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(roadmap): stop drafting when the MVP scope has already shipped
  .claude/context/claude-plugin.md
  claude/skills/claude-roadmap/SKILL.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): record that consumption decides snippet placement
  .claude/context/claude-internal.md
  .claude/context/snippets.md
  .claude/skills/aitk-snippets/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): ship the orchestrator resume and sweep runbooks
  .claude/snippets/claude/orchestrator-resume.md
  .claude/snippets/claude/orchestrator-sweep.md
  .cspell/project-terms.txt
  snippets/claude/orchestrator-resume.md
  snippets/claude/orchestrator-sweep.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(eval): retain run output and append a ledger row per run
  .claude/context/scripts.md
  scripts/eval/README.md
  scripts/eval/ledger.md
  scripts/eval/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(package): publish the CLI as '@erclx/aitk'
  package.json
  release-please-config.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): guard the docs context walk when '.claude' is absent
  scripts/docs/list.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

ci(release): add a publish job gated on release creation
  .github/workflows/release-please.yml
Due: none

docs(cli): replace the clone path with the registry install
  .claude/context/ci.md
  .claude/context/cli.md
  README.md
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(roadmap): exclude 'Distribution' from the lifecycle gate trigger
  .claude/context/claude-plugin.md
  claude/skills/claude-roadmap/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(snippets): stop the skill naming tables the context entry lacks
  .claude/skills/aitk-snippets/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(eval): exclude the ledger from the dirty check and flag lost output
  .claude/context/scripts.md
  scripts/eval/ledger.md
  scripts/eval/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(cli): refuse local feedback scratch outside the toolkit source
  .claude/context/cli.md
  package.json
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(release): gate the release job on the publish credential
  .claude/context/ci.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(roadmap): stop drafting when the MVP scope has already shipped (#684)
  .claude/context/claude-plugin.md
  claude/skills/claude-roadmap/SKILL.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): ship the orchestrator resume and sweep runbooks (#685)
  .claude/context/claude-internal.md
  .claude/context/snippets.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/snippets/claude/orchestrator-resume.md
  .claude/snippets/claude/orchestrator-sweep.md
  .cspell/project-terms.txt
  snippets/claude/orchestrator-resume.md
  snippets/claude/orchestrator-sweep.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(eval): retain run output and append a ledger row per run (#686)
  .claude/context/scripts.md
  scripts/eval/README.md
  scripts/eval/ledger.md
  scripts/eval/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(package): publish the CLI to the registry as '@erclx/aitk' (#687)
  .claude/context/ci.md
  .claude/context/cli.md
  .github/workflows/release-please.yml
  README.md
  docs/agents.md
  docs/target-projects.md
  package.json
  release-please-config.json
  scripts/docs/list.sh
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(hooks): repair core.bare on Bash calls rather than only in check
  .claude/context/development.md
  .claude/hooks/bare-flag-repair.sh
  .claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(release): pin npm 11, swap the release token, add tag dispatch
  .claude/context/ci.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cli): point release mechanics at the ci context entry
  .claude/context/cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add requirements across the ship-chain family
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-review/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the ship chain in the requirement count
  .claude/context/claude-plugin.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): govern one diagram entry per kind
  .claude/standards/diagrams.md
  .claude/standards/index.md
  .claude/standards/prose.md
  standards/diagrams.md
  standards/index.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): scope the diagram rule to the folder
  .claude/rules/claude/560-diagrams.md
  governance/rules/claude/560-diagrams.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): write per-kind diagram entries and convert flat files
  claude/skills/claude-diagram/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): seed the diagrams folder into scaffolded projects
  scripts/core/install-check.sh
  src/claude/seeds-list.test.ts
  src/claude/seeds.ts
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/diagrams/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(workflow): point the diagram skill references at the folder
  docs/ai-workflow.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): assert a diagram refresh leaves its siblings untouched
  scripts/sandbox/claude/diagram-migrate.sh
  scripts/sandbox/claude/diagram.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(release): name the event in both job gates instead of coercing null
  .claude/context/ci.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): name the requirement shape in the authority line
  .claude/rules/claude/570-skill.md
  governance/rules/claude/570-skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(diagrams): correct the entry count and the label enforcement claim
  .claude/standards/diagrams.md
  claude/skills/claude-diagram/SKILL.md
  standards/diagrams.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): let a surface claim the prose yield without being named
  .claude/standards/diagrams.md
  .claude/standards/prose.md
  standards/diagrams.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): repair core.bare on Bash calls rather than only in check (#689)
  .claude/context/development.md
  .claude/hooks/bare-flag-repair.sh
  .claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
