Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore: remove GEMINI.md
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(scripts): parameterize GITHUB_ORG with git remote fallback
  scripts/config.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): extract git identity helper and drop hardcodes
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/git/stage.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(scripts): add install-path verifier
  CLAUDE.md
  package.json
  scripts/core/install-check.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(vocab): add answer slots, invalidator list, artifact-specific framing
  wiki/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): tighten SKILL.md descriptions per standards
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/experiment/SKILL.md
  claude/skills/git-stage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore: remove GEMINI.md (#441)
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(sandbox): drop header comment from git identity helper
  scripts/lib/sandbox-git.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(vocab): add rule-letter fix anti-pattern
  wiki/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): list sandbox-git helper in lib tree
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): generalize defaults and extract git identity helper (#442)
  docs/scripts.md
  scripts/config.sh
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/git/stage.sh
  scripts/sandbox/infra/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(scripts): add install-path verifier (#443)
  CLAUDE.md
  package.json
  scripts/core/install-check.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(vocab): add three rule-writing vocabulary entries (#444)
  wiki/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): tighten SKILL.md descriptions per standards (#445)
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/experiment/SKILL.md
  claude/skills/git-stage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs: rewrite README for public launch
  README.md
  docs/scripts.md
  docs/target-projects.md
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): mark publicize outcomes done and queue follow-ups
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): expand prerequisite and allow asciinema
  .claude/TASKS.md
  .cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs: rewrite README for public launch (#446)
  .claude/TASKS.md
  .cspell/tech-stack.txt
  README.md
  docs/scripts.md
  docs/target-projects.md
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): clear up-next queue
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): clear up-next queue (#447)
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): sync gitignore entries on sync
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): add aitk category excluded from install
  docs/snippets.md
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/list.sh
  snippets/aitk/sandbox-worktree.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): exclude aitk from sync source map
  scripts/snippets/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): note gitignore scan in sync behavior
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): sync gitignore entries on sync (#448)
  docs/claude.md
  scripts/manage-claude.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): add aitk category excluded from install (#449)
  docs/snippets.md
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/list.sh
  scripts/snippets/sync.sh
  snippets/aitk/sandbox-worktree.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(skill): add section-level classification to docs-sync
  claude/skills/docs-sync/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): push and pr primary branch in git-split
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): codify internal category pattern and install-depth check
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): add public-facing readme framing rule
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): add answer slots for 3+ plan questions in claude-feature
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs: promote memory-review feedback to durable surfaces (#450)
  CLAUDE.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-split/SKILL.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(indexes): auto-stage rewritten indexes
  docs/agents.md
  docs/indexes.md
  docs/sandbox.md
  docs/scripts.md
  scripts/indexes/regen.sh
  scripts/sandbox/infra/indexes.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): auto-stage rewritten indexes (#451)
  docs/agents.md
  docs/indexes.md
  docs/sandbox.md
  docs/scripts.md
  scripts/indexes/regen.sh
  scripts/sandbox/infra/indexes.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): drop 'seeds' from interactive menu
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): drop 'seeds' from interactive menu (#452)
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): seed base dev and ci docs
  docs/tooling.md
  tooling/base/seeds/docs/ci.md
  tooling/base/seeds/docs/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): note base dev and ci seeds in reference
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): remove semicolon in base development seed
  tooling/base/seeds/docs/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): seed base dev and ci docs (#453)
  docs/tooling.md
  tooling/base/reference.md
  tooling/base/seeds/docs/ci.md
  tooling/base/seeds/docs/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
