Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(governance): record the rule and skill citation asymmetry
  .claude/context/governance/routing.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): drop the type segment from the autoship plan filename
  scripts/sandbox/claude/autoship.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(gov): document the superseded-value sweep
  .claude/context/cli/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/superseded.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): point the skill body at the rule holding the protocol
  .claude/ARCHITECTURE.md
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): guard an empty replacement and neutralize the shared helpers
  .claude/context/cli/audits.md
  .cspell/tech-stack.txt
  docs/agents/superseded.md
  src/binary.test.ts
  src/binary.ts
  src/commands/gov.ts
  src/exempt-marker.test.ts
  src/exempt-marker.ts
  src/gov/superseded.test.ts
  src/gov/superseded.ts
  src/secrets/scan.test.ts
  src/secrets/scan.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gov): move the marker doc block back onto the function it describes
  src/exempt-marker.ts
Due: none

feat(governance): ship a rule over the root file and split the pair (#1095)
  .claude/ARCHITECTURE.md
  .claude/context/governance/routing.md
  .claude/rules/claude/592-claude-md.md
  .claude/rules/claude/596-claude-md.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/standards/architecture.md
  CLAUDE.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  governance/rules/claude/592-claude-md.md
  internal/rules/claude/596-claude-md.md
  standards/architecture.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.3.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.3.0 (#1098)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): sweep for values a changed convention no longer produces (#1096)
  .claude/context/cli/audits.md
  .claude/standards/slug.md
  .cspell/tech-stack.txt
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/superseded.md
  scripts/sandbox/claude/autoship.sh
  src/binary.test.ts
  src/binary.ts
  src/commands/gov.ts
  src/exempt-marker.test.ts
  src/exempt-marker.ts
  src/gov/superseded.test.ts
  src/gov/superseded.ts
  src/secrets/marker.ts
  src/secrets/scan.test.ts
  src/secrets/scan.ts
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.4.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): add the session-map row to the skill catalog
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the worktree refusal on a local target
  .claude/context/development/scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): let a caller tell session-map it does not commit
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  claude/skills/session-map/REQUIREMENT.md
  claude/skills/session-map/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): route the orchestrator handoff through session-map
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add session-map for the pre-compaction handoff
  .claude/standards/session.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/session-map/REQUIREMENT.md
  claude/skills/session-map/SKILL.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): rebuild the hero capture for the merged catalogs
  assets/hero.png
  assets/hero.stamp
Due: none

chore(main): release 3.4.0 (#1099)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): ban skipping a session-map step by predicting its result
  claude/skills/session-map/REQUIREMENT.md
  claude/skills/session-map/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): answer an empty ref recovery on the session map
  .claude/standards/session.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add session-map for the pre-compaction handoff (#1097)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/development/scratch.md
  .claude/standards/session.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  claude/skills/session-map/REQUIREMENT.md
  claude/skills/session-map/SKILL.md
  docs/ai-workflow.md
  standards/session.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.5.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): make the structured question surface the session default
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-strategy.md
  CLAUDE.md
  claude/skills/decision-escalate/REQUIREMENT.md
  claude/skills/decision-escalate/SKILL.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(indexes): record the silent drop on an out-of-root positional path
  .claude/context/indexes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.5.0 (#1100)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): test the surface rather than the project file for the batch
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/decision-escalate/REQUIREMENT.md
  claude/skills/decision-escalate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): make the structured question surface the session default (#1101)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/indexes.md
  CLAUDE.md
  claude/skills/decision-escalate/REQUIREMENT.md
  claude/skills/decision-escalate/SKILL.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.6.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): move the archive fixtures onto the nested paths
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/tasks.sh
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/plans/archive/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/priority.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/expect.toml
  scripts/sandbox/git/ship.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(hooks): keep the board index regen off an archived task
  .claude/hooks/tasks-index.sh
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(records): nest each archive inside the record it archives
  .gitignore
  src/commands/tasks.ts
  src/records/backup.test.ts
  src/records/backup.ts
  src/sandbox/expect.test.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/validate.test.ts
  tooling/claude/manifest.toml
Due: none

feat(review): split the folder by producer and sweep branch reports
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-memory-review/references/receipt-format.md
  claude/skills/claude-review/SKILL.md
  claude/skills/git-ship/SKILL.md
  claude/skills/toolkit-feedback/SKILL.md
  docs/agents/commands.md
  src/cli.ts
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(records): repoint every archive citation at its nested path
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/development/scratch.md
  .claude/context/sandbox/coverage.md
  .claude/context/standards/per-standard.md
  .claude/rules/claude/558-plan.md
  .claude/standards/plan.md
  .claude/standards/tasks.md
  CLAUDE.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  docs/agents/records.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  governance/rules/claude/558-plan.md
  standards/plan.md
  standards/tasks.md
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): record where a record folder's archive lands
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): correct the record's own length after the split
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.6.0 (#1103)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(demo): catalog the command and record the absent CI browser
  .claude/context/ci.md
  docs/agents/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(demo): drive a running app to a recording and a still
  .claude/context/demo.md
  .claude/context/index.md
  .cspell/tech-stack.txt
  assets/hero.html
  bun.lock
  claude/skills/claude-screencast/SKILL.md
  docs/agents/capture.md
  docs/agents/demo.md
  docs/agents/index.md
  package.json
  scripts/sandbox/claude/screencast.sh
  src/capture/render.ts
  src/cli.ts
  src/commands/demo.ts
  src/demo/beats.test.ts
  src/demo/beats.ts
  src/demo/compile.test.ts
  src/demo/compile.ts
  src/demo/cursors.ts
  src/demo/drive.e2e.test.ts
  src/demo/drive.ts
  src/demo/pointer.test.ts
  src/demo/pointer.ts
  src/demo/theme.test.ts
  src/demo/theme.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(demo): skip the opening navigate and refuse an empty output set
  docs/agents/demo.md
  src/commands/demo.ts
  src/demo/drive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
