Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(web): build the canon landing page
  .cspell/project-terms.txt
  .gitignore
  .prettierrc
  bun.lock
  package.json
  web/astro.config.mjs
  web/e2e/home.spec.ts
  web/playwright.config.ts
  web/public/assets/governance.png
  web/public/assets/hero.png
  web/public/assets/install-surface.png
  web/public/assets/install.png
  web/public/assets/task-board.png
  web/public/favicon.svg
  web/src/components/BoardLifecycle.astro
  web/src/components/CallToAction.astro
  web/src/components/Catalog.astro
  web/src/components/Hero.astro
  web/src/components/Install.astro
  web/src/components/RuleArrival.astro
  web/src/components/TargetReceives.astro
  web/src/content/copy.ts
  web/src/layouts/Base.astro
  web/src/lib/counts.ts
  web/src/pages/index.astro
  web/src/styles/global.css
  web/src/styles/tokens.css
  web/tsconfig.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the astro alias gotcha, stub the wireframe
  .claude/context/tooling.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): note the symlink risk on a windows checkout
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(web): build the canon landing page (#1505)
  .claude/context/tooling.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
  .cspell/project-terms.txt
  .gitignore
  .prettierrc
  bun.lock
  package.json
  web/astro.config.mjs
  web/e2e/home.spec.ts
  web/playwright.config.ts
  web/public/assets/governance.png
  web/public/assets/hero.png
  web/public/assets/install-surface.png
  web/public/assets/install.png
  web/public/assets/task-board.png
  web/public/favicon.svg
  web/src/components/BoardLifecycle.astro
  web/src/components/CallToAction.astro
  web/src/components/Catalog.astro
  web/src/components/Hero.astro
  web/src/components/Install.astro
  web/src/components/RuleArrival.astro
  web/src/components/TargetReceives.astro
  web/src/content/copy.ts
  web/src/layouts/Base.astro
  web/src/lib/counts.ts
  web/src/pages/index.astro
  web/src/styles/global.css
  web/src/styles/tokens.css
  web/tsconfig.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.52.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.52.0 (#1506)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(labels): add --body-file input to labels scan
  claude/skills/claude-address-review/SKILL.md
  docs/agents/commands.md
  src/commands/labels.ts
  src/labels/event.test.ts
  src/labels/event.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): add the web domain's first context entry
  .claude/context/index.md
  .claude/context/web.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): widen operator-call phrasing in plan-answer gate
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/records/validate.test.ts
  src/records/validate.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): correct the counts-reader decision's exec-call claim
  .claude/context/web.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): read the patch comment id as a literal, not a substitution
  claude/skills/claude-address-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): add the web domain's first context entry (#1507)
  .claude/context/index.md
  .claude/context/web.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(demo): add an opt-in gif derivation to demo run
  .cspell/project-terms.txt
  docs/agents/demo.md
  src/commands/demo.ts
  src/demo/container.test.ts
  src/demo/container.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(web): add the live agent view to the landing page
  scripts/core/regen-agent-fixture.sh
  web/e2e/home.spec.ts
  web/src/components/AgentView.astro
  web/src/content/copy.ts
  web/src/fixtures/agent-view.json
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(readme): move the parallel-sessions claim into a trust position
  .gitignore
  README.md
  demos/agent-view.gif
  demos/agent-view.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(web): publish the landing page to cloudflare pages
  .github/workflows/deploy-site.yml
Due: none

feat(governance): gate web/ with the landing page conventions
  .claude/rules/internal/claude/593-landing-page.md
  internal/rules/claude/593-landing-page.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): guard normalizeOperatorCall against already-canonical text
  src/records/validate.ts
  src/tasks/answers.test.ts
Due: none

feat(labels): add --body-file input to labels scan (#1508)
  claude/skills/claude-address-review/SKILL.md
  docs/agents/commands.md
  src/commands/labels.ts
  src/labels/event.test.ts
  src/labels/event.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): key screenshot capture by hostname, add prod smoke arm
  assets/captures/install-surface.html
  assets/install-surface.png
  assets/install-surface.stamp
  tooling/web/configs/e2e/screenshot.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(tooling): fix e2e concurrency, artifact reuse, and playwright cache
  tooling/astro/configs/playwright.config.ts
  tooling/astro/reference.md
  tooling/web/configs/.github/workflows/verify.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): document the playwright retry-default rationale
  tooling/vite-react/configs/playwright.config.ts
  web/playwright.config.ts
Due: none

docs(tooling): record the capture-determinism measurement and gotchas
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): widen operator-call phrasing in plan-answer gate (#1509)
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/records/validate.test.ts
  src/records/validate.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(web): rebuild the agent view against the surface it re-creates
  .claude/rules/internal/claude/593-landing-page.md
  README.md
  demos/agent-view.gif
  internal/rules/claude/593-landing-page.md
  scripts/core/regen-agent-fixture.sh
  web/e2e/home.spec.ts
  web/src/components/AgentView.astro
  web/src/content/copy.ts
  web/src/fixtures/agent-view.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): key capture by hostname and fix the CI seed pipeline (#1512)
  .claude/context/tooling.md
  assets/captures/install-surface.html
  assets/install-surface.png
  assets/install-surface.stamp
  tooling/astro/configs/playwright.config.ts
  tooling/astro/reference.md
  tooling/vite-react/configs/playwright.config.ts
  tooling/web/configs/.github/workflows/verify.yml
  tooling/web/configs/e2e/screenshot.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
  web/playwright.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.53.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.53.0 (#1511)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(web): pin the orchestrator and carry planners in the agent view
  .claude/rules/internal/claude/593-landing-page.md
  README.md
  demos/agent-view.gif
  demos/agent-view.json
  internal/rules/claude/593-landing-page.md
  scripts/core/regen-agent-fixture.sh
  web/e2e/home.spec.ts
  web/src/components/AgentView.astro
  web/src/content/copy.ts
  web/src/fixtures/agent-view.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): refresh the web and demo entries against this branch
  .claude/context/demo.md
  .claude/context/web.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(demo): stop the recorder drawing over its own subject
  .claude/context/demo.md
  demos/agent-view.gif
  demos/agent-view.json
  docs/agents/demo.md
  scripts/core/regen-agent-fixture.sh
  src/demo/drive.ts
  web/src/fixtures/agent-view.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): add a list verb for the folder catalog
  .claude/context/indexes.md
  .claude/hooks/index-reminder.sh
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/indexes.md
  src/commands/indexes.ts
  src/indexes/list.test.ts
  src/indexes/list.ts
  src/indexes/render.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(worktrees): document the planner's heredoc route past isolation
  .claude/ARCHITECTURE.md
  .claude/context/development/scratch.md
  .claude/rules/canon/core/085-worktrees.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-planner/SKILL.md
  governance/rules/core/085-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(demo): paint no pointer for a plan that points at nothing
  .claude/context/demo.md
  demos/agent-view.gif
  src/demo/drive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(planner): inline the hook-skip fact instead of a repo path
  claude/skills/claude-planner/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(indexes): add a list verb for the folder catalog (#1513)
  .claude/context/indexes.md
  .claude/hooks/index-reminder.sh
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/indexes.md
  src/commands/indexes.ts
  src/indexes/list.test.ts
  src/indexes/list.ts
  src/indexes/render.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(worktrees): document the planner's heredoc route past isolation (#1514)
  .claude/ARCHITECTURE.md
  .claude/context/development/scratch.md
  .claude/rules/canon/core/085-worktrees.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-planner/SKILL.md
  governance/rules/core/085-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

perf(demo): apply the gif palette without dithering
  .claude/context/demo.md
  demos/agent-view.gif
  docs/agents/demo.md
  src/demo/container.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(demo): give the dither saving as bytes rather than a fraction
  docs/agents/demo.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add skill pointers for assets, hooks, and internal rules
  .claude/skills/internal-governance/SKILL.md
  .claude/skills/internal-scripts/SKILL.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
