Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(transcripts): cover vtt parsing, metadata, and transcript writing
  tests/transcripts/fetch.test.ts
  tests/transcripts/metadata.test.ts
  tests/transcripts/vtt.test.ts
Due: none

docs(readme): list transcripts in the domain index
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(sandbox): drop comments from the transcripts shim scenario
  scripts/sandbox/claude/youtube-transcripts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(transcripts): add youtube transcript fetch command and skill (#534)
  .claude/REQUIREMENTS.md
  .cspell/tech-stack.txt
  README.md
  claude/skills/youtube-transcripts/SKILL.md
  docs/agents.md
  docs/claude.md
  docs/index.md
  docs/transcripts.md
  scripts/sandbox/claude/youtube-transcripts.sh
  src/cli.ts
  src/commands/transcripts.ts
  src/transcripts/fetch.ts
  src/transcripts/metadata.ts
  src/transcripts/vtt.ts
  tests/transcripts/fetch.test.ts
  tests/transcripts/metadata.test.ts
  tests/transcripts/vtt.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(vitest): colocate test files next to source modules
  src/slides/layouts.test.ts
  src/slides/parse.test.ts
  src/slides/render.test.ts
  src/transcripts/fetch.test.ts
  src/transcripts/metadata.test.ts
  src/transcripts/vtt.test.ts
  vitest.config.ts
Due: none

refactor(context): move per-domain docs into .claude/context
  .claude/context/ci.md
  .claude/context/claude.md
  .claude/context/design.md
  .claude/context/development.md
  .claude/context/extensions.md
  .claude/context/gemini.md
  .claude/context/governance.md
  .claude/context/index.md
  .claude/context/indexes.md
  .claude/context/prompts.md
  .claude/context/sandbox.md
  .claude/context/scripts.md
  .claude/context/slides.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/context/tooling.md
  .claude/context/transcripts.md
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-ask/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-governance/references/rule-audit.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
  README.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/youtube-transcripts/SKILL.md
  docs/agents.md
  docs/ai-workflow.md
  docs/index.md
  docs/target-projects.md
  wiki/claude-memory.md
  wiki/claude-worktrees.md
  wiki/skills-strategy.md
  wiki/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(docs): resolve .claude/context entries via aitk docs
  .claude/context/prompts.md
  .claude/context/snippets.md
  CLAUDE.md
  docs/agents.md
  scripts/docs/get.sh
  scripts/docs/list.sh
  scripts/sandbox/infra/docs.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(requirements): point domain architecture at .claude/context
  .claude/REQUIREMENTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(docs): drop INTERNAL_TOPICS comment
  scripts/docs/list.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(vitest): colocate test files next to source modules (#536)
  src/slides/layouts.test.ts
  src/slides/parse.test.ts
  src/slides/render.test.ts
  src/transcripts/fetch.test.ts
  src/transcripts/metadata.test.ts
  src/transcripts/vtt.test.ts
  vitest.config.ts
Due: none

feat(bootstrap): install deps, link CLI, and add shell aliases
  .claude/context/scripts.md
  README.md
  package.json
  scripts/core/bootstrap.sh
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(bootstrap): install deps, link CLI, and add shell aliases (#537)
  .claude/context/scripts.md
  README.md
  package.json
  scripts/core/bootstrap.sh
  wiki/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(prose): add rhythm guidance and scope default voice
  standards/prose.md
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(install): land standards and snippets under .claude/
  scripts/core/install-check.sh
  scripts/gov/install.sh
  scripts/lib/inject.sh
  scripts/manage-standards.sh
  scripts/manage-sync.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
  scripts/standards/list.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(check): mirror standards and snippets to committed .claude copies
  .claude/snippets/aitk/format-edits.md
  .claude/snippets/aitk/sandbox-worktree.md
  .claude/snippets/aitk/vocab-capture.md
  .claude/snippets/claude/feature-recap.md
  .claude/snippets/claude/figma-steps.md
  .claude/snippets/compact-summary.md
  .claude/snippets/create-snippet.md
  .claude/snippets/decision-help.md
  .claude/snippets/research-prompt.md
  .claude/snippets/session-notes.md
  .claude/snippets/step-by-step.md
  .claude/snippets/web-research.md
  .claude/standards/architecture.md
  .claude/standards/branch.md
  .claude/standards/changelog.md
  .claude/standards/commit.md
  .claude/standards/context.md
  .claude/standards/design.md
  .claude/standards/diagrams.md
  .claude/standards/index.md
  .claude/standards/pr.md
  .claude/standards/prose.md
  .claude/standards/readme.md
  .claude/standards/requirements.md
  .claude/standards/skill.md
  .claude/standards/snippets.md
  .claude/standards/tasks.md
  .claude/standards/versioning.md
  .claude/standards/wireframes.md
  scripts/core/regen-claude-copies.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add claude-standards-relocate migration skill
  claude/skills/claude-standards-relocate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): document .claude standards and snippets layout
  .claude/REQUIREMENTS.md
  .claude/context/claude.md
  .claude/context/design.md
  .claude/context/prompts.md
  .claude/context/sandbox.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/context/tooling.md
  CLAUDE.md
  docs/target-projects.md
  standards/snippets.md
  wiki/community-skills.md
  wiki/index.md
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): repoint fixtures to .claude standards and snippets
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): remove orphaned ollama reference page
  wiki/index.md
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): update claude code pages for current cli behavior
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-subagents.md
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add readme rule routing to the readme standard
  .claude/context/governance.md
  .claude/rules/claude/580-readme.md
  governance/rules/claude/580-readme.md
  governance/stacks/base.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): relocate installed reference docs under .claude/
  .claude/context/tooling.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(agents): add monorepo --skip base sync example
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(setup): add scaffold-to-first-feature onboarding steps
  docs/ai-workflow.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): drop placeholder wireframe seed for empty scaffold
  tooling/claude/seeds/.claude/wireframes/feature-name.md
  tooling/claude/seeds/.claude/wireframes/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): add --skip flag to drop a layer from the sync chain
  .claude/context/tooling.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  scripts/lib/inject.sh
  scripts/sandbox/infra/tooling.sh
  scripts/tooling/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): relocate reference docs and add --skip layer flag (#539)
  .claude/context/tooling.md
  claude/skills/setup-init/SKILL.md
  docs/agents.md
  docs/target-projects.md
  scripts/lib/inject.sh
  scripts/sandbox/infra/tooling.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(governance): add readme rule routing to the readme standard (#540)
  .claude/context/governance.md
  .claude/rules/claude/580-readme.md
  governance/rules/claude/580-readme.md
  governance/stacks/base.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): drop placeholder wireframe seed for empty scaffold (#541)
  tooling/claude/seeds/.claude/wireframes/feature-name.md
  tooling/claude/seeds/.claude/wireframes/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs: refresh wiki pages and add scaffold onboarding steps (#542)
  docs/ai-workflow.md
  docs/target-projects.md
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-subagents.md
  wiki/claude-worktrees.md
  wiki/index.md
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add create-rule skill for project-local rules
  .claude/context/claude.md
  .claude/context/governance.md
  claude/skills/create-rule/SKILL.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): strip framework specifics from create-rule examples
  claude/skills/create-rule/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add create-rule skill for project-local rules (#543)
  .claude/context/claude.md
  .claude/context/governance.md
  claude/skills/create-rule/SKILL.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add setup-plugins skill for community plugin installs
  .claude/context/claude.md
  claude/skills/setup-plugins/SKILL.md
  claude/skills/setup-plugins/references/plugin-catalog.md
  wiki/community-skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): resolve bash-script bundled ref via CLAUDE_SKILL_DIR
  claude/skills/bash-script/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): require CLAUDE_SKILL_DIR for bundled skill refs
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add setup-plugins skill for community plugin installs (#544)
  .claude/context/claude.md
  .claude/standards/skill.md
  claude/skills/bash-script/SKILL.md
  claude/skills/setup-plugins/SKILL.md
  claude/skills/setup-plugins/references/plugin-catalog.md
  standards/skill.md
  wiki/community-skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
