Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 3.48.0 (#1264)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(autoship): answer the review skip decision with a verb
  src/autoship/classify.test.ts
  src/autoship/classify.ts
  src/autoship/paths.ts
  src/cli.ts
  src/commands/autoship.ts
Due: none

feat(autoship): branch the ship chain on the classifier record
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(autoship): record the classifier move out of prose
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/review-classification.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(hero): name the CLI registration as a third count source
  .claude/context/development/gates.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(hero): recapture the frame at 36 commands
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

feat(gov): resolve every path a rule cites and gate on a dead one
  .claude/context/governance/citations.md
  .claude/context/governance/index.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/rule-citations.md
  scripts/core/verify.sh
  src/commands/gov.ts
  src/gov/citations.test.ts
  src/gov/citations.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): git-worktree cleanup skips a tree a live session holds
  .claude/context/sandbox/overview.md
  claude/skills/git-worktree/REQUIREMENT.md
  claude/skills/git-worktree/SKILL.md
  scripts/sandbox/claude/git-worktree.sh
  scripts/sandbox/fixtures/claude/git-worktree/cleanup/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): scope the default tree to the run provisioning it
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  .claude/context/sandbox/running.md
  scripts/lib/sandbox-path.sh
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/tree.test.ts
  src/sandbox/tree.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tasks): validate board row and table shape
  .claude/context/cli/audits.md
  .cspell/project-terms.txt
  docs/agents/commands.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): resolve an internal rule's frontmatter globs in one stage
  .claude/context/governance/citations.md
  .claude/context/governance/index.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/rule-citations.md
  scripts/core/verify.sh
  src/commands/gov.ts
  src/gov/citations.test.ts
  src/gov/citations.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(cli): list autoship in the help block beside its registration
  src/cli.ts
Due: none

fix(gov): anchor a glob finding on its own frontmatter entry
  src/gov/citations.test.ts
  src/gov/citations.ts
Due: none

fix(skills): bound the sandbox occupant record so it self-expires
  .claude/context/sandbox/overview.md
  scripts/sandbox/claude/git-worktree.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): recognize any per-run tree in the sandbox guard
  scripts/lib/sandbox-path.sh
  scripts/lib/ui.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(gov): resolve a standard against the root the verb itself reads
  .claude/context/governance/citations.md
  docs/agents/rule-citations.md
  src/commands/gov.ts
  src/gov/citations.test.ts
  src/gov/citations.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): git-worktree cleanup skips a tree a live session holds (#1266)
  .claude/context/sandbox/overview.md
  claude/skills/git-worktree/REQUIREMENT.md
  claude/skills/git-worktree/SKILL.md
  scripts/sandbox/claude/git-worktree.sh
  scripts/sandbox/fixtures/claude/git-worktree/cleanup/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): scope the default tree to the run provisioning it (#1267)
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  .claude/context/sandbox/running.md
  scripts/lib/sandbox-path.sh
  scripts/lib/ui.sh
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/tree.test.ts
  src/sandbox/tree.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.48.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.48.1 (#1270)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): search the whole cell for the ordinal phrase
  .claude/context/cli/audits.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): resolve every path a rule cites and every internal glob (#1269)
  .claude/context/governance/citations.md
  .claude/context/governance/index.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/rule-citations.md
  scripts/core/verify.sh
  src/commands/gov.ts
  src/gov/citations.test.ts
  src/gov/citations.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.49.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.49.0 (#1271)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): anchor the bare last ordinal to the cell's end
  .claude/context/cli/audits.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(autoship): move the review classifier from prose into a verb (#1265)
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/development/gates.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-autoship/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/review-classification.md
  docs/ai-workflow.md
  src/autoship/classify.test.ts
  src/autoship/classify.ts
  src/autoship/paths.ts
  src/cli.ts
  src/commands/autoship.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.50.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.50.0 (#1272)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): validate board row and table shape (#1268)
  .claude/context/cli/audits.md
  .cspell/project-terms.txt
  docs/agents/commands.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.51.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): give the receipt's lifetime to the chain that writes it
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-review/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.51.0 (#1273)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sessions): report a stalled worker via the status dwell
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/scripts/watch.sh
  docs/agents/sessions.md
  src/commands/sessions.ts
  src/sessions/claim.test.ts
  src/sessions/live.test.ts
  src/sessions/registry.ts
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
  src/worktrees/reclaim.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gate): report a stage that could not measure its input
  .claude/context/ci.md
  .claude/context/cli/audits.md
  .claude/context/development/gates.md
  docs/agents/gate.md
  docs/agents/markdown-audit.md
  src/commands/gate.ts
  src/gate/measures.ts
  src/gate/sequencer.test.ts
  src/gate/sequencer.ts
  src/process/verbs.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): give the receipt's lifetime to the chain that writes it (#1274)
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-review/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.51.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sessions): tab-separate watch.sh rows and fall back the dwell
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/scripts/watch.sh
  docs/agents/sessions.md
  src/commands/sessions.ts
  src/sessions/live.test.ts
  src/sessions/registry.ts
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.51.1 (#1277)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gate): correct comment claims and record how the port was verified
  .claude/context/development/gates.md
  .claude/context/scripts/core.md
  docs/agents/gate.md
  src/gate/sequencer.ts
  src/gate/stages.ts
  src/process/verbs.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
