Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(worker): announce the address-review pass and log pr creation (#1287)
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development/hooks.md
  .claude/hooks/pr-create-log.sh
  .claude/settings.json
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worker/SKILL.md
  docs/operating-model.md
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.56.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.56.0 (#1289)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): add the aitk to canon rename instrument
  src/cli.ts
  src/commands/migrate.ts
  src/migrate/apply.ts
  src/migrate/plan.test.ts
  src/migrate/plan.ts
  src/migrate/rename.test.ts
  src/migrate/rename.ts
Due: none

docs(agents): document the migrate rename verb
  docs/agents/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): refresh the hero for the added migrate command
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

feat(migrate): add the aitk to canon rename instrument (#1291)
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/commands.md
  src/cli.ts
  src/commands/migrate.ts
  src/migrate/apply.ts
  src/migrate/plan.test.ts
  src/migrate/plan.ts
  src/migrate/rename.test.ts
  src/migrate/rename.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.57.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.57.0 (#1292)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): resolve the stamp through both retired spellings
  src/commands/sync.ts
  src/sync/check.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/targets/sweep.test.ts
Due: none

feat(migrate): add the aitk to canon rename instrument
  src/cli.ts
Due: none

feat(package): publish as @erclx/canon with a canon binary
  bun.lock
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(migrate): record the rename verb and its exclusion set
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  docs/agents/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(migrate): keep the retired name resolving after the rename
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/context/development/scratch.md
  .claude/context/governance/rules.md
  .claude/context/scripts/core.md
  .claude/skills/internal-claude/REQUIREMENT.md
  .claude/skills/internal-claude/SKILL.md
  .cspell/project-terms.txt
  .gitignore
  claude/skills/canon-cli/REQUIREMENT.md
  docs/agents/context-audit-checks.md
  docs/agents/state-scoped-risk.md
  docs/ai-workflow.md
  scripts/core/check-skill-paths.sh
  scripts/lib/ui.sh
  scripts/sandbox/fixtures/claude/teach/lesson/expect.toml
  src/cli-run.ts
  src/context/architecture.ts
  src/sync/check.ts
  src/sync/stamp.ts
  src/targets/registry.test.ts
  src/targets/registry.ts
  src/ui.test.ts
  src/ui.ts
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(target-projects): name the plugin re-registration a rename needs
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(target-projects): clear both stale plugin keys explicitly
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): regenerate the hero and fix the migrate help binary
  assets/hero.png
  assets/hero.stamp
  src/commands/migrate.ts
Due: none

chore(main): release 4.0.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.0.0 (#1293)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(slides): report an unrecognized layout name on render
  .claude/context/slides.md
  docs/agents/commands.md
  src/commands/slides.ts
  src/slides/layouts.test.ts
  src/slides/layouts.ts
  src/slides/render.test.ts
  src/slides/render.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(targets): report the retired stamp per checkout, add --record
  .claude/context/cli/sync.md
  docs/agents/targets.md
  src/commands/targets.ts
  src/targets/registry.test.ts
  src/targets/registry.ts
  src/targets/resolve.test.ts
  src/targets/resolve.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the claude-planner role and its dispatch shape
  .claude/context/claude-internal/index.md
  .claude/context/claude-internal/orchestration.md
  README.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-planner/REQUIREMENT.md
  claude/skills/claude-planner/SKILL.md
  docs/ai-workflow.md
  docs/index.md
  docs/operating-model.md
  src/claude/cases/claude-workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): audit a written plan for banned words in claude-feature
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record the split disable-model-invocation reading
  .claude/context/claude-plugin/skill-lifecycle.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): measure the disable-model-invocation route
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(slides): pluralize the unrecognized-layout stderr line
  src/commands/slides.ts
  src/slides/layouts.test.ts
Due: none

fix(targets): distinguish a failed write, cover the folder stamp
  src/commands/targets.test.ts
  src/commands/targets.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
Due: none

fix(claude): correct the autoship route count to four sessions
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(slides): report an unrecognized layout name on render (#1294)
  .claude/context/slides.md
  docs/agents/commands.md
  src/commands/slides.ts
  src/slides/layouts.test.ts
  src/slides/layouts.ts
  src/slides/render.test.ts
  src/slides/render.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.1.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(targets): render a failed backfill write as an error, not warn
  src/commands/targets.ts
Due: none

chore(main): release 4.1.0 (#1297)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(targets): report the retired stamp per checkout, add --record (#1295)
  .claude/context/cli/sync.md
  docs/agents/targets.md
  src/commands/targets.test.ts
  src/commands/targets.ts
  src/targets/registry.test.ts
  src/targets/registry.ts
  src/targets/resolve.test.ts
  src/targets/resolve.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the claude-planner role and its dispatch shape (#1296)
  .claude/context/claude-internal/index.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-lifecycle.md
  README.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-planner/REQUIREMENT.md
  claude/skills/claude-planner/SKILL.md
  docs/ai-workflow.md
  docs/index.md
  docs/operating-model.md
  src/claude/cases/claude-workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.2.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.2.0 (#1298)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(pr): give two uncovered paths a label-map row
  .claude/canon/pr-labels.toml
Due: none

test(labels): cover the map's newest rows against a fixture
  src/labels/coverage.test.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
