Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(hooks): reclaim a merged branch's worktree from post-merge (#1365)
  .claude/context/cli/commands.md
  .claude/context/development/hooks.md
  .husky/post-merge
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/worktrees.md
  package.json
  src/commands/worktrees.test.ts
  src/commands/worktrees.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.20.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(teach): state the inline svg diagram convention in lesson-craft (#1366)
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/claude-teach/references/lesson-craft.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scratch): address review on the parity test and stale citation
  .claude/hooks/scratch-guard.sh
  src/scratch-parity.test.ts
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.20.0 (#1371)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): key every head-sensitive read on the resolved tip
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(pr): resolve a head and its check runs from the branch tip
  src/cli.ts
  src/commands/pr.ts
  src/pr/checks.test.ts
  src/pr/checks.ts
  src/pr/head.test.ts
  src/pr/head.ts
  src/targets/pulls.ts
Due: none

test(sandbox): stage an arm whose object head trails the branch tip
  scripts/sandbox/claude/address-review.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(pr): say that matched counts runs rather than distinct checks
  docs/agents/pr-reads.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): record the sha-keyed reads and the object lag they close
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/commands.md
  .claude/context/sandbox/running.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/pr-reads.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): drop the unresolvable citations from the new reference page
  docs/agents/pr-reads.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): drop the unresolvable citations from the poll runbook
  .claude/context/cli/commands.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  docs/agents/pr-reads.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scratch): ignore the guard hook's fallback scratch path (#1368)
  .claude/ARCHITECTURE.md
  .claude/context/context-model.md
  .claude/context/development/scratch.md
  .claude/hooks/scratch-guard.sh
  .claude/rules/core/055-scratch.md
  .gitignore
  governance/rules/core/055-scratch.md
  src/scratch-parity.test.ts
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.20.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(context): normalize the spacing the conflict resolution left
  .claude/context/cli/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.20.1 (#1372)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(pr): key head-sensitive reads on the resolved branch tip (#1367)
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/commands.md
  .claude/context/sandbox/running.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-ship/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/pr-reads.md
  docs/operating-model.md
  scripts/sandbox/claude/address-review.sh
  src/cli.ts
  src/commands/pr.ts
  src/pr/checks.test.ts
  src/pr/checks.ts
  src/pr/head.test.ts
  src/pr/head.ts
  src/targets/pulls.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.21.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.21.0 (#1373)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): group the workflow pages under a folder
  docs/index.md
  docs/workflow/ai-workflow.md
  docs/workflow/index.md
  docs/workflow/operating-model.md
  docs/workflow/visual-design-workflow.md
  docs/workflow/zshrc-aliases.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(citations): retarget the links the workflow move deepened
  CONTRIBUTING.md
  README.md
  docs/target-projects.md
  wiki/claude/claude-design.md
  wiki/claude/claude-worktrees.md
  wiki/tools/stitch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(docs): resolve a sub-area file by its bare name
  scripts/docs/list.sh
  src/docs/read.test.ts
  src/docs/read.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the third depth reading and what a move strands
  .claude/context/claude-internal/discovery.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/context-model.md
  .claude/context/design.md
  .claude/context/development/gates.md
  .claude/context/standards/resolution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): state the sub-area spelling and its precedence
  docs/agents/docs.md
  scripts/sandbox/infra/docs.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(docs): retarget the sibling links the workflow move deepened
  docs/workflow/ai-workflow.md
  docs/workflow/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): read the whole branch in the review selection
  .claude/context/claude-plugin/skill-baseline.md
  claude/skills/claude-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): stage a bug in each half of the review arm
  scripts/sandbox/claude/review.sh
  scripts/sandbox/fixtures/claude/review/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): record which commit the auto-commit flag gates
  .claude/context/sandbox/authoring.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(docs): group the workflow pages and widen the topic readers (#1369)
  .claude/context/claude-internal/discovery.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/context-model.md
  .claude/context/design.md
  .claude/context/development/gates.md
  .claude/context/standards/resolution.md
  CONTRIBUTING.md
  README.md
  docs/agents/docs.md
  docs/index.md
  docs/target-projects.md
  docs/workflow/ai-workflow.md
  docs/workflow/index.md
  docs/workflow/operating-model.md
  docs/workflow/visual-design-workflow.md
  docs/workflow/zshrc-aliases.md
  scripts/docs/list.sh
  scripts/sandbox/infra/docs.sh
  src/docs/read.test.ts
  src/docs/read.ts
  wiki/claude/claude-design.md
  wiki/claude/claude-worktrees.md
  wiki/tools/stitch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.22.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.22.0 (#1375)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): fail a push on a reference a target cannot resolve
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: none

fix(shipped): qualify the references a target reader cannot resolve
  claude/skills/claude-docs/references/anchor-sweep.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/references/source-material.md
  docs/agents/context-audit-checks.md
  docs/agents/key-changes.md
  docs/agents/markdown-audit.md
  docs/agents/superseded.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(publish): state the qualified form and mark its illustrations
  .claude/context/development/gates.md
  claude/skills/claude-diagram/SKILL.md
  docs/agents/skills-audit.md
  standards/diagrams.md
  standards/publish.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): read the whole branch in the review selection (#1374)
  .claude/context/claude-plugin/skill-baseline.md
  .claude/context/sandbox/authoring.md
  claude/skills/claude-review/SKILL.md
  scripts/sandbox/claude/review.sh
  scripts/sandbox/fixtures/claude/review/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.22.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(git): pull the shared base-candidate order into git-base.ts
  .claude/context/cli/overview.md
  src/git-base.test.ts
  src/git-base.ts
  src/git-files.ts
  src/gov/test-order.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.22.1 (#1376)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(shipped): name the digit-run false positive the sha pattern admits
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: none

feat(gate): fail a push on a reference a target reader cannot resolve (#1377)
  .claude/context/development/gates.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/references/anchor-sweep.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/references/source-material.md
  docs/agents/context-audit-checks.md
  docs/agents/key-changes.md
  docs/agents/markdown-audit.md
  docs/agents/skills-audit.md
  docs/agents/superseded.md
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
  standards/diagrams.md
  standards/publish.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
