Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): gate a headless run on its declared expectation
  scripts/sandbox/run.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): declare the docs drift arm expectation
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): document the expectation format and verdict
  .claude/context/cli.md
  .claude/context/sandbox.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): stop a verdict reporting more coverage than it had
  .claude/context/sandbox.md
  docs/agents.md
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): score a scenario run against a declared expectation (#620)
  .claude/context/cli.md
  .claude/context/sandbox.md
  docs/agents.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

perf(verify): scope shell, types, and tests to changed files
  package.json
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(hooks): add dev-command reminder pointing at the context entry
  .claude/hooks/dev-command-reminder.sh
  .claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): document scoped verification and the dev-command hook
  .claude/context/ci.md
  .claude/context/development.md
  .claude/context/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): add a drift report behind 'aitk sync --check'
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
Due: none

feat(sync): stamp installed files and attribute drift by cause
  src/commands/gov.ts
  src/commands/snippets.ts
  src/commands/standards.ts
  src/gov/adapter.ts
  src/snippets/adapter.ts
  src/standards/adapter.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
Due: none

docs(sync): document the install stamp and the drift report
  .claude/context/cli.md
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): print --help usage and match hook payload in one jq pass
  .claude/context/ci.md
  .claude/context/development.md
  .claude/hooks/dev-command-reminder.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sync): anchor the stamp per domain and derive covers
  .claude/context/cli.md
  docs/agents.md
  docs/target-projects.md
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): lint .claude/hooks so the scoped shell gate asserts
  .claude/context/development.md
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

perf(verify): scope shell, types, and tests to changed files (#621)
  .claude/context/ci.md
  .claude/context/development.md
  .claude/context/scripts.md
  .claude/hooks/dev-command-reminder.sh
  .claude/settings.json
  package.json
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): attribute toolkit drift with an install stamp (#622)
  .claude/context/cli.md
  docs/agents.md
  docs/target-projects.md
  src/commands/gov.ts
  src/commands/snippets.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/gov/adapter.ts
  src/snippets/adapter.ts
  src/standards/adapter.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record gh credential prerequisites
  .claude/context/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): clone and push the anchor over https
  .cspell/tech-stack.txt
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/address-review.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/git/followup.sh
  scripts/sandbox/git/issue.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(indexes): skip the git add on a path git ignores
  docs/agents.md
  src/commands/indexes.ts
  src/indexes/walk.test.ts
  src/indexes/walk.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): seed the task board as a folder of one file per task
  .claude/hooks/tasks-index.sh
  .claude/settings.json
  .gitignore
  src/claude/gitignore.test.ts
  src/claude/seeds-list.test.ts
  src/claude/seeds.test.ts
  src/claude/seeds.ts
  src/commands/claude.ts
  tooling/claude/manifest.toml
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
  tooling/claude/seeds/.claude/settings.json
  tooling/claude/seeds/.claude/tasks/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): rewrite the tasks standard for one file per task
  .claude/rules/claude/555-tasks.md
  .claude/standards/index.md
  .claude/standards/tasks.md
  .claude/standards/versioning.md
  claude/skills/claude-roadmap/references/roadmap.md
  governance/rules/claude/555-tasks.md
  standards/bundled/roadmap.md
  standards/index.md
  standards/tasks.md
  standards/versioning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): read the task board from its folder index
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-roadmap/SKILL.md
  claude/skills/claude-screencast/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/session-resume/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): document the task board folder and its regen hook
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/development.md
  .claude/context/indexes.md
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
  docs/ai-workflow.md
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
  wiki/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): move task fixtures to the board folder shape
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/groundwork.sh
  scripts/sandbox/claude/memory.sh
  scripts/sandbox/claude/orchestrate.sh
  scripts/sandbox/claude/screencast.sh
  scripts/sandbox/claude/ux-audit.sh
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/v01.0-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/v02.0-multi-user.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
  scripts/sandbox/tooling/claude.sh
  src/sandbox/expect.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): reset inherited credential helpers, disable prompts
  .claude/context/sandbox.md
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): document the board upgrade path and archive owner
  .claude/context/claude-plugin.md
  .claude/hooks/tasks-index.sh
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  standards/tasks.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): clone and push the anchor over https (#623)
  .claude/context/sandbox.md
  .cspell/tech-stack.txt
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/claude/address-review.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/git/followup.sh
  scripts/sandbox/git/issue.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/infra/sync.sh
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): read the diff before deciding which tasks shipped
  claude/skills/claude-docs/SKILL.md
  scripts/sandbox/claude/docs.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): record diff-sourced marking and shared plan citations
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record the issue label, worktree, and plan handoff rules
  .claude/context/claude-internal.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): drop the unexecutable direct-commit instruction
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move the orchestrator rules to their owning surfaces
  .claude/context/claude-internal.md
  CLAUDE.md
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(orchestrate): drop the redundant board-edit boundary
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): read commits and skip writes when no baseline resolves
  .claude/context/claude-plugin.md
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move the orchestrator rules to their owning surfaces (#627)
  .claude/context/claude-internal.md
  CLAUDE.md
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): scope the write steps to the tree instead of skipping them
  .claude/context/claude-plugin.md
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): explain why the write steps skip the commit read
  .claude/context/claude-plugin.md
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): read the diff before deciding which tasks shipped (#626)
  .claude/context/claude-plugin.md
  claude/skills/claude-docs/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/docs.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): key review comment bodies on the pull request number
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
