Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(spell): add terms for the hero template and skills catalog
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
Due: none

feat(claude): list the plugin skill catalog as json
  src/claude/skills-list.test.ts
  src/claude/skills-list.ts
  src/commands/claude.ts
Due: none

feat(hero): generate the readme frame from the live catalogs
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/scripts.md
  .prettierignore
  README.md
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
  docs/agents.md
  scripts/core/regen-hero.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): admit a skill requirement by what the body omits
  .claude/context/claude-plugin/skills.md
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): cut provenance and plan sequencing from the skills entry
  .claude/context/claude-plugin/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): admit a skill requirement by what the body omits (#748)
  .claude/context/claude-plugin/skills.md
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.27.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): declare what each claude-tasks path leaves behind
  scripts/sandbox/fixtures/claude/tasks/archive/expect.toml
  scripts/sandbox/fixtures/claude/tasks/create/expect.toml
Due: none

feat(sandbox): stage a task board for both claude-tasks paths
  scripts/sandbox/claude/tasks.sh
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/.tmp/plans-archive/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/priority.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/src/store.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/02-rate-limit/create/src/rate-limit.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/02-rate-limit/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-csv-export.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-search.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/priority.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/src/store.ts.fixture
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the claude-tasks sandbox arms
  .claude/context/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.27.0 (#749)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): fix the board headings and what admits a task to each
  .claude/standards/index.md
  .claude/standards/tasks.md
  standards/index.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hero): warm the palette and lead with the install command
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
  assets/install.html
  assets/install.png
Due: none

feat(claude): give three internal skills a requirement, verdict eight
  .claude/context/claude-internal.md
  .claude/skills/aitk-claude/REQUIREMENT.md
  .claude/skills/aitk-scripts/REQUIREMENT.md
  .claude/skills/aitk-standards/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): arm claude-tasks with create and archive scenarios (#750)
  .claude/context/sandbox.md
  scripts/sandbox/claude/tasks.sh
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/.tmp/plans-archive/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/priority.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/01-initial/create/src/store.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/02-rate-limit/create/src/rate-limit.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/02-rate-limit/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/archive/expect.toml
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-csv-export.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/plans/feature-search.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/priority.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/create/01-initial/create/src/store.ts.fixture
  scripts/sandbox/fixtures/claude/tasks/create/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.28.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hero): drop the version and assert the image ships with its html
  .claude/context/cli.md
  .claude/context/development.md
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
  scripts/core/regen-hero.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.28.0 (#753)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): correct the aitk-standards verdict on docs coverage
  .claude/context/claude-internal.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): fix the columns each readiness group carries
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hero): generate the readme hero from the live catalogs (#747)
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/scripts.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  .prettierignore
  README.md
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
  assets/install.html
  assets/install.png
  docs/agents.md
  scripts/core/regen-hero.sh
  scripts/core/verify.sh
  src/claude/skills-list.test.ts
  src/claude/skills-list.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): fix the board headings and what admits a task to each (#751)
  .claude/standards/index.md
  .claude/standards/tasks.md
  standards/index.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): scope three internal skills with a requirement file (#752)
  .claude/context/claude-internal.md
  .claude/skills/aitk-claude/REQUIREMENT.md
  .claude/skills/aitk-scripts/REQUIREMENT.md
  .claude/skills/aitk-standards/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.29.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.29.0 (#754)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): ban a change narrative from a context entry
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): report provenance markers in the audit
  .claude/context/cli.md
  docs/agents.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): rewrite the two entries carrying accumulated provenance
  .claude/context/claude-plugin/skills.md
  .claude/context/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): confine memory review cleanup to receipts
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(context): pin the frontmatter exclusion in the provenance scan
  docs/agents.md
  src/context/audit.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): ban a change narrative from an entry and report it (#755)
  .claude/context/claude-plugin/skills.md
  .claude/context/cli.md
  .claude/context/sandbox.md
  .claude/standards/context.md
  docs/agents.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.30.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.30.0 (#757)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): scope cleanup delete to the tested receipt
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): confine memory review cleanup to receipts (#756)
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.30.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.30.1 (#758)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(eval): state which ref keeps a subject commit reachable
  .claude/context/scripts.md
  scripts/eval/ledger.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): scope three target-facing skills with a requirement file
  .claude/context/claude-plugin/skills.md
  claude/skills/migration-context/REQUIREMENT.md
  claude/skills/setup-gov/REQUIREMENT.md
  claude/skills/setup-init/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): measure depth in rendered lines and weight the exemption
  .cspell/project-terms.txt
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
