Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.99.1 (#1010)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): set the resume ceiling from an unconstrained run
  .cspell/project-terms.txt
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): cite the runner on why a near-cap count says nothing
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
Due: none

feat(claude): add a teaching workspace for cross-session learning (#1008)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/standards/index.md
  .claude/standards/teach.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  .gitignore
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-teach/REQUIREMENT.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  claude/skills/claude-teach/references/pedagogy.md
  docs/agents/records.md
  docs/ai-workflow.md
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/open/expect.toml
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
  src/records/backup.ts
  src/records/validate.test.ts
  src/records/validate.ts
  standards/index.md
  standards/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.100.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.100.0 (#1011)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): open the heading at any finding and state it once
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
  scripts/sandbox/claude/pr-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(teach): add a CLI resolving the workspace root in-process
  src/cli.ts
  src/commands/teach.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: none

refactor(records): read the workspace shape from the teach module
  src/records/validate.ts
Due: none

feat(claude): route the teach skill's in-file writes through verbs
  claude/skills/claude-teach/REQUIREMENT.md
  claude/skills/claude-teach/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(teach): document the command surface and refresh the counts
  .claude/context/cli/commands.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(markdown): ship the ban sets and checkpoints as data
  .cspell/banned-spellings.txt
  cspell.json
  src/commands/markdown.ts
  src/markdown/bans.test.ts
  src/markdown/bans.ts
  src/markdown/structure.test.ts
  src/markdown/structure.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): report a run that reached no ban set
  .claude/hooks/standards-audit.sh
  scripts/core/verify.sh
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): drop the parser contract from prose
  .claude/standards/prose.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(audit): record the move off parsed prose
  .claude/ARCHITECTURE.md
  .claude/context/cli/audits.md
  .claude/context/development/gates.md
  docs/agents/markdown-audit.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): stop the severity ladder claiming nobody acts on a minor
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): record the verb route both teach arms stopped covering
  scripts/sandbox/fixtures/claude/teach/open/expect.toml
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
Due: none

feat(teach): add a command surface for learning workspaces (#1013)
  .claude/context/cli/commands.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-teach/REQUIREMENT.md
  claude/skills/claude-teach/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/teach.md
  scripts/sandbox/fixtures/claude/teach/open/expect.toml
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
  src/cli.ts
  src/commands/teach.ts
  src/records/validate.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): open the heading at any finding and state it once (#1012)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
  scripts/sandbox/claude/pr-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.101.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cspell): state the banned-spellings membership rule and assert it
  .claude/context/development/verification.md
  .cspell/banned-spellings.txt
  cspell.json
  src/markdown/bans.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.101.0 (#1015)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(markdown): ship the ban sets and checkpoints as data (#1014)
  .claude/ARCHITECTURE.md
  .claude/context/cli/audits.md
  .claude/context/development/gates.md
  .claude/context/development/verification.md
  .claude/hooks/standards-audit.sh
  .claude/standards/prose.md
  .cspell/banned-spellings.txt
  cspell.json
  docs/agents/markdown-audit.md
  docs/target-projects.md
  scripts/core/verify.sh
  src/commands/markdown.ts
  src/hooks-guard.test.ts
  src/markdown/bans.test.ts
  src/markdown/bans.ts
  src/markdown/structure.test.ts
  src/markdown/structure.ts
  standards/prose.md
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tasks): account a task file against the board and the backlog
  src/commands/tasks.ts
  src/tasks/archive.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

feat(standards): order the unplanned group and add a backlog surface
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): teach the board readers about the second surface
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/agents/index.md
  docs/agents/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): give the glossary its own shape contract
  .claude/standards/glossary.md
  .claude/standards/index.md
  .claude/standards/teach.md
  .cspell/project-terms.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  standards/glossary.md
  standards/index.md
  standards/teach.md
  wiki/concepts/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): propose where a durable page belongs
  claude/skills/claude-teach/REQUIREMENT.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/promotion.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(docs): fold a confirmed promotion into its destination
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): drive one promote proposal
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/promote/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(teach): record the promotion pass and its handoff
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/standards/per-standard.md
  claude/skills/claude-teach/SKILL.md
  docs/agents/teach.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): emit the backlog count on the validate JSON record
  src/commands/tasks.ts
Due: none

test(sandbox): record the measured promote run and its hook write
  .claude/ARCHITECTURE.md
  scripts/sandbox/fixtures/claude/teach/promote/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): cover the reserved-stem guard and bound the blocker cell
  .claude/standards/tasks.md
  src/tasks/validate.test.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): order the unplanned group and add a backlog surface (#1016)
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/standards/tasks.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/agents/index.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/archive.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.102.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.102.0 (#1018)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): promote a durable page out of a learning workspace (#1017)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/standards/per-standard.md
  .claude/standards/glossary.md
  .claude/standards/index.md
  .claude/standards/teach.md
  .cspell/project-terms.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-teach/REQUIREMENT.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/promotion.md
  docs/agents/teach.md
  docs/ai-workflow.md
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/promote/expect.toml
  standards/glossary.md
  standards/index.md
  standards/teach.md
  wiki/concepts/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.103.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the package-corpus standards read
  .claude/context/sandbox/coverage.md
  scripts/sandbox/fixtures/infra/standards/read/expect.toml
  scripts/sandbox/infra/standards.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
