Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(git-pr): cite the pull request standard through its resolving path
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record two session gotchas from this ship
  .claude/context/claude-internal/orchestration.md
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): correct the process a port-squatting gotcha names
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(git-pr): cite the pull request standard through its resolving path (#1533)
  .claude/context/claude-internal/orchestration.md
  .claude/context/development/verification.md
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.57.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.57.0 (#1530)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): state the .canon/ placement test for skill output
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): route draft-and-pick output into a live groundwork track
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/draft-and-pick/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): walk every link in a blocker cell for the cited task
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

feat(plan): carry the deviation-rewrite into executing bodies
  .claude/rules/canon/core/005-behavior.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-worker/SKILL.md
  governance/rules/core/005-behavior.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): report node and python dependency state independently
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/dual-root/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add wiki authoring standard
  .claude/context/standards/destinations.md
  .claude/rules/internal/claude/597-wiki.md
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/hero.png
  assets/hero.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  internal/rules/claude/597-wiki.md
  standards/index.md
  standards/wiki.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): point draft-and-pick's later steps at Step 1's dest
  claude/skills/draft-and-pick/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): skip an empty link target when finding a bare pointer
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

feat(setup-init): invoke setup-indexes and name the project edge
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/setup-init/REQUIREMENT.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  scripts/sandbox/claude/setup-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(plan): drop the operator-call qualifier from the rewrite rule
  .claude/rules/canon/core/005-behavior.md
  governance/rules/core/005-behavior.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): keep draft-and-pick from deleting cited evidence
  claude/skills/draft-and-pick/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): name the ecosystem in each installed dependency line
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scratch): resolve claude-pr-review's tmp write at main root
  .claude/context/development/scratch.md
  .claude/rules/canon/core/055-scratch.md
  .claude/rules/canon/core/085-worktrees.md
  claude/skills/claude-pr-review/SKILL.md
  governance/rules/core/055-scratch.md
  governance/rules/core/085-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): name the wiki standard alongside markdown and write-human
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): state the .canon/ placement test and evidence route (#1534)
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/draft-and-pick/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): walk every link in a blocker cell for the cited task (#1535)
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

feat(plan): carry the deviation-rewrite into executing bodies (#1536)
  .claude/rules/canon/core/005-behavior.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-worker/SKILL.md
  governance/rules/core/005-behavior.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): report node and python dependency state independently (#1538)
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/dual-root/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.58.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.58.0 (#1540)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add wiki authoring standard (#1537)
  .claude/context/standards/destinations.md
  .claude/rules/internal/claude/597-wiki.md
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/hero.png
  assets/hero.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  internal/rules/claude/597-wiki.md
  standards/index.md
  standards/wiki.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(setup-init): stop claiming an outcome setup-indexes never states
  claude/skills/setup-init/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scratch): narrow 055-scratch's pointer to what 085 states
  .claude/rules/canon/core/055-scratch.md
  governance/rules/core/055-scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(setup-init): invoke setup-indexes and name the project edge (#1539)
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/setup-init/REQUIREMENT.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  scripts/sandbox/claude/setup-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(scratch): resolve claude-pr-review's tmp write at main root (#1541)
  .claude/context/development/scratch.md
  .claude/rules/canon/core/055-scratch.md
  .claude/rules/canon/core/085-worktrees.md
  claude/skills/claude-pr-review/SKILL.md
  governance/rules/core/055-scratch.md
  governance/rules/core/085-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.59.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.59.0 (#1542)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): hand a row to a live orchestrator rather than write it
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-groundwork/REQUIREMENT.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-tasks/REQUIREMENT.md
  claude/skills/claude-tasks/SKILL.md
  docs/agents/tasks.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): ignore nextjs build output
  .claude/context/tooling.md
  tooling/nextjs/manifest.toml
  tooling/nextjs/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(memory): resolve routing append at the main worktree root
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(labels): skip title format grade when a scan carries no title
  src/commands/labels.test.ts
  src/commands/labels.ts
Due: none

fix(tasks): report an unplaced task instead of failing the board
  claude/skills/claude-tasks/REQUIREMENT.md
  claude/skills/claude-tasks/SKILL.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(ci): add merge_group trigger for a future merge queue
  .claude/context/ci.md
  .github/workflows/verify.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(memory): resolve routing append at the main worktree root (#1544)
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
