Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(prompts): refine prompt template instructions
  scripts/templates/master-prompt-chat.template
Due: none

docs(governance): add shadcn to framework list
  docs/GOVERNANCE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add shadcn/ui rules and update tailwind css standards (#150)
  .cspell/project-terms.txt
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  docs/GOVERNANCE.md
  gemini/commands/gov/rules.toml
  scripts/templates/master-prompt-chat.template
  scripts/templates/rules.toml.template
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): clarify section header usage in bash scripts
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): remove log_step for concise section headers
  scripts/core/snapshot.sh
  tooling/base/configs/scripts/snapshot.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(workflow): update node planning standards
  .cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(templates): remove verification instructions from prompt template
  scripts/templates/master-prompt-chat.template
Due: none

chore(dev-apply): refine agent apply instructions
  gemini/commands/dev/apply.toml
Due: none

style(templates): update prompt template headings to h2
  scripts/templates/master-prompt-chat.template
Due: none

chore(dev-apply): add file list to apply command report
  gemini/commands/dev/apply.toml
Due: none

fix(sandbox): remove trailing space from model name
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(dev-apply): add file write test scenario
  scripts/sandbox/dev/apply.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add review prompt template
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/REVIEW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): update tool mapping summary table and gov rule note
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): remove deprecated dev:setup and tooling:review commands (#154)
  docs/SANDBOX.md
  docs/TOOLING.md
  gemini/README.md
  gemini/commands/dev/setup.toml
  gemini/commands/tooling/review.toml
  scripts/sandbox/dev/setup.sh
  scripts/sandbox/infra/cursor.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(gemini): ignore user-owned settings file
  .gitignore
Due: none

docs(tooling): align with gemini user-owned settings
  docs/PROMPTS.md
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add 'gov install' command for rule stacks
  scripts/install-gov.sh
  scripts/manage-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): change sync to update based on target's files
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(gov): make 'install-gov.sh' executable
  scripts/install-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(gov): clarify install path in confirmation prompt
  scripts/install-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(gov): update for install/sync workflow
  docs/GOVERNANCE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): add 'gov install' to commands table
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gov): update readme for new gov workflow
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): remove deleted /gov:rules command
  gemini/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(gov): remove rule compilation system (#156)
  .cursor/stacks/base.toml
  .cursor/stacks/node.toml
  .cursor/stacks/python.toml
  .cursor/stacks/react.toml
  .gemini/settings.json
  README.md
  docs/GOVERNANCE.md
  docs/PROMPTS.md
  docs/TOOLING.md
  docs/WORKFLOW.md
  gemini/README.md
  gemini/commands/gov/rules.toml
  scripts/build-gov.sh
  scripts/install-gov.sh
  scripts/manage-gov.sh
  scripts/sync-gov.sh
  scripts/templates/rules.toml.template
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add standards sync command
  scripts/manage-standards.sh
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): update standards sync documentation
  README.md
  docs/GOVERNANCE.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add install command and interactive picker
  scripts/manage-standards.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): add install command to workflow docs
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(scripts): refactor sync output logging
  scripts/manage-standards.sh
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(toolkit): document standards commands and gov sync behavior
  docs/PROMPTS.md
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add install and sync commands (#157)
  README.md
  docs/GOVERNANCE.md
  docs/PROMPTS.md
  docs/TOOLING.md
  docs/WORKFLOW.md
  scripts/install-gov.sh
  scripts/manage-standards.sh
  scripts/manage-test.sh
  scripts/sync-gov.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): move scripts into dedicated subdirectory
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/manage-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(gov): update script paths in structure diagram
  docs/GOVERNANCE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): log applied files during sync
  scripts/gov/sync.sh
  scripts/manage-standards.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): log applied files during sync (#158)
  docs/GOVERNANCE.md
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/manage-gov.sh
  scripts/manage-standards.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): modularize tooling script by command
  scripts/manage-tooling.sh
  scripts/tooling/ref.sh
  scripts/tooling/scaffold.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): resolve parent stack references during sync
  scripts/tooling/ref.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(cli): align docs with interactive script changes
  README.md
  docs/TOOLING.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
