Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

test(sandbox): set the board-sweep ceiling from an observed run
  .claude/context/sandbox.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): sweep plans board-wide and cap the board surfaces (#635)
  .claude/context/claude-plugin.md
  .claude/context/sandbox.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/src/rate-limit.ts.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/02-pagination/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): require a run result on pr testing boxes
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): align git-pr testing rules with the pr standard
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): require a run result on pr testing boxes (#636)
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add REQUIREMENT.md spec and skill consult-first rule
  .claude/context/claude-plugin.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/standards/skill.md
  .cspell/project-terms.txt
  governance/rules/claude/570-skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add gap-form requirements for five shipped skills
  claude/skills/claude-feature/REQUIREMENT.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-standards-audit/REQUIREMENT.md
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/git-commit/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): cut duplicated and drift-prone lines from three skills
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/git-commit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): sync the consumed rule copy and cut an unreachable line
  .claude/rules/claude/570-skill.md
  claude/skills/claude-standards-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add REQUIREMENT.md and audit five skills against it (#637)
  .claude/context/claude-plugin.md
  .claude/rules/claude/570-skill.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/standards/skill.md
  .cspell/project-terms.txt
  claude/skills/claude-feature/REQUIREMENT.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-standards-audit/REQUIREMENT.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/git-commit/REQUIREMENT.md
  claude/skills/git-commit/SKILL.md
  governance/rules/claude/570-skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): state a success criterion for context entries
  .claude/standards/context.md
  standards/bundled/standard.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): add the standards authoring test harness
  .cspell/project-terms.txt
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/fixture.tar.gz
  scripts/standards/authoring-test/pre-registration.md
  scripts/standards/authoring-test/result-context.md
  scripts/standards/authoring-test/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the criterion and change-control rule
  .claude/context/context-model.md
  .claude/context/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(skill): regenerate create-standard references
  claude/skills/create-standard/references/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(scripts): rename armdir to arm_dir for spell check
  scripts/standards/authoring-test/run.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(standards): scope criterion rollout and mark the run record verbatim
  .claude/context/scripts.md
  claude/skills/create-standard/references/standard.md
  scripts/standards/authoring-test/pre-registration.md
  scripts/standards/authoring-test/result-context.md
  scripts/standards/authoring-test/run.sh
  standards/bundled/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): state a success criterion for context entries (#639)
  .claude/context/context-model.md
  .claude/context/scripts.md
  .claude/context/standards.md
  .claude/standards/context.md
  .cspell/project-terms.txt
  claude/skills/create-standard/references/standard.md
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/fixture.tar.gz
  scripts/standards/authoring-test/pre-registration.md
  scripts/standards/authoring-test/result-context.md
  scripts/standards/authoring-test/run.sh
  standards/bundled/standard.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add a success criterion to the wireframes standard
  .claude/standards/wireframes.md
  .cspell/project-terms.txt
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/result-wireframes.md
  scripts/standards/authoring-test/run.sh
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(scripts): recover every artifact and correct the flag rationale
  .claude/standards/wireframes.md
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/result-wireframes.md
  scripts/standards/authoring-test/run.sh
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add a success criterion to the wireframes standard (#640)
  .claude/standards/wireframes.md
  .cspell/project-terms.txt
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/result-wireframes.md
  scripts/standards/authoring-test/run.sh
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tasks): link origin lines and resolve targets before routing
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/v01.0-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the link form and citation count rule
  .claude/context/claude-plugin.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add requirements for the eight git-* skills
  .claude/context/claude-plugin.md
  claude/skills/git-branch/REQUIREMENT.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-issue/REQUIREMENT.md
  claude/skills/git-pr/REQUIREMENT.md
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-split/REQUIREMENT.md
  claude/skills/git-stage/REQUIREMENT.md
  claude/skills/git-worktree/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): state a success criterion for skill requirements
  .claude/context/standards.md
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skill): match merged branches without git's worktree decoration
  claude/skills/git-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(skill): lowercase the git-branch H1
  claude/skills/git-branch/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): compare resolved plan targets and link the drift unit test
  .claude/context/claude-plugin.md
  claude/skills/claude-docs/SKILL.md
  src/sandbox/expect.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skill): detect the current worktree from git toplevel
  claude/skills/git-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): link origin lines and resolve targets before routing (#641)
  .claude/context/claude-plugin.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
  scripts/sandbox/fixtures/claude/docs/drift/01-initial/create/.claude/tasks/v01.0-postgres-migration.md.fixture
  scripts/sandbox/fixtures/claude/docs/drift/expect.toml
  src/sandbox/expect.test.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add requirements across the git-* family (#642)
  .claude/context/claude-plugin.md
  .claude/context/standards.md
  .claude/standards/skill.md
  claude/skills/git-branch/REQUIREMENT.md
  claude/skills/git-branch/SKILL.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-issue/REQUIREMENT.md
  claude/skills/git-pr/REQUIREMENT.md
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-split/REQUIREMENT.md
  claude/skills/git-stage/REQUIREMENT.md
  claude/skills/git-worktree/REQUIREMENT.md
  claude/skills/git-worktree/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add a write-time conform policy to the context rule
  .claude/context/governance.md
  .claude/rules/claude/510-context.md
  governance/rules/claude/510-context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): correct the tier premise and the setup heading collision
  .claude/context/claude-internal.md
  .claude/context/context-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(groundwork): link sources, reserve 08, permit bounded spikes
  .cspell/project-terms.txt
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(groundwork): record the spike permission and fixture path
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(groundwork): move headless spike fixtures outside the repository
  .claude/context/claude-plugin.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): announce closed tasks after a merge
  .cspell/tech-stack.txt
  .husky/post-merge
  tooling/base/configs/.husky/post-merge
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): record the post-merge trigger in the board lifecycle
  .claude/context/claude-plugin.md
  .claude/context/development.md
  claude/skills/claude-tasks/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add a write-time conform policy to the context rule (#644)
  .claude/context/claude-internal.md
  .claude/context/context-model.md
  .claude/context/governance.md
  .claude/rules/claude/510-context.md
  governance/rules/claude/510-context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(groundwork): require source links and permit bounded spikes (#645)
  .claude/context/claude-plugin.md
  .cspell/project-terms.txt
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-groundwork/references/folder-format.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): gate archiving on main and cover rebase pulls
  .claude/context/claude-plugin.md
  .claude/context/development.md
  .husky/post-merge
  .husky/post-rewrite
  claude/skills/claude-tasks/SKILL.md
  docs/ai-workflow.md
  tooling/base/configs/.husky/post-merge
  tooling/base/configs/.husky/post-rewrite
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
