Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): add missing blank line before a heading
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): drive the session map skill from a cold project (#1110)
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/running.md
  scripts/sandbox/claude/session-map.sh
  scripts/sandbox/fixtures/claude/session-map/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): gate skill creation on a written existence test (#1111)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/rules/claude/570-skill.md
  .claude/standards/skill.md
  .cspell/project-terms.txt
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/create-skill/SKILL.md
  governance/rules/claude/570-skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): count the instructions stated on more than one surface (#1112)
  .claude/context/cli/audits.md
  .cspell/project-terms.txt
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/restated.md
  src/audits/catalog.ts
  src/cli.ts
  src/commands/gov.ts
  src/gov/restated.test.ts
  src/gov/restated.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.9.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.9.0 (#1114)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): drop unused clean and update scripts from base
  claude/skills/toolkit-cli/SKILL.md
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(cli): add the aitk census command
  src/census/count.test.ts
  src/census/count.ts
  src/cli.ts
  src/commands/census.ts
Due: none

feat(audits): register the census as a catalog spec
  src/audits/catalog.test.ts
  src/audits/catalog.ts
Due: none

docs(agents): document the census command and add its command row
  docs/agents/audits.md
  docs/agents/census.md
  docs/agents/commands.md
  docs/agents/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the census's headline totals and scope
  .claude/context/cli/audits.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): regenerate the hero for the new command count
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

fix(tooling): sync check description across base docs
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): drop unused clean and update scripts from base (#1115)
  claude/skills/toolkit-cli/SKILL.md
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(census): document skipped as binary-or-unreadable, cover both
  .claude/context/cli/audits.md
  docs/agents/census.md
  src/census/count.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): add the aitk census command (#1116)
  .claude/context/cli/audits.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/audits.md
  docs/agents/census.md
  docs/agents/commands.md
  docs/agents/index.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/census/count.test.ts
  src/census/count.ts
  src/cli.ts
  src/commands/census.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.10.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.10.0 (#1117)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): mark the bundled fan-out retired
  .claude/ARCHITECTURE.md
  .claude/context/standards/authoring.md
  .claude/context/standards/destinations.md
  .claude/context/standards/index.md
  .claude/context/standards/overview.md
  .claude/context/standards/per-standard.md
  .claude/context/standards/resolution.md
  .claude/context/standards/scope.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): fix stale bundled fan-out references
  .claude/context/ci.md
  .claude/context/claude-plugin/skill-body-size.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development/gates.md
  .claude/context/development/verification.md
  .claude/context/sandbox/authoring.md
  .claude/context/scripts/core.md
  .claude/context/scripts/lib.md
  .claude/context/snippets.md
  wiki/concepts/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): flatten six bundled standards to the flat root
  .claude/skills/aitk-snippets/SKILL.md
  .claude/standards/branch.md
  .claude/standards/commit.md
  .claude/standards/glossary.md
  .claude/standards/index.md
  .claude/standards/issue.md
  .claude/standards/pr.md
  .claude/standards/snippets.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/git-branch/SKILL.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-split/references/branch.md
  claude/skills/git-split/references/pr.md
  claude/skills/git-stage/SKILL.md
  claude/skills/git-stage/references/commit.md
  scripts/core/check-skill-paths.sh
  scripts/core/regen-skill-references.sh
  scripts/core/verify.sh
  src/records/validate.ts
  standards/branch.md
  standards/commit.md
  standards/glossary.md
  standards/index.md
  standards/issue.md
  standards/pr.md
  standards/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(audits): write parseable records on every refusal path
  .claude/context/cli/audits.md
  docs/agents/audits.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/claude/skills-audit.ts
  src/commands/claude.ts
  src/commands/comments.ts
  src/commands/context.ts
  src/commands/exit-code.test.ts
  src/commands/gov.ts
  src/commands/markdown.ts
  src/context/audit.ts
  src/gov/test-order.test.ts
  src/gov/test-order.ts
  src/markdown/files.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): fix remaining stale bundled fan-out references
  .claude/context/cli/audits.md
  docs/agents/records.md
  docs/agents/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): report a PR comment posted under an unmatched heading
  .cspell/tech-stack.txt
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  src/orchestrate-poll.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the review-poll heading fix and its gotchas
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): document the markdown-propose skill
  .claude/context/claude-plugin/skill-strategy.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add claude-markdown-propose skill
  .gitignore
  claude/skills/claude-markdown-propose/REQUIREMENT.md
  claude/skills/claude-markdown-propose/SKILL.md
  claude/skills/claude-markdown-propose/references/format.md
  src/records/backup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add markdown-propose arm
  scripts/sandbox/claude/markdown-propose.sh
  scripts/sandbox/fixtures/claude/markdown-propose/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(assets): regenerate hero for the new skill count
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

docs(claude): carry the third question into the requirement
  claude/skills/claude-markdown-propose/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(audits): enumerate every catalog verb's refusal shape
  src/commands/exit-code.test.ts
Due: none

refactor(review): drop the unneeded heading space encoding
  claude/skills/claude-orchestrate/scripts/poll.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(audits): write parseable records on every refusal path (#1119)
  .claude/context/cli/audits.md
  docs/agents/audits.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/claude/skills-audit.ts
  src/commands/claude.ts
  src/commands/comments.ts
  src/commands/context.ts
  src/commands/exit-code.test.ts
  src/commands/gov.ts
  src/commands/markdown.ts
  src/context/audit.ts
  src/gov/test-order.test.ts
  src/gov/test-order.ts
  src/markdown/files.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add claude-markdown-propose skill (#1120)
  .claude/context/claude-plugin/skill-strategy.md
  .gitignore
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-markdown-propose/REQUIREMENT.md
  claude/skills/claude-markdown-propose/SKILL.md
  claude/skills/claude-markdown-propose/references/format.md
  docs/ai-workflow.md
  scripts/sandbox/claude/markdown-propose.sh
  scripts/sandbox/fixtures/claude/markdown-propose/expect.toml
  src/records/backup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.11.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.11.0 (#1122)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): report a PR comment posted under an unmatched heading (#1121)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development/verification.md
  .cspell/tech-stack.txt
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  src/orchestrate-poll.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.11.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.11.1 (#1123)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
