Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 4.44.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.44.0 (#1477)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wireframes): transcribe the three teach page layouts (#1472)
  .claude/wireframes/index.md
  .claude/wireframes/teach/chrome.md
  .claude/wireframes/teach/contents.md
  .claude/wireframes/teach/index.md
  .claude/wireframes/teach/lesson.md
  .claude/wireframes/teach/root.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-docs/references/wireframe-sweep.md
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.45.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add plan-link verb to write a task's Plan: line
  .claude/context/development/gates.md
  claude/skills/claude-feature/SKILL.md
  docs/agents/commands.md
  docs/agents/tasks.md
  scripts/sandbox/claude/feature.sh
  src/commands/tasks.ts
  src/tasks/archive.ts
  src/tasks/record.test.ts
  src/tasks/record.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(docs): format commands.md table and narrow gates.md edit
  docs/agents/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.45.0 (#1478)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): reach verify's end-to-end stage on both stacks (#1475)
  .claude/context/tooling.md
  .cspell/tech-stack.txt
  scripts/tooling/verify.sh
  tooling/base/seeds/.cspell/tech-stack.txt
  tooling/vite-react/seeds/.cspell/tech-stack.txt
  tooling/web/manifest.toml
  tooling/web/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.45.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.45.1 (#1479)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add plan-link verb to write a task's Plan: line (#1474)
  .claude/context/development/gates.md
  claude/skills/claude-feature/SKILL.md
  docs/agents/commands.md
  docs/agents/tasks.md
  scripts/sandbox/claude/feature.sh
  src/commands/tasks.ts
  src/tasks/archive.ts
  src/tasks/record.test.ts
  src/tasks/record.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.46.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.46.0 (#1480)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(inventory): declare routes and the focus subject for this repo
  .claude/context/inventory.md
  inventory.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): fold address-review's closing confirmation into the reply
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-address-review/SKILL.md
  scripts/sandbox/claude/address-review.sh
  src/orchestrate-poll.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(versioning): scope the backticked carve-out to its one check
  .claude/context/ci.md
  standards/versioning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): widen claude-ux-audit's wireframe citations
  claude/skills/claude-ux-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): give the records sweep an ownership and tense boundary
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: none

docs(inventory): explain why the declared routes go stale elsewhere
  .claude/context/inventory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(ci): fix which shape the #1311 counterexample carries
  .claude/context/ci.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): target address-review's reply by id, not --edit-last
  .cspell/tech-stack.txt
  claude/skills/claude-address-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(versioning): scope the backticked carve-out to its one check (#1481)
  .claude/context/ci.md
  standards/versioning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): widen claude-ux-audit's wireframe citations (#1484)
  claude/skills/claude-ux-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): give the records sweep an ownership and tense boundary (#1485)
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: none

chore(main): release 4.47.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.47.0 (#1486)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(inventory): declare routes and the focus subject for this repo (#1482)
  .claude/context/inventory.md
  inventory.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): fold address-review's closing confirmation into the reply (#1483)
  .claude/context/claude-plugin/skill-review.md
  .cspell/tech-stack.txt
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-address-review/SKILL.md
  scripts/sandbox/claude/address-review.sh
  src/orchestrate-poll.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.48.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.48.0 (#1487)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(canon): add CONTRIBUTING.md and inventory.toml to label map
  .claude/canon/pr-labels.toml
Due: none

fix(autoship): name the branch in the missing-plan stop message
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): name the resolvable near match on archive refusal
  src/tasks/archive.test.ts
  src/tasks/archive.ts
Due: none

docs(standards): permit transcription wireframes to cite their source
  .claude/context/standards/index.md
  .claude/context/standards/per-standard.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): widen context citations to nested domains
  .claude/context/context-model.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/migration-claude-md/SKILL.md
  claude/skills/migration-context/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): resolve verify's Sync phase against the checkout
  .claude/context/scripts/lib.md
  .claude/context/tooling.md
  scripts/tooling/verify.sh
  src/tooling-verify.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

perf(gate): time every stage and audit spawn
  src/audits/baseline.test.ts
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/commands/gate.ts
  src/gate/sequencer.test.ts
  src/gate/sequencer.ts
Due: none

fix(autoship): drop the plan-vs-task claim the ladder contradicts
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(audits): add a --corpus filter to audits run
  src/audits/run.test.ts
  src/audits/run.ts
  src/commands/audits.ts
Due: none

fix(gate): exclude the upstream corpus and bound the deps timeout
  src/deps/audit.test.ts
  src/deps/audit.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
Due: none
