Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(screenshot): guard exit trap kill against an already-exited pid
  .claude/context/scripts/lib.md
  .claude/context/tooling.md
  src/screenshot-trap.test.ts
  tooling/web/configs/scripts/screenshot.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(web): add the live agent view and deploy the landing page (#1510)
  .claude/context/demo.md
  .claude/context/web.md
  .claude/rules/internal/claude/593-landing-page.md
  .cspell/project-terms.txt
  .github/workflows/deploy-site.yml
  .gitignore
  README.md
  demos/agent-view.gif
  demos/agent-view.json
  docs/agents/demo.md
  internal/rules/claude/593-landing-page.md
  scripts/core/regen-agent-fixture.sh
  src/commands/demo.ts
  src/demo/container.test.ts
  src/demo/container.ts
  src/demo/drive.ts
  web/e2e/home.spec.ts
  web/src/components/AgentView.astro
  web/src/content/copy.ts
  web/src/fixtures/agent-view.json
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): add context-draft and wireframe-draft skills
  .claude/context/claude-plugin/skill-strategy.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/context-draft/REQUIREMENT.md
  claude/skills/context-draft/SKILL.md
  claude/skills/wireframe-draft/REQUIREMENT.md
  claude/skills/wireframe-draft/SKILL.md
  docs/workflow/ai-workflow.md
  src/claude/cases/authoring.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): review shipped-corpus edits for self-only references
  .claude/context/claude-internal/skills.md
  .claude/rules/internal/claude/598-authoring-layout.md
  .claude/skills/internal-shipped-reference/REQUIREMENT.md
  .claude/skills/internal-shipped-reference/SKILL.md
  claude/skills/canon-cli/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/create-standard/SKILL.md
  claude/skills/youtube-transcripts/SKILL.md
  internal/rules/claude/598-authoring-layout.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): keep an audience-branched context citation
  .claude/skills/internal-shipped-reference/SKILL.md
  claude/skills/create-standard/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add skill pointers for assets, hooks, and internal rules (#1516)
  .claude/skills/internal-governance/SKILL.md
  .claude/skills/internal-scripts/SKILL.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(screenshot): guard exit trap kill against an already-exited pid (#1517)
  .claude/context/scripts/lib.md
  .claude/context/tooling.md
  src/screenshot-trap.test.ts
  tooling/web/configs/scripts/screenshot.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.54.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.54.0 (#1515)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add context-draft and wireframe-draft skills (#1518)
  .claude/context/claude-plugin/skill-strategy.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/context-draft/REQUIREMENT.md
  claude/skills/context-draft/SKILL.md
  claude/skills/wireframe-draft/REQUIREMENT.md
  claude/skills/wireframe-draft/SKILL.md
  docs/workflow/ai-workflow.md
  src/claude/cases/authoring.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): review shipped-corpus edits for self-only references (#1519)
  .claude/context/claude-internal/skills.md
  .claude/rules/internal/claude/598-authoring-layout.md
  .claude/skills/internal-shipped-reference/REQUIREMENT.md
  .claude/skills/internal-shipped-reference/SKILL.md
  claude/skills/canon-cli/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/create-standard/SKILL.md
  claude/skills/youtube-transcripts/SKILL.md
  internal/rules/claude/598-authoring-layout.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add index-lookup for topic search over index catalogs
  .claude/context/indexes.md
  .claude/hooks/index-reminder.sh
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/index-lookup/REQUIREMENT.md
  claude/skills/index-lookup/SKILL.md
  docs/workflow/ai-workflow.md
  src/claude/cases/misc.ts
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): add index-lookup for topic search over index catalogs (#1521)
  .claude/context/indexes.md
  .claude/hooks/index-reminder.sh
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/index-lookup/REQUIREMENT.md
  claude/skills/index-lookup/SKILL.md
  docs/workflow/ai-workflow.md
  src/claude/cases/misc.ts
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.55.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.55.0 (#1520)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(labels): add web domain to pull request label map
  .claude/canon/pr-labels.toml
Due: none

feat(tasks): add plan-branch, one derivation of a branch from a plan
  src/commands/tasks.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
  src/tasks/branch.test.ts
  src/tasks/branch.ts
Due: none

docs(standards): widen the branch description cap to four words
  standards/branch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): derive the dispatch and worktree branch from one verb
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): record the plan-branch verb and the cap decision
  .claude/context/claude-internal/orchestration.md
  .claude/context/standards/per-standard.md
  docs/agents/index.md
  docs/agents/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): add nextjs stack extending web
  .claude/context/tooling.md
  .cspell/tech-stack.txt
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/hero.png
  assets/hero.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  claude/skills/canon-cli/SKILL.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  tooling/nextjs/configs/eslint.config.js
  tooling/nextjs/configs/next.config.ts
  tooling/nextjs/configs/playwright.config.ts
  tooling/nextjs/configs/vitest.config.ts
  tooling/nextjs/manifest.toml
  tooling/nextjs/reference.md
  tooling/nextjs/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(labels): add web domain to pull request label map (#1522)
  .claude/canon/pr-labels.toml
Due: none

fix(skills): say why a constant branch type is safe, not that it renames
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worktree/SKILL.md
  docs/agents/tasks.md
  src/tasks/branch.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): fail a push on a landing-page README citation that drifted
  .claude/context/development/gates.md
  .claude/context/web.md
  .claude/rules/internal/claude/593-landing-page.md
  internal/rules/claude/593-landing-page.md
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
  src/web/readme-citations.test.ts
  src/web/readme-citations.ts
  web/src/content/copy.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): derive a branch name from a plan through one verb (#1523)
  .claude/context/claude-internal/orchestration.md
  .claude/context/standards/per-standard.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worktree/SKILL.md
  docs/agents/index.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
  src/tasks/branch.test.ts
  src/tasks/branch.ts
  standards/branch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): add nextjs stack extending web (#1524)
  .claude/context/tooling.md
  .cspell/tech-stack.txt
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/hero.png
  assets/hero.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  claude/skills/canon-cli/SKILL.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  tooling/nextjs/configs/eslint.config.js
  tooling/nextjs/configs/next.config.ts
  tooling/nextjs/configs/playwright.config.ts
  tooling/nextjs/configs/vitest.config.ts
  tooling/nextjs/manifest.toml
  tooling/nextjs/reference.md
  tooling/nextjs/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gate): check a quoted phrase even on a marked README citation
  .claude/rules/internal/claude/593-landing-page.md
  internal/rules/claude/593-landing-page.md
  src/web/readme-citations.test.ts
  src/web/readme-citations.ts
  web/src/content/copy.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): fail a push on a landing-page README citation that drifted (#1526)
  .claude/context/development/gates.md
  .claude/context/web.md
  .claude/rules/internal/claude/593-landing-page.md
  internal/rules/claude/593-landing-page.md
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
  src/web/readme-citations.test.ts
  src/web/readme-citations.ts
  web/src/content/copy.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.56.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.56.0 (#1525)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wireframes): narrow copy rule to structural text
  .claude/context/standards/index.md
  .claude/context/standards/per-standard.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(screenshot): kill whatever holds the preview port on exit
  .claude/context/tooling.md
  src/screenshot-trap.test.ts
  tooling/web/configs/scripts/screenshot.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(wireframes): require trimming a block once a citation exists
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wireframes): narrow copy rule to structural text (#1527)
  .claude/context/standards/index.md
  .claude/context/standards/per-standard.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(screenshot): guard the port kill against a missing lsof
  .claude/context/tooling.md
  src/screenshot-trap.test.ts
  tooling/web/configs/scripts/screenshot.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(screenshot): kill whatever holds the preview port on exit (#1529)
  .claude/context/tooling.md
  src/screenshot-trap.test.ts
  tooling/web/configs/scripts/screenshot.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gate): fail a push on a bare standards/ path under claude/skills/
  .claude/context/development/gates.md
  .claude/rules/internal/claude/598-authoring-layout.md
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
  claude/skills/context-draft/SKILL.md
  claude/skills/docs-draft/SKILL.md
  claude/skills/wireframe-draft/SKILL.md
  internal/rules/claude/598-authoring-layout.md
  src/gate/measures.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(labels): gate a pull request title and commit subject format
  .claude/context/development/verification.md
  .claude/context/standards/per-standard.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-pr/SKILL.md
  commitlint.config.js
  commitlint.config.test.ts
  docs/agents/commands.md
  src/commands/labels.ts
  src/labels/format.test.ts
  src/labels/format.ts
  tooling/base/configs/commitlint.config.js
  vitest.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(labels): gate a pull request title and commit subject format (#1532)
  .claude/context/development/verification.md
  .claude/context/standards/per-standard.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-pr/SKILL.md
  commitlint.config.js
  commitlint.config.test.ts
  docs/agents/commands.md
  src/commands/labels.ts
  src/labels/format.test.ts
  src/labels/format.ts
  tooling/base/configs/commitlint.config.js
  vitest.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): fail a push on a bare standards/ path under claude/skills/ (#1531)
  .claude/context/development/gates.md
  .claude/rules/internal/claude/598-authoring-layout.md
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
  claude/skills/context-draft/SKILL.md
  claude/skills/docs-draft/SKILL.md
  claude/skills/wireframe-draft/SKILL.md
  internal/rules/claude/598-authoring-layout.md
  src/gate/measures.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
