Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(skills): drop unreachable mappings from the standards audit (#736)
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-standards-audit/references/branch.md
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/branch.md
  claude/skills/git-split/references/pr.md
  standards/bundled/branch.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): report which skills a run can pass or fail (#737)
  .claude/context/cli.md
  .claude/context/sandbox.md
  docs/agents.md
  scripts/sandbox/exempt.toml
  src/commands/sandbox.ts
  src/sandbox/census.test.ts
  src/sandbox/census.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.23.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.23.0 (#738)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): require a scope declaration in every standard
  .claude/standards/standard.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): declare jurisdiction in every authored standard
  .claude/standards/architecture.md
  .claude/standards/context.md
  .claude/standards/design.md
  .claude/standards/diagrams.md
  .claude/standards/prose.md
  .claude/standards/readme.md
  .claude/standards/requirements.md
  .claude/standards/rule.md
  .claude/standards/skill.md
  .claude/standards/tasks.md
  .claude/standards/versioning.md
  .claude/standards/wireframes.md
  claude/skills/claude-roadmap/references/roadmap.md
  claude/skills/create-standard/references/snippets.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-commit/references/commit.md
  claude/skills/git-issue/references/issue.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/branch.md
  claude/skills/git-split/references/pr.md
  claude/skills/git-stage/references/commit.md
  standards/architecture.md
  standards/bundled/branch.md
  standards/bundled/commit.md
  standards/bundled/issue.md
  standards/bundled/pr.md
  standards/bundled/roadmap.md
  standards/bundled/snippets.md
  standards/context.md
  standards/design.md
  standards/diagrams.md
  standards/prose.md
  standards/readme.md
  standards/requirements.md
  standards/rule.md
  standards/skill.md
  standards/tasks.md
  standards/versioning.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the scope contract and the alternative it beat
  .claude/context/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): require a named owner on every scope exclusion
  .claude/context/standards.md
  .claude/standards/readme.md
  .claude/standards/rule.md
  .claude/standards/skill.md
  .claude/standards/standard.md
  claude/skills/create-standard/references/snippets.md
  claude/skills/git-commit/references/commit.md
  claude/skills/git-issue/references/issue.md
  claude/skills/git-stage/references/commit.md
  standards/bundled/commit.md
  standards/bundled/issue.md
  standards/bundled/snippets.md
  standards/readme.md
  standards/rule.md
  standards/skill.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.24.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.24.0 (#740)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): give two shared procedures standards of their own
  .claude/standards/branch-slug.md
  .claude/standards/index.md
  .claude/standards/pre-publish.md
  .claude/standards/prose.md
  .claude/standards/skill.md
  standards/branch-slug.md
  standards/index.md
  standards/pre-publish.md
  standards/prose.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): point the branch scope line at the slug standard
  claude/skills/git-branch/references/branch.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-split/references/branch.md
  standards/bundled/branch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): retarget procedure citations at the new standards
  .claude/skills/aitk-claude/SKILL.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the shared-procedure standard split
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skills.md
  .claude/context/governance.md
  .claude/context/standards.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): recover drift attribution from toolkit git history
  src/sync/history.test.ts
  src/sync/history.ts
Due: none

fix(sync): stop reporting recovered drift as unattributed
  src/commands/sync.ts
Due: none

feat(sync): attribute unstamped drift through the history fallback
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
Due: none

docs(sync): document the unstamped attribution fallback
  .claude/context/cli.md
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): strip git resolution vars from the history lookup
  src/sync/engine.test.ts
  src/sync/history.test.ts
  src/sync/history.ts
Due: none

fix(skills): execute the setup-init chain straight after the preview
  claude/skills/setup-init/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): arm the seed-sync and setup-init fresh scenarios
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): drop the retired GOV.md from setup-init expectations
  scripts/sandbox/claude/setup-init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): state which skills earn a declared expectation
  .claude/context/sandbox.md
  docs/agents.md
  scripts/sandbox/exempt.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): publish the paths each standard governs
  .claude/context/standards.md
  .claude/standards/standard.md
  docs/agents.md
  scripts/standards/list.sh
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(standards): anchor the skill standard's governed paths
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): audit a file against every standard that declares it
  .claude/context/claude-plugin/skills.md
  claude/skills/claude-standards-audit/SKILL.md
  scripts/sandbox/claude/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): shorten the two procedure standards to one word
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skills.md
  .claude/context/governance.md
  .claude/context/standards.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/standards/index.md
  .claude/standards/prose.md
  .claude/standards/publish.md
  .claude/standards/skill.md
  .claude/standards/slug.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-split/references/branch.md
  docs/target-projects.md
  standards/bundled/branch.md
  standards/index.md
  standards/prose.md
  standards/publish.md
  standards/skill.md
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): arm the two scenarios the blast-radius rule reaches (#743)
  .claude/context/sandbox.md
  claude/skills/setup-init/SKILL.md
  docs/agents.md
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/claude/setup-init.sh
  scripts/sandbox/exempt.toml
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): attribute unstamped drift from toolkit git history (#742)
  .claude/context/cli.md
  docs/agents.md
  docs/target-projects.md
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/sync/history.test.ts
  src/sync/history.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.25.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): drop generated fan-out copies from the audit scope
  .claude/context/standards.md
  claude/skills/claude-standards-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): declare the attribute in the first scope sentence
  .claude/standards/publish.md
  .claude/standards/slug.md
  standards/publish.md
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.25.0 (#745)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): pair the fan-out drop rule with its location
  .claude/context/standards.md
  claude/skills/claude-standards-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): restore the scope phrase the applies-to parser matches
  .claude/standards/publish.md
  .claude/standards/slug.md
  standards/publish.md
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): give two shared procedures standards of their own (#741)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skills.md
  .claude/context/governance.md
  .claude/context/standards.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/standards/index.md
  .claude/standards/prose.md
  .claude/standards/publish.md
  .claude/standards/skill.md
  .claude/standards/slug.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-split/references/branch.md
  docs/target-projects.md
  standards/bundled/branch.md
  standards/index.md
  standards/prose.md
  standards/publish.md
  standards/skill.md
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): map a changed file to every standard that governs it (#744)
  .claude/context/claude-plugin/skills.md
  .claude/context/standards.md
  .claude/standards/skill.md
  .claude/standards/standard.md
  claude/skills/claude-standards-audit/SKILL.md
  docs/agents.md
  scripts/sandbox/claude/standards-audit.sh
  scripts/standards/list.sh
  standards/skill.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.26.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.26.0 (#746)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
