Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(governance): consolidate ui rules and trim react stack
  docs/governance.md
  governance/rules/ui/400-ui.mdc
  governance/rules/ui/410-a11y.mdc
  governance/stacks/planner.toml
  governance/stacks/python.toml
  governance/stacks/react.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add UX completeness rule and move UI rules to 400 range (#338)
  docs/ai-workflow.md
  docs/governance.md
  governance/rules/ui/400-ui.mdc
  governance/rules/ui/410-a11y.mdc
  governance/rules/ui/420-forms.mdc
  governance/rules/ui/430-ux-completeness.mdc
  governance/stacks/planner.toml
  governance/stacks/python.toml
  governance/stacks/react.toml
  prompts/cursor-rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add setup command to manage-claude.sh
  scripts/manage-claude.sh
  scripts/sandbox/infra/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(spellcheck): add statusline to tech-stack dictionary
  .cspell/tech-stack.txt
Due: none

feat(claude): wire setup command into manage-claude.sh (#339)
  .cspell/tech-stack.txt
  scripts/manage-claude.sh
  scripts/sandbox/infra/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): revise prose rules and audit all standards
  .cspell/tech-stack.txt
  standards/changelog.md
  standards/prose.md
  standards/readme.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(prompts): add ci-workflow and antigravity-workflow prompts
  .claude/skills/aitk-antigravity/SKILL.md
  docs/antigravity.md
  docs/prompts.md
  prompts/antigravity-workflow.md
  prompts/ci-workflow.md
  prompts/prompts.toml
  standards/antigravity.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(standards): remove comments and ci standards
  docs/standards.md
  gemini/commands/dev/comment.toml
  standards/ci.md
  standards/comments.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add prose influences page
  wiki/index.md
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(docs): sync docs and skills after standards revision
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  docs/prompts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(wiki): remove bun page with general docs content
  wiki/bun.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): replace enumerated lists with rule references
  .claude/skills/aitk-prompts/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): use standard reference for branch types
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): revise prose rules and reorganize standards (#340)
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .cspell/tech-stack.txt
  claude/skills/git-pr/SKILL.md
  docs/antigravity.md
  docs/prompts.md
  docs/standards.md
  gemini/commands/dev/comment.toml
  prompts/antigravity-workflow.md
  prompts/ci-workflow.md
  prompts/prompts.toml
  standards/antigravity.md
  standards/changelog.md
  standards/ci.md
  standards/comments.md
  standards/prose.md
  standards/readme.md
  standards/skill.md
  wiki/bun.md
  wiki/index.md
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(statusline): use real context size from ollama
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(cspell): add ollama to tech stack and update snippets
  .cspell/tech-stack.txt
  docs/snippets.md
  snippets/claude/ollama-search.md
  snippets/claude/research-prompt.md
  snippets/compact-summary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add ollama integration guide
  wiki/index.md
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(statusline): use real context size from ollama (#341)
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): expand ollama index description
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add ollama integration guide and snippets (#342)
  .cspell/tech-stack.txt
  docs/snippets.md
  snippets/claude/ollama-search.md
  snippets/claude/research-prompt.md
  snippets/compact-summary.md
  wiki/index.md
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): preserve folder structure on install and sync
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): update snippets fixture to preserve folder structure
  scripts/sandbox/infra/snippets.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(snippets): update paths and remove flat-install references
  .claude/skills/aitk-snippets/SKILL.md
  docs/scripts.md
  docs/snippets.md
  standards/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): preserve folder structure on install and sync (#343)
  .claude/skills/aitk-snippets/SKILL.md
  docs/scripts.md
  docs/snippets.md
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/create.sh
  scripts/snippets/install.sh
  scripts/snippets/sync.sh
  standards/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add non-interactive mode to 'ask' and 'select_option'
  scripts/lib/ui.sh
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): wire 'SANDBOX_SCENARIO' into all infra scenario scripts
  scripts/sandbox/infra/antigravity.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/prompts.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): document non-interactive invocation pattern
  CLAUDE.md
  docs/sandbox.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): fix prose violations in non-interactive section
  docs/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add non-interactive scenario execution (#344)
  CLAUDE.md
  docs/sandbox.md
  docs/scripts.md
  scripts/lib/ui.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/infra/antigravity.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/prompts.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add navigation index
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add index routing rules and tighten wiki and seed
  CLAUDE.md
  docs/standards.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(prompts): add navigation index and install it on deploy
  docs/prompts.md
  prompts/index.md
  scripts/prompts/install.sh
  scripts/sandbox/infra/prompts.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(index): add navigation indexes for standards and prompts (#345)
  CLAUDE.md
  docs/prompts.md
  docs/standards.md
  prompts/index.md
  scripts/prompts/install.sh
  scripts/sandbox/infra/prompts.sh
  standards/index.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(ship): rephrase description to remove colon
  antigravity/workflows/git-ship.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(ship): rephrase description to remove colon (#346)
  antigravity/workflows/git-ship.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(git-split): add stacked branch mode to split skill
  antigravity/workflows/git-split.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(snippets): remove ollama-search snippet
  snippets/claude/ollama-search.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): remove ollama-search from snippet index
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(git-split): add stacked branch mode to split skill (#347)
  antigravity/workflows/git-split.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(snippets): remove ollama-search snippet (#348)
  docs/snippets.md
  snippets/claude/ollama-search.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
