Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 4.23.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.23.0 (#1379)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(git): pull the shared base-candidate order into git-base.ts (#1378)
  .claude/context/cli/overview.md
  src/git-base.test.ts
  src/git-base.ts
  src/git-files.ts
  src/gov/test-order.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): conform criterion-heading strings to the widened check
  .claude/context/standards/authoring.md
  docs/agents/commands.md
  src/commands/standards.test.ts
  src/commands/standards.ts
  src/gate/measures.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): state where filing a row ends and sizing it begins
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): backtick the standard.md path in the audit row
  docs/agents/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): resolve an extensionless path in Key Changes bullets
  docs/agents/key-changes.md
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add draft-and-pick for a decision settled by looking
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/draft-and-pick/REQUIREMENT.md
  claude/skills/draft-and-pick/SKILL.md
  src/claude/cases/misc.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover draft-and-pick on a browser-free machine
  scripts/sandbox/claude/draft-and-pick.sh
  scripts/sandbox/fixtures/claude/draft-and-pick/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): declare the pull request boundary during planning
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): list draft-and-pick and record its boundary
  .claude/context/claude-plugin/skill-strategy.md
  docs/workflow/ai-workflow.md
  docs/workflow/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): make the needs-a-plan position claim comparative
  .claude/context/standards/per-standard.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): report a board row that ranks itself against nothing
  .claude/context/cli/audits.md
  .cspell/project-terms.txt
  docs/agents/tasks.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): put a position claim inside the filing boundary
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/workflow/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): conform criterion-heading strings to the widened check (#1380)
  .claude/context/standards/authoring.md
  docs/agents/commands.md
  src/commands/standards.test.ts
  src/commands/standards.ts
  src/gate/measures.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.23.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): narrow isDottedNumber's docstring to what the pattern matches
  src/pr/paths.ts
Due: none

fix(orchestrate): accept either form of a position claim, not both
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.23.1 (#1385)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): name the false positive the rank check leaves behind
  .claude/context/cli/audits.md
  docs/agents/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): state where filing a row ends and sizing it begins (#1381)
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
  docs/workflow/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.24.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): assert the closed state the headless arm reaches
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/draft-and-pick/SKILL.md
  scripts/sandbox/claude/draft-and-pick.sh
  scripts/sandbox/fixtures/claude/draft-and-pick/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.24.0 (#1386)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): resolve an extensionless path in Key Changes bullets (#1382)
  docs/agents/key-changes.md
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.24.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): direct the decision record from the close step
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/draft-and-pick/SKILL.md
  scripts/sandbox/fixtures/claude/draft-and-pick/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(assets): add a showcase frame rendering each rule beside its glob
  README.md
  assets/showcase-governance.html
  assets/showcase-governance.html.tmpl
  assets/showcase-governance.png
  assets/showcase-governance.stamp
  scripts/core/regen-hero.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(spell): admit extensionless to the project dictionary
  .cspell/project-terms.txt
Due: none

chore(spell): admit extensionless to the project dictionary (#1388)
  .cspell/project-terms.txt
Due: none

fix(assets): ignore every generated frame rather than naming two
  .prettierignore
Due: none

feat(assets): add a frame contrasting what installs with what never does
  README.md
  assets/showcase-install-surface.html
  assets/showcase-install-surface.html.tmpl
  assets/showcase-install-surface.png
  assets/showcase-install-surface.stamp
  scripts/core/regen-hero.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(capture): correct the source count and state the flat-folder read
  .claude/context/development/regeneration.md
  docs/agents/capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.24.1 (#1387)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add draft-and-pick and declare the pull request boundary (#1383)
  .claude/context/claude-plugin/skill-strategy.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-feature/SKILL.md
  claude/skills/draft-and-pick/REQUIREMENT.md
  claude/skills/draft-and-pick/SKILL.md
  docs/workflow/ai-workflow.md
  docs/workflow/visual-design-workflow.md
  scripts/sandbox/claude/draft-and-pick.sh
  scripts/sandbox/fixtures/claude/draft-and-pick/expect.toml
  src/claude/cases/misc.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tasks): make the board position claim comparative and check it (#1384)
  .claude/context/cli/audits.md
  .claude/context/standards/per-standard.md
  .cspell/project-terms.txt
  docs/agents/tasks.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(assets): render two showcase frames from the live catalogs (#1389)
  .claude/context/development/regeneration.md
  .prettierignore
  README.md
  assets/showcase-governance.html
  assets/showcase-governance.html.tmpl
  assets/showcase-governance.png
  assets/showcase-governance.stamp
  assets/showcase-install-surface.html
  assets/showcase-install-surface.html.tmpl
  assets/showcase-install-surface.png
  assets/showcase-install-surface.stamp
  docs/agents/capture.md
  scripts/core/regen-hero.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.25.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.25.0 (#1390)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): retire a delivered session at the wind-down
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
