Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): watch CI after ship and confirm review resolution
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): extract ci-workflow template to a bundled reference
  claude/skills/ci-workflow/SKILL.md
  claude/skills/ci-workflow/references/workflows.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): codify standard-vs-reference boundary and authoring source
  .claude/context/standards.md
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add scratch-guard hook enforcing .claude/.tmp writes
  .claude/context/claude.md
  .claude/hooks/scratch-guard.sh
  .claude/settings.json
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): trim scratch prose now that the hook enforces location
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add cli-script skill for non-interactive automation scripts
  .claude/context/claude.md
  claude/skills/bash-script/SKILL.md
  claude/skills/cli-script/SKILL.md
  claude/skills/cli-script/references/template.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): add headless skill-test harness (#568)
  .claude/context/sandbox.md
  .claude/skills/aitk-scripts/SKILL.md
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): add Claude 5 context-engineering reference (#569)
  wiki/context-engineering.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add decision-memo snippet (#570)
  .claude/context/snippets.md
  .claude/snippets/claude/decision-memo.md
  snippets/claude/decision-memo.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): watch CI after ship and confirm review resolution (#571)
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): extract ci-workflow template to a bundled reference (#572)
  claude/skills/ci-workflow/SKILL.md
  claude/skills/ci-workflow/references/workflows.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): add standard meta-standard and drop cross-reference
  .claude/context/standards.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/standards/index.md
  .claude/standards/skill.md
  .claude/standards/standard.md
  standards/index.md
  standards/skill.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add create-standard skill and drop the reference-boundary bullet
  .claude/context/claude.md
  .claude/standards/skill.md
  claude/skills/create-standard/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add standard meta-standard and create-standard skill (#573)
  .claude/context/claude.md
  .claude/context/standards.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/standards/index.md
  .claude/standards/standard.md
  claude/skills/create-standard/SKILL.md
  standards/index.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add scratch-guard hook enforcing .claude/.tmp writes (#574)
  .claude/context/claude.md
  .claude/hooks/scratch-guard.sh
  .claude/settings.json
  CLAUDE.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/.claude/settings.json
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add cli-script skill for non-interactive automation scripts (#575)
  .claude/context/claude.md
  claude/skills/bash-script/SKILL.md
  claude/skills/cli-script/SKILL.md
  claude/skills/cli-script/references/template.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): fan the commit standard out to skill references
  .claude/context/sandbox.md
  .claude/context/standards.md
  .claude/standards/index.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-commit/references/commit.md
  claude/skills/git-stage/SKILL.md
  claude/skills/git-stage/references/commit.md
  scripts/core/regen-claude-copies.sh
  scripts/core/regen-skill-references.sh
  scripts/core/verify.sh
  scripts/manage-standards.sh
  standards/bundled/commit.md
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): fan the commit standard out to skill references (#576)
  .claude/context/sandbox.md
  .claude/context/standards.md
  .claude/standards/index.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-commit/references/commit.md
  claude/skills/git-stage/SKILL.md
  claude/skills/git-stage/references/commit.md
  scripts/core/regen-claude-copies.sh
  scripts/core/regen-skill-references.sh
  scripts/core/verify.sh
  scripts/manage-standards.sh
  standards/bundled/commit.md
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): fan branch and pr standards out to skill references
  .claude/context/standards.md
  .claude/standards/index.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-standards-audit/references/branch.md
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-branch/SKILL.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-split/references/branch.md
  claude/skills/git-split/references/pr.md
  standards/bundled/branch.md
  standards/bundled/pr.md
  standards/index.md
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): fan branch and pr standards out to skill references (#577)
  .claude/context/standards.md
  .claude/standards/index.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-standards-audit/references/branch.md
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-branch/SKILL.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-split/references/branch.md
  claude/skills/git-split/references/pr.md
  standards/bundled/branch.md
  standards/bundled/pr.md
  standards/index.md
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): fan snippets, standard, roadmap to skill references
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/standards/changelog.md
  .claude/standards/index.md
  claude/skills/claude-roadmap/SKILL.md
  claude/skills/claude-roadmap/references/roadmap.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-snippet/references/snippets.md
  claude/skills/create-standard/SKILL.md
  claude/skills/create-standard/references/standard.md
  standards/bundled/roadmap.md
  standards/bundled/snippets.md
  standards/bundled/standard.md
  standards/changelog.md
  standards/index.md
  wiki/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): fan snippets, standard, roadmap to skill references (#578)
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/standards/changelog.md
  .claude/standards/index.md
  claude/skills/claude-roadmap/SKILL.md
  claude/skills/claude-roadmap/references/roadmap.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-snippet/references/snippets.md
  claude/skills/create-standard/SKILL.md
  claude/skills/create-standard/references/standard.md
  standards/bundled/roadmap.md
  standards/bundled/snippets.md
  standards/bundled/standard.md
  standards/changelog.md
  standards/index.md
  wiki/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): normalize backslash paths in standards-audit hook
  .claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): reconcile skill bundling guidance with fan-out
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): drop toolkit-specific detail from bundling rule
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): add H3-split rule and regroup skill body
  .claude/standards/skill.md
  claude/skills/create-standard/references/standard.md
  standards/bundled/standard.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): group prose formatting and structure into H3
  .claude/standards/prose.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): drop comment from standards-audit hook
  .claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): normalize backslash paths in standards-audit hook (#579)
  .claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): reconcile skill bundling guidance with fan-out (#580)
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): add H3-split rule and regroup skill body (#581)
  .claude/standards/skill.md
  claude/skills/create-standard/references/standard.md
  standards/bundled/standard.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): group prose formatting and structure into H3 (#582)
  .claude/standards/prose.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): drop toolkit-specific tool references from standards
  .claude/standards/design.md
  .claude/standards/rule.md
  standards/design.md
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): drop toolkit-specific tool references from standards (#584)
  .claude/standards/design.md
  .claude/standards/rule.md
  standards/design.md
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): add issue create command and shared github helper
  docs/agents.md
  src/cli.ts
  src/commands/feedback.ts
  src/commands/issue.ts
  src/github-format.test.ts
  src/github-format.ts
  src/github.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): add issue create command and shared github helper (#587)
  docs/agents.md
  src/cli.ts
  src/commands/feedback.ts
  src/commands/issue.ts
  src/github-format.test.ts
  src/github-format.ts
  src/github.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add toolkit-issue skill for filing bugs and tasks
  .claude/context/claude.md
  claude/skills/toolkit-issue/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add toolkit-issue skill for filing bugs and tasks (#588)
  .claude/context/claude.md
  claude/skills/toolkit-issue/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
