Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(skills): read the git-pr commit range from the resolved base
  .claude/context/claude-plugin.md
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): report all banned words and restore context entry spacing
  .claude/context/claude-plugin.md
  .claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(install): record the render steps in the capture source
  assets/install.html
Due: none

fix(docs): crop the capture version row and fix readme headings
  README.md
  assets/install.html
  assets/install.png
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): resolve the diff baseline against a merge base (#657)
  .claude/context/claude-plugin.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): route tooling references and flag banned words (#658)
  .claude/context/claude-plugin.md
  .claude/context/governance.md
  .claude/context/standards.md
  .claude/hooks/standards-audit.sh
  .claude/rules/claude/595-tooling-reference.md
  .claude/skills/aitk-claude/SKILL.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(sync): move the generated branch onto the aitk prefix (#659)
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/skills/aitk-scripts/SKILL.md
  scripts/sandbox/infra/sync.sh
  src/sync/git.test.ts
  src/sync/git.ts
  src/sync/workflow.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(install): restructure the readme around the plugin install (#660)
  README.md
  assets/install.html
  assets/install.png
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(contributing): state the local loop and authoring split
  .claude/context/development.md
  CONTRIBUTING.md
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): state the plugin-root fallback for citing a standard
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): reach the standard in the plugin root when absent
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/create-rule/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(plugin): record how a skill resolves the standard it cites
  .claude/context/claude-plugin.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(contributing): name the gov install verb the CLI registers
  CONTRIBUTING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): fall back per standard file, not per directory
  .claude/context/claude-plugin.md
  .claude/standards/skill.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/create-rule/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(contributing): add CONTRIBUTING.md for the local loop (#662)
  .claude/context/development.md
  CONTRIBUTING.md
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): resolve a cited standard in the plugin root (#663)
  .claude/context/claude-plugin.md
  .claude/standards/skill.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/create-rule/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  docs/target-projects.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): gate autoship review on a merge base and non-empty diff
  .claude/context/claude-plugin.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): add the autoship baseline and empty-diff stops
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): require a task's outcomes to close in one pull request
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): hold the queue sweep, bind parallelism to collisions
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add the orchestrator resume runbook
  .claude/snippets/aitk/orchestrator-resume.md
  snippets/aitk/orchestrator-resume.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(planning): measure a plan against the tree before writing it
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): ban stream editors for structured file edits
  .claude/skills/aitk-scripts/SKILL.md
  .cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): sync context entries and the workflow guide
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): report which scenarios declare expectations
  src/commands/sandbox.ts
  src/sandbox/coverage.test.ts
  src/sandbox/coverage.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: none

fix(sandbox): correct stale wiki path in the install gate
  scripts/core/install-check.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): provision standards and rules via the installer
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): record the coverage surface and standing limits
  .claude/context/sandbox.md
  .claude/context/scripts.md
  docs/agents.md
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(eval): move the harness to scripts/eval and add a seed arm
  .claude/context/scripts.md
  .claude/context/standards.md
  .cspell/project-terms.txt
  scripts/eval/README.md
  scripts/eval/fixture.tar.gz
  scripts/eval/pre-registration.md
  scripts/eval/result-context.md
  scripts/eval/result-seed.md
  scripts/eval/result-wireframes.md
  scripts/eval/run.sh
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/fixture.tar.gz
  scripts/standards/authoring-test/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(seeds): anchor the scratch guard on the project root
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(seeds): cut rules the base stack delivers path-scoped
  .claude/context/claude-plugin.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(install): correct the claim that init installs governance
  README.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): split the autoship empty-diff stop by cause
  .claude/context/claude-plugin.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): name the rule narrowing beside the coverage report
  .claude/context/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): restore the markdown pointers a bare install needs
  .claude/context/claude-plugin.md
  README.md
  docs/target-projects.md
  scripts/eval/result-seed.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): move the stream-editor ban to CLAUDE.md and align the sweep
  .claude/skills/aitk-scripts/SKILL.md
  CLAUDE.md
  claude/skills/claude-orchestrate/SKILL.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): report which scenarios declare expectations (#667)
  .claude/context/sandbox.md
  .claude/context/scripts.md
  docs/agents.md
  scripts/core/install-check.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/coverage.test.ts
  src/sandbox/coverage.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): gate autoship review on a merge base and non-empty diff (#665)
  .claude/context/claude-plugin.md
  claude/skills/claude-autoship/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): move orchestration policy into enforcing surfaces (#666)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/snippets/aitk/orchestrator-resume.md
  .claude/standards/tasks.md
  .cspell/tech-stack.txt
  CLAUDE.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/ai-workflow.md
  snippets/aitk/orchestrator-resume.md
  standards/tasks.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(eval): add a seed arm and trim the seed it measured (#668)
  .claude/context/claude-plugin.md
  .claude/context/scripts.md
  .claude/context/standards.md
  .cspell/project-terms.txt
  README.md
  docs/target-projects.md
  scripts/eval/README.md
  scripts/eval/fixture.tar.gz
  scripts/eval/pre-registration.md
  scripts/eval/result-context.md
  scripts/eval/result-seed.md
  scripts/eval/result-wireframes.md
  scripts/eval/run.sh
  scripts/standards/authoring-test/README.md
  scripts/standards/authoring-test/fixture.tar.gz
  scripts/standards/authoring-test/run.sh
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
