Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(skills): add git-stage, git-split, and release-changelog skills
  claude/skills/git-split/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/release-changelog/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add after-execution response format to all git skills
  claude/skills/git-branch/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-stage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add create-snippet to plugin skills
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(snippets): correct placeholder convention and plugin skill scope
  .claude/skills/aitk-snippets/SKILL.md
  claude/skills/create-snippet/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): update create-snippet skill description
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): add claude-seed-audit to claude category table
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): expand snippet system with new slugs and standards (#266)
  .claude/skills/aitk-snippets/SKILL.md
  claude/skills/create-snippet/SKILL.md
  docs/claude.md
  docs/snippets.md
  snippets/claude-docs-sync.md
  snippets/claude-feature.md
  snippets/claude-figma.md
  snippets/claude-plan.md
  snippets/claude-seed-audit.md
  snippets/claude-steps.md
  snippets/claude-tasks.md
  snippets/code-search.md
  snippets/create-snippet.md
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(prompts): add install and sync commands
  prompts/prompts.toml
  scripts/manage-aitk.sh
  scripts/manage-prompts.sh
  scripts/prompts/install.sh
  scripts/prompts/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(scripts): add prompts to CLI reference
  README.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): add categories, CLI, and workflow reference
  docs/prompts.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(seeds): add spelling, snippets, memory; drop clean command
  CLAUDE.md
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(snippets): move to category subfolders, remove toml manifest
  snippets/claude/docs-sync.md
  snippets/claude/docs.md
  snippets/claude/edit.md
  snippets/claude/feature.md
  snippets/claude/figma.md
  snippets/claude/plan.md
  snippets/claude/review.md
  snippets/claude/seed-audit.md
  snippets/claude/steps.md
  snippets/claude/tasks.md
  snippets/claude/tell.md
  snippets/claude/ui-test.md
  snippets/claude/ux-audit.md
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(extensions): add extensions reference doc
  docs/extensions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(scripts): remove comments from build_source_map
  scripts/snippets/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(split): rename current branch to primary concern on split
  claude/skills/git-split/SKILL.md
  gemini/commands/git/split.toml
  scripts/sandbox/git/split.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): execute commands immediately after preview
  claude/skills/git-branch/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/release-changelog/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add docs-sync to skills inventory
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add docs-sync plugin skill (#272)
  claude/skills/docs-sync/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add git-ship to skills inventory
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): add ship.sh to git sandbox inventory
  docs/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add claude-feature planning skill
  claude/skills/claude-feature/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add ai-sync skill for CLAUDE.md and GEMINI.md suggestions
  claude/skills/ai-sync/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): broaden parallel execution convention to shell commands
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add ai-sync skill and refactor docs-sync (#275)
  claude/skills/ai-sync/SKILL.md
  claude/skills/docs-sync/SKILL.md
  docs/claude.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gitignore): exclude .claude/memory/ from version control
  .gitignore
Due: none

docs(claude): add internal skills section and inventory
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add claude-ui-test and claude-docs plugin skills
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): register claude-ui-test and claude-docs in docs
  docs/ai-workflow.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gemini): execute shell command immediately after preview (#281)
  GEMINI.md
  docs/gemini.md
  gemini/commands/docs/sync.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/git/split.toml
  gemini/commands/git/stage.toml
  gemini/commands/release/changelog.toml
  gemini/commands/tasks/flush.toml
  prompts/gemini-cli.md
  scripts/sandbox/tasks/flush.sh
  tooling/gemini/seeds/GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(ai-workflow): refresh mental model, add skills table, trim snippets
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(snippets): trim skill-covered snippets, revise base snippets
  docs/snippets.md
  snippets/chat-mode.md
  snippets/claude/docs-sync.md
  snippets/claude/docs.md
  snippets/claude/feature.md
  snippets/claude/review.md
  snippets/claude/ui-test.md
  snippets/senior-mode.md
  snippets/session-notes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(snippets): trim skill-covered snippets, revise base snippets (#283)
  docs/snippets.md
  snippets/chat-mode.md
  snippets/claude/docs-sync.md
  snippets/claude/docs.md
  snippets/claude/feature.md
  snippets/claude/review.md
  snippets/claude/ui-test.md
  snippets/senior-mode.md
  snippets/session-notes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(skills): use explicit parallel read blocks across skills
  claude/skills/create-snippet/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/release-changelog/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(skills): use explicit parallel read blocks across skills (#284)
  claude/skills/create-snippet/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/release-changelog/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(pr): make technical context optional, switch testing to checkboxes (#285)
  .github/pull_request_template.md
  standards/pr.md
  tooling/base/configs/.github/pull_request_template.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(sandbox): add remote, gitignore tmp dirs, update expect lines
  docs/claude.md
  docs/gemini.md
  scripts/manage-sandbox.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/split.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(git-split): push secondary branches and open PRs after split (#286)
  claude/skills/git-split/SKILL.md
  docs/claude.md
  docs/gemini.md
  gemini/commands/git/split.toml
  scripts/manage-sandbox.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gemini): add git:ship multi-phase workflow command
  docs/gemini.md
  gemini/commands/git/ship.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gemini): changelog before stage, staged diff in release:changelog
  gemini/commands/git/ship.toml
  gemini/commands/release/changelog.toml
Due: none

docs: update release-changelog descriptions in claude and gemini tables
  docs/claude.md
  docs/gemini.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
