Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(skill): name the gated runner and record the wrapper hold
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): give a building session a role of its own
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-worker/REQUIREMENT.md
  claude/skills/claude-worker/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): narrow the poll and ship the watch beside it
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/watch.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): record the worker role and the channel split
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-review.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): recapture the hero at 63 skills
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

fix(skills): name one field in the malformed-case detail
  src/claude/skills-audit.ts
  src/claude/skills-list.ts
  src/claude/skills-rank.test.ts
  src/claude/skills-rank.ts
Due: none

test(claude): cover claude-worker in the skill routing cases
  src/claude/cases/claude-workflow.ts
Due: none

fix(context): correct the fallback-reach figures to 40 of 63
  .claude/context/claude-plugin/distribution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): reach a target's own corpus from rank and reach (#1232)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/skills-reach.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/claude/skills-audit.ts
  src/claude/skills-list.ts
  src/claude/skills-rank.test.ts
  src/claude/skills-rank.ts
  src/claude/skills-reach.test.ts
  src/claude/skills-reach.ts
  src/commands/claude.ts
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.40.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(claude): phrase the worker case as an ask, not its own trigger
  src/claude/cases/claude-workflow.ts
Due: none

chore(main): release 3.40.0 (#1234)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the worker's board ban and its plan-question halt
  scripts/sandbox/claude/worker.sh
  scripts/sandbox/fixtures/claude/worker/ambiguous-plan/expect.toml
  scripts/sandbox/fixtures/claude/worker/board-write/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): give a building session a role of its own (#1233)
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-review.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/watch.sh
  claude/skills/claude-worker/REQUIREMENT.md
  claude/skills/claude-worker/SKILL.md
  docs/operating-model.md
  scripts/sandbox/claude/worker.sh
  scripts/sandbox/fixtures/claude/worker/ambiguous-plan/expect.toml
  scripts/sandbox/fixtures/claude/worker/board-write/expect.toml
  src/claude/cases/claude-workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.41.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.41.0 (#1235)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the eleven corpora a src test asserts over
  .claude/context/development/overview.md
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): resolve a task path through the plan it names
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the hero flake and the audit stash read
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): point the open scoping decision at its board row
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the eleven corpora a src test asserts over (#1236)
  .claude/context/development/overview.md
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): resolve a task pointer against the task file's directory
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/development/gates.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): resolve a task path through the plan it names (#1237)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.41.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.41.1 (#1239)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(claude): add the routing case the new skill owes
  src/claude/cases/setup.ts
Due: none

test(sandbox): stage an installed standards tree for the drop skill
  scripts/sandbox/claude/migration-standards-drop.sh
  scripts/sandbox/fixtures/claude/migration-standards-drop/installed/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): cover the standards-tree drop and citation repoint
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .cspell/project-terms.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/migration-standards-drop/REQUIREMENT.md
  claude/skills/migration-standards-drop/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): correct the fallback count and complete the hero flake
  .claude/context/claude-plugin/distribution.md
  .claude/context/development/gates.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the standards read split and the hero regen flake
  .claude/context/development/gates.md
  .claude/context/standards/resolution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record the standards-drop arm passing at 14 asserted
  .claude/context/sandbox/coverage.md
  scripts/sandbox/fixtures/claude/migration-standards-drop/installed/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): state the arm turn range and fold the duplicate entry
  .claude/context/development/regeneration.md
  .claude/context/sandbox/coverage.md
  scripts/sandbox/fixtures/claude/migration-standards-drop/installed/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add migration-standards-drop for the standards tree (#1238)
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/sandbox/coverage.md
  .claude/context/standards/resolution.md
  .cspell/project-terms.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/migration-standards-drop/REQUIREMENT.md
  claude/skills/migration-standards-drop/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/migration-standards-drop.sh
  scripts/sandbox/fixtures/claude/migration-standards-drop/installed/expect.toml
  src/claude/cases/setup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.42.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.42.0 (#1240)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): gate tests on the corpora a src test asserts over
  .claude/context/development/verification.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(context): name the guard predicate behind the cost figures
  .claude/context/development/gates.md
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): gate the ship chain on the project's verify commands
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-ship/SKILL.md
  scripts/sandbox/git/ship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): point autoship Step 7 at git-ship's sequence
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  scripts/sandbox/claude/autoship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): stop worktree entry inside a submodule checkout
  .cspell/project-terms.txt
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/submodule/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
