Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(claude): rename skill-sandbox-check to aitk-sandbox-check
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-sandbox-check/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): reflow skills table padding
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): rename skill-sandbox-check to aitk-sandbox-check (#454)
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-sandbox-check/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): drop reference docs on sync, add --no-ref flag
  scripts/sandbox/infra/tooling.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(init): auto-build .claude/GOV.md after gov install
  scripts/manage-init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs: sync bootstrap chain surfaces
  README.md
  docs/ai-workflow.md
  docs/claude.md
  docs/sandbox.md
  docs/target-projects.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): add ci and development extend sections to refs
  tooling/astro/reference.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(init-project): chain tooling sync and verify-scaffold
  claude/skills/init-project/SKILL.md
  scripts/sandbox/claude/init-project.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add verify-scaffold plugin skill
  claude/skills/verify-scaffold/SKILL.md
  scripts/sandbox/claude/verify-scaffold.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(bootstrap): collapse chain and add verify-scaffold (#455)
  README.md
  claude/skills/init-project/SKILL.md
  claude/skills/verify-scaffold/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/sandbox.md
  docs/target-projects.md
  docs/tooling.md
  scripts/manage-init.sh
  scripts/sandbox/claude/init-project.sh
  scripts/sandbox/claude/verify-scaffold.sh
  scripts/sandbox/infra/tooling.sh
  scripts/tooling/sync.sh
  tooling/astro/reference.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): describe layer model and golden-configs flow
  .claude/TASKS.md
  .claude/skills/aitk-tooling/SKILL.md
  claude/skills/init-project/SKILL.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): scaffold web stacks via bun create
  .cspell/tech-stack.txt
  scripts/sandbox/claude/init-project.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sync): preserve version pins and merge seeds across layers
  scripts/lib/inject.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add shared web layer with golden configs
  tooling/astro/configs/astro.config.mjs
  tooling/astro/configs/eslint.config.js
  tooling/astro/configs/playwright.config.ts
  tooling/astro/configs/tsconfig.json
  tooling/astro/configs/vitest.config.ts
  tooling/astro/manifest.toml
  tooling/astro/reference.md
  tooling/base/seeds/.cspell/tech-stack.txt
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/tsconfig.json
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/configs/vitest.config.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
  tooling/vite-react/seeds/.cspell/tech-stack.txt
  tooling/web/configs/.github/workflows/verify.yml
  tooling/web/configs/.vscode/extensions.json
  tooling/web/configs/.vscode/settings.json
  tooling/web/configs/e2e/screenshot.ts
  tooling/web/configs/eslint.config.js
  tooling/web/configs/scripts/verify.sh
  tooling/web/configs/src/test/setup.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
  tooling/web/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): set scaffold commands for vite-react and astro
  tooling/astro/manifest.toml
  tooling/vite-react/manifest.toml
Due: none

chore(deps): install stack deps to resolve IDE tsconfig lookups
  bun.lock
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prose): remove semicolons and em dashes from tooling docs
  .claude/TASKS.md
  .claude/skills/aitk-tooling/SKILL.md
  docs/tooling.md
  tooling/astro/reference.md
  tooling/vite-react/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): apply child stack scripts before parent in extends chain
  scripts/lib/inject.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): seed home smoke test for fresh scaffolds
  tooling/web/configs/e2e/home.spec.ts
Due: none

fix(tooling): wrap screenshot script with cleanup and port override
  tooling/astro/manifest.toml
  tooling/vite-react/manifest.toml
  tooling/web/configs/e2e/screenshot.ts
  tooling/web/configs/scripts/screenshot.sh
  tooling/web/manifest.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): exempt App.tsx from kebab-case filename rule
  tooling/web/configs/eslint.config.js
Due: none

fix(sync): reinstall deps when installed major drifts from manifest pin
  scripts/lib/inject.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add verify command for end-to-end stack validation
  scripts/manage-tooling.sh
  scripts/tooling/verify.sh
  tooling/astro/manifest.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): document verify command and version pin enforcement
  .claude/skills/aitk-tooling/SKILL.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): archive completed tooling refactor task
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): force-replace scripts via manifest scripts.override block
  .claude/skills/aitk-tooling/SKILL.md
  docs/tooling.md
  scripts/lib/inject.sh
  tooling/vite-react/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): silence screenshot SIGTERM noise and dedupe verify glyphs
  scripts/tooling/verify.sh
  tooling/web/configs/scripts/screenshot.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(agents): add aitk tooling verify to non-interactive examples
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): enforce prose rules across tooling references
  .claude/skills/aitk-tooling/SKILL.md
  docs/tooling.md
  tooling/astro/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): ship golden configs with verify command (#456)
  .claude/skills/aitk-tooling/SKILL.md
  .cspell/tech-stack.txt
  bun.lock
  claude/skills/init-project/SKILL.md
  docs/agents.md
  docs/tooling.md
  package.json
  scripts/lib/inject.sh
  scripts/manage-tooling.sh
  scripts/sandbox/claude/init-project.sh
  scripts/tooling/sync.sh
  scripts/tooling/verify.sh
  tooling/astro/configs/astro.config.mjs
  tooling/astro/configs/eslint.config.js
  tooling/astro/configs/playwright.config.ts
  tooling/astro/configs/tsconfig.json
  tooling/astro/configs/vitest.config.ts
  tooling/astro/manifest.toml
  tooling/astro/reference.md
  tooling/base/seeds/.cspell/tech-stack.txt
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/tsconfig.json
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/configs/vitest.config.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
  tooling/vite-react/seeds/.cspell/tech-stack.txt
  tooling/web/configs/.github/workflows/verify.yml
  tooling/web/configs/.vscode/extensions.json
  tooling/web/configs/.vscode/settings.json
  tooling/web/configs/e2e/home.spec.ts
  tooling/web/configs/e2e/screenshot.ts
  tooling/web/configs/eslint.config.js
  tooling/web/configs/scripts/screenshot.sh
  tooling/web/configs/scripts/verify.sh
  tooling/web/configs/src/test/setup.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
  tooling/web/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add aitk-ask internal skill with eval fixture
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-ask/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): drop trailing periods on fragment bullets
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-ask/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add aitk-ask internal skill with eval fixture (#457)
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-ask/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add concrete-precedent and tasks-transactional rules
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): add ide-deps and seed-naming rules
  .claude/skills/aitk-tooling/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): scope init-project skill to fresh scaffolds
  claude/skills/init-project/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(standards): add skill tuning correctness rule
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(memory): promote rules to durable surfaces (#458)
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
  claude/skills/init-project/SKILL.md
  standards/skill.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): restrict seed line-merge to .txt word lists
  docs/scripts.md
  docs/tooling.md
  scripts/lib/inject.sh
  scripts/sandbox/infra/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(scripts): remove parenthetical aside in seed merge blurb
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
