Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(claude): deduplicate agent documentation surfaces (#371)
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
  docs/agents.md
  docs/scripts.md
  standards/skill.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): eliminate skill double-write and simplify autoship
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): archive completed double-write and autoship tasks
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): drop semicolon in routines page
  wiki/claude-routines.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): eliminate skill double-write and simplify autoship (#372)
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  wiki/claude-routines.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add research pages for visual wireframes and mcp servers
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  wiki/community-mcp-servers.md
  wiki/index.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add completed wireframe and mcp research tasks
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add research pages for visual wireframes and mcp servers (#373)
  .claude/TASKS.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  wiki/community-mcp-servers.md
  wiki/index.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): decouple claude from stack interface
  .claude/skills/aitk-tooling/SKILL.md
  docs/tooling.md
  scripts/lib/tooling.sh
  scripts/manage-tooling.sh
  scripts/tooling/create.sh
  scripts/tooling/list.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
  tooling/claude/configs/scripts/snapshot.sh
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): include claude role drift
  docs/claude.md
  docs/scripts.md
  scripts/manage-claude.sh
  scripts/manage-sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): update planning docs
  .claude/ARCHITECTURE.md
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): add missing spacer to aitk sync header
  scripts/manage-sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(architecture): relocate domain patterns to docs
  .claude/ARCHITECTURE.md
  docs/scripts.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): add commit-only option to git workflow
  docs/scripts.md
  scripts/manage-sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): queue index regeneration and preamble tasks
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): decouple from tooling, integrate with sync (#374)
  .claude/ARCHITECTURE.md
  .claude/TASKS.md
  .claude/skills/aitk-tooling/SKILL.md
  docs/claude.md
  docs/scripts.md
  docs/tooling.md
  scripts/lib/tooling.sh
  scripts/manage-claude.sh
  scripts/manage-sync.sh
  scripts/manage-tooling.sh
  scripts/tooling/create.sh
  scripts/tooling/list.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
  tooling/claude/configs/scripts/snapshot.sh
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(tasks): archive completed claude tooling and research items
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): document plan-line lifecycle in preamble
  .claude/TASKS.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): delete plan files when archiving completed tasks
  docs/ai-workflow.md
  docs/snippets.md
  snippets/claude/tasks-done.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): archive shipped plan-line and cleanup chores
  .claude/TASKS-ARCHIVE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): enforce plan-line lifecycle on archive (#375)
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  docs/ai-workflow.md
  docs/snippets.md
  snippets/claude/tasks-done.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): generate indexes from installed files, not source copies
  .claude/ARCHITECTURE.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .cspell/project-terms.txt
  docs/prompts.md
  docs/scripts.md
  docs/standards.md
  docs/tooling.md
  prompts/index.md
  scripts/core/regen-indexes.sh
  scripts/core/verify.sh
  scripts/lib/index.sh
  scripts/manage-standards.sh
  scripts/prompts/install.sh
  scripts/prompts/sync.sh
  scripts/standards/list.sh
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(tasks): close generated indexes and add frontmatter task
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): generate indexes from installed files, not source copies (#376)
  .claude/ARCHITECTURE.md
  .claude/TASKS.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .cspell/project-terms.txt
  docs/prompts.md
  docs/scripts.md
  docs/standards.md
  docs/tooling.md
  prompts/index.md
  scripts/core/regen-indexes.sh
  scripts/core/verify.sh
  scripts/lib/index.sh
  scripts/manage-standards.sh
  scripts/prompts/install.sh
  scripts/prompts/sync.sh
  scripts/standards/list.sh
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tasks): drop redundant add snippet and archive
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  docs/snippets.md
  snippets/claude/tasks-add.md
  snippets/claude/tasks-done.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/TASKS-ARCHIVE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(prose): remove semicolons from skill and tasks
  .claude/TASKS.md
  claude/skills/session-resume/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tasks): drop redundant add snippet and archive (#377)
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  docs/snippets.md
  snippets/claude/tasks-add.md
  snippets/claude/tasks-done.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/TASKS-ARCHIVE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add CLAUDE.md pairing note to ARCHITECTURE seed
  tooling/claude/seeds/.claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): emit do-not-edit preamble from gov generator
  .claude/GOV.md
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/GOV.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(docs): remove ARCHITECTURE, redistribute to domain docs
  .claude/ARCHITECTURE.md
  .claude/TASKS.md
  CLAUDE.md
  docs/claude.md
  docs/governance.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): consolidate planning doc ownership (#378)
  .claude/ARCHITECTURE.md
  .claude/GOV.md
  .claude/TASKS.md
  CLAUDE.md
  docs/claude.md
  docs/governance.md
  docs/scripts.md
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/GOV.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): read title and description from file frontmatter
  scripts/core/regen-indexes.sh
  scripts/core/verify.sh
  scripts/lib/index.sh
  scripts/standards/list.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(prompts): add list command with json output
  scripts/manage-prompts.sh
  scripts/prompts/list.sh
  src/commands/prompts.ts
  src/commands/standards.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(indexes): document frontmatter convention across surfaces
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  CLAUDE.md
  README.md
  docs/agents.md
  docs/prompts.md
  docs/scripts.md
  docs/standards.md
  prompts/meta-prompt.md
  prompts/standards-reference.md
  standards/prose.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): complete frontmatter feature and queue auto-indexer
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): default 'includeCoAuthoredBy' to false in seed
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): replace 'includeCoAuthoredBy' with 'attribution'
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): align deny paths with documented './' prefix
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
