Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(scripts): correct verify.sh path for robust execution
  scripts/update.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): update script example with robust verify.sh path
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): move utility scripts to core subdirectory
  package.json
  scripts/core/clean.sh
  scripts/core/update.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add command to reset sandbox environment
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(gov): update 1 standard
  gemini/commands/gov/standards.toml
Due: none

feat(sandbox): add confirmation prompt to sandbox reset command
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(readme): add /dev:setup command to documentation
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add baseline tagging and reset for testing
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): improve sandbox reset with index tracking
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(scripts): add sandbox reset command and refactor script paths (#99)
  README.md
  gemini/commands/gov/standards.toml
  package.json
  scripts/core/clean.sh
  scripts/core/update.sh
  scripts/core/verify.sh
  scripts/manage-test.sh
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): rename tooling standard to tooling-base
  standards/tooling-base.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(vite-react): add tooling standard
  standards/tooling-vite-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): add new terms
  .cspell/project-terms.txt
Due: none

feat(sandbox): enhance sandbox reset with branch tracking
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(dev): add config files to setup context
  gemini/commands/dev/setup.toml
Due: none

chore(sandbox): ignore node_modules in sandbox gitignore
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): update package script descriptions with commands
  standards/tooling-base.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): add config examples for vite, vitest, and playwright
  standards/tooling-vite-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): clarify tsconfig requirements for vite react projects
  standards/tooling-vite-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): update package script descriptions with explicit commands
  standards/tooling-vite-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): move tooling documentation to dedicated directory
  tooling/base.md
  tooling/vite-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): introduce vite react standard and refactor tooling docs (#100)
  .cspell/project-terms.txt
  gemini/commands/dev/setup.toml
  scripts/manage-test.sh
  tooling/base.md
  tooling/vite-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): rename tooling docs to reference files
  tooling/base/reference.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(base): add base tooling configs
  tooling/base/configs/.cspell/project-terms.txt
  tooling/base/configs/.cspell/tech-stack.txt
  tooling/base/configs/.husky/commit-msg
  tooling/base/configs/.husky/pre-commit
  tooling/base/configs/.husky/pre-push
  tooling/base/configs/.lintstagedrc
  tooling/base/configs/.prettierrc
  tooling/base/configs/.shellcheckrc
  tooling/base/configs/.vscode/extensions.json
  tooling/base/configs/.vscode/settings.json
  tooling/base/configs/commitlint.config.js
  tooling/base/configs/cspell.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): extract golden configs for vite-react stack
  tooling/vite-react/configs/.github/workflows/verify.yml
  tooling/vite-react/configs/.lintstagedrc
  tooling/vite-react/configs/.prettierrc
  tooling/vite-react/configs/.vscode/extensions.json
  tooling/vite-react/configs/.vscode/settings.json
  tooling/vite-react/configs/eslint.config.js
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/src/test/setup.ts
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/configs/vitest.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): add manifest.toml for base and vite-react
  tooling/base/manifest.toml
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): update reference docs for both stacks
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): generalize sync to use tuple-based targets
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(scripts): generalize build to use tuple-based targets
  scripts/build-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(build-gov): simplify file extension and pluralization logic
  scripts/build-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(gov): update 1 standards
  gemini/commands/gov/standards.toml
Due: none

refactor(gov-sync): introduce dynamic tooling config discovery
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(lint-staged): format lint-staged config for vite-react
  tooling/vite-react/configs/.lintstagedrc
Due: none

refactor(tooling): introduce modular tooling stack configuration system (#101)
  gemini/commands/gov/standards.toml
  scripts/build-gov.sh
  scripts/sync-gov.sh
  tooling/base.md
  tooling/base/configs/.cspell/project-terms.txt
  tooling/base/configs/.cspell/tech-stack.txt
  tooling/base/configs/.husky/commit-msg
  tooling/base/configs/.husky/pre-commit
  tooling/base/configs/.husky/pre-push
  tooling/base/configs/.lintstagedrc
  tooling/base/configs/.prettierrc
  tooling/base/configs/.shellcheckrc
  tooling/base/configs/.vscode/extensions.json
  tooling/base/configs/.vscode/settings.json
  tooling/base/configs/commitlint.config.js
  tooling/base/configs/cspell.json
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/vite-react.md
  tooling/vite-react/configs/.github/workflows/verify.yml
  tooling/vite-react/configs/.lintstagedrc
  tooling/vite-react/configs/.prettierrc
  tooling/vite-react/configs/.vscode/extensions.json
  tooling/vite-react/configs/.vscode/settings.json
  tooling/vite-react/configs/eslint.config.js
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/src/test/setup.ts
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/configs/vitest.config.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(scripts): add tooling config injection with extends support
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add base tooling test scenario
  scripts/sandbox/tooling/base.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(cspell): add jsdom and vitejs to project terms
  .cspell/project-terms.txt
Due: none

feat(tooling): add vite react sandbox setup script
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): align sandbox scripts and fix verify message
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): pin eslint to v9
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
