Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(claude): document REVIEW.md copy behavior
  docs/WORKFLOW.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): stage REVIEW.md in prompt output (#171)
  README.md
  docs/WORKFLOW.md
  scripts/claude/prompt.sh
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(prompts): refine native tools usage instruction
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): clarify command instruction wording
  gemini/commands/dev/apply.toml
Due: none

chore(gemini-cli): clarify post-commit commands
  gemini/commands/git/commit.toml
Due: none

chore(changelog): add preview and clarify action instructions
  gemini/commands/release/changelog.toml
Due: none

docs(changelog): relocate bold formatting rule
  standards/changelog.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini-cli): add markdown formatting instruction
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(git-branch): clarify branch name derivation from commit log
  gemini/commands/git/branch.toml
Due: none

feat(prompts): integrate prose standards and add command previews (#173)
  gemini/commands/dev/apply.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/release/changelog.toml
  prompts/gemini-cli.md
  standards/branch.md
  standards/changelog.md
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(gemini-commands): standardize command descriptions to sentence case (#174)
  gemini/commands/dev/apply.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/release/changelog.toml
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cursor): update rule description casing guidelines
  prompts/cursor-rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cursor-rules): capitalize description field in frontmatter
  .cursor/rules/core/000-constitution.mdc
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/core/020-concurrency.mdc
  .cursor/rules/core/030-error-handling.mdc
  .cursor/rules/core/040-performance.mdc
  .cursor/rules/core/050-logging.mdc
  .cursor/rules/core/060-naming.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/300-testing-ts.mdc
  .cursor/rules/lib/310-zod.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
  .cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): refactor reviewer prompt constraints
  tooling/claude/seeds/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): sync claude reference for prompt renames
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): sync docs with claude prompt renames
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): clarify claude seeds doc description
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): rename 'update' command to 'sync'
  scripts/manage-claude.sh
  scripts/sandbox/tooling/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): update 'update' command references to 'sync'
  README.md
  docs/WORKFLOW.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): align command documentation
  README.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): rename 'update' command to 'sync' (#177)
  README.md
  docs/WORKFLOW.md
  scripts/manage-claude.sh
  scripts/sandbox/tooling/claude.sh
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): update prompt command and planner description
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): update claude prompt workflow and document changes
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): update claude prompt documentation
  README.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gemini): update default model to flash
  tooling/gemini/reference.md
  tooling/gemini/seeds/.gemini/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gemini): update default model to flash (#179)
  tooling/gemini/reference.md
  tooling/gemini/seeds/.gemini/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add warning for missing prompt placeholder
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): add warning for missing prompt placeholder (#181)
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): add wireframes for planning
  tooling/claude/seeds/.claude/WIREFRAMES.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): inject wireframes placeholder into planner build
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(sandbox): update expected files in claude sandbox init
  scripts/sandbox/tooling/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(bash): guard commands that return non-zero on valid empty results
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(meta-prompt): add guideline for verifiable constraints
  prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(meta-prompt): remove redundant output constraint from ROLE
  prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): standardize seed prompt titles
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/PLANNER.md
  tooling/claude/seeds/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prompts): refine prompt templates and standardize content (#183)
  prompts/bash-script.md
  prompts/claude-skill.md
  prompts/cursor-rules.md
  prompts/gemini-cli.md
  prompts/meta-prompt.md
  prompts/standards-reference.md
  prompts/tooling-reference.md
  standards/branch.md
  standards/changelog.md
  standards/commit.md
  standards/pr.md
  standards/prose.md
  standards/readme.md
  standards/workflow.md
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/PLANNER.md
  tooling/claude/seeds/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): update static-checks description for shellcheck
  tooling/chrome/reference.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add ai-toolkit component skills
  .claude/skills/aitk-gemini-commands/SKILL.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add claude context document
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): update readme for skills and plugin setup
  claude/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
