Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(wiki): add claude-design page and reshape design tiers
  .cspell/tech-stack.txt
  wiki/claude-design.md
  wiki/community-skills.md
  wiki/index.md
  wiki/visual-design-workflow.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): expand sandbox coverage to ux-audit and docs
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add claude-design page and reshape design tiers (#389)
  .claude/TASKS.md
  .cspell/tech-stack.txt
  wiki/claude-design.md
  wiki/community-skills.md
  wiki/index.md
  wiki/visual-design-workflow.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover claude ux-audit, docs, and small-mode feature
  .claude/TASKS.md
  .cspell/tech-stack.txt
  docs/sandbox.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/ux-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): cover claude ux-audit, docs, and small-mode feature (#390)
  .claude/TASKS.md
  .cspell/tech-stack.txt
  docs/sandbox.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/ux-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add claude-memory-review skill
  .claude/TASKS.md
  claude/skills/claude-memory-review/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(rules): promote memory entries into durable surfaces
  .claude/skills/aitk-scripts/SKILL.md
  CLAUDE.md
  claude/skills/git-pr/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(antigravity): mirror pre-publish scan in git-pr workflow
  antigravity/workflows/git-pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add memory-review skill and promote captured rules (#391)
  .claude/TASKS.md
  .claude/skills/aitk-scripts/SKILL.md
  CLAUDE.md
  antigravity/workflows/git-pr.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/claude.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(permissions): allowlist read-only check scripts in project and seed
  .claude/settings.json
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/settings.json
  wiki/claude-permissions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(worktrees): add parallel sessions guide and toolkit fan-out rules
  .claude/TASKS.md
  .cspell/project-terms.txt
  CLAUDE.md
  wiki/claude-worktrees.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(init-project): add cwd guardrails, sandbox, and bootstrap docs
  claude/skills/init-project/SKILL.md
  docs/ai-workflow.md
  docs/sandbox.md
  scripts/sandbox/claude/init-project.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add allowlist, worktree guide, and init-project guardrails (#392)
  .claude/TASKS.md
  .claude/settings.json
  .cspell/project-terms.txt
  CLAUDE.md
  claude/skills/init-project/SKILL.md
  docs/ai-workflow.md
  docs/sandbox.md
  scripts/sandbox/claude/init-project.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/settings.json
  wiki/claude-permissions.md
  wiki/claude-worktrees.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(requirements): add toolkit worldview and scope
  .claude/REQUIREMENTS.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(requirements): add toolkit worldview and scope (#393)
  .claude/REQUIREMENTS.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(ui): frame command output on stderr
  scripts/claude/roles-list.sh
  scripts/claude/seeds-list.sh
  scripts/gov/list.sh
  scripts/indexes/regen.sh
  scripts/lib/ui.sh
  scripts/manage-claude.sh
  scripts/manage-gov.sh
  scripts/manage-indexes.sh
  scripts/manage-init.sh
  scripts/manage-prompts.sh
  scripts/manage-snippets.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/prompts/list.sh
  scripts/snippets/list.sh
  scripts/standards/list.sh
  scripts/tooling/list.sh
  src/ui.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(ui): codify canonical output shape
  .claude/skills/aitk-scripts/SKILL.md
  docs/agents.md
  docs/scripts.md
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): queue sandbox output UI audit
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(ui): normalize framed output on stderr (#394)
  .claude/TASKS.md
  .claude/skills/aitk-scripts/SKILL.md
  docs/agents.md
  docs/scripts.md
  prompts/bash-script.md
  scripts/claude/roles-list.sh
  scripts/claude/seeds-list.sh
  scripts/gov/list.sh
  scripts/indexes/regen.sh
  scripts/lib/ui.sh
  scripts/manage-claude.sh
  scripts/manage-gov.sh
  scripts/manage-indexes.sh
  scripts/manage-init.sh
  scripts/manage-prompts.sh
  scripts/manage-snippets.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/prompts/list.sh
  scripts/snippets/list.sh
  scripts/standards/list.sh
  scripts/tooling/list.sh
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(scratch): nest tmp outputs under per-skill subfolders
  CLAUDE.md
  README.md
  antigravity/workflows/git-pr.md
  antigravity/workflows/git-split.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/SKILL.md
  docs/claude.md
  docs/governance.md
  docs/scripts.md
  gemini/commands/git/pr.toml
  gemini/commands/git/ship.toml
  gemini/commands/git/split.toml
  scripts/claude/prompt.sh
  scripts/gov/build.sh
  scripts/manage-gov.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/tooling/claude.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(scratch): restore 'temporary files' wording in rule
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(scratch): nest tmp outputs under per-skill subfolders (#395)
  CLAUDE.md
  README.md
  antigravity/workflows/git-pr.md
  antigravity/workflows/git-split.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/SKILL.md
  docs/claude.md
  docs/governance.md
  docs/scripts.md
  gemini/commands/git/pr.toml
  gemini/commands/git/ship.toml
  gemini/commands/git/split.toml
  scripts/claude/prompt.sh
  scripts/gov/build.sh
  scripts/manage-gov.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/tooling/claude.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): route frame glyphs and spacers to stderr
  .claude/TASKS.md
  scripts/manage-sandbox.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/tooling/upstream.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): route frame glyphs and spacers to stderr (#396)
  .claude/TASKS.md
  scripts/manage-sandbox.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/tooling/upstream.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(prose): drop em dashes and semicolons from script logs
  .claude/TASKS.md
  docs/sandbox.md
  scripts/indexes/regen.sh
  scripts/manage-claude.sh
  scripts/manage-init.sh
  scripts/prompts/list.sh
  scripts/sandbox/claude/ux-audit.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/dev/review.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/git/stage.sh
  scripts/sandbox/infra/antigravity.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/indexes.sh
  scripts/sandbox/infra/init.sh
  scripts/sandbox/infra/prompts.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/sandbox/infra/wiki.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/standards/list.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(prose): align option-list colons in claude sandbox prelude
  docs/sandbox.md
  scripts/sandbox/tooling/claude.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(prose): drop em dashes and semicolons from script logs (#397)
  .claude/TASKS.md
  docs/sandbox.md
  scripts/indexes/regen.sh
  scripts/manage-claude.sh
  scripts/manage-init.sh
  scripts/prompts/list.sh
  scripts/sandbox/claude/ux-audit.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/dev/review.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/git/stage.sh
  scripts/sandbox/infra/antigravity.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/indexes.sh
  scripts/sandbox/infra/init.sh
  scripts/sandbox/infra/prompts.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/sandbox/infra/wiki.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/standards/list.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(prose): add fence languages and fix punctuation
  antigravity/workflows/docs-sync.md
  antigravity/workflows/git-branch.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/docs-sync/SKILL.md
  docs/agents.md
  prompts/bash-script.md
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(prose): add fence languages and fix punctuation (#398)
  antigravity/workflows/docs-sync.md
  antigravity/workflows/git-branch.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/docs-sync/SKILL.md
  docs/agents.md
  prompts/bash-script.md
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git-pr): pre-check session-run testing checkboxes
  antigravity/workflows/git-pr.md
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add seed and reference mirror check
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(memory): add claude-memory-capture skill and autoship step
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/snippets.md
  snippets/claude/memory-capture.md
  snippets/claude/session-lessons.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(memory): add claude-memory-capture skill and autoship step (#399)
  .claude/skills/aitk-claude/SKILL.md
  antigravity/workflows/git-pr.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/snippets.md
  snippets/claude/memory-capture.md
  snippets/claude/session-lessons.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add stitch page and refine design tier framework
  .cspell/tech-stack.txt
  wiki/claude-design.md
  wiki/index.md
  wiki/stitch.md
  wiki/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): add design overhaul and experiment entries
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add summary section to feature plan output
  antigravity/workflows/claude-feature.md
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): mention summary in plan comparison table
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add memory capture step to ship flow
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): note memory capture in ship flow pipeline
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): design wiki, plan summary, and ship memory capture (#400)
  .claude/TASKS.md
  .cspell/tech-stack.txt
  antigravity/workflows/claude-feature.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/git-ship/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  wiki/claude-design.md
  wiki/index.md
  wiki/stitch.md
  wiki/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
