Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(demo): drive through playwright-core instead of the runner
  assets/hero.png
  assets/hero.stamp
  bun.lock
  package.json
  src/demo/drive.e2e.test.ts
  src/demo/drive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(review): raise a testing box a harness already covers
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  docs/operating-model.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(eval): split authorizing a spend from performing a run
  .claude/ARCHITECTURE.md
  .claude/context/scripts/eval.md
  scripts/eval/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(worktree): record the guard's third refusal trigger
  .claude/context/development/scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): scope the playwright rules to the runner that executes
  .claude/rules/lib/300-testing-ts.md
  governance/rules/lib/300-testing-ts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): give the testing question the heading and the dispatch
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): align the skill's opening with the threshold it moved
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(demo): drive a running app to a recording and a still (#1104)
  .claude/context/ci.md
  .claude/context/demo.md
  .claude/context/index.md
  .claude/rules/lib/300-testing-ts.md
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  bun.lock
  claude/skills/claude-screencast/SKILL.md
  docs/agents/capture.md
  docs/agents/commands.md
  docs/agents/demo.md
  docs/agents/index.md
  governance/rules/lib/300-testing-ts.md
  package.json
  scripts/sandbox/claude/screencast.sh
  src/capture/render.ts
  src/cli.ts
  src/commands/demo.ts
  src/demo/beats.test.ts
  src/demo/beats.ts
  src/demo/compile.test.ts
  src/demo/compile.ts
  src/demo/cursors.ts
  src/demo/drive.e2e.test.ts
  src/demo/drive.ts
  src/demo/pointer.test.ts
  src/demo/pointer.ts
  src/demo/theme.test.ts
  src/demo/theme.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(review): separate authorizing a spend from performing a run (#1105)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development/scratch.md
  .claude/context/scripts/eval.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  docs/operating-model.md
  scripts/eval/README.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.7.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move wiki and layout rules off the always-loaded file
  .claude/rules/claude/596-claude-md.md
  .claude/rules/claude/597-wiki.md
  .claude/rules/claude/598-authoring-layout.md
  CLAUDE.md
  internal/rules/claude/596-claude-md.md
  internal/rules/claude/597-wiki.md
  internal/rules/claude/598-authoring-layout.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): add the contract page for the routing report
  docs/agents/index.md
  docs/agents/routing.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add routing report for CLAUDE.md section scoping
  docs/agents/commands.md
  src/claude/routing.test.ts
  src/claude/routing.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the routing report and the rule count re-measure
  .claude/context/cli/audits.md
  .claude/context/context-model.md
  .claude/context/development/regeneration.md
  .claude/context/sandbox/authoring.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.7.0 (#1107)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): cut path-scoped sections out of the always-loaded file (#1106)
  .claude/context/cli/audits.md
  .claude/context/context-model.md
  .claude/context/development/regeneration.md
  .claude/context/sandbox/authoring.md
  .claude/rules/claude/596-claude-md.md
  .claude/rules/claude/597-wiki.md
  .claude/rules/claude/598-authoring-layout.md
  CLAUDE.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/routing.md
  internal/rules/claude/596-claude-md.md
  internal/rules/claude/597-wiki.md
  internal/rules/claude/598-authoring-layout.md
  src/claude/routing.test.ts
  src/claude/routing.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add restate for a plain reading of a dense answer
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/restate/REQUIREMENT.md
  claude/skills/restate/SKILL.md
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): drive restate against a document dense to read
  scripts/sandbox/claude/restate.sh
  scripts/sandbox/fixtures/claude/restate/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): record where restate sits against the two it is not
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/sandbox/running.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): drive the session map skill from a cold project
  scripts/sandbox/claude/session-map.sh
  scripts/sandbox/fixtures/claude/session-map/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): record the single-arm staging and pattern gates
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): treat a declared subfolder as project-authored by location
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
Due: none

feat(claude): write project-authored snippets into their own subfolder
  claude/skills/create-snippet/REQUIREMENT.md
  claude/skills/create-snippet/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sync): document the project-authored subfolder convention
  .claude/ARCHITECTURE.md
  .claude/context/cli/sync.md
  .claude/context/governance/rules.md
  .claude/context/snippets.md
  docs/agents/install-and-sync.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): describe the pattern spell gate without tripping it
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add a restated-instruction sweep across three surfaces
  .cspell/project-terms.txt
  src/cli.ts
  src/commands/gov.ts
  src/gov/restated.test.ts
  src/gov/restated.ts
Due: none

feat(audits): register the restated sweep as a catalog spec
  src/audits/catalog.ts
Due: none

docs(agents): document the restated sweep and add its command row
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/restated.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the restated sweep's calibration and exclusions
  .claude/context/cli/audits.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): narrow two claims that reach past what they cover
  claude/skills/write-human/SKILL.md
  scripts/sandbox/fixtures/claude/restate/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): route create-rule into the project-authored subfolder
  .claude/context/governance/rules.md
  claude/skills/create-rule/REQUIREMENT.md
  claude/skills/create-rule/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): move the empty-window pin to a reader expectation
  scripts/sandbox/claude/session-map.sh
  scripts/sandbox/fixtures/claude/session-map/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(skill): add restate for a plain reading of a dense answer (#1108)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/sandbox/running.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/restate/REQUIREMENT.md
  claude/skills/restate/SKILL.md
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/restate.sh
  scripts/sandbox/fixtures/claude/restate/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): declare project-authored files by location (#1109)
  .claude/ARCHITECTURE.md
  .claude/context/cli/sync.md
  .claude/context/governance/rules.md
  .claude/context/snippets.md
  claude/skills/create-rule/REQUIREMENT.md
  claude/skills/create-rule/SKILL.md
  claude/skills/create-snippet/REQUIREMENT.md
  claude/skills/create-snippet/SKILL.md
  docs/agents/install-and-sync.md
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.8.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): read restatement polarity from the clause the anchors matched
  .claude/context/cli/audits.md
  docs/agents/audits.md
  docs/agents/restated.md
  src/gov/restated.test.ts
  src/gov/restated.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.8.0 (#1113)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): resolve review findings on the skill-existence test
  .claude/context/claude-plugin/skill-strategy.md
  .claude/rules/claude/570-skill.md
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/create-skill/SKILL.md
  governance/rules/claude/570-skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): backtick pull request numbers per the publish standard
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/create-skill/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): gate skill creation on a written existence test
  .claude/context/claude-plugin/skill-strategy.md
  .claude/rules/claude/570-skill.md
  .claude/standards/skill.md
  .cspell/project-terms.txt
  claude/skills/create-skill/REQUIREMENT.md
  claude/skills/create-skill/SKILL.md
  governance/rules/claude/570-skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
