Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude-skill): add claude skill reference
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add git and toolkit skills (#187)
  .claude/skills/aitk-gemini-commands/SKILL.md
  .claude/skills/aitk-governance/SKILL.md
  .claude/skills/aitk-prompts/SKILL.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
  claude/README.md
  claude/commands/.gitkeep
  claude/skills/git-branch/SKILL.md
  claude/skills/git-branch/scripts/context.sh
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/scripts/context.sh
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(prose): add sentence case rule for headings
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skill): clarify incorrect skill description example
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): update all headings to sentence case
  standards/branch.md
  standards/changelog.md
  standards/commit.md
  standards/pr.md
  standards/prose.md
  standards/readme.md
  standards/skill.md
  standards/workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(docs): update all headings to sentence case
  docs/GOVERNANCE.md
  docs/SANDBOX.md
  docs/TOOLING.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prose): clarify heading casing rules
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): add heading sentence case rule
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): enforce heading sentence case
  prompts/standards-reference.md
  prompts/tooling-reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prompts): enforce sentence case for H2 headings
  prompts/cursor-rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(rules): update h2 headings to sentence case
  .cursor/rules/core/000-constitution.mdc
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/310-zod.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(docs): enforce sentence case for markdown headings (#188)
  .cursor/rules/core/000-constitution.mdc
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/310-zod.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
  claude/skills/git-branch/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/GOVERNANCE.md
  docs/SANDBOX.md
  docs/TOOLING.md
  docs/WORKFLOW.md
  prompts/cursor-rules.md
  prompts/standards-reference.md
  prompts/tooling-reference.md
  standards/branch.md
  standards/changelog.md
  standards/commit.md
  standards/pr.md
  standards/prose.md
  standards/readme.md
  standards/skill.md
  standards/workflow.md
  tooling/base/reference.md
  tooling/chrome/reference.md
  tooling/claude/reference.md
  tooling/gemini/reference.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): standardize markdown code block language
  scripts/claude/prompt.sh
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/PLANNER.md
  tooling/claude/seeds/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(standards): standardize markdown code block language
  prompts/standards-reference.md
  standards/branch.md
  standards/commit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(standards): standardize markdown code block language (#189)
  prompts/standards-reference.md
  scripts/claude/prompt.sh
  standards/branch.md
  standards/commit.md
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/PLANNER.md
  tooling/claude/seeds/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(pr): remove draft flag from pr creation
  gemini/commands/git/pr.toml
Due: none

chore(cli): refine git commands, standardize claude seed headings (#190)
  gemini/commands/git/branch.toml
  gemini/commands/git/pr.toml
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): ignore claude temporary directory
  .gitignore
Due: none

chore(snapshot): update snapshot output file path
  scripts/core/snapshot.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(readme): update docs links
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor standards documentation (#192)
  README.md
  docs/AI-WORKFLOW.md
  docs/GOVERNANCE.md
  docs/STANDARDS.md
  standards/ci.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add guide for edit prompt format
  snippets/claude-edit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(review): add guide for review mode workflow
  snippets/review-mode.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): add link to snippets documentation
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add snippet system for invokable prompts (#193)
  .cspell/project-terms.txt
  README.md
  docs/SNIPPETS.md
  snippets/chat-mode.md
  snippets/claude-edit.md
  snippets/review-mode.md
  snippets/session-notes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): add documentation for prompts system
  docs/PROMPTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): add documentation for prompts system (#194)
  README.md
  docs/PROMPTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refine punctuation and wording
  docs/STANDARDS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): update title and punctuation
  docs/AI-WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(base): add CI workflow details
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(github): add PR template and static checks workflow
  .github/pull_request_template.md
  .github/workflows/verify.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(deps): add missing prettier-plugin-tailwindcss dependency
  bun.lock
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(github): add static analysis workflow and PR template (#196)
  .github/pull_request_template.md
  .github/workflows/verify.yml
  bun.lock
  package.json
  tooling/base/configs/.github/workflows/verify.yml
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): simplify reviewer output format (#197)
  tooling/claude/seeds/.claude/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(sandbox): scaffold governance test infrastructure
  scripts/sandbox/infra/gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(sandbox): add gov and standards test scenarios (#198)
  docs/SANDBOX.md
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/standards.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add conditional asset injection
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(sandbox): export SANDBOX_INJECT_STANDARDS var
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/release/changelog.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): document conditional asset injection
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): separate config from setup logic
  scripts/manage-sandbox.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/release/changelog.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
