Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(assets): regen hero capture for the merged skill count
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

feat(skills): add identity skill for a logo mark and social card (#1576)
  .claude/context/claude-plugin/skill-strategy.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/identity/REQUIREMENT.md
  claude/skills/identity/SKILL.md
  docs/workflow/ai-workflow.md
  docs/workflow/visual-design-workflow.md
  scripts/sandbox/claude/identity.sh
  src/claude/cases/misc.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): add canon-record with its sandbox arm and routing case
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/canon-record/REQUIREMENT.md
  claude/skills/canon-record/SKILL.md
  claude/skills/canon-screencast/REQUIREMENT.md
  claude/skills/canon-screencast/SKILL.md
  docs/agents/demo.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/claude/canon-record.sh
  src/claude/cases/claude-workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(assets): regen hero capture for the new skill count
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

feat(skills): add canon-record to drive the demo compile-and-run step (#1579)
  .claude/context/claude-plugin/skill-strategy.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/canon-record/REQUIREMENT.md
  claude/skills/canon-record/SKILL.md
  claude/skills/canon-screencast/REQUIREMENT.md
  claude/skills/canon-screencast/SKILL.md
  docs/agents/demo.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/claude/canon-record.sh
  src/claude/cases/claude-workflow.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add draft-readme for authoring project READMEs
  claude/skills/draft-readme/REQUIREMENT.md
  claude/skills/draft-readme/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/docs/readme.sh
  src/claude/cases/authoring.ts
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(skills): flag confirm as load-bearing for badge-first READMEs
  claude/skills/draft-readme/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the verb-first rename gap in scenario pairing
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): assert only what a driven run can check
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/test-first.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(assets): regenerate hero for the rebased skill count
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

docs(sandbox): name the turn cap that reached the pull request
  scripts/sandbox/claude/autoship.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add draft-readme for authoring project READMEs (#1575)
  .claude/context/sandbox/coverage.md
  assets/captures/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/draft-readme/REQUIREMENT.md
  claude/skills/draft-readme/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/docs/readme.sh
  src/claude/cases/authoring.ts
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): assert only what a driven run can check (#1580)
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/test-first.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.64.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.64.0 (#1577)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): declare the four missing light-ground roles
  .claude/DESIGN.md
  src/design/base.css
  src/design/tokens.ts
  web/src/styles/tokens.css
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(web): color the page favicon and pin its token source
  package.json
  scripts/core/regen-web-favicon.ts
  web/public/favicon.svg
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(web): render every catalog section as live DOM panels
  web/e2e/home.spec.ts
  web/src/components/board-lifecycle.astro
  web/src/components/catalog.astro
  web/src/components/install.astro
  web/src/components/panel-group.astro
  web/src/components/panel-row.astro
  web/src/components/panel.astro
  web/src/components/site-nav.astro
  web/src/components/target-receives.astro
  web/src/content/copy.ts
  web/src/layouts/base.astro
  web/src/lib/catalogs.ts
Due: none

fix(web): drop the muddy tint from the primary hover
  web/src/styles/global.css
Due: none

fix(web): align the nav mark on its ink rather than its box
  web/src/components/site-nav.astro
Due: none

fix(web): restore the accent to one use and give headings a real step
  web/e2e/home.spec.ts
  web/src/components/agent-view.astro
  web/src/components/board-lifecycle.astro
  web/src/components/call-to-action.astro
  web/src/components/catalog.astro
  web/src/components/install.astro
  web/src/components/panel-group.astro
  web/src/components/panel-row.astro
  web/src/components/rule-arrival.astro
  web/src/components/site-nav.astro
  web/src/components/target-receives.astro
  web/src/layouts/base.astro
  web/src/styles/global.css
Due: none

fix(web): align chips within a group and balance the rule columns
  web/src/components/panel-group.astro
  web/src/components/panel-row.astro
  web/src/components/panel.astro
Due: none

feat(web): lift the actions and level the nav row
  .cspell/project-terms.txt
  web/src/components/call-to-action.astro
  web/src/components/hero.astro
  web/src/components/site-nav.astro
  web/src/styles/global.css
Due: none

fix(web): level the wordmark with the nav links and set the button label
  web/src/components/hero.astro
  web/src/components/site-nav.astro
  web/src/styles/global.css
Due: none

feat(web): reveal each section on scroll under a second motion class
  internal/rules/claude/593-landing-page.md
  web/src/components/agent-view.astro
  web/src/components/board-lifecycle.astro
  web/src/components/call-to-action.astro
  web/src/components/catalog.astro
  web/src/components/rule-arrival.astro
  web/src/components/target-receives.astro
  web/src/styles/global.css
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(web): add page landmarks, section ids, footer, and social card tags
  web/src/components/hero.astro
  web/src/components/install.astro
  web/src/content/copy.ts
  web/src/layouts/base.astro
Due: none

chore(assets): refresh capture frames for the new light roles
  assets/captures/governance.html
  assets/captures/hero.html
  assets/captures/install-surface.html
  assets/captures/install.html
  assets/captures/task-board.html
  assets/governance.stamp
  assets/install-surface.stamp
  assets/install.stamp
  assets/task-board.stamp
Due: none

fix(web): size the nav from the spacing scale and drop label caps
  web/src/components/catalog.astro
  web/src/components/panel-group.astro
  web/src/components/rule-arrival.astro
  web/src/components/site-nav.astro
  web/src/styles/global.css
Due: none

fix(web): keep each footer link on one line
  web/src/layouts/base.astro
Due: none

test(design): assert the light gap is closed rather than present
  src/design/css.test.ts
  src/design/document.test.ts
Due: none

style(web): apply formatter to the section and copy edits
  .claude/rules/internal/claude/593-landing-page.md
  web/src/components/board-lifecycle.astro
  web/src/components/call-to-action.astro
  web/src/components/catalog.astro
  web/src/components/hero.astro
  web/src/components/install.astro
  web/src/components/rule-arrival.astro
  web/src/components/target-receives.astro
  web/src/content/copy.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): re-capture the hero stamp after the rebase
  assets/hero.stamp
  web/src/components/panel-row.astro
Due: none

fix(web): give the headline the page's own family
  web/src/components/hero.astro
Due: none

fix(web): widen the headline to the page's content column
  web/src/components/hero.astro
Due: none

fix(web): leave hover to the lift alone
  web/src/components/hero.astro
  web/src/styles/global.css
Due: none

docs(web): record the page's decisions and fill its wireframe
  .claude/context/web.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): assert the bootstrap indexes arm's measured stop
  scripts/sandbox/fixtures/infra/indexes/bootstrap/expect.toml
Due: none

docs(claude): record claude-worktree's node_modules check defect
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): widen surface-capture rule to match components/
  .claude/context/tooling.md
  .claude/rules/canon/ui/440-surface-capture.md
  governance/rules/ui/440-surface-capture.md
  src/gov/list.test.ts
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cli): note gov regen --root defaults off the working directory
  .claude/context/development/regeneration.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
