Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(eval): record the four ablation pair results
  .claude/context/scripts.md
  scripts/eval/ledger.md
  scripts/eval/result-seed.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): cite the Apple entries and drop the contradicted pattern
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): require the arm for a multi-arm headless verification
  .claude/context/claude-internal.md
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): pair the memory review scenario with its skill name
  scripts/sandbox/claude/memory-review.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add a ui-test scenario and arm three claude arms
  scripts/sandbox/claude/review.sh
  scripts/sandbox/claude/ui-test.sh
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): drop the assertion its own byte-exact pin subsumes
  scripts/sandbox/fixtures/claude/docs/diagram-sweep/expect.toml
Due: none

docs(sandbox): record the scratch escape as a standing limit
  .claude/context/sandbox.md
  .cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): route sandbox-check to the headless runner (#710)
  .claude/context/claude-internal.md
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.14.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): rewrite the Apple row against the guide it cites (#711)
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(eval): separate ablation verdicts and harden seed retention
  .claude/context/sandbox.md
  .claude/context/scripts.md
  scripts/eval/README.md
  scripts/eval/ledger.md
  scripts/eval/result-seed.md
  scripts/eval/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.14.0 (#713)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(eval): add an ablation dimension and run the four seed pairs (#712)
  .claude/context/sandbox.md
  .claude/context/scripts.md
  .cspell/project-terms.txt
  scripts/eval/README.md
  scripts/eval/fixture.tar.gz
  scripts/eval/ledger.md
  scripts/eval/pre-registration.md
  scripts/eval/result-seed.md
  scripts/eval/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.15.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.15.0 (#715)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): correct what a write scope reports at zero writes
  .claude/context/sandbox.md
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): arm three claude scenarios and pair the memory review scenario (#714)
  .claude/context/sandbox.md
  .cspell/tech-stack.txt
  scripts/sandbox/claude/memory-review.sh
  scripts/sandbox/claude/review.sh
  scripts/sandbox/claude/ui-test.sh
  scripts/sandbox/fixtures/claude/docs/diagram-sweep/expect.toml
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.16.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.16.0 (#716)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(capture): add a command that renders html sources to png
  .cspell/tech-stack.txt
  assets/install.html
  package.json
  src/capture/render.ts
  src/capture/sources.test.ts
  src/capture/sources.ts
  src/cli.ts
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(capture): document the command surface and its package exclusion
  .claude/context/cli.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(capture): check availability first and frame a launch failure
  .claude/context/cli.md
  docs/agents.md
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(capture): add a command that renders html sources to png (#717)
  .claude/context/cli.md
  .cspell/tech-stack.txt
  assets/install.html
  docs/agents.md
  package.json
  src/capture/render.ts
  src/capture/sources.test.ts
  src/capture/sources.ts
  src/cli.ts
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.17.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.17.0 (#718)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): subdivide context blocks past 40 unbroken lines
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): reclassify prose patterns the industry guides rule on
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): absorb claude-design-propose into design-extract
  .claude/context/design.md
  .claude/context/index.md
  README.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  docs/ai-workflow.md
  docs/target-projects.md
  docs/visual-design-workflow.md
  scripts/sandbox/claude/design-extract.sh
  scripts/sandbox/claude/design-propose.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): absorb create-snippet into create-standard
  .claude/context/snippets.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/create-standard/references/snippets.md
  standards/bundled/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): point the skill catalog at both merge survivors
  .claude/context/claude-plugin/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): subdivide context blocks past 40 unbroken lines (#719)
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): reclassify prose patterns the industry guides rule on (#720)
  wiki/prose-influences.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.18.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): fold the greenfield arm forward instead of dropping it
  .claude/context/design.md
  claude/skills/claude-design-propose/SKILL.md
  scripts/sandbox/claude/design-propose.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): provision the tree outside the toolkit worktree
  .gitignore
  scripts/lib/sandbox-path.sh
  scripts/lib/ui.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/tooling/upstream.sh
  src/commands/sandbox.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): report a declared write scope that checked nothing
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: none

feat(sandbox): report scratch written outside the sandbox
  scripts/sandbox/run.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): assert the escaped output three arms demoted
  .claude/context/sandbox.md
  .claude/context/scripts.md
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.18.0 (#722)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): merge two skill pairs behind deprecation pointers (#721)
  .claude/context/claude-plugin/skills.md
  .claude/context/design.md
  .claude/context/index.md
  .claude/context/snippets.md
  README.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/create-standard/references/snippets.md
  docs/ai-workflow.md
  docs/target-projects.md
  docs/visual-design-workflow.md
  scripts/sandbox/claude/design-extract.sh
  scripts/sandbox/claude/design-propose.sh
  standards/bundled/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
