Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(snippets): allow multiple outcome bullets in tasks-add
  snippets/claude/tasks-add.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): add aitk sync command to chain domain syncs
  scripts/manage-aitk.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(antigravity): add install and sync scripts
  antigravity/workflows.toml
  scripts/manage-aitk.sh
  scripts/manage-antigravity.sh
  scripts/sandbox/infra/antigravity.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(antigravity): add internal skill and docs
  .claude/skills/aitk-antigravity/SKILL.md
  docs/antigravity.md
  docs/sandbox.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(antigravity): register domain in project context files
  CLAUDE.md
  GEMINI.md
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): add antigravity-related terms
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
Due: none

feat(antigravity): add workflow system (#317)
  .claude/skills/aitk-antigravity/SKILL.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  CLAUDE.md
  GEMINI.md
  README.md
  antigravity/workflows.toml
  antigravity/workflows/claude-docs.md
  antigravity/workflows/claude-feature.md
  antigravity/workflows/claude-review.md
  antigravity/workflows/claude-ui-test.md
  antigravity/workflows/docs-sync.md
  antigravity/workflows/git-branch.md
  antigravity/workflows/git-commit.md
  antigravity/workflows/git-pr.md
  antigravity/workflows/git-ship.md
  antigravity/workflows/git-split.md
  antigravity/workflows/git-stage.md
  docs/antigravity.md
  docs/sandbox.md
  docs/scripts.md
  scripts/manage-aitk.sh
  scripts/manage-antigravity.sh
  scripts/sandbox/infra/antigravity.sh
  standards/antigravity.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(governance): move rules and stacks from .cursor/ to governance/
  governance/rules/core/000-constitution.mdc
  governance/rules/core/010-testing.mdc
  governance/rules/core/020-concurrency.mdc
  governance/rules/core/030-error-handling.mdc
  governance/rules/core/040-performance.mdc
  governance/rules/core/050-logging.mdc
  governance/rules/core/060-naming.mdc
  governance/rules/core/070-planning.mdc
  governance/rules/framework/200-react.mdc
  governance/rules/framework/210-ui.mdc
  governance/rules/framework/220-a11y.mdc
  governance/rules/framework/230-forms.mdc
  governance/rules/framework/250-tailwind.mdc
  governance/rules/framework/260-shadcn.mdc
  governance/rules/lang/100-typescript.mdc
  governance/rules/lib/300-testing-ts.mdc
  governance/rules/lib/310-zod.mdc
  governance/rules/lib/320-tanstack-query.mdc
  governance/rules/lib/350-security-web.mdc
  governance/stacks/base.toml
  governance/stacks/node.toml
  governance/stacks/planner.toml
  governance/stacks/python.toml
  governance/stacks/react.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(governance): delete .cursor/ after move to governance/ (#320)
  .cursor/rules/core/000-constitution.mdc
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/core/020-concurrency.mdc
  .cursor/rules/core/030-error-handling.mdc
  .cursor/rules/core/040-performance.mdc
  .cursor/rules/core/050-logging.mdc
  .cursor/rules/core/060-naming.mdc
  .cursor/rules/core/070-planning.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/210-ui.mdc
  .cursor/rules/framework/220-a11y.mdc
  .cursor/rules/framework/230-forms.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/300-testing-ts.mdc
  .cursor/rules/lib/310-zod.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
  .cursor/stacks/base.toml
  .cursor/stacks/node.toml
  .cursor/stacks/planner.toml
  .cursor/stacks/python.toml
  .cursor/stacks/react.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tasks): simplify task lifecycle to single-section with archive (#321)
  docs/ai-workflow.md
  docs/snippets.md
  snippets/claude/tasks-add.md
  snippets/claude/tasks-done.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/TASKS-ARCHIVE.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): add git workflow, antigravity domain, and GOV.md regen
  scripts/manage-claude.sh
  scripts/manage-sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sync): migrate sandbox to anchor repo with full git workflow
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(gov): skip GOV.md write when content is unchanged (#324)
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude-ui-test): enforce checkbox syntax in output
  claude/skills/claude-ui-test/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): split new feature into two sessions
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(workflow): split feature workflow into two sessions (#325)
  claude/skills/claude-ui-test/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): preserve scoped packages when stripping version tags
  scripts/lib/inject.sh
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): remove stack-specific notes from system doc
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): add .prettierignore seed and pass it as --ignore-path
  tooling/base/configs/.lintstagedrc
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/base/seeds/.prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): add .prettierignore seed and --ignore-path support (#328)
  docs/tooling.md
  tooling/base/configs/.lintstagedrc
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/base/seeds/.prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add statusline script to user config source
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): document aitk claude setup command and statusline format
  README.md
  docs/claude.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add aitk claude setup command for user-level config (#329)
  README.md
  docs/claude.md
  tooling/claude/reference.md
  tooling/claude/user/statusline-command.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(spell): add toolname to project dictionary
  .cspell/project-terms.txt
Due: none

feat(scripts): add aitk wiki init command
  scripts/manage-aitk.sh
  scripts/manage-wiki.sh
  scripts/sandbox/infra/wiki.sh
  scripts/wiki/init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(wiki): add claude code reference pages
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-hooks.md
  wiki/claude-memory.md
  wiki/claude-permissions.md
  wiki/claude-plan-mode.md
  wiki/claude-skills.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs: add wiki instructions and update references
  CLAUDE.md
  README.md
  docs/sandbox.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wiki): add aitk wiki init command and claude code reference pages (#330)
  .cspell/project-terms.txt
  CLAUDE.md
  README.md
  docs/sandbox.md
  docs/scripts.md
  scripts/manage-aitk.sh
  scripts/manage-wiki.sh
  scripts/sandbox/infra/wiki.sh
  scripts/wiki/init.sh
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-hooks.md
  wiki/claude-memory.md
  wiki/claude-permissions.md
  wiki/claude-plan-mode.md
  wiki/claude-skills.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(cli): add TypeScript dispatcher with commander and execa
  .cspell/tech-stack.txt
  .prettierignore
  bun.lock
  package.json
  src/cli.ts
  src/commands/antigravity.ts
  src/commands/claude.ts
  src/commands/gov.ts
  src/commands/prompts.ts
  src/commands/sandbox.ts
  src/commands/snippets.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/commands/tooling.ts
  src/commands/wiki.ts
  src/exec.ts
  tsconfig.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): remove guard_root from install and claude gov commands
  .gitignore
  scripts/gov/install.sh
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(governance): add node stack GOV.md for toolkit
  .claude/GOV.md
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): document TypeScript dispatch layer
  .claude/skills/aitk-scripts/SKILL.md
  CLAUDE.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(deps): add @clack/prompts dependency
  bun.lock
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): migrate interactive picker to clack prompts
  scripts/manage-sandbox.sh
  src/commands/sandbox.ts
  src/ui.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(scripts): update src structure for phase 2 changes
  .claude/TASKS.md
  .claude/skills/aitk-scripts/SKILL.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): scope GOV.md to src/ and scripts/ domains
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): strip shipped phases from TASKS.md
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(config): remove redundant noEmit from tsconfig
  tsconfig.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): migrate aitk dispatcher to TypeScript with clack prompts (#331)
  .claude/GOV.md
  .claude/TASKS.md
  .claude/skills/aitk-scripts/SKILL.md
  .cspell/tech-stack.txt
  .gitignore
  .prettierignore
  CLAUDE.md
  bun.lock
  docs/scripts.md
  package.json
  scripts/gov/install.sh
  scripts/manage-claude.sh
  scripts/manage-sandbox.sh
  src/cli.ts
  src/commands/antigravity.ts
  src/commands/claude.ts
  src/commands/gov.ts
  src/commands/prompts.ts
  src/commands/sandbox.ts
  src/commands/snippets.ts
  src/commands/standards.ts
  src/commands/sync.ts
  src/commands/tooling.ts
  src/commands/wiki.ts
  src/exec.ts
  src/ui.ts
  tsconfig.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(ui): replace clack with native TTY select and confirm
  src/ui.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
