Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(claude): add .gitignore sync from manifest
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): make sync scan output more verbose
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): extract clean logic into a dedicated function
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(sandbox): add backticks to command references in error messages
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(cli): introduce top-level command router (#163)
  README.md
  docs/SANDBOX.md
  docs/TOOLING.md
  docs/WORKFLOW.md
  package.json
  scripts/manage-aitk.sh
  scripts/manage-claude.sh
  scripts/manage-prompts.sh
  scripts/manage-sandbox.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(cli): clean up cli command tables
  docs/TOOLING.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): update script reference
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cli): cleanup and update cli references (#164)
  docs/SANDBOX.md
  docs/TOOLING.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(vite-react): remove snapshot step from verify script
  tooling/vite-react/configs/scripts/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(snapshot): remove snapshot script and references (#166)
  docs/WORKFLOW.md
  tooling/base/configs/scripts/snapshot.sh
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/vite-react/configs/scripts/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): remove .claude/PROJECT.md from gitignore
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): remove PROJECT.md reference from docs
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add prompt and review commands
  scripts/claude/prompt.sh
  scripts/claude/review.sh
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): refactor claude init logic
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add summary of changes to init prompt
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(claude): simplify output messages
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): rename prompt to implementer
  scripts/claude/prompt.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/IMPLEMENTER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): refine review template
  tooling/claude/seeds/.claude/REVIEW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): sync workflow docs with claude changes
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): remove review script
  scripts/claude/review.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(prompt): update prompt generation documentation
  README.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): consolidate prompt generation into claude workflow (#167)
  .cspell/project-terms.txt
  README.md
  docs/PROMPTS.md
  docs/WORKFLOW.md
  scripts/claude/prompt.sh
  scripts/manage-aitk.sh
  scripts/manage-claude.sh
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/REVIEW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): categorize files as managed or seeded
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): refactor update command workflow (#168)
  README.md
  docs/TOOLING.md
  docs/WORKFLOW.md
  scripts/manage-claude.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): restructure review prompt template
  tooling/claude/seeds/.claude/REVIEW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add tasks section to implementer prompt
  tooling/claude/seeds/.claude/IMPLEMENTER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gemini): update 'apply' prompt to use 'write_file' and 'replace'
  gemini/commands/dev/apply.toml
Due: none

feat(claude): inject context files automatically into prompt
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(claude): add detailed test sequence to sandbox script
  scripts/sandbox/tooling/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): exclude 'DESIGN.md' from update drift check
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): simplify prompt script log output
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(claude): refine prompt script log format
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(workflow): clarify source injection step for code generation
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): update markdown fence syntax
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/REVIEW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): refine prompt payload formatting and newline handling
  scripts/claude/prompt.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): align docs with claude prompt auto-injection
  README.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): refine prompt generation workflow (#169)
  README.md
  docs/WORKFLOW.md
  gemini/commands/dev/apply.toml
  scripts/claude/prompt.sh
  scripts/lib/inject.sh
  scripts/manage-claude.sh
  scripts/sandbox/tooling/claude.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/.claude/REVIEW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): normalize document management and exit codes
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(workflow): update design doc seeding and implementer output
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): standardize implementer prompt and docs (#170)
  docs/WORKFLOW.md
  gemini/commands/dev/apply.toml
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/IMPLEMENTER.md
  tooling/claude/seeds/.claude/SESSION.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
