Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(labels): add the uncovered-path line to git-pr's output
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(labels): match prettier's quote preference in the new fixture test
  src/labels/coverage.test.ts
Due: none

fix(labels): test .prettierignore against its actual declined row
  src/labels/coverage.test.ts
Due: none

feat(claude): trip the review fallback on a count of open PRs
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): name the SEEN limit on the review fallback count
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add plan-answers, reporting a plan's open operator calls
  .cspell/project-terms.txt
  src/commands/tasks.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
Due: none

feat(orchestrate): gate a build dispatch on the plan's answer slots
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): record the third dispatch gate and the verb behind it
  .claude/context/claude-internal/orchestration.md
  .claude/context/standards/per-standard.md
  docs/agents/tasks.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(labels): close the label map's two uncovered paths (#1299)
  .claude/canon/pr-labels.toml
  claude/skills/git-pr/SKILL.md
  src/labels/coverage.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.2.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the repo-metadata skill and cli verb
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/repo-metadata/REQUIREMENT.md
  claude/skills/repo-metadata/SKILL.md
  docs/agents/commands.md
  src/claude/cases/misc.ts
  src/cli.ts
  src/commands/repo.ts
  src/repo/metadata.test.ts
  src/repo/metadata.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.2.1 (#1301)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): trip the review fallback on a count of open PRs (#1300)
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): bound and record a nested background dispatch
  .cspell/tech-stack.txt
  scripts/lib/sandbox-dispatch.sh
  scripts/sandbox/fixtures/claude/canon-rollout/expect.toml
  scripts/sandbox/run.sh
  src/sandbox-dispatch.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): record the dispatch bound and what it cannot reach
  .claude/context/sandbox/overview.md
  docs/agents/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.3.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.3.0 (#1303)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): resolve a plan reference against the board and the root
  .claude/context/claude-internal/orchestration.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): refuse an archived plan, correct the resolver claim
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/paths.test.ts
  src/paths.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
  src/tasks/archive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): reap the session group on the failure path too
  .claude/context/sandbox/overview.md
  scripts/lib/sandbox-dispatch.sh
  scripts/sandbox/run.sh
  src/sandbox-dispatch.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): require --repo and validate apply topics
  claude/skills/repo-metadata/SKILL.md
  src/commands/repo.ts
  src/repo/metadata.test.ts
  src/repo/metadata.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(tasks): drop the doc comment its function left behind
  src/tasks/archive.ts
Due: none

feat(sandbox): bound and record a nested background dispatch (#1305)
  .claude/context/sandbox/overview.md
  .cspell/tech-stack.txt
  docs/agents/sandbox.md
  scripts/lib/sandbox-dispatch.sh
  scripts/sandbox/fixtures/claude/canon-rollout/expect.toml
  scripts/sandbox/run.sh
  src/sandbox-dispatch.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(orchestrate): gate a build dispatch on the plan's answer slots (#1302)
  .claude/context/claude-internal/orchestration.md
  .claude/context/standards/per-standard.md
  .cspell/project-terms.txt
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  docs/agents/tasks.md
  docs/operating-model.md
  src/commands/tasks.ts
  src/paths.test.ts
  src/paths.ts
  src/tasks/answers.test.ts
  src/tasks/answers.ts
  src/tasks/archive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the repo-metadata skill and cli verb (#1304)
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/repo-metadata/REQUIREMENT.md
  claude/skills/repo-metadata/SKILL.md
  docs/agents/commands.md
  src/claude/cases/misc.ts
  src/cli.ts
  src/commands/repo.ts
  src/repo/metadata.test.ts
  src/repo/metadata.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.4.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.4.0 (#1306)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(audits): merge baseline.json into .claude/canon
  .claude/canon/baseline.json
  .claude/canon/pr-labels.toml
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/context/cli/sync.md
  .claude/context/development/gates.md
  .claude/context/inventory.md
  .claude/context/tooling.md
  claude/skills/claude-markdown-propose/REQUIREMENT.md
  docs/agents/audits.md
  src/audits/baseline.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): drop the dead audits-collision requirement
  claude/skills/claude-markdown-propose/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(audits): merge baseline.json into .claude/canon (#1307)
  .claude/canon/baseline.json
  .claude/canon/pr-labels.toml
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/context/cli/sync.md
  .claude/context/development/gates.md
  .claude/context/inventory.md
  .claude/context/tooling.md
  claude/skills/claude-markdown-propose/REQUIREMENT.md
  docs/agents/audits.md
  src/audits/baseline.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(records): resolve a record folder at either root
  src/record-root.test.ts
  src/record-root.ts
Due: none

refactor(cli): route every record path through the resolver
  src/commands/claude.ts
  src/commands/context.ts
  src/commands/design.ts
  src/commands/feedback.ts
  src/commands/gov.ts
  src/commands/slides.ts
  src/context/citations.test.ts
  src/context/citations.ts
  src/context/folders.ts
  src/intake/folder.ts
  src/records/backup.ts
  src/records/size.test.ts
  src/records/size.ts
  src/records/validate.test.ts
  src/records/validate.ts
  src/tasks/answers.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/teach/workspace.ts
Due: none

chore(gitignore): ship the .canon entry and widen parity
  .gitignore
  scripts/core/check-ignore-parity.sh
  tooling/claude/manifest.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(hooks): teach the seeded hooks the second record root
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/hooks/memory-index.sh
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(records): state the read order and the creation default
  .claude/context/cli/commands.md
  .claude/context/development/hooks.md
  .claude/context/tooling.md
  docs/agents/context-audit.md
  docs/agents/index.md
  docs/agents/records.md
  docs/agents/tasks.md
  scripts/sandbox/infra/record-root.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): seed a live plan beside the archived one
  scripts/sandbox/infra/record-root.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(records): read a record folder at either root (#1309)
  .claude/context/cli/commands.md
  .claude/context/development/hooks.md
  .claude/context/tooling.md
  .gitignore
  docs/agents/context-audit.md
  docs/agents/index.md
  docs/agents/records.md
  docs/agents/tasks.md
  scripts/core/check-ignore-parity.sh
  scripts/sandbox/infra/record-root.sh
  src/commands/claude.ts
  src/commands/context.ts
  src/commands/design.ts
  src/commands/feedback.ts
  src/commands/gov.ts
  src/commands/slides.ts
  src/context/citations.test.ts
  src/context/citations.ts
  src/context/folders.ts
  src/intake/folder.ts
  src/record-root.test.ts
  src/record-root.ts
  src/records/backup.ts
  src/records/size.test.ts
  src/records/size.ts
  src/records/validate.test.ts
  src/records/validate.ts
  src/tasks/answers.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/teach/workspace.ts
  tooling/claude/manifest.toml
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/hooks/memory-index.sh
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.5.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.5.0 (#1310)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(browser): share the modality press and the server test
  src/browser/engine.ts
  src/inventory/walk.ts
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
