Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(tooling): seed cspell dictionaries and add lint autofix
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(cspell): add tolower and toupper to tech-stack dict
  .cspell/tech-stack.txt
Due: none

feat(tooling): add base and vite-react config scripts
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/configs/scripts/verify.sh
  tooling/vite-react/configs/scripts/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): update tooling scripts setup
  scripts/sandbox/tooling/base.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): update vite-react tooling setup
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(test): remove sandbox baseline branch handling
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add dependencies and scripts to tooling manifests
  tooling/base/manifest.toml
  tooling/vite-react/manifest.toml
Due: none

feat(tooling): implement declarative tooling injection via manifest.toml
  scripts/lib/inject.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add dedicated tooling management command
  scripts/lib/inject.sh
  scripts/manage-test.sh
  scripts/manage-tooling.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(ui): extract common functions to new library script
  scripts/lib/ui.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): implement manifest-driven tooling management (#102)
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  scripts/lib/inject.sh
  scripts/lib/ui.sh
  scripts/manage-test.sh
  scripts/manage-tooling.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
  scripts/sync-gov.sh
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/configs/scripts/verify.sh
  tooling/base/manifest.toml
  tooling/vite-react/configs/scripts/verify.sh
  tooling/vite-react/manifest.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(cli): centralize ui helpers and enhance tooling interaction
  scripts/manage-test.sh
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): centralize ui helper functions
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(scripts): extract ui helpers to shared lib
  scripts/build-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(scripts): rename selected option var
  scripts/build-gov.sh
  scripts/lib/ui.sh
  scripts/manage-test.sh
  scripts/manage-tooling.sh
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(scripts): centralize logging and ui utilities
  scripts/core/clean.sh
  scripts/core/update.sh
  scripts/core/verify.sh
  scripts/lib/compiler.sh
  scripts/lib/inject.sh
  scripts/lib/ui.sh
  scripts/sandbox/dev/apply.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/release/changelog.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(scripts): centralize ui and logging utilities (#103)
  scripts/build-gov.sh
  scripts/core/clean.sh
  scripts/core/update.sh
  scripts/core/verify.sh
  scripts/lib/compiler.sh
  scripts/lib/inject.sh
  scripts/lib/ui.sh
  scripts/manage-test.sh
  scripts/manage-tooling.sh
  scripts/sandbox/dev/apply.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/release/changelog.sh
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(cli): sort sandbox categories and commands
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(build): correct bun add dependency array handling
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(infra): add governance sync scenario
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): flatten governance rule directories
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): move governance commands to dedicated script
  scripts/manage-gov.sh
  scripts/manage-test.sh
  scripts/sandbox/infra/gov-sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): flatten gdev tooling stack selection
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): add tooling sync test scenario
  scripts/sandbox/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add interactive config scanning and sync confirmation
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): separate seed files from golden configs
  scripts/lib/inject.sh
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): clarify tooling sync test scenario messages
  scripts/sandbox/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): remove cspell seed from tooling sandbox
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): restructure cspell seeding with dedicated seeds dir
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/vite-react.sh
  tooling/base/seeds/.cspell/project-terms.txt
  tooling/base/seeds/.cspell/tech-stack.txt
  tooling/vite-react/seeds/.cspell/project-terms.txt
  tooling/vite-react/seeds/.cspell/tech-stack.txt
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(inject): extract seed file merge logic into helper
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(dev-setup): implement tooling config drift audit
  gemini/commands/dev/setup.toml
Due: none

feat(inject): add recursive tooling reference injection
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): introduce ref command and enhance sync
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling-review): introduce tooling config doc review command
  gemini/commands/tooling/review.toml
Due: none

chore(cspell): ignore tooling directories from spell check
  cspell.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(dev-setup): remove fresh project note from setup command
  gemini/commands/dev/setup.toml
Due: none

feat(tooling): introduce audit-first config sync and review commands (#104)
  cspell.json
  gemini/commands/dev/setup.toml
  gemini/commands/tooling/review.toml
  scripts/lib/inject.sh
  scripts/manage-gov.sh
  scripts/manage-test.sh
  scripts/manage-tooling.sh
  scripts/sandbox/infra/gov-sync.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/sync.sh
  scripts/sandbox/tooling/vite-react.sh
  scripts/sync-gov.sh
  tooling/base/seeds/.cspell/project-terms.txt
  tooling/base/seeds/.cspell/tech-stack.txt
  tooling/vite-react/seeds/.cspell/project-terms.txt
  tooling/vite-react/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(prose): prohibit em dashes
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): add sandbox system documentation
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): add governance system documentation
  docs/GOVERNANCE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
