Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 0.97.0 (#996)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(review): record the dispatch floor coming off
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): gate the stalled state on the pass age
  .cspell/tech-stack.txt
  claude/skills/claude-orchestrate/scripts/poll.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(review): dispatch on a finding at any severity
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): dispatch on a finding at any severity
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): record what the stale threshold was set against
  claude/skills/claude-orchestrate/scripts/poll.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(review): split the review heading from the dispatch (#995)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  .cspell/tech-stack.txt
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-orchestrate/scripts/poll.sh
  claude/skills/claude-pr-review/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
  scripts/sandbox/claude/pr-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.97.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.97.1 (#997)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): re-take the blocker kinds a command can settle
  src/commands/tasks.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

feat(orchestrate): fire the parked re-test from the merge sweep
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): record the blocker check and the reach it admits
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/standards/tasks.md
  docs/agents/commands.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(plugin): record the subset lever as additive and its cache skew
  .claude/context/claude-plugin/distribution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(plugin): count the bodies the curated shape strands
  .claude/context/claude-plugin/distribution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(plugin): record the subset lever as additive and its cache skew (#999)
  .claude/context/claude-plugin/distribution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): gate both blocker halves on a citation in the cell
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/standards/tasks.md
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): check parked blockers and trigger the re-test on a merge (#998)
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/standards/tasks.md
  claude/skills/claude-orchestrate/references/orchestrator-parked.md
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
  docs/agents/commands.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  src/commands/tasks.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.98.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.98.0 (#1000)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(rules): match astro files from the four ui rules
  governance/rules/ui/400-ui.md
  governance/rules/ui/410-a11y.md
  governance/rules/ui/420-forms.md
  governance/rules/ui/430-ux-completeness.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(plan): stamp a constraint with the commit it was measured against
  .claude/standards/plan.md
  claude/skills/claude-orchestrate/SKILL.md
  standards/plan.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): record why a constraint carries an expiry stamp
  .claude/context/standards/index.md
  .claude/context/standards/per-standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): note the constraint re-test in the handoff account
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): govern the teaching workspace shape
  .claude/standards/index.md
  .claude/standards/teach.md
  standards/index.md
  standards/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(records): validate a teaching workspace as a sixth kind
  .cspell/tech-stack.txt
  .gitignore
  src/records/backup.ts
  src/records/validate.test.ts
  src/records/validate.ts
Due: none

feat(claude): ship the claude-teach skill and its pedagogy
  claude/skills/claude-teach/REQUIREMENT.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  claude/skills/claude-teach/references/pedagogy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): arm teach on an open and a resume arm
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/open/expect.toml
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): record the shape and procedure split
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/records.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(plan): fetch before the re-test and split the stamp bullet
  .claude/context/standards/per-standard.md
  .claude/standards/plan.md
  docs/ai-workflow.md
  standards/plan.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(rules): spell a11y attributes per the file syntax
  governance/rules/ui/410-a11y.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(gov): assert the ui rules match an astro component
  src/gov/list.test.ts
Due: none

feat(plan): stamp a constraint with the commit it was measured against (#1007)
  .claude/context/standards/index.md
  .claude/context/standards/per-standard.md
  .claude/standards/plan.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/ai-workflow.md
  standards/plan.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.99.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.99.0 (#1009)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(records): carry a teaching workspace to the records backup
  src/records/backup.ts
Due: none

fix(claude): create every required file when opening a workspace
  claude/skills/claude-teach/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): calibrate the teach arms against a measured run
  .cspell/tech-stack.txt
  scripts/sandbox/claude/teach.sh
  scripts/sandbox/fixtures/claude/teach/open/expect.toml
  scripts/sandbox/fixtures/claude/teach/resume/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): refresh the delivery-routes count and its anchor
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(rules): match astro files from the four ui rules (#1006)
  governance/rules/ui/400-ui.md
  governance/rules/ui/410-a11y.md
  governance/rules/ui/420-forms.md
  governance/rules/ui/430-ux-completeness.md
  src/gov/list.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.99.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
