Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(standards): drop cross-standard signpost from versioning
  standards/versioning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add brief tier, roadmap, and versioning standard (#506)
  claude/skills/claude-brief/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/claude.md
  docs/standards.md
  scripts/sandbox/claude/brief.sh
  standards/index.md
  standards/versioning.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): split wireframes seed into per-surface folder
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  docs/claude.md
  scripts/claude/prompt.sh
  scripts/claude/seeds-list.sh
  scripts/core/install-check.sh
  scripts/manage-claude.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/ux-audit.sh
  scripts/sandbox/tooling/claude.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/WIREFRAMES.md
  tooling/claude/seeds/.claude/wireframes/feature-name.md
  tooling/claude/seeds/.claude/wireframes/index.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): renumber claude-docs steps after wireframe sweep insert
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): split wireframes seed into per-surface folder (#507)
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  docs/claude.md
  scripts/claude/prompt.sh
  scripts/claude/seeds-list.sh
  scripts/core/install-check.sh
  scripts/manage-claude.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  scripts/sandbox/claude/ux-audit.sh
  scripts/sandbox/tooling/claude.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/WIREFRAMES.md
  tooling/claude/seeds/.claude/wireframes/feature-name.md
  tooling/claude/seeds/.claude/wireframes/index.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): promote memory-review rules to behavior surfaces
  .claude/skills/aitk-claude/SKILL.md
  .cspell/project-terms.txt
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): promote memory-review rules to behavior surfaces (#508)
  .claude/skills/aitk-claude/SKILL.md
  .cspell/project-terms.txt
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): qualify .claude/ paths across docs, skills, and seeds
  antigravity/workflows/claude-review.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  standards/context.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): qualify .claude/ paths across docs, skills, and seeds (#509)
  antigravity/workflows/claude-review.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-design-propose/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  standards/context.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move ROADMAP under plans/ to drop gitignore entry
  claude/skills/claude-brief/SKILL.md
  docs/claude.md
  standards/versioning.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add claude-screencast skill for recording scripts
  claude/skills/claude-screencast/SKILL.md
  docs/claude.md
  docs/sandbox.md
  scripts/sandbox/claude/screencast.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): relocate ROADMAP from plans/ to briefs/
  claude/skills/claude-brief/SKILL.md
  docs/claude.md
  standards/versioning.md
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move ROADMAP into briefs/ to drop gitignore entry (#510)
  claude/skills/claude-brief/SKILL.md
  docs/claude.md
  standards/versioning.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): remove em dashes from screencast discovery prompts
  claude/skills/claude-screencast/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): clarify screencast skill is generation-only
  claude/skills/claude-screencast/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add claude-screencast skill for recording scripts (#511)
  claude/skills/claude-screencast/SKILL.md
  docs/claude.md
  docs/sandbox.md
  scripts/sandbox/claude/screencast.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): prune stale gitignore entries on sync
  docs/claude.md
  scripts/lib/inject.sh
  scripts/manage-claude.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): prune stale gitignore entries on sync (#512)
  docs/claude.md
  scripts/lib/inject.sh
  scripts/manage-claude.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): drop bold labels in seed CLAUDE.md context tiers
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): drop bold labels in seed CLAUDE.md context tiers (#513)
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): exclude snippets from indexes-install scan
  claude/skills/indexes-install/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): exclude snippets from indexes-install scan (#514)
  claude/skills/indexes-install/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(prompts): use env-bash shebang in bash-script template
  .cspell/tech-stack.txt
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(docs): consolidate bash 4+ note in docs/scripts.md
  README.md
  docs/development.md
  docs/scripts.md
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scripts): source ui.sh in bash 4 scripts missing the guard
  scripts/core/regen-indexes.sh
  scripts/sandbox/tooling/upstream.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): drop two skills and group bootstrap skills with setup-
  .claude/skills/aitk-sandbox-check/SKILL.md
  claude/skills/git-stash/SKILL.md
  claude/skills/release-changelog/SKILL.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/setup-init/SKILL.md
  claude/skills/setup-verify/SKILL.md
  docs/claude.md
  docs/indexes.md
  docs/sandbox.md
  docs/target-projects.md
  docs/tooling.md
  scripts/sandbox/claude/setup-init.sh
  scripts/sandbox/claude/setup-verify.sh
  scripts/sandbox/infra/indexes.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): drop two skills and group bootstrap skills with setup- (#516)
  .claude/skills/aitk-sandbox-check/SKILL.md
  claude/skills/git-stash/SKILL.md
  claude/skills/release-changelog/SKILL.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/setup-init/SKILL.md
  claude/skills/setup-verify/SKILL.md
  docs/claude.md
  docs/indexes.md
  docs/sandbox.md
  docs/target-projects.md
  docs/tooling.md
  scripts/sandbox/claude/setup-init.sh
  scripts/sandbox/claude/setup-verify.sh
  scripts/sandbox/infra/indexes.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add wireframe authoring standard
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  docs/claude.md
  docs/standards.md
  standards/index.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(antigravity): remove domain source, cli, sync, and docs
  .claude/REQUIREMENTS.md
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  CLAUDE.md
  antigravity/workflows.toml
  antigravity/workflows/claude-docs.md
  antigravity/workflows/claude-feature.md
  antigravity/workflows/claude-review.md
  antigravity/workflows/claude-ui-test.md
  antigravity/workflows/docs-sync.md
  antigravity/workflows/git-branch.md
  antigravity/workflows/git-commit.md
  antigravity/workflows/git-pr.md
  antigravity/workflows/git-ship.md
  antigravity/workflows/git-split.md
  antigravity/workflows/git-stage.md
  claude/skills/setup-init/SKILL.md
  docs/agents.md
  docs/antigravity.md
  docs/index.md
  docs/prompts.md
  docs/sandbox.md
  docs/scripts.md
  prompts/antigravity-workflow.md
  prompts/index.md
  prompts/prompts.toml
  scripts/manage-antigravity.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/antigravity.sh
  src/cli.ts
  src/commands/antigravity.ts
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): point wireframe edits at standard in CLAUDE.md seed
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add wireframe authoring standard (#517)
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  docs/claude.md
  docs/standards.md
  standards/index.md
  standards/wireframes.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(antigravity): remove domain source, cli, sync, and docs (#518)
  .claude/REQUIREMENTS.md
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  CLAUDE.md
  antigravity/workflows.toml
  antigravity/workflows/claude-docs.md
  antigravity/workflows/claude-feature.md
  antigravity/workflows/claude-review.md
  antigravity/workflows/claude-ui-test.md
  antigravity/workflows/docs-sync.md
  antigravity/workflows/git-branch.md
  antigravity/workflows/git-commit.md
  antigravity/workflows/git-pr.md
  antigravity/workflows/git-ship.md
  antigravity/workflows/git-split.md
  antigravity/workflows/git-stage.md
  claude/skills/setup-init/SKILL.md
  docs/agents.md
  docs/antigravity.md
  docs/index.md
  docs/prompts.md
  docs/sandbox.md
  docs/scripts.md
  prompts/antigravity-workflow.md
  prompts/index.md
  prompts/prompts.toml
  scripts/manage-antigravity.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/antigravity.sh
  src/cli.ts
  src/commands/antigravity.ts
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add bash-script and ci-workflow plugin skills
  claude/skills/bash-script/SKILL.md
  claude/skills/bash-script/references/patterns.md
  claude/skills/ci-workflow/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): drop prompts from aitk init default
  .claude/skills/aitk-prompts/SKILL.md
  docs/prompts.md
  docs/tooling.md
  scripts/manage-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add bash-script and ci-workflow plugin skills (#519)
  .claude/skills/aitk-prompts/SKILL.md
  claude/skills/bash-script/SKILL.md
  claude/skills/bash-script/references/patterns.md
  claude/skills/ci-workflow/SKILL.md
  docs/claude.md
  docs/prompts.md
  docs/tooling.md
  scripts/manage-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): diff preamble in seed-sync skill
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
  docs/standards.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): remove stale GOV.md
  .claude/GOV.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): diff seed-sync preamble (#520)
  .claude/GOV.md
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
  docs/standards.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
