Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 0.41.1 (#811)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.42.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.42.0 (#812)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.43.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.43.0 (#813)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add a validate verb reporting board rows against the tree
  src/commands/tasks.ts
  src/tasks/archive.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
Due: none

feat(standards): govern the session sibling and name the board validator
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): call the board validator from the orchestrator sweep
  .claude/snippets/claude/orchestrator-sweep.md
  snippets/claude/orchestrator-sweep.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): document the validate surface and its four checks
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/tasks.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(memory): generate the index from entry frontmatter
  .claude/hooks/memory-index.sh
  .claude/settings.json
  src/claude/seeds.ts
  src/commands/claude.ts
  tooling/claude/seeds/.claude/hooks/memory-index.sh
  tooling/claude/seeds/.claude/memory/index.md
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): route a domain fact to the context entry that owns it
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-capture/REQUIREMENT.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/git-ship/SKILL.md
  claude/skills/session-resume/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(memory): record the routing pipeline and index contract
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/development.md
  .claude/context/indexes.md
  CLAUDE.md
  docs/agents/indexes.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/memory-review.sh
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/git/ship.sh
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): archive a reviewed entry instead of deleting it
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add a board validator checking rows against the tree (#814)
  .claude/context/claude-internal.md
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/snippets/claude/orchestrator-sweep.md
  .claude/standards/tasks.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/tasks.md
  docs/ai-workflow.md
  snippets/claude/orchestrator-sweep.md
  src/commands/tasks.ts
  src/tasks/archive.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): sync the memory workflow section with routing
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.44.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): read the drift report instead of guessing or asking
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): report seeds, superseded artifacts, and unmigrated domains
  .cspell/project-terms.txt
  src/claude/seeds.ts
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/layout.test.ts
  src/sync/layout.ts
  src/sync/seeds-report.test.ts
  src/sync/seeds-report.ts
Due: none

test(sandbox): arm three target states against the drift report
  .claude/context/sandbox/coverage.md
  scripts/sandbox/fixtures/infra/drift/retired/expect.toml
  scripts/sandbox/fixtures/infra/drift/stale/expect.toml
  scripts/sandbox/fixtures/infra/drift/unmigrated/expect.toml
  scripts/sandbox/infra/drift.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(sync): document the surfaces reported beside the domains
  .claude/context/cli/sync.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.44.0 (#817)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(verify): gate the push on skill requirement presence
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add 'skills audit' measuring both skill corpora
  src/claude/skills-audit.test.ts
  src/claude/skills-audit.ts
  src/claude/skills-list.ts
  src/commands/claude.ts
Due: none

refactor(ui): lift 'plural' into the shared ui module
  src/commands/context.ts
  src/ui.ts
Due: none

docs(agents): document the skill audit surface and its gate
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/scripting.md
  docs/agents/skills-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the skill audit and its verify stage
  .claude/context/claude-plugin/skill-requirements.md
  .claude/context/cli/audits.md
  .claude/context/cli/commands.md
  .claude/context/cli/index.md
  .claude/context/scripts/core.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add 'skills audit' measuring both skill corpora (#815)
  .claude/context/claude-plugin/skill-requirements.md
  .claude/context/cli/audits.md
  .claude/context/cli/commands.md
  .claude/context/cli/index.md
  .claude/context/scripts/core.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/scripting.md
  docs/agents/skills-audit.md
  scripts/core/verify.sh
  src/claude/skills-audit.test.ts
  src/claude/skills-audit.ts
  src/claude/skills-list.ts
  src/commands/claude.ts
  src/commands/context.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.45.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(memory): route a domain fact to the entry that owns it (#816)
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/development.md
  .claude/context/indexes.md
  .claude/hooks/memory-index.sh
  .claude/settings.json
  CLAUDE.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-capture/REQUIREMENT.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/git-ship/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/agents/indexes.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/memory-review.sh
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/git/ship.sh
  src/claude/seeds.ts
  src/commands/claude.ts
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/memory-index.sh
  tooling/claude/seeds/.claude/memory/index.md
  tooling/claude/seeds/.claude/settings.json
  tooling/claude/seeds/CLAUDE.md
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.45.0 (#819)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): gate the report on a toolkit-managed target
  .claude/context/cli/sync.md
  docs/agents/install-and-sync.md
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): count a root-layout domain as a managed marker
  .claude/context/cli/sync.md
  docs/agents/install-and-sync.md
  src/sync/check.test.ts
  src/sync/check.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): close three blind spots in the target drift report (#818)
  .claude/context/cli/sync.md
  .claude/context/sandbox/coverage.md
  .cspell/project-terms.txt
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/toolkit-operator/SKILL.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  scripts/sandbox/fixtures/infra/drift/retired/expect.toml
  scripts/sandbox/fixtures/infra/drift/stale/expect.toml
  scripts/sandbox/fixtures/infra/drift/unmigrated/expect.toml
  scripts/sandbox/infra/drift.sh
  src/claude/seeds.ts
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/layout.test.ts
  src/sync/layout.ts
  src/sync/seeds-report.test.ts
  src/sync/seeds-report.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.46.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.46.0 (#820)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): read the version from package.json instead of a literal
  src/cli.ts
Due: none

docs(distribution): an installed plugin never refreshes itself
  README.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): report the real version and document how updates arrive (#821)
  README.md
  docs/target-projects.md
  src/cli.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.46.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.46.1 (#822)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
