Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(hooks): instruct the summarizer on an automatic compaction
  .claude/ARCHITECTURE.md
  .claude/context/development/hooks.md
  .claude/hooks/precompact-handoff.sh
  .claude/settings.json
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sessions): reattach present's doc comment and fix dwell test seed
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
Due: none

test(sandbox): record the prose-executable arm passing clean
  .claude/context/claude-plugin/skill-procedures.md
  scripts/sandbox/fixtures/claude/autoship/prose-executable/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add a per-arm escape scope for the escape watch
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  docs/agents/sandbox.md
  scripts/sandbox/fixtures/claude/aitk-rollout/expect.toml
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sessions): report a stalled worker via the status dwell (#1275)
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/scripts/watch.sh
  docs/agents/sessions.md
  src/commands/sessions.ts
  src/sessions/claim.test.ts
  src/sessions/live.test.ts
  src/sessions/registry.ts
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
  src/worktrees/reclaim.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.52.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.52.0 (#1281)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): record the prose-executable arm passing clean (#1280)
  .claude/context/claude-plugin/skill-procedures.md
  scripts/sandbox/fixtures/claude/autoship/prose-executable/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): drop color-source script count to 12
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record the escape scope's live verification
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): instruct the summarizer on an automatic compaction (#1279)
  .claude/ARCHITECTURE.md
  .claude/context/development/hooks.md
  .claude/hooks/precompact-handoff.sh
  .claude/settings.json
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.52.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.52.1 (#1283)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(pr): compare a body's Key Changes against its own diff
  src/pr/bijection.test.ts
  src/pr/bijection.ts
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: none

feat(cli): register the pr command group
  src/cli.ts
  src/commands/pr.ts
Due: none

docs(pr): document the key-changes verb and call it in review
  claude/skills/claude-pr-review/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/key-changes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): drop alone from the no-change marker set
  docs/agents/key-changes.md
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): correct the marker count after alone came out
  .claude/context/claude-plugin/skill-procedures.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): read a bullet disclaiming a change as claiming nothing
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-pr-review/SKILL.md
  docs/agents/key-changes.md
  src/commands/pr.ts
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): record the body check in the context entries and the model
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/overview.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): recapture the hero for the new command count
  assets/hero.stamp
Due: none

fix(pr): page past the view file cap before judging a claim
  docs/agents/key-changes.md
  src/commands/pr.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): state which input decides the source in key-changes
  docs/agents/key-changes.md
  src/commands/pr.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): recapture the hero after the rebase onto main
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

fix(sandbox): report escape scope unmeasured with nothing to watch
  .claude/context/sandbox/overview.md
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(pr): compare a body's Key Changes against its own diff (#1276)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/overview.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-pr-review/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/key-changes.md
  docs/operating-model.md
  src/cli.ts
  src/commands/pr.ts
  src/pr/bijection.test.ts
  src/pr/bijection.ts
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.53.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.53.0 (#1284)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): document the --escapes-watched flag
  docs/agents/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): push a notification when a worker stalls
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add a per-arm escape scope for the escape watch (#1282)
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  docs/agents/sandbox.md
  scripts/sandbox/fixtures/claude/aitk-rollout/expect.toml
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.54.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.54.0 (#1286)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): correct stall coverage and split the push signal
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(worker): announce the address-review pass and log pr creation
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development/hooks.md
  .claude/hooks/pr-create-log.sh
  .claude/settings.json
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-worker/SKILL.md
  docs/operating-model.md
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(orchestrate): push a notification when a worker stalls (#1285)
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.55.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.55.0 (#1288)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worker): resolve pr-create-log's root and document the worktree lock
  .claude/context/development/hooks.md
  .claude/hooks/pr-create-log.sh
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
