Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(release): reach the registry and run checks without a maintainer (#690)
  .claude/context/ci.md
  .claude/context/cli.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add requirements across the ship-chain family (#691)
  .claude/context/claude-plugin.md
  .claude/rules/claude/570-skill.md
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-review/REQUIREMENT.md
  governance/rules/claude/570-skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): split the diagram surface into per-kind entries (#692)
  .claude/rules/claude/560-diagrams.md
  .claude/standards/diagrams.md
  .claude/standards/index.md
  .claude/standards/prose.md
  claude/skills/claude-diagram/SKILL.md
  docs/ai-workflow.md
  docs/target-projects.md
  governance/rules/claude/560-diagrams.md
  scripts/core/install-check.sh
  scripts/sandbox/claude/diagram-migrate.sh
  scripts/sandbox/claude/diagram.sh
  src/claude/seeds-list.test.ts
  src/claude/seeds.ts
  standards/diagrams.md
  standards/index.md
  standards/prose.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/diagrams/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.9.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): define the banned-character scan and branch slug
  .claude/standards/prose.md
  .claude/standards/skill.md
  standards/prose.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): cite the shared banned-character scan
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(split): scan generated titles and bodies before publishing
  claude/skills/git-split/REQUIREMENT.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): cite the shared branch-slug derivation
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record where shared skill procedures are defined
  .claude/context/claude-plugin.md
  .claude/context/standards.md
  .claude/skills/aitk-claude/SKILL.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(cli): lift the gitignore read out of the indexes walk
  src/git-ignore.ts
  src/indexes/walk.ts
Due: none

feat(comments): measure comment density and trend from git
  src/cli.ts
  src/commands/comments.ts
  src/comments/scan.test.ts
  src/comments/scan.ts
  src/comments/trend.test.ts
  src/comments/trend.ts
  src/comments/vocabulary.test.ts
  src/comments/vocabulary.ts
Due: none

docs(comments): document the scan surface and its capability class
  .claude/context/cli.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the comment scan command
  scripts/sandbox/infra/comments.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(comments): strip ambient git env so -C scopes the subtree
  src/comments/trend.test.ts
  src/comments/trend.ts
  src/git-env.ts
  src/git-ignore.ts
  src/indexes/walk.test.ts
Due: none

feat(standards): add a voice section scoped to README.md
  .claude/standards/index.md
  .claude/standards/readme.md
  standards/index.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): address the reader in second person throughout
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): drop local enforcement detail from shared rules
  .claude/context/claude-plugin.md
  .claude/context/standards.md
  .claude/standards/prose.md
  .claude/standards/skill.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  standards/prose.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): scope the voice register to a root README
  .claude/standards/readme.md
  README.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): give the duplicated skill blocks one definition each (#694)
  .claude/context/claude-plugin.md
  .claude/context/standards.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/standards/prose.md
  .claude/standards/skill.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/REQUIREMENT.md
  claude/skills/git-split/SKILL.md
  docs/target-projects.md
  standards/prose.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(comments): measure comment density and trend from git (#695)
  .claude/context/cli.md
  docs/agents.md
  scripts/sandbox/infra/comments.sh
  src/cli.ts
  src/commands/comments.ts
  src/comments/scan.test.ts
  src/comments/scan.ts
  src/comments/trend.test.ts
  src/comments/trend.ts
  src/comments/vocabulary.test.ts
  src/comments/vocabulary.ts
  src/git-env.ts
  src/git-ignore.ts
  src/indexes/walk.test.ts
  src/indexes/walk.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add a voice register for README.md (#696)
  .claude/standards/index.md
  .claude/standards/readme.md
  README.md
  standards/index.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.10.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.10.0 (#697)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): produce the toolkit's own rules copy from a stack record
  internal/governance.toml
  internal/rules/claude/595-tooling-reference.md
  src/commands/gov.ts
  src/gov/consumed.test.ts
  src/gov/consumed.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add a regen arm to the governance scenario
  scripts/sandbox/infra/gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(verify): assert the consumed rules copy for drift
  scripts/core/regen-claude-copies.sh
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(gov): record how the rules copy is produced and gated
  .claude/context/development.md
  .claude/context/governance.md
  CLAUDE.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(diagrams): draw system context, components, flow, and deploy
  .claude/diagrams/components.md
  .claude/diagrams/deployment.md
  .claude/diagrams/index.md
  .claude/diagrams/request-flow.md
  .claude/diagrams/system-context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(docs): resolve a context domain split into a folder
  .claude/context/cli.md
  docs/agents.md
  scripts/docs/list.sh
  src/docs/read.test.ts
  src/docs/read.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(context): split the plugin entry and retarget its citations
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/claude-plugin/boundaries.md
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/overview.md
  .claude/context/claude-plugin/skills.md
  .claude/context/development.md
  .claude/context/index.md
  .claude/context/indexes.md
  .claude/context/scripts.md
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-claude/SKILL.md
  README.md
  claude/skills/toolkit-cli/SKILL.md
  docs/operating-model.md
  docs/target-projects.md
  docs/visual-design-workflow.md
  wiki/claude-worktrees.md
  wiki/community-skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): record the folder split and the bullet catalog rule
  .claude/standards/context.md
  docs/ai-workflow.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): anchor the rules exclusion and correct the boundary prose
  .claude/context/governance.md
  CLAUDE.md
  scripts/core/regen-claude-copies.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(diagrams): note the edge budget trip on components
  .claude/diagrams/components.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): produce the toolkit's rules copy and gate it on drift (#698)
  .claude/context/development.md
  .claude/context/governance.md
  CLAUDE.md
  docs/agents.md
  internal/governance.toml
  internal/rules/claude/595-tooling-reference.md
  scripts/core/regen-claude-copies.sh
  scripts/core/verify.sh
  scripts/sandbox/infra/gov.sh
  src/commands/gov.ts
  src/gov/consumed.test.ts
  src/gov/consumed.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(diagrams): add the toolkit's own four-kind diagram set (#699)
  .claude/diagrams/components.md
  .claude/diagrams/deployment.md
  .claude/diagrams/index.md
  .claude/diagrams/request-flow.md
  .claude/diagrams/system-context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.11.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.11.0 (#701)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(indexes): sort a split domain among the files in every lister
  .claude/context/cli.md
  .claude/context/indexes.md
  scripts/docs/list.sh
  src/indexes/render.test.ts
  src/indexes/render.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(standards): drop the repo-local path from the split rule
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(indexes): regenerate the context catalog with the new ordering
  .claude/context/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
