Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(standards): give tasks an archive owner, origin keys, and sections
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add a claude-tasks skill owning create and archive
  claude/skills/claude-tasks/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): register claude-tasks and its boundary with claude-docs
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): key review comment bodies on the pull request number (#628)
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): guard task archive against an unswept plan pointer
  .claude/context/claude-plugin.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  docs/ai-workflow.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): stop archive guards routing to a sweep that declines
  .claude/context/claude-plugin.md
  .claude/standards/tasks.md
  claude/skills/claude-tasks/SKILL.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): own task creation and archiving in a claude-tasks skill (#629)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  docs/ai-workflow.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): oblige a plan to enumerate a shared resource's consumers
  .claude/context/claude-plugin.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): generalize the consumer unit in the shared-resource rule
  .claude/context/claude-plugin.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): carry the route into the Postgres migration stage
  scripts/sandbox/fixtures/claude/docs/drift/02-postgres/create/src/routes/tasks.ts.fixture
Due: none

feat(sandbox): persist each headless run and raise the turn cap
  .claude/context/sandbox.md
  docs/agents.md
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): oblige a plan to enumerate a shared resource's consumers (#630)
  .claude/context/claude-plugin.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): separate the turn budget from the asserted ceiling
  .claude/context/sandbox.md
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): make the drift arm pass and persist its verdict (#631)
  .claude/context/sandbox.md
  docs/agents.md
  scripts/sandbox/fixtures/claude/docs/drift/02-postgres/create/src/routes/tasks.ts.fixture
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): seed a development context entry so its pointer resolves
  tooling/claude/seeds/.claude/context/development.md
  tooling/claude/seeds/.claude/context/index.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add a skill that runs a documented project command
  claude/skills/project-commands/SKILL.md
  claude/skills/setup-verify/SKILL.md
  scripts/sandbox/claude/project-commands.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): record the seeded entry exception and the run boundary
  .claude/context/claude-plugin.md
  .claude/context/context-model.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): drop the seed base tooling already installs
  .claude/context/claude-plugin.md
  .claude/context/context-model.md
  claude/skills/project-commands/SKILL.md
  docs/target-projects.md
  tooling/claude/seeds/.claude/context/development.md
  tooling/claude/seeds/.claude/context/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): make the sandbox arms assertable and name the backgrounding
  .claude/context/claude-plugin.md
  claude/skills/project-commands/SKILL.md
  scripts/sandbox/claude/project-commands.sh
  scripts/sandbox/fixtures/claude/project-commands/missing/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/refused/expect.toml
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): cut the mode branch and the enumerated fallbacks
  .claude/context/claude-plugin.md
  claude/skills/project-commands/SKILL.md
  scripts/sandbox/claude/project-commands.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): reflow the run comparison table
  .claude/context/claude-plugin.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): resolve every command a request covers, not just one
  claude/skills/project-commands/SKILL.md
  scripts/sandbox/claude/project-commands.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): drop guessed turn ceilings and free the arm ports
  .cspell/tech-stack.txt
  claude/skills/project-commands/SKILL.md
  scripts/sandbox/claude/project-commands.sh
  scripts/sandbox/fixtures/claude/project-commands/documented/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/missing/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/refused/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): set arm turn ceilings from measured runs
  scripts/sandbox/fixtures/claude/project-commands/documented/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/missing/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/refused/expect.toml
Due: none

feat(claude): run a documented project command without a verification pass (#632)
  .claude/context/claude-plugin.md
  .claude/context/context-model.md
  .cspell/tech-stack.txt
  claude/skills/project-commands/SKILL.md
  claude/skills/setup-verify/SKILL.md
  docs/target-projects.md
  scripts/sandbox/claude/project-commands.sh
  scripts/sandbox/fixtures/claude/project-commands/documented/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/missing/expect.toml
  scripts/sandbox/fixtures/claude/project-commands/refused/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): drop wiki references from the plugin catalog
  claude/skills/setup-plugins/references/plugin-catalog.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wiki): scaffold a target wiki at .claude/wiki/
  scripts/sandbox/infra/wiki.sh
  src/commands/wiki.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/wiki/init.test.ts
  src/wiki/init.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): name the target wiki index in the seed CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): describe what the wiki verb scaffolds
  .claude/REQUIREMENTS.md
  .claude/context/cli.md
  .claude/context/context-model.md
  .claude/context/tooling.md
  README.md
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): cut wiki references from shipped skills
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): add a skill-path guard stage to check
  .claude/context/scripts.md
  scripts/core/check-skill-paths.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): state the shipped-skill path rule for authors
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): name the merge hotspots and the guard's generated source
  .claude/context/claude-plugin.md
  .claude/context/scripts.md
  claude/skills/claude-orchestrate/SKILL.md
  scripts/core/check-skill-paths.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): declare expectations for both wiki arms
  .claude/context/sandbox.md
  scripts/sandbox/fixtures/infra/wiki/init/expect.toml
  scripts/sandbox/fixtures/infra/wiki/legacy/expect.toml
  scripts/sandbox/infra/wiki.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): stop shipped skills referencing repo-local wiki paths (#634)
  .claude/context/claude-plugin.md
  .claude/context/scripts.md
  .claude/skills/aitk-claude/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-worktree/SKILL.md
  claude/skills/setup-plugins/references/plugin-catalog.md
  scripts/core/check-skill-paths.sh
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(wiki): scaffold a target wiki at .claude/wiki/ (#633)
  .claude/REQUIREMENTS.md
  .claude/context/cli.md
  .claude/context/context-model.md
  .claude/context/sandbox.md
  .claude/context/tooling.md
  README.md
  docs/agents.md
  docs/target-projects.md
  scripts/sandbox/fixtures/infra/wiki/init/expect.toml
  scripts/sandbox/fixtures/infra/wiki/legacy/expect.toml
  scripts/sandbox/infra/wiki.sh
  src/commands/wiki.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/wiki/init.test.ts
  src/wiki/init.ts
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): cap what priority.md and task findings carry
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add the board-sweep arm for the board-wide sweep
  .claude/context/sandbox.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v01.0-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v02.0-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/src/rate-limit.ts.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/02-pagination/create/src/routes/tasks.ts.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-pagination.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-rate-limit.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): sweep plans board-wide rather than per session
  .claude/context/claude-plugin.md
  claude/skills/claude-docs/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): reconcile step 1 scope and cover sweep over-reach
  .claude/context/claude-plugin.md
  .claude/context/sandbox.md
  .claude/standards/tasks.md
  claude/skills/claude-docs/SKILL.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/01-initial/create/.claude/tasks/v03.0-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/03-plans/create/.claude/plans/feature-search.md.fixture
  scripts/sandbox/fixtures/claude/docs/board-sweep/expect.toml
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
