Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gov): add end-to-end reliability and scope rules to react
  governance/rules/lib/305-e2e-reliability.md
  governance/rules/lib/306-test-scope.md
  governance/stacks/react.toml
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add a same-tab link default and astro to security-web
  governance/rules/lib/350-security-web.md
  governance/rules/ui/450-link-behavior.md
  governance/stacks/astro.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): update rule counts and stack rosters for the sibling lift
  .claude/context/development/regeneration.md
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/sandbox/authoring.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): sync the pr body on every git-followup invocation
  claude/skills/claude-address-review/SKILL.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-followup/SKILL.md
  scripts/sandbox/claude/address-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(review): flag a stale ticked testing box in claude-pr-review
  .claude/context/claude-plugin/skill-review.md
  .claude/standards/pr.md
  claude/skills/claude-pr-review/SKILL.md
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): close review gaps in the stack table and link rule
  .claude/context/governance/stacks.md
  governance/rules/ui/450-link-behavior.md
  src/gov/list.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): keep the body sync uniform on a hand-edited pr body
  claude/skills/git-followup/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): lift three sibling rules into base, react, and astro (#1133)
  .claude/context/development/regeneration.md
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/sandbox/authoring.md
  .claude/rules/lang/120-bash.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  governance/rules/lang/120-bash.md
  governance/rules/lib/305-e2e-reliability.md
  governance/rules/lib/306-test-scope.md
  governance/rules/lib/350-security-web.md
  governance/rules/ui/450-link-behavior.md
  governance/stacks/astro.toml
  governance/stacks/base.toml
  governance/stacks/react.toml
  src/gov/list.test.ts
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.13.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): describe the opt-in default across public docs
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/snippets.md
  .claude/context/tooling.md
  .claude/skills/aitk-snippets/REQUIREMENT.md
  .claude/skills/aitk-snippets/SKILL.md
  README.md
  claude/skills/decision-escalate/REQUIREMENT.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): make aitk init decline the domain by default
  .claude/rules/snippets/505-at-references.md
  CLAUDE.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  governance/rules/snippets/505-at-references.md
  internal/governance.toml
  scripts/core/install-check.sh
  scripts/core/verify.sh
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
  src/commands/init.ts
  src/commands/snippets.ts
  src/gov/list.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/steps.test.ts
  src/init/steps.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.13.0 (#1136)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(hero): regenerate after rebase onto the merged governance rules
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

feat(snippets): make aitk init decline the domain by default (#1135)
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/snippets.md
  .claude/context/tooling.md
  .claude/rules/snippets/505-at-references.md
  .claude/skills/aitk-snippets/REQUIREMENT.md
  .claude/skills/aitk-snippets/SKILL.md
  CLAUDE.md
  README.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/decision-escalate/REQUIREMENT.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  governance/rules/snippets/505-at-references.md
  internal/governance.toml
  scripts/core/install-check.sh
  scripts/core/verify.sh
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
  src/commands/init.ts
  src/commands/snippets.ts
  src/gov/list.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/steps.test.ts
  src/init/steps.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.14.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.14.0 (#1137)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): sync the pr body and catch stale testing claims (#1134)
  .claude/context/claude-plugin/skill-review.md
  .claude/standards/pr.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-followup/SKILL.md
  scripts/sandbox/claude/address-review.sh
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.14.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.14.1 (#1138)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(release): cancel superseded release-please runs
  .claude/context/ci.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): stop a close-out repeat at an unchanged head
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/fixtures/claude/pr-review/answered-head/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(governance): add index and dictionary path-scoped rules
  .claude/context/development/regeneration.md
  .claude/context/governance/rules.md
  .claude/context/sandbox/authoring.md
  .claude/rules/claude/511-indexes.md
  .claude/rules/core/065-spelling.md
  CLAUDE.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  governance/rules/claude/511-indexes.md
  governance/rules/core/065-spelling.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(release): scope concurrency cancel to release-please job
  .claude/context/ci.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(records): add a migrate verb for recoverable frontmatter findings
  .claude/context/cli/commands.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/records.md
  src/commands/records.ts
  src/records/migrate.test.ts
  src/records/migrate.ts
  src/records/validate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(release): cancel superseded release-please runs (#1139)
  .claude/context/ci.md
  .github/workflows/release-please.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): stop a close-out repeat at an unchanged head (#1140)
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/fixtures/claude/pr-review/answered-head/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.14.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(governance): drop the pointer and route closed dictionaries
  .claude/rules/core/065-spelling.md
  CLAUDE.md
  governance/rules/core/065-spelling.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.14.2 (#1143)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the TF-IDF skill routing ranker
  src/claude/skills-rank.test.ts
  src/claude/skills-rank.ts
Due: none

feat(claude): author the routing case corpus
  src/claude/cases/all.test.ts
  src/claude/cases/all.ts
  src/claude/cases/authoring.ts
  src/claude/cases/claude-workflow.ts
  src/claude/cases/git.ts
  src/claude/cases/misc.ts
  src/claude/cases/setup.ts
Due: none

feat(claude): wire the routing measure into CLI and audits
  src/audits/catalog.ts
  src/commands/claude.ts
Due: none

fix(claude): stop two skills losing their own routing phrase
  claude/skills/decision-escalate/SKILL.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): quote a trigger phrase in ten skill descriptions
  claude/skills/bash-script/SKILL.md
  claude/skills/ci-workflow/SKILL.md
  claude/skills/cli-script/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/git-branch/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
  claude/skills/youtube-transcripts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): record the multi-tool and sync convergence findings
  .claude/ARCHITECTURE.md
  .claude/REQUIREMENTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(records): repair migrate's batch writes and exit code
  .claude/context/cli/commands.md
  docs/agents/records.md
  src/commands/records-migrate.test.ts
  src/commands/records.test.ts
  src/commands/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cli): sync docs for the routing measure and its tokenizer gotcha
  .claude/context/cli/audits.md
  docs/agents/audits.md
  docs/agents/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(spell): add stopword to the project dictionary
  .cspell/project-terms.txt
Due: none

fix(claude): drop the dead spelling-rules citation
  claude/skills/claude-design-extract/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(records): cover partial --write repair in the exit-1 case
  docs/agents/records.md
  src/commands/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
