Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(markdown): relocate frozen baseline readings to context
  .claude/context/cli/audits.md
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): report a turn that wrote files and named none of them
  .claude/context/claude-plugin/cli.md
  .claude/context/development/hooks.md
  .claude/hooks/silent-turn.sh
  .claude/settings.json
  .cspell/tech-stack.txt
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/silent-turn.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(gate): ban same-repository citations regardless of qualification (#1433)
  .claude/context/claude-internal/orchestration.md
  .claude/context/cli/audits.md
  .claude/context/development/gates.md
  claude/skills/claude-docs/references/anchor-sweep.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/references/source-material.md
  docs/agents/context-audit-checks.md
  docs/agents/key-changes.md
  docs/agents/markdown-audit.md
  docs/agents/superseded.md
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
  standards/publish.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.32.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.32.1 (#1435)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): embed the course stylesheet and its fonts per lesson
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  cspell.json
  docs/agents/commands.md
  docs/agents/teach.md
  src/commands/teach.ts
  src/design/css.test.ts
  src/design/css.ts
  src/design/fonts.ts
  src/teach/lesson.test.ts
  src/teach/lesson.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
  standards/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record two gotchas from the teach stylesheet embed
  .claude/context/claude-internal/orchestration.md
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(teach): drop the redundant embedded DejaVu font faces
  src/design/css.test.ts
  src/design/css.ts
  src/design/fonts.ts
Due: none

fix(hooks): block a silent turn and fix a basename collision
  .claude/ARCHITECTURE.md
  .claude/context/development/hooks.md
  .claude/hooks/silent-turn.sh
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/silent-turn.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(teach): embed the course stylesheet and its fonts per lesson (#1434)
  .claude/context/claude-internal/orchestration.md
  .claude/context/development/verification.md
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  cspell.json
  docs/agents/commands.md
  docs/agents/teach.md
  src/commands/teach.ts
  src/design/css.test.ts
  src/design/css.ts
  src/design/fonts.ts
  src/teach/lesson.test.ts
  src/teach/lesson.ts
  src/teach/workspace.test.ts
  src/teach/workspace.ts
  standards/teach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): report a turn that wrote files and named none of them (#1436)
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/cli.md
  .claude/context/development/hooks.md
  .claude/hooks/silent-turn.sh
  .claude/settings.json
  .cspell/tech-stack.txt
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/silent-turn.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.33.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.33.0 (#1437)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(slides): add a freeform layout for explicit shape placement
  .claude/context/slides.md
  examples/slides/showcase.md
  src/slides/layouts.test.ts
  src/slides/layouts.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(ci): seed the phase-label-gate workflow to base
  .claude/context/ci.md
  .claude/context/sandbox/authoring.md
  .claude/context/tooling.md
  .cspell/project-terms.txt
  claude/skills/canon-cli/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/fixtures/tooling/base/expect.toml
  tooling/base/configs/.github/workflows/phase-label-gate.yml
  tooling/base/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): rekey the seed-sync fixture to content, not position
  .claude/context/sandbox/authoring.md
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(slides): throw on a dashless freeform line and draw its title
  src/slides/layouts.test.ts
  src/slides/layouts.ts
Due: none

feat(design): declare a shared favicon on every rendered surface
  .claude/DESIGN.md
  .claude/context/design.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/development/verification.md
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.stamp
  assets/install.html
  assets/install.html.tmpl
  assets/install.stamp
  assets/showcase-governance.html
  assets/showcase-governance.html.tmpl
  assets/showcase-governance.stamp
  assets/showcase-install-surface.html
  assets/showcase-install-surface.html.tmpl
  assets/showcase-install-surface.stamp
  assets/showcase-task-board.html
  assets/showcase-task-board.html.tmpl
  assets/showcase-task-board.stamp
  claude/skills/claude-teach/SKILL.md
  cspell.json
  scripts/core/regen-hero.sh
  src/design/render.test.ts
  src/design/render.ts
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(ci): drop the install step a target cannot satisfy
  .claude/context/ci.md
  scripts/sandbox/fixtures/tooling/base/expect.toml
  tooling/base/configs/.github/workflows/phase-label-gate.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): rewrite a stale gotcha paragraph as done, not broken
  .claude/context/sandbox/authoring.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(slides): document the reserved freeform title band
  .claude/context/slides.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(design): name the favicon copies' per-surface accent colors
  .claude/DESIGN.md
  .claude/context/design.md
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(ci): seed the phase-label-gate workflow to base (#1439)
  .claude/context/ci.md
  .claude/context/sandbox/authoring.md
  .claude/context/tooling.md
  .cspell/project-terms.txt
  claude/skills/canon-cli/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/fixtures/tooling/base/expect.toml
  tooling/base/configs/.github/workflows/phase-label-gate.yml
  tooling/base/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.34.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(slides): add rendered showcase screenshots for both variants
  examples/slides/images/showcase-dark-01.png
  examples/slides/images/showcase-dark-02.png
  examples/slides/images/showcase-dark-03.png
  examples/slides/images/showcase-dark-04.png
  examples/slides/images/showcase-dark-05.png
  examples/slides/images/showcase-dark-06.png
  examples/slides/images/showcase-dark-07.png
  examples/slides/images/showcase-dark-08.png
  examples/slides/images/showcase-dark-09.png
  examples/slides/images/showcase-dark-10.png
  examples/slides/images/showcase-dark-11.png
  examples/slides/images/showcase-light-01.png
  examples/slides/images/showcase-light-02.png
  examples/slides/images/showcase-light-03.png
  examples/slides/images/showcase-light-04.png
  examples/slides/images/showcase-light-05.png
  examples/slides/images/showcase-light-06.png
  examples/slides/images/showcase-light-07.png
  examples/slides/images/showcase-light-08.png
  examples/slides/images/showcase-light-09.png
  examples/slides/images/showcase-light-10.png
  examples/slides/images/showcase-light-11.png
Due: none

chore(main): release 4.34.0 (#1442)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): rekey the seed-sync fixture to content, not position (#1440)
  .claude/context/sandbox/authoring.md
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/fixtures/claude/seed-sync/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.34.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.34.1 (#1443)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): declare a shared favicon on every rendered surface (#1441)
  .claude/DESIGN.md
  .claude/context/design.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/development/verification.md
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.stamp
  assets/install.html
  assets/install.html.tmpl
  assets/install.stamp
  assets/showcase-governance.html
  assets/showcase-governance.html.tmpl
  assets/showcase-governance.stamp
  assets/showcase-install-surface.html
  assets/showcase-install-surface.html.tmpl
  assets/showcase-install-surface.stamp
  assets/showcase-task-board.html
  assets/showcase-task-board.html.tmpl
  assets/showcase-task-board.stamp
  claude/skills/claude-teach/SKILL.md
  cspell.json
  scripts/core/regen-hero.sh
  src/design/render.test.ts
  src/design/render.ts
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.35.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(slides): note the showcase screenshots are a manual snapshot
  .claude/context/slides.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.35.0 (#1444)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(cli): fold INSTALL_MARKERS/bands coupling into the sync context entry
  .claude/context/cli/sync.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(rule): drop a duplicated numbering-mechanic sentence
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(slides): add a freeform layout for explicit shape placement (#1438)
  .claude/context/slides.md
  examples/slides/images/showcase-dark-01.png
  examples/slides/images/showcase-dark-02.png
  examples/slides/images/showcase-dark-03.png
  examples/slides/images/showcase-dark-04.png
  examples/slides/images/showcase-dark-05.png
  examples/slides/images/showcase-dark-06.png
  examples/slides/images/showcase-dark-07.png
  examples/slides/images/showcase-dark-08.png
  examples/slides/images/showcase-dark-09.png
  examples/slides/images/showcase-dark-10.png
  examples/slides/images/showcase-dark-11.png
  examples/slides/images/showcase-light-01.png
  examples/slides/images/showcase-light-02.png
  examples/slides/images/showcase-light-03.png
  examples/slides/images/showcase-light-04.png
  examples/slides/images/showcase-light-05.png
  examples/slides/images/showcase-light-06.png
  examples/slides/images/showcase-light-07.png
  examples/slides/images/showcase-light-08.png
  examples/slides/images/showcase-light-09.png
  examples/slides/images/showcase-light-10.png
  examples/slides/images/showcase-light-11.png
  examples/slides/showcase.md
  src/slides/layouts.test.ts
  src/slides/layouts.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.36.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.36.0 (#1445)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(feedback): pin the github issue target to the toolkit's own repo
  src/commands/feedback.ts
  src/github-format.test.ts
  src/github-format.ts
Due: none
