Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

.lintstagedrc:

{
  "**/*.{json,css,md,mdc}": ["prettier --write --ignore-path .gitignore"],
  "**/*.sh": ["shfmt --write --indent 2"],
  "**/*.{json,md,mdc}": ["cspell --no-must-find-files"]
}

chore(config): set package type to module
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prettier): enforce single quotes
  .prettierrc
Due: none

chore(verify): add project verification script
  package.json
  scripts/verify.sh
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

chore(husky): add pre-push hook for verification
  .husky/pre-push
Due: none

chore(verify): add executable permission to script
  scripts/verify.sh
Due: shfmt --write --indent 2

style(format): apply prettier formatting
  scripts/assets/standards/readme.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(husky): add git hooks and verification script (#86)
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .prettierrc
  bun.lock
  commitlint.config.js
  package.json
  scripts/assets/standards/readme.md
  scripts/verify.sh
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

feat(sync-gov): add option to sync rules, standards, or both
  scripts/sync-gov.sh
Due: shfmt --write --indent 2

chore(gov): update 3 standards
  commands/gov/standards.toml
Due: none

feat(sync): add sync scope selection and update governance standards (#87)
  commands/gov/standards.toml
  scripts/sync-gov.sh
Due: shfmt --write --indent 2

style(prompts): standardize 'Must Do/Not Do' headings
  .prompts/command.md
  .prompts/reference.md
  .prompts/script.md
  .prompts/system.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(deps): add missing words to cspell dictionary
  .cspell/project-terms.txt
Due: none

refactor(prompts): refine rule templates and constraints for clarity
  .prompts/rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): refactor reference file generator prompt
  .prompts/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(prompts): add skill generator prompt
  .prompts/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): rename prompt files for clarity
  .prompts/bash-script.md
  .prompts/claude-skill.md
  .prompts/cursor-rules.md
  .prompts/dev-reference.md
  .prompts/gemini-cli.md
  .prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): consolidate and clarify prompt templates (#88)
  .cspell/project-terms.txt
  .prompts/bash-script.md
  .prompts/claude-skill.md
  .prompts/cursor-rules.md
  .prompts/dev-reference.md
  .prompts/gemini-cli.md
  .prompts/meta-prompt.md
  .prompts/reference.md
  .prompts/rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor branch reference content
  scripts/assets/standards/branch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor commit reference documentation
  scripts/assets/standards/commit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor pull request reference documentation
  scripts/assets/standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor changelog reference documentation
  scripts/assets/standards/changelog.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor prose reference documentation
  scripts/assets/standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor readme reference documentation
  scripts/assets/standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gov): update 6 standards
  commands/gov/standards.toml
  standards/branch.md
  standards/changelog.md
  standards/commit.md
  standards/pr.md
  standards/prose.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini-cli): refactor prompt guidelines
  .prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): refactor content and prompt guidelines (#89)
  .prompts/gemini-cli.md
  commands/gov/standards.toml
  scripts/assets/standards/branch.md
  scripts/assets/standards/changelog.md
  scripts/assets/standards/commit.md
  scripts/assets/standards/pr.md
  scripts/assets/standards/prose.md
  scripts/assets/standards/readme.md
  standards/branch.md
  standards/changelog.md
  standards/commit.md
  standards/pr.md
  standards/prose.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): add constraint organization patterns
  .prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): reorganize cursor rule constraints
  .prompts/cursor-rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): reorganize gemini-cli prompt constraints
  .prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): reorganize claude-skill prompt constraints
  .prompts/claude-skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): reorganize bash-script prompt constraints
  .prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(prompts): reorganize prompt constraints for clarity (#90)
  .prompts/bash-script.md
  .prompts/claude-skill.md
  .prompts/cursor-rules.md
  .prompts/gemini-cli.md
  .prompts/meta-prompt.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prettier): add markdown parser for mdc files
  .prettierrc
Due: none

refactor(rules): reorganize rule file sections
  scripts/assets/cursor/rules/core/000-constitution.mdc
  scripts/assets/cursor/rules/core/010-testing.mdc
  scripts/assets/cursor/rules/core/020-concurrency.mdc
  scripts/assets/cursor/rules/core/030-error-handling.mdc
  scripts/assets/cursor/rules/core/040-performance.mdc
  scripts/assets/cursor/rules/core/050-logging.mdc
  scripts/assets/cursor/rules/framework/200-react.mdc
  scripts/assets/cursor/rules/framework/250-tailwind.mdc
  scripts/assets/cursor/rules/lang/100-typescript.mdc
  scripts/assets/cursor/rules/lib/300-testing-ts.mdc
  scripts/assets/cursor/rules/lib/310-zod.mdc
  scripts/assets/cursor/rules/lib/350-security-web.mdc
  scripts/assets/cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gov): update 13 rules
  commands/gov/rules.toml
Due: none

refactor(gov): reorganize governance rule sections for clarity (#91)
  .prettierrc
  commands/gov/rules.toml
  scripts/assets/cursor/rules/core/000-constitution.mdc
  scripts/assets/cursor/rules/core/010-testing.mdc
  scripts/assets/cursor/rules/core/020-concurrency.mdc
  scripts/assets/cursor/rules/core/030-error-handling.mdc
  scripts/assets/cursor/rules/core/040-performance.mdc
  scripts/assets/cursor/rules/core/050-logging.mdc
  scripts/assets/cursor/rules/framework/200-react.mdc
  scripts/assets/cursor/rules/framework/250-tailwind.mdc
  scripts/assets/cursor/rules/lang/100-typescript.mdc
  scripts/assets/cursor/rules/lib/300-testing-ts.mdc
  scripts/assets/cursor/rules/lib/310-zod.mdc
  scripts/assets/cursor/rules/lib/350-security-web.mdc
  scripts/assets/cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(governance): organize and enhance code quality rules
  scripts/assets/cursor/rules/core/000-constitution.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(concurrency): remove execution efficiency section
  scripts/assets/cursor/rules/core/020-concurrency.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(naming): add naming standards
  scripts/assets/cursor/rules/core/060-naming.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(testing): refine testing guidelines
  scripts/assets/cursor/rules/core/010-testing.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
