Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(standards): switch frontmatter caps to directional rules
  .claude/skills/aitk-governance/references/rule-audit.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  standards/context.md
  standards/prose.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): switch frontmatter caps to directional rules (#521)
  .claude/skills/aitk-governance/references/rule-audit.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  standards/context.md
  standards/prose.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add effort and context color to statusline
  .cspell/project-terms.txt
  docs/claude.md
  tooling/claude/user/statusline-command.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): drop inline comments from statusline
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add effort and context color to statusline (#522)
  .cspell/project-terms.txt
  docs/claude.md
  tooling/claude/user/statusline-command.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): read statusline fields per line to prevent shift
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): read statusline fields per line to prevent shift (#523)
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): eager-load REQUIREMENTS and ARCHITECTURE in seed
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add path-scoped rules for doc authoring
  docs/claude.md
  docs/governance.md
  governance/rules/claude/500-prose.md
  governance/rules/claude/510-context.md
  governance/rules/claude/520-wireframes.md
  governance/stacks/base.toml
  governance/stacks/planner.toml
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): lift canonical-doc guidance to standards and rules
  docs/governance.md
  docs/standards.md
  governance/rules/claude/530-requirements.md
  governance/rules/claude/540-architecture.md
  governance/rules/claude/550-design.md
  governance/rules/claude/560-diagrams.md
  governance/stacks/base.toml
  governance/stacks/planner.toml
  standards/architecture.md
  standards/design.md
  standards/index.md
  standards/requirements.md
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/DESIGN.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(init): install standards as a core domain
  claude/skills/setup-init/SKILL.md
  docs/ai-workflow.md
  docs/target-projects.md
  docs/tooling.md
  scripts/core/install-check.sh
  scripts/gov/install.sh
  scripts/manage-init.sh
  scripts/sandbox/infra/init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add vx.x phase labels to TASKS title format
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add path-scoped rule for skill authoring
  docs/governance.md
  governance/rules/claude/570-skill.md
  governance/stacks/base.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): add standards to aitk init domain list
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): auto-load authoring standards and install by default (#524)
  README.md
  claude/skills/setup-init/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/governance.md
  docs/standards.md
  docs/target-projects.md
  docs/tooling.md
  governance/rules/claude/500-prose.md
  governance/rules/claude/510-context.md
  governance/rules/claude/520-wireframes.md
  governance/rules/claude/530-requirements.md
  governance/rules/claude/540-architecture.md
  governance/rules/claude/550-design.md
  governance/rules/claude/560-diagrams.md
  governance/rules/claude/570-skill.md
  governance/stacks/base.toml
  governance/stacks/planner.toml
  scripts/core/install-check.sh
  scripts/gov/install.sh
  scripts/manage-init.sh
  scripts/sandbox/infra/init.sh
  standards/architecture.md
  standards/design.md
  standards/index.md
  standards/requirements.md
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/DESIGN.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tasks): add authoring standard and route .claude/TASKS.md edits
  docs/governance.md
  docs/standards.md
  governance/rules/claude/555-tasks.md
  governance/stacks/base.toml
  governance/stacks/planner.toml
  standards/index.md
  standards/tasks.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(governance): add claude authoring rule band to .claude/rules
  .claude/rules/claude/500-prose.md
  .claude/rules/claude/510-context.md
  .claude/rules/claude/520-wireframes.md
  .claude/rules/claude/530-requirements.md
  .claude/rules/claude/540-architecture.md
  .claude/rules/claude/550-design.md
  .claude/rules/claude/555-tasks.md
  .claude/rules/claude/560-diagrams.md
  .claude/rules/claude/570-skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add tasks authoring standard with path-scoped rule (#525)
  .claude/rules/claude/500-prose.md
  .claude/rules/claude/510-context.md
  .claude/rules/claude/520-wireframes.md
  .claude/rules/claude/530-requirements.md
  .claude/rules/claude/540-architecture.md
  .claude/rules/claude/550-design.md
  .claude/rules/claude/555-tasks.md
  .claude/rules/claude/560-diagrams.md
  .claude/rules/claude/570-skill.md
  docs/governance.md
  docs/standards.md
  governance/rules/claude/555-tasks.md
  governance/stacks/base.toml
  governance/stacks/planner.toml
  standards/index.md
  standards/tasks.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(docs): emit bundled reference markdown via list and topic
  docs/agents.md
  scripts/docs/get.sh
  scripts/docs/list.sh
  scripts/manage-docs.sh
  scripts/sandbox/infra/docs.sh
  src/cli.ts
  src/commands/docs.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add operator skill to route toolkit operations
  claude/skills/operator/SKILL.md
  docs/claude.md
  scripts/sandbox/claude/operator.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add toolkit operator skill backed by aitk docs (#526)
  claude/skills/operator/SKILL.md
  docs/agents.md
  docs/claude.md
  scripts/docs/get.sh
  scripts/docs/list.sh
  scripts/manage-docs.sh
  scripts/sandbox/claude/operator.sh
  scripts/sandbox/infra/docs.sh
  src/cli.ts
  src/commands/docs.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): run propose after capture at ship
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/git-ship/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/git/ship.sh
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): run propose after capture at ship (#527)
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/git-ship/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/git/ship.sh
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): rename operator skill to toolkit-operator
  claude/skills/toolkit-operator/SKILL.md
  docs/claude.md
  scripts/sandbox/claude/toolkit-operator.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): rename operator skill to toolkit-operator (#528)
  claude/skills/toolkit-operator/SKILL.md
  docs/claude.md
  scripts/sandbox/claude/toolkit-operator.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): link child folders that have their own index.md
  docs/indexes.md
  docs/scripts.md
  scripts/lib/index.sh
  scripts/sandbox/infra/indexes.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(indexes): generalize nested example and trim code comment
  docs/indexes.md
  scripts/lib/index.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): link child folders that have their own index.md (#529)
  docs/indexes.md
  docs/scripts.md
  scripts/lib/index.sh
  scripts/sandbox/infra/indexes.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): scope ship review to entries captured this session
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/git-ship/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(memory): scope ship review to entries captured this session (#530)
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/git-ship/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): remove briefs and roadmap orchestration artifacts
  claude/skills/claude-brief/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-screencast/SKILL.md
  docs/claude.md
  docs/standards.md
  scripts/sandbox/claude/brief.sh
  standards/index.md
  standards/tasks.md
  standards/versioning.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): promote reviewed rules to durable surfaces
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-snippets/SKILL.md
  CLAUDE.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): remove briefs and roadmap orchestration artifacts (#531)
  claude/skills/claude-brief/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/claude-screencast/SKILL.md
  docs/claude.md
  docs/standards.md
  scripts/sandbox/claude/brief.sh
  standards/index.md
  standards/tasks.md
  standards/versioning.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(memory): promote reviewed rules to durable surfaces (#532)
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-snippets/SKILL.md
  CLAUDE.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): drop stale GOV.md reference from skill
  .claude/skills/aitk-scripts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(slides): add render engine, layouts, and CLI commands
  .cspell/tech-stack.txt
  bun.lock
  cspell.json
  examples/slides/showcase.md
  package.json
  scripts/core/verify.sh
  src/cli.ts
  src/commands/slides.ts
  src/slides/layouts.ts
  src/slides/open.ts
  src/slides/parse.ts
  src/slides/render.ts
  src/slides/styles.ts
  tests/slides/layouts.test.ts
  tests/slides/parse.test.ts
  tests/slides/render.test.ts
  vitest.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add slides-draft skill and sandbox scenario
  claude/skills/claude-slides-draft/SKILL.md
  scripts/sandbox/claude/slides-draft.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(slides): document source format, layouts, and commands
  README.md
  docs/agents.md
  docs/claude.md
  docs/index.md
  docs/slides.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(slides): add markdown to PowerPoint render pipeline (#533)
  .claude/skills/aitk-scripts/SKILL.md
  .cspell/tech-stack.txt
  README.md
  bun.lock
  claude/skills/claude-slides-draft/SKILL.md
  cspell.json
  docs/agents.md
  docs/claude.md
  docs/index.md
  docs/slides.md
  examples/slides/showcase.md
  package.json
  scripts/core/verify.sh
  scripts/sandbox/claude/slides-draft.sh
  src/cli.ts
  src/commands/slides.ts
  src/slides/layouts.ts
  src/slides/open.ts
  src/slides/parse.ts
  src/slides/render.ts
  src/slides/styles.ts
  tests/slides/layouts.test.ts
  tests/slides/parse.test.ts
  tests/slides/render.test.ts
  vitest.config.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(transcripts): add youtube transcript fetch command and skill
  .claude/REQUIREMENTS.md
  .cspell/tech-stack.txt
  claude/skills/youtube-transcripts/SKILL.md
  docs/agents.md
  docs/claude.md
  docs/index.md
  docs/transcripts.md
  scripts/sandbox/claude/youtube-transcripts.sh
  src/cli.ts
  src/commands/transcripts.ts
  src/transcripts/fetch.ts
  src/transcripts/metadata.ts
  src/transcripts/vtt.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
