Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(indexes): move the index engine from bash to typescript
  .claude/context/cli.md
  .claude/context/indexes.md
  .claude/context/scripts.md
  .cspell/tech-stack.txt
  package.json
  scripts/core/regen-indexes.sh
  scripts/core/regen-skill-references.sh
  scripts/core/verify.sh
  scripts/docs/list.sh
  scripts/indexes/regen.sh
  scripts/lib/frontmatter.sh
  scripts/lib/index.sh
  scripts/manage-indexes.sh
  scripts/manage-standards.sh
  scripts/sandbox/infra/indexes.sh
  scripts/standards/list.sh
  src/commands/indexes.ts
  src/indexes/frontmatter.test.ts
  src/indexes/frontmatter.ts
  src/indexes/regen.test.ts
  src/indexes/regen.ts
  src/indexes/render.test.ts
  src/indexes/render.ts
  src/indexes/walk.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(indexes): drain piped json output and prune vendored trees
  .claude/REQUIREMENTS.md
  .claude/context/cli.md
  scripts/core/regen-indexes.sh
  scripts/core/verify.sh
  src/commands/indexes.ts
  src/indexes/walk.test.ts
  src/indexes/walk.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(indexes): move the index engine from bash to typescript (#606)
  .claude/REQUIREMENTS.md
  .claude/context/cli.md
  .claude/context/indexes.md
  .claude/context/scripts.md
  .claude/rules/lib/300-testing-ts.md
  .cspell/tech-stack.txt
  package.json
  scripts/core/regen-indexes.sh
  scripts/core/regen-skill-references.sh
  scripts/core/verify.sh
  scripts/docs/list.sh
  scripts/indexes/regen.sh
  scripts/lib/frontmatter.sh
  scripts/lib/index.sh
  scripts/manage-indexes.sh
  scripts/manage-standards.sh
  scripts/sandbox/infra/indexes.sh
  scripts/standards/list.sh
  src/commands/indexes.ts
  src/indexes/frontmatter.test.ts
  src/indexes/frontmatter.ts
  src/indexes/regen.test.ts
  src/indexes/regen.ts
  src/indexes/render.test.ts
  src/indexes/render.ts
  src/indexes/walk.test.ts
  src/indexes/walk.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): move the inject and sync engine to typescript
  .claude/context/scripts.md
  .claude/context/tooling.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  docs/agents.md
  scripts/lib/inject.sh
  scripts/manage-claude.sh
  scripts/manage-init.sh
  scripts/manage-tooling.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/indexes.sh
  scripts/sandbox/infra/init.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/sync.sh
  scripts/sandbox/infra/tooling.sh
  scripts/sandbox/infra/wiki.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/python.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/tooling/sync.sh
  src/commands/tooling.ts
  src/tooling/gitignore.test.ts
  src/tooling/gitignore.ts
  src/tooling/inject.ts
  src/tooling/manifest.test.ts
  src/tooling/manifest.ts
  src/tooling/package.test.ts
  src/tooling/package.ts
  src/tooling/scan.test.ts
  src/tooling/scan.ts
  src/ui.ts
  tooling/python/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): frame inject output and assert tooling paths on install
  .claude/context/development.md
  .claude/context/scripts.md
  docs/agents.md
  scripts/core/install-check.sh
  scripts/manage-claude.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/python.sh
  src/commands/tooling.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): move the inject and sync engine to typescript (#607)
  .claude/context/development.md
  .claude/context/scripts.md
  .claude/context/tooling.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  docs/agents.md
  scripts/core/install-check.sh
  scripts/lib/inject.sh
  scripts/manage-claude.sh
  scripts/manage-init.sh
  scripts/manage-tooling.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/indexes.sh
  scripts/sandbox/infra/init.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/sync.sh
  scripts/sandbox/infra/tooling.sh
  scripts/sandbox/infra/wiki.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/python.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/tooling/sync.sh
  src/commands/tooling.ts
  src/tooling/gitignore.test.ts
  src/tooling/gitignore.ts
  src/tooling/inject.ts
  src/tooling/manifest.test.ts
  src/tooling/manifest.ts
  src/tooling/package.test.ts
  src/tooling/package.ts
  src/tooling/scan.test.ts
  src/tooling/scan.ts
  src/ui.ts
  tooling/python/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): add the shared domain sync engine
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/ui.ts
Due: none

refactor(gov): move sync and build to typescript
  scripts/gov/build.sh
  scripts/gov/sync.sh
  scripts/lib/gov.sh
  scripts/manage-gov.sh
  scripts/manage-init.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/tooling/claude.sh
  src/commands/gov.ts
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/gov/payload.test.ts
  src/gov/payload.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): describe the sync engine and narrowed gov lib
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/skills/aitk-governance/SKILL.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(install): assert a governance path in the install gate
  scripts/core/install-check.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sync): preserve destination modes and pass help to gov scripts
  .claude/context/cli.md
  .claude/context/scripts.md
  .claude/context/tooling.md
  src/commands/gov.ts
  src/copy.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/tooling/inject.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): restore the copyFile import and gate types in check
  .claude/context/ci.md
  .claude/context/development.md
  .claude/context/scripts.md
  .github/workflows/verify.yml
  bun.lock
  package.json
  scripts/core/verify.sh
  src/tooling/inject.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(sync): drop inline comments and thin the interface docs
  .claude/context/ci.md
  scripts/core/install-check.sh
  scripts/core/verify.sh
  scripts/lib/gov.sh
  src/sync/engine.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): move the sync engine and gov domain to typescript (#608)
  .claude/context/ci.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/tooling.md
  .claude/skills/aitk-governance/SKILL.md
  .github/workflows/verify.yml
  bun.lock
  docs/agents.md
  package.json
  scripts/core/install-check.sh
  scripts/core/verify.sh
  scripts/gov/build.sh
  scripts/gov/sync.sh
  scripts/lib/gov.sh
  scripts/manage-gov.sh
  scripts/manage-init.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/tooling/claude.sh
  src/commands/gov.ts
  src/copy.ts
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/gov/payload.test.ts
  src/gov/payload.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/tooling/inject.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(cli): lift the pass-through verb registration out of gov
  src/commands/gov.ts
  src/commands/pass-through.ts
Due: none

refactor(snippets): move sync onto the shared engine
  scripts/core/install-check.sh
  scripts/manage-init.sh
  scripts/manage-snippets.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/sync.sh
  src/commands/snippets.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(snippets): describe the sync adapter and the deleted dispatcher
  .claude/context/cli.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): let --help reach the tooling verb scripts
  src/commands/tooling.ts
Due: none

refactor(snippets): move sync onto the shared engine as adapter two (#609)
  .claude/context/cli.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  docs/agents.md
  scripts/core/install-check.sh
  scripts/manage-init.sh
  scripts/manage-snippets.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/sync.sh
  src/commands/gov.ts
  src/commands/pass-through.ts
  src/commands/snippets.ts
  src/commands/tooling.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): move sync onto the shared engine
  scripts/manage-init.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/standards.sh
  src/commands/standards.ts
  src/standards/adapter.test.ts
  src/standards/adapter.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): let an adapter set policy, exclusions, and a completion hook
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/ui.ts
Due: none

docs(standards): describe the widened adapter and the headless refusal
  .claude/context/cli.md
  .claude/context/scripts.md
  .claude/context/standards.md
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): route the sandbox install scenario through the CLI
  .claude/context/standards.md
  scripts/sandbox/infra/standards.sh
  src/sync/engine.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(standards): move sync onto the shared engine as adapter three (#610)
  .claude/context/cli.md
  .claude/context/scripts.md
  .claude/context/standards.md
  docs/agents.md
  docs/target-projects.md
  scripts/manage-init.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/standards.sh
  src/commands/standards.ts
  src/standards/adapter.test.ts
  src/standards/adapter.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(frontmatter): lift 'stripFrontmatter' to a shared module
  src/frontmatter.test.ts
  src/frontmatter.ts
  src/gov/payload.test.ts
  src/gov/payload.ts
Due: none

refactor(docs): move 'docs get' to typescript
  scripts/docs/get.sh
  scripts/lib/gov.sh
  scripts/manage-docs.sh
  scripts/sandbox/infra/docs.sh
  src/commands/docs.ts
  src/docs/read.test.ts
  src/docs/read.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(wiki): move 'wiki init' to typescript
  scripts/manage-init.sh
  scripts/manage-wiki.sh
  scripts/sandbox/infra/wiki.sh
  scripts/wiki/init.sh
  src/commands/wiki.ts
  src/wiki/init.test.ts
  src/wiki/init.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the docs and wiki migration
  .claude/context/cli.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/skills/aitk-governance/SKILL.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(frontmatter): cover the unterminated and line-2 block cases
  .claude/context/scripts.md
  src/frontmatter.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): move docs and wiki to typescript (#611)
  .claude/context/cli.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/skills/aitk-governance/SKILL.md
  docs/agents.md
  scripts/docs/get.sh
  scripts/lib/gov.sh
  scripts/manage-docs.sh
  scripts/manage-init.sh
  scripts/manage-wiki.sh
  scripts/sandbox/infra/docs.sh
  scripts/sandbox/infra/wiki.sh
  scripts/wiki/init.sh
  src/commands/docs.ts
  src/commands/wiki.ts
  src/docs/read.test.ts
  src/docs/read.ts
  src/frontmatter.test.ts
  src/frontmatter.ts
  src/gov/payload.test.ts
  src/gov/payload.ts
  src/wiki/init.test.ts
  src/wiki/init.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): move the dispatcher to typescript
  scripts/manage-claude.sh
  src/claude/gitignore.test.ts
  src/claude/gitignore.ts
  src/claude/seeds.test.ts
  src/claude/seeds.ts
  src/claude/settings.test.ts
  src/claude/settings.ts
  src/commands/claude.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the claude migration and its two fixes
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/scripts.md
  .cspell/tech-stack.txt
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(scripts): point the claude callers at the cli
  scripts/manage-init.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the cancel exit code decision
  .claude/context/cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move the dispatcher to typescript (#612)
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/scripts.md
  .cspell/tech-stack.txt
  docs/agents.md
  scripts/manage-claude.sh
  scripts/manage-init.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/claude.sh
  src/claude/gitignore.test.ts
  src/claude/gitignore.ts
  src/claude/seeds.test.ts
  src/claude/seeds.ts
  src/claude/settings.test.ts
  src/claude/settings.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(cli): lift target resolution and cli spawning to src root
  src/cli-run.ts
  src/commands/claude.ts
  src/sync/engine.ts
  src/target.ts
  src/ui.ts
Due: none

refactor(standards): move install off bash into a typed module
  src/commands/standards.ts
  src/standards/adapter.ts
  src/standards/index-refresh.ts
  src/standards/install.test.ts
  src/standards/install.ts
Due: none

refactor(init): move init to typescript with partial-failure runs
  src/commands/init.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/run.test.ts
  src/init/run.ts
Due: none

refactor(sync): move the sync domain and git workflow to typescript
  src/commands/sync.ts
  src/sync/git.test.ts
  src/sync/git.ts
  src/sync/target.test.ts
  src/sync/target.ts
  src/sync/workflow.test.ts
  src/sync/workflow.ts
Due: none

refactor(scripts): delete the last three domain dispatchers
  scripts/manage-init.sh
  scripts/manage-standards.sh
  scripts/manage-sync.sh
  scripts/sandbox/infra/init.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
