Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(context): state the rendered measure and the weight exemption
  .claude/standards/context.md
  docs/agents.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): group the cli decision block under concern headings
  .claude/context/cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): split the sandbox entry into a folder of four
  .claude/context/index.md
  .claude/context/sandbox.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/index.md
  .claude/context/sandbox/overview.md
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): retarget the entry citations at the split sub-areas
  .claude/context/claude-plugin/distribution.md
  .claude/skills/aitk-scripts/SKILL.md
  README.md
  docs/target-projects.md
  scripts/sandbox/exempt.toml
  scripts/sandbox/run.sh
  src/sandbox/census.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): scope three target-facing skills with a requirement file (#760)
  .claude/context/claude-plugin/skills.md
  claude/skills/migration-context/REQUIREMENT.md
  claude/skills/setup-gov/REQUIREMENT.md
  claude/skills/setup-init/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): split the sandbox entry into a folder of four (#762)
  .claude/context/claude-plugin/distribution.md
  .claude/context/index.md
  .claude/context/sandbox.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/index.md
  .claude/context/sandbox/overview.md
  .claude/context/sandbox/running.md
  .claude/skills/aitk-scripts/SKILL.md
  README.md
  docs/target-projects.md
  scripts/sandbox/exempt.toml
  scripts/sandbox/run.sh
  src/sandbox/census.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.31.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.31.0 (#763)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): drop the label and date from the eval-runs bullet
  .claude/context/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): measure entry length in rendered lines like the run
  .claude/context/cli.md
  .claude/standards/context.md
  docs/agents.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(eval): tag the subject commit an ablation pair regenerates from (#759)
  .claude/context/scripts.md
  scripts/eval/ledger.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): state that the file measure counts fenced blocks
  .claude/context/cli.md
  docs/agents.md
  src/commands/context.ts
  src/context/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): resolve five steps a step above them makes unreachable
  .claude/skills/aitk-sandbox-check/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): hand the roadmap write to a worker branch
  docs/ai-workflow.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): measure depth in rendered lines and weight the exemption (#761)
  .claude/context/cli.md
  .claude/standards/context.md
  .cspell/project-terms.txt
  docs/agents.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.32.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.32.0 (#765)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): admit a retired decision and rewrite a superseded one
  .claude/rules/claude/510-context.md
  .claude/standards/context.md
  governance/rules/claude/510-context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): retire the superseded decisions across six entries
  .claude/context/cli.md
  .claude/context/governance.md
  .claude/context/indexes.md
  .claude/context/sandbox/overview.md
  .claude/context/scripts.md
  .claude/context/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): show the task board's shape as a copyable template
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): carry the requested folder name on an audited folder
  src/context/folders.ts
  src/context/index-drift.test.ts
Due: none

fix(context): narrow the provenance check to the folder its rule governs
  docs/agents.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): set the pass heading from the finding count
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/claude/pr-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(review): sync the heading rule across docs and the context entry
  .claude/context/claude-plugin/skills.md
  docs/ai-workflow.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hero): state the Claude Code requirement as a full sentence
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
Due: none

feat(cli): report requirement presence per skill
  .claude/context/cli.md
  docs/agents.md
  src/claude/skills-list.test.ts
  src/claude/skills-list.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): add requirements to the unread tail
  .claude/context/claude-plugin/skills.md
  claude/skills/bash-script/REQUIREMENT.md
  claude/skills/ci-workflow/REQUIREMENT.md
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/docs-sync/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): show the task board's shape as a copyable template (#767)
  .claude/standards/tasks.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): narrow the provenance check to the folder its rule governs (#768)
  docs/agents.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  src/context/folders.ts
  src/context/index-drift.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skill): cover the unread skill tail and report presence in the catalog (#771)
  .claude/context/claude-plugin/skills.md
  .claude/context/cli.md
  claude/skills/bash-script/REQUIREMENT.md
  claude/skills/ci-workflow/REQUIREMENT.md
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/docs-sync/REQUIREMENT.md
  docs/agents.md
  src/claude/skills-list.test.ts
  src/claude/skills-list.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.33.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.33.0 (#773)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): set the pass heading from the finding count (#769)
  .claude/context/claude-plugin/skills.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
  scripts/sandbox/claude/pr-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(context): retire a superseded decision rather than append beside it (#766)
  .claude/context/cli.md
  .claude/context/governance.md
  .claude/context/indexes.md
  .claude/context/sandbox/overview.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/rules/claude/510-context.md
  .claude/standards/context.md
  governance/rules/claude/510-context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hero): state the Claude Code requirement as a full sentence (#770)
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
Due: none

fix(claude): resolve five steps a step above them makes unreachable (#764)
  .claude/skills/aitk-sandbox-check/SKILL.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-memory-review/REQUIREMENT.md
  claude/skills/claude-memory-review/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-seed-sync/SKILL.md
  docs/ai-workflow.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.34.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.34.0 (#774)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): bound what one context bullet may carry
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): report bullets past the weight checkpoint
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: none
