Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(github): return the real reason an issue was not filed
  src/github-format.test.ts
  src/github-format.ts
  src/github.ts
Due: none

feat(feedback): parse the report as headings and refuse a gap
  src/commands/exit-code.test.ts
  src/commands/feedback-format.ts
  src/commands/feedback.test.ts
  src/commands/feedback.ts
Due: none

docs(context): record the tree walk and the worktree scratch gap
  .claude/context/cli/commands.md
  .claude/context/development/scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(feedback): move field enforcement onto the producer
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/toolkit-feedback.yml
  claude/skills/canon-feedback-file/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(feedback): record the enforcement move and its arm
  .claude/ARCHITECTURE.md
  .claude/context/sandbox/overview.md
  docs/agents/commands.md
  scripts/sandbox/fixtures/infra/feedback/refusal/expect.toml
  scripts/sandbox/infra/feedback.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(autoship): name the number on the undo as well as the read
  claude/skills/claude-autoship/SKILL.md
  scripts/sandbox/claude/autoship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(design): add the chrome role and give success a rendered hex
  .claude/DESIGN.md
  src/design/base.css
  src/design/contrast.test.ts
  src/design/css.test.ts
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(assets): fill both capture frames from the design source
  .cspell/tech-stack.txt
  .prettierignore
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.stamp
  assets/install.html.tmpl
  assets/install.png
  assets/install.stamp
  cspell.json
  scripts/core/regen-hero.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gate): read the stamp assertion off every frame under assets
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/sequencer.test.ts
  src/gate/stages.ts
Due: none

docs(design): record what the captures now read and what does not
  .claude/context/ci.md
  .claude/context/cli/packaging.md
  .claude/context/design.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/governance/stacks.md
  .claude/context/scripts/core.md
  docs/agents/capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(autoship): read the draft flag back and drop the bound it claimed (#1328)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/sandbox/running.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-worker/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.9.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(install): correct the CI cost claim and anchor the pack
  .claude/context/ci.md
  scripts/core/install-check.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.9.2 (#1332)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): correct the record folder creation default
  .claude/context/cli/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(install): verify from a packed tarball instead of a clone (#1329)
  .claude/context/ci.md
  .claude/context/cli/packaging.md
  .claude/context/development/gates.md
  .github/workflows/verify.yml
  scripts/core/install-check.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.10.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): correct the budget bullet's own arithmetic
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(labels): cover the install capture set in the label map
  .claude/canon/pr-labels.toml
Due: none

chore(main): release 4.10.0 (#1334)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): sweep the record tree for its own old-root citations (#1330)
  .claude/context/cli/commands.md
  .claude/context/development/scratch.md
  docs/agents/commands.md
  docs/ai-workflow.md
  docs/target-projects.md
  scripts/sandbox/infra/record-root.sh
  src/commands/migrate.ts
  src/migrate/record-tree.test.ts
  src/migrate/record-tree.ts
  src/migrate/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(feedback): report the real gh cause and validate the report shape (#1331)
  .claude/ARCHITECTURE.md
  .claude/context/sandbox/overview.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/toolkit-feedback.yml
  claude/skills/canon-feedback-file/SKILL.md
  docs/agents/commands.md
  scripts/sandbox/fixtures/infra/feedback/refusal/expect.toml
  scripts/sandbox/infra/feedback.sh
  src/commands/exit-code.test.ts
  src/commands/feedback-format.ts
  src/commands/feedback.test.ts
  src/commands/feedback.ts
  src/github-format.test.ts
  src/github-format.ts
  src/github.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(design): put both rendered captures on the design source (#1333)
  .claude/DESIGN.md
  .claude/canon/pr-labels.toml
  .claude/context/ci.md
  .claude/context/cli/packaging.md
  .claude/context/design.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/governance/stacks.md
  .claude/context/scripts/core.md
  .cspell/tech-stack.txt
  .prettierignore
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.stamp
  assets/install.html.tmpl
  assets/install.png
  assets/install.stamp
  cspell.json
  docs/agents/capture.md
  scripts/core/regen-hero.sh
  src/design/base.css
  src/design/contrast.test.ts
  src/design/css.test.ts
  src/design/tokens.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/sequencer.test.ts
  src/gate/stages.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.11.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.11.0 (#1335)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): author the product mark and wire it into the hero
  .claude/DESIGN.md
  .claude/context/design.md
  assets/brand/mark.svg
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
  assets/hero.stamp
  scripts/core/regen-hero.sh
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(repo): add assets/brand/ to the context label row
  .claude/canon/pr-labels.toml
Due: none

feat(feedback): cite the pre-publish scan in both feedback skills
  claude/skills/canon-feedback-file/SKILL.md
  claude/skills/canon-feedback-triage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(design): author the product mark and wire it into the hero (#1336)
  .claude/DESIGN.md
  .claude/canon/pr-labels.toml
  .claude/context/design.md
  assets/brand/mark.svg
  assets/hero.html
  assets/hero.html.tmpl
  assets/hero.png
  assets/hero.stamp
  scripts/core/regen-hero.sh
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.12.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktrees): read a missing directory as clean, not unreadable
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
Due: none

feat(worktrees): remove every reclaimable worktree and its branch
  .claude/context/cli/commands.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/worktrees.md
  src/cli.ts
  src/commands/worktrees.ts
  src/worktree.ts
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
  src/worktrees/remove.test.ts
  src/worktrees/remove.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.12.0 (#1337)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(pr): claim every path a bullet names without widening what accuses
  .cspell/tech-stack.txt
  claude/skills/claude-pr-review/SKILL.md
  src/commands/pr.ts
  src/pr/bijection.test.ts
  src/pr/bijection.ts
  src/pr/paths.test.ts
  src/pr/paths.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(pr): record the trailing-path split and the incidental bucket
  .claude/context/claude-plugin/skill-procedures.md
  docs/agents/index.md
  docs/agents/key-changes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): reinstall the global binary from post-merge on skew
  .claude/context/cli/commands.md
  .claude/context/development/hooks.md
  .husky/post-merge
  src/commands/upgrade.test.ts
  src/commands/upgrade.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktrees): require the removal's cwd instead of defaulting it
  .claude/context/cli/commands.md
  src/worktrees/remove.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): bound the upgrade message and quiet current state
  .claude/context/cli/commands.md
  .claude/context/development/hooks.md
  .husky/post-merge
  src/commands/upgrade.test.ts
  src/commands/upgrade.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(feedback): cite the pre-publish scan in both feedback skills (#1338)
  claude/skills/canon-feedback-file/SKILL.md
  claude/skills/canon-feedback-triage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(worktrees): remove the reclaimable worktrees the report only named (#1339)
  .claude/context/cli/commands.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/worktrees.md
  src/cli.ts
  src/commands/worktrees.ts
  src/worktree.ts
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
  src/worktrees/remove.test.ts
  src/worktrees/remove.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
