Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): copy re-test command to clipboard (#498)
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): show seed-sync proposals as diff blocks
  claude/skills/claude-seed-sync/SKILL.md
  scripts/sandbox/claude/seed-sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(deps): drop @vitejs/plugin-react
  bun.lock
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add ollama keep-alive override
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): show seed-sync proposals as diff blocks (#499)
  bun.lock
  claude/skills/claude-seed-sync/SKILL.md
  package.json
  scripts/sandbox/claude/seed-sync.sh
  wiki/ollama.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): move base seeds from docs/ to .claude/context/
  .claude/skills/aitk-tooling/SKILL.md
  docs/target-projects.md
  docs/tooling.md
  tooling/astro/reference.md
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/ci.md
  tooling/base/seeds/.claude/context/development.md
  tooling/python/reference.md
  tooling/vite-react/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): document three-tier context model and add migrate skill
  .claude/skills/aitk-claude/SKILL.md
  CLAUDE.md
  claude/skills/claude-context-migrate/SKILL.md
  docs/claude.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(autoship): skip review for prose-only diffs
  claude/skills/claude-autoship/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): wire context entries between feature plan and docs sweep
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): sandbox scenarios and worktree-aware path output rule
  .claude/skills/aitk-sandbox-check/SKILL.md
  CLAUDE.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/context-migrate.sh
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude-docs): renumber context-entries step from 3.5 to 4
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add context.md for .claude/context/ entry shape
  claude/skills/claude-docs/SKILL.md
  docs/claude.md
  standards/context.md
  standards/index.md
  tooling/claude/seeds/.claude/context/index.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(indexes): regenerate seed context index
  tooling/claude/seeds/.claude/context/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): genericize context template and document index format
  docs/indexes.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): move context-entry writing from plan-time to ship-time
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  docs/claude.md
  scripts/sandbox/claude/docs.sh
  scripts/sandbox/claude/feature.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): auto-regen indexes via lint-staged by default
  .lintstagedrc
  claude/skills/claude-docs/SKILL.md
  tooling/base/reference.md
  tooling/base/seeds/.lintstagedrc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(indexes): drop trailing blank line when index has no siblings
  scripts/lib/index.sh
  tooling/claude/seeds/.claude/context/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): install seeded .claude/context/ files alongside hooks/
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(install): assert .claude/context/index.md lands on aitk init
  scripts/core/install-check.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add three-tier context model and align toolkit seeds (#500)
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-sandbox-check/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  .lintstagedrc
  CLAUDE.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-context-migrate/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-feature/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/indexes.md
  docs/target-projects.md
  docs/tooling.md
  scripts/core/install-check.sh
  scripts/lib/index.sh
  scripts/manage-claude.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/context-migrate.sh
  scripts/sandbox/claude/docs.sh
  standards/context.md
  standards/index.md
  tooling/astro/reference.md
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/ci.md
  tooling/base/seeds/.claude/context/development.md
  tooling/base/seeds/.lintstagedrc
  tooling/claude/seeds/.claude/context/index.md
  tooling/claude/seeds/CLAUDE.md
  tooling/python/reference.md
  tooling/vite-react/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add diagrams convention for .claude/DIAGRAMS.md
  .cspell/tech-stack.txt
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  docs/standards.md
  standards/diagrams.md
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): document setState-in-effect ban and three fixes
  governance/rules/framework/200-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): drop hardcoded deploy filenames in diagram skills
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add diagrams convention for .claude/DIAGRAMS.md (#501)
  .cspell/tech-stack.txt
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-docs/SKILL.md
  docs/standards.md
  standards/diagrams.md
  standards/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): skip generated index.md in seed-sync local-only check
  claude/skills/claude-seed-sync/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover standards drift in seed-sync and list scenarios
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/infra/standards.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): extend seed-sync to cover standards drift
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
  docs/target-projects.md
  scripts/standards/list.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(standards): refuse non-interactive sync when drifts detected
  docs/standards.md
  scripts/manage-standards.sh
  scripts/manage-sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): extend seed-sync to cover standards drift (#502)
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
  docs/standards.md
  docs/target-projects.md
  scripts/manage-standards.sh
  scripts/manage-sync.sh
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/infra/standards.sh
  scripts/standards/list.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(gov): document setState-in-effect ban and three fixes (#503)
  governance/rules/framework/200-react.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): require code spans for file references in prose
  standards/prose.md
  standards/readme.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add hidden contracts section and tighten layer bullets
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): forbid signpost cross-references between standards
  .claude/skills/aitk-standards/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): drop meta-syntax and inventory from new rules
  .claude/skills/aitk-standards/SKILL.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): match line 36 phrasing for file reference rule
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): codify file references, hidden contracts, and cross-refs (#504)
  .claude/skills/aitk-standards/SKILL.md
  standards/context.md
  standards/prose.md
  standards/readme.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(feedback): add toolkit-feedback skill and aitk feedback CLI
  claude/skills/toolkit-feedback/SKILL.md
  docs/agents.md
  docs/claude.md
  docs/snippets.md
  snippets/aitk/toolkit-feedback.md
  src/cli.ts
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(feedback): add toolkit-feedback skill and aitk feedback CLI (#505)
  claude/skills/toolkit-feedback/SKILL.md
  docs/agents.md
  docs/claude.md
  docs/snippets.md
  snippets/aitk/toolkit-feedback.md
  src/cli.ts
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add brief tier, roadmap, and versioning standard
  claude/skills/claude-brief/SKILL.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/claude.md
  docs/standards.md
  scripts/sandbox/claude/brief.sh
  standards/index.md
  standards/versioning.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): generalize versioning examples and tighten refs
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/claude.md
  standards/versioning.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
