Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

feat(claude): suppress co-author attribution in seeded projects (#380)
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(indexes): walk the repo to regenerate every index.md
  CLAUDE.md
  docs/index.md
  docs/scripts.md
  prompts/index.md
  scripts/core/regen-indexes.sh
  scripts/core/verify.sh
  scripts/lib/index.sh
  scripts/manage-standards.sh
  scripts/prompts/install.sh
  scripts/prompts/sync.sh
  standards/index.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(tasks): mark walker done and add target-project regen
  .claude/TASKS.md
  .cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): tighten 'Incorrect' example comments
  standards/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add 'settings.json' with attribution and env deny
  .claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): clear 'Up next' after shipping walker
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(indexes): walk the repo to regenerate every index.md (#381)
  .claude/TASKS.md
  .claude/settings.json
  .cspell/project-terms.txt
  CLAUDE.md
  docs/index.md
  docs/scripts.md
  prompts/index.md
  scripts/core/regen-indexes.sh
  scripts/core/verify.sh
  scripts/lib/index.sh
  scripts/manage-standards.sh
  scripts/prompts/install.sh
  scripts/prompts/sync.sh
  standards/index.md
  standards/snippets.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): expose 'regen' as CLI with dry-run and json modes
  .cspell/tech-stack.txt
  scripts/indexes/regen.sh
  scripts/lib/index.sh
  scripts/manage-indexes.sh
  scripts/sandbox/infra/indexes.sh
  src/cli.ts
  src/commands/indexes.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(indexes): document 'regen' command and lint-staged wiring
  README.md
  docs/agents.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): mark CLI regen done and queue docs layout chore
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(indexes): expose 'regen' as CLI with dry-run and json modes (#382)
  .claude/TASKS.md
  .cspell/tech-stack.txt
  README.md
  docs/agents.md
  docs/scripts.md
  scripts/indexes/regen.sh
  scripts/lib/index.sh
  scripts/manage-indexes.sh
  scripts/sandbox/infra/indexes.sh
  src/cli.ts
  src/commands/indexes.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): add frontend design skills and stitch integration
  .cspell/project-terms.txt
  wiki/community-skills.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add visual design workflow and skills strategy pages
  .cspell/project-terms.txt
  wiki/index.md
  wiki/skills-strategy.md
  wiki/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): add ui-heavy project scenario
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): split lib section into per-file tables
  .claude/TASKS.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): rephrase lint-staged opt-in sentence
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add skills strategy pointer
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): apply redundancy audit findings
  claude/skills/claude-review/SKILL.md
  wiki/skills-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): split lib section into per-file tables (#383)
  .claude/TASKS.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add design workflow and skills strategy (#384)
  .cspell/project-terms.txt
  CLAUDE.md
  claude/skills/claude-review/SKILL.md
  docs/agents.md
  docs/ai-workflow.md
  wiki/community-skills.md
  wiki/index.md
  wiki/skills-strategy.md
  wiki/visual-design-workflow.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(snippets): flatten claude category and add decision-help
  docs/snippets.md
  snippets/decision-help.md
  snippets/prose-audit.md
  snippets/research-prompt.md
  snippets/senior-mode.md
  snippets/step-by-step.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): tick reshape and log follow-up work
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(snippets): flatten claude category and add decision-help (#385)
  .claude/TASKS.md
  docs/snippets.md
  snippets/decision-help.md
  snippets/prose-audit.md
  snippets/research-prompt.md
  snippets/senior-mode.md
  snippets/step-by-step.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(indexes): add concept doc and sync references
  docs/agents.md
  docs/claude.md
  docs/index.md
  docs/indexes.md
  docs/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(indexes): add bootstrap skill and sandbox scenario
  .claude/TASKS.md
  claude/skills/indexes-install/SKILL.md
  scripts/sandbox/infra/indexes.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(indexes): add bootstrap skill, sandbox scenario, and docs (#386)
  .claude/TASKS.md
  claude/skills/indexes-install/SKILL.md
  docs/agents.md
  docs/claude.md
  docs/index.md
  docs/indexes.md
  docs/sandbox.md
  scripts/sandbox/infra/indexes.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(wiki): emit regen-compatible frontmatter in init stub
  scripts/wiki/init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(wiki): emit regen-compatible frontmatter in init stub (#387)
  scripts/wiki/init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): restructure seed sections and align indexes-install
  claude/skills/indexes-install/SKILL.md
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude-feature): add small mode and gate code-only reads
  claude/skills/claude-feature/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(aitk-claude): add couplings guidance and widen description
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): tick claude-feature and add memory task
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): mirror seed updates in root CLAUDE.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add session-lessons for memory capture
  docs/snippets.md
  snippets/claude/session-lessons.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(aitk-claude): add sandbox and seed-sync rules to checklist
  .claude/TASKS.md
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(snippets): rename claude/figma to claude/figma-steps
  docs/snippets.md
  snippets/claude/figma-steps.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add scratch rule to seed and root CLAUDE.md
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): note seed coverage in aitk-claude description
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): clarify session-lessons complements auto-memory
  docs/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): tighten seed layout and skill behavior (#388)
  .claude/TASKS.md
  .claude/skills/aitk-claude/SKILL.md
  CLAUDE.md
  claude/skills/claude-feature/SKILL.md
  claude/skills/indexes-install/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/snippets.md
  snippets/claude/figma-steps.md
  snippets/claude/session-lessons.md
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
