Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(migrate): widen the record-root marker past a blank line
  .claude/context/development/scratch.md
  docs/agents/commands.md
  docs/target-projects.md
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix: repoint publish.md example and scratch-guard past the rename
  .claude/hooks/scratch-guard.sh
  standards/publish.md
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): gate a target's push on markdown bans
  .claude/context/tooling.md
  docs/agents/markdown-audit.md
  tooling/base/configs/scripts/verify.sh
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(feedback): pin the github issue target to the toolkit's own repo (#1447)
  src/commands/feedback.ts
  src/github-format.test.ts
  src/github-format.ts
Due: none

fix(migrate): widen the record-root marker past a blank line (#1448)
  .claude/context/development/scratch.md
  docs/agents/commands.md
  docs/target-projects.md
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.36.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.36.1 (#1450)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): exclude CHANGELOG.md from the push-time markdown bans
  docs/agents/markdown-audit.md
  tooling/base/configs/scripts/verify.sh
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): gate a target's push on markdown bans (#1449)
  .claude/context/tooling.md
  docs/agents/markdown-audit.md
  tooling/base/configs/scripts/verify.sh
  tooling/base/reference.md
  tooling/base/seeds/.claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.37.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(migrate): reach a seeded hook's retired binary name
  src/migrate/plan.test.ts
  src/migrate/plan.ts
Due: none

chore(main): release 4.37.0 (#1451)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): report a citation rewrite coupled to an excluded path
  .claude/context/development/scratch.md
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(migrate): reach a seeded hook's retired binary name (#1453)
  src/migrate/plan.test.ts
  src/migrate/plan.ts
Due: none

chore(main): release 4.37.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.37.1 (#1454)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): report a citation rewrite coupled to an excluded path (#1452)
  .claude/context/development/scratch.md
  src/commands/migrate.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.38.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.38.0 (#1455)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): add docs-path and phase-label patterns to shippedReferences
  .claude/rules/internal/claude/598-authoring-layout.md
  internal/rules/claude/598-authoring-layout.md
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/labels/phase.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(shipped): repoint stale docs paths, mark phase-label illustrations
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  docs/agents/comments.md
  docs/agents/tasks.md
  scripts/docs/list.sh
  standards/tasks.md
  standards/versioning.md
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): flag checkout assumptions in the review checklist
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the reference reader's new patterns
  .claude/context/development/gates.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wireframes): transcribe the nine slide layouts
  .claude/wireframes/index.md
  .claude/wireframes/slides.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(shipped): narrow PHASE_LABEL past semver, require root explicitly
  .claude/rules/internal/claude/598-authoring-layout.md
  docs/agents/comments.md
  internal/rules/claude/598-authoring-layout.md
  src/labels/phase.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(feedback): default the feedback skill to --github for target readers
  claude/skills/canon-feedback-file/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): drop the isCI serial playwright worker override
  tooling/astro/configs/playwright.config.ts
  tooling/vite-react/configs/playwright.config.ts
Due: none

docs(architecture): state the assets/examples boundary
  .claude/ARCHITECTURE.md
  .claude/context/development/regeneration.md
  .claude/context/slides.md
  examples/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): reflect the narrowed PHASE_LABEL pattern in gates.md
  .claude/context/development/gates.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(wireframes): mark placeholder copy in the slide layouts
  .claude/wireframes/slides.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(feedback): correct the toolkit-checkout precondition in the skill
  claude/skills/canon-feedback-file/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): catch docs-path and phase-label assumptions in shipped files (#1456)
  .claude/context/development/gates.md
  .claude/rules/internal/claude/598-authoring-layout.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  docs/agents/tasks.md
  internal/rules/claude/598-authoring-layout.md
  scripts/docs/list.sh
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
  standards/tasks.md
  standards/versioning.md
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.39.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.39.0 (#1461)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wireframes): transcribe the nine slide layouts (#1457)
  .claude/wireframes/index.md
  .claude/wireframes/slides.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(architecture): align the boundary decision's evidence claim
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): generate the root nav, contents pages, and lesson chrome
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .cspell/project-terms.txt
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/teach.md
  src/commands/teach.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.40.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): add rule-layout to move installed rules onto canon/
  .claude/context/governance/install.md
  .claude/context/governance/rules.md
  docs/agents/commands.md
  docs/agents/install-and-sync.md
  src/commands/migrate.ts
  src/migrate/rule-layout.test.ts
  src/migrate/rule-layout.ts
  src/sync/layout.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
