Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): reorder chrome tooling structure in docs
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): update lintstaged cspell config
  tooling/vite-react/configs/.lintstagedrc
Due: none

ci(chrome): add verify workflow
  tooling/chrome/configs/.github/verify.yml
Due: none

docs(base): update script descriptions
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(verify): add auto-format step and reorder checks
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): remove seeds dir from chrome tooling docs
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(core): add script to generate project snapshot
  package.json
  scripts/core/snapshot.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(core): update documentation for snapshot, verify, and tooling
  README.md
  docs/TOOLING.md
  docs/WORKFLOW.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(core): add project snapshot generation and update docs (#134)
  .gitignore
  README.md
  docs/SANDBOX.md
  docs/TOOLING.md
  docs/WORKFLOW.md
  package.json
  scripts/core/snapshot.sh
  scripts/core/verify.sh
  scripts/sandbox/tooling/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(config): add executable permission to script
  scripts/config.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add tooling stack scaffolding
  scripts/sandbox/tooling/scaffold.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): document tooling scaffold command
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(update): allow bun update interactivity
  scripts/core/update.sh
  tooling/base/configs/scripts/update.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(update): allow bun update interactivity (#136)
  scripts/core/update.sh
  tooling/base/configs/scripts/update.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(chrome): add playwright e2e testing (#137)
  tooling/chrome/configs/.github/workflows/verify.yml
  tooling/chrome/configs/playwright.config.ts
  tooling/chrome/configs/vite.config.ts
  tooling/chrome/manifest.toml
  tooling/chrome/reference.md
  tooling/vite-react/configs/eslint.config.js
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(chrome): configure vite dev server ports
  tooling/chrome/configs/vite.config.ts
  tooling/chrome/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(chrome): configure vite dev server ports (#138)
  tooling/chrome/configs/vite.config.ts
  tooling/chrome/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): add .tmp directory to gitignore and docs
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(gemini): add sandbox scenario for gemini tooling
  scripts/sandbox/tooling/gemini.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): add gemini stack and update tooling docs (#139)
  docs/TOOLING.md
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/gemini.sh
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/gemini/configs/.gemini/settings.json
  tooling/gemini/manifest.toml
  tooling/gemini/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): clarify tooling commands and new stack process
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): rename GEMINI_SKIP_AUTO_COMMIT to SANDBOX_SKIP
  docs/SANDBOX.md
  scripts/manage-test.sh
  scripts/sandbox/dev/setup.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/release/changelog.sh
  scripts/sandbox/tooling/scaffold.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(workflow): add reference for github workflows
  standards/workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): document CLI structure and commands
  GEMINI.md
  gemini/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): document plugin and commands
  claude/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): consolidate by referencing component docs
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): consolidate by referencing component docs (#143)
  GEMINI.md
  README.md
  claude/README.md
  gemini/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): update gdev tooling description
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): refine logging and summary generation
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): rename claude guidelines file to session
  tooling/claude/seeds/.claude/SESSION.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): remove project.md from claude gitignore
  tooling/claude/manifest.toml
Due: none

refactor(claude): streamline session workflow and project docs (#145)
  .cspell/project-terms.txt
  docs/WORKFLOW.md
  tooling/base/configs/scripts/snapshot.sh
  tooling/base/reference.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/CLAUDE.md
  tooling/claude/seeds/.claude/SESSION.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): update session doc and docs cleanup (#146)
  README.md
  docs/WORKFLOW.md
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/SESSION.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): refactor update check exit logic
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): refine update command exit and feedback (#147)
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): implement smart script injection
  scripts/lib/inject.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): implement smart injection for deps and scripts (#148)
  docs/TOOLING.md
  scripts/lib/inject.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): add gitignore entry for PROJECT.md
  tooling/claude/manifest.toml
Due: none

docs(tooling): update claude update command reference
  docs/TOOLING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): update claude tooling config and docs (#149)
  docs/TOOLING.md
  tooling/claude/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
