Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.91.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(verify): derive stamp message labels from their paths
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.91.1 (#977)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): gate the hero image on its capture stamp (#976)
  .claude/context/ci.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/governance/stacks.md
  .claude/context/scripts/core.md
  .cspell/tech-stack.txt
  assets/hero.stamp
  docs/agents/capture.md
  scripts/core/regen-hero.sh
  scripts/core/verify.sh
  src/capture/render.ts
  src/capture/stamp.test.ts
  src/capture/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.91.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.91.2 (#978)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): route a measurement intent to the audit offers
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): pin the scaffold handoff on the audits arm
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/toolkit-operator/audits/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the audits arm runs and the contract silence
  .claude/context/claude-plugin/skill-requirements.md
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sessions): add a verb resolving live sessions to their branch
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/sessions.md
  src/cli.ts
  src/commands/sessions.ts
  src/sessions/live.test.ts
  src/sessions/live.ts
  src/sessions/registry.test.ts
  src/sessions/registry.ts
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): resolve dispatch target by branch, not start order
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): record that the listing carries no working directory
  wiki/claude/claude-sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the sessions domain and its registry read
  .claude/context/cli/commands.md
  .claude/context/cli/overview.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sessions): scope --branch to the repository and route on the count
  .claude/context/cli/overview.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  docs/agents/sessions.md
  src/commands/sessions.ts
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): state the route ranking where the lifecycle row is read
  .claude/context/sandbox/coverage.md
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): route a measurement intent to the audit offers (#979)
  .claude/context/claude-plugin/skill-requirements.md
  .claude/context/sandbox/coverage.md
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/toolkit-operator/audits/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sessions): resolve a branch holder from the session registry (#980)
  .claude/context/cli/commands.md
  .claude/context/cli/overview.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/sessions.md
  src/cli.ts
  src/commands/sessions.ts
  src/sessions/live.test.ts
  src/sessions/live.ts
  src/sessions/registry.test.ts
  src/sessions/registry.ts
  src/sessions/resolve.test.ts
  src/sessions/resolve.ts
  wiki/claude/claude-sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.92.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): report which shipped skill bodies moved since a ref
  src/claude/skills-drift.test.ts
  src/claude/skills-drift.ts
  src/commands/claude.ts
Due: none

feat(orchestrate): check skill-body drift before the handoff write
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.92.0 (#982)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): name how a session recovers the drift ref
  .claude/context/cli/commands.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  docs/agents/skills-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): add the skills drift verb to the command catalog
  docs/agents/commands.md
  docs/agents/skills-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record how a held skill body is checked for drift
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal.md
  .claude/context/cli/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(docs): regenerate the agents index
  docs/agents/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add a skills drift verb and run it at the handoff (#981)
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal.md
  .claude/context/cli/commands.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/skills-audit.md
  src/claude/skills-drift.test.ts
  src/claude/skills-drift.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.93.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.93.0 (#983)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(setup): route three declined states and mark a fallback stack
  claude/skills/setup-gov/REQUIREMENT.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/REQUIREMENT.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/setup-init/REQUIREMENT.md
  claude/skills/setup-init/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): add claude-ux-measure for runtime interface cost
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-ux-measure/REQUIREMENT.md
  claude/skills/claude-ux-measure/SKILL.md
  scripts/sandbox/claude/ux-measure.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): add a no-stack scenario for the setup-init chain
  scripts/sandbox/claude/setup-init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(setup): name the declined-state routes and the fallback marking
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): declare the measure and audit boundary from both sides
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-ux-audit/REQUIREMENT.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record the two failure classes a routing pointer carries
  .claude/context/claude-plugin/skill-requirements.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record how the interface pair splits on the act
  .claude/context/claude-plugin/skill-strategy.md
  docs/ai-workflow.md
  docs/visual-design-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(dev): correct what the hero stage reads to clear its drift assert
  .claude/context/development/gates.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): shift the banner so the layout reading is non-zero
  scripts/sandbox/claude/ux-measure.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(setup): scope the base inheritance the fallback preview names
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  scripts/sandbox/claude/setup-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): add claude-ux-measure for runtime interface cost (#984)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/development/gates.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-ux-audit/REQUIREMENT.md
  claude/skills/claude-ux-audit/SKILL.md
  claude/skills/claude-ux-measure/REQUIREMENT.md
  claude/skills/claude-ux-measure/SKILL.md
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
  docs/ai-workflow.md
  docs/visual-design-workflow.md
  scripts/sandbox/claude/ux-measure.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(setup): route declined states and name the fallback stack (#985)
  .claude/context/claude-plugin/skill-requirements.md
  claude/skills/setup-gov/REQUIREMENT.md
  claude/skills/setup-gov/SKILL.md
  claude/skills/setup-indexes/REQUIREMENT.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/setup-init/REQUIREMENT.md
  claude/skills/setup-init/SKILL.md
  docs/target-projects.md
  scripts/sandbox/claude/setup-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
