Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.30.0 (#1417)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(labels): set review source only when review.body is read
  src/labels/event.test.ts
  src/labels/event.ts
Due: none

fix(claude): scope the review-gate claim to this repository
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(labels): scan a posted review's own body for phase labels (#1418)
  .claude/context/ci.md
  .claude/context/standards/per-standard.md
  .github/workflows/phase-label-gate.yml
  claude/skills/claude-pr-review/SKILL.md
  docs/agents/commands.md
  src/commands/labels.ts
  src/labels/event.test.ts
  src/labels/event.ts
  standards/publish.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.30.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(capture): record why the source default is kept
  .claude/context/cli/packaging.md
  docs/agents/capture.md
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): pair citation backticks by run length via a shared tokenizer
  src/gov/citations.test.ts
  src/gov/citations.ts
  src/markdown/backticks.test.ts
  src/markdown/backticks.ts
  src/pr/paths.ts
Due: none

chore(main): release 4.30.1 (#1419)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(capture): fix evidence for the kept source default
  .claude/context/cli/packaging.md
  docs/agents/capture.md
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(markdown): drop paths.ts's bullet framing from the tokenizer
  src/markdown/backticks.ts
Due: none

feat(markdown): add relative link resolution to markdown audit
  .claude/context/cli/audits.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/markdown-audit.md
  src/commands/markdown.ts
  src/gate/measures.ts
  src/markdown/gate.test.ts
  src/markdown/gate.ts
  src/markdown/links.test.ts
  src/markdown/links.ts
  src/markdown/scan.ts
  standards/markdown.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(capture): record why the source default is kept (#1420)
  .claude/context/cli/packaging.md
  docs/agents/capture.md
  src/commands/capture.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): pair citation backticks by run length via a shared tokenizer (#1421)
  src/gov/citations.test.ts
  src/gov/citations.ts
  src/markdown/backticks.test.ts
  src/markdown/backticks.ts
  src/pr/paths.ts
Due: none

chore(main): release 4.30.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): fail a wrong-argument quotation of a client command
  src/client-commands.test.ts
  src/client-commands.ts
  src/exempt-marker.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
Due: none

feat(worktrees): resolve a held session's id for its removal route
  docs/agents/worktrees.md
  src/commands/worktrees.test.ts
  src/commands/worktrees.ts
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): state the interactive-holder removal dead end
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(seed): gate hook, workflow, and husky presence in the seed tree
  .claude/ARCHITECTURE.md
  .claude/context/ci.md
  .claude/context/tooling.md
  .claude/hooks/bare-flag-repair.sh
  .claude/hooks/dev-command-reminder.sh
  .claude/hooks/precompact-handoff.sh
  .github/workflows/phase-label-gate.yml
  .github/workflows/release-please.yml
  scripts/core/check-capability-seeding.sh
  src/gate/stages.ts
  tooling/claude/seeds/.claude/hooks/pr-create-log.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.30.2 (#1422)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(markdown): match a link destination through balanced parens
  src/markdown/links.test.ts
  src/markdown/scan.test.ts
  src/markdown/scan.ts
Due: none

test(seed): cover check-capability-seeding.sh and add orphan detection
  scripts/core/check-capability-seeding.sh
  src/capability-seeding.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(worktrees): read a dotted interpolation and drop a false claim
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  docs/agents/worktrees.md
  src/client-commands.test.ts
  src/client-commands.ts
  src/commands/worktrees.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): resolve the skill injector against a merge base
  .claude/context/sandbox/authoring.md
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  src/sandbox-git.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(markdown): add relative link resolution to markdown audit (#1423)
  .claude/context/cli/audits.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/markdown-audit.md
  src/commands/markdown.ts
  src/gate/measures.ts
  src/markdown/gate.test.ts
  src/markdown/gate.ts
  src/markdown/links.test.ts
  src/markdown/links.ts
  src/markdown/scan.test.ts
  src/markdown/scan.ts
  standards/markdown.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.31.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktrees): keep a wrapped help line scannable
  src/commands/worktrees.ts
Due: none

fix(seed): let a canon-no-seed reason clear an orphaned destination
  scripts/core/check-capability-seeding.sh
  src/capability-seeding.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.31.0 (#1426)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): resolve the skill injector against a merge base (#1427)
  .claude/context/sandbox/authoring.md
  scripts/lib/sandbox-git.sh
  scripts/manage-sandbox.sh
  src/sandbox-git.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.31.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(seed): gate hook, workflow, and husky presence in the seed tree (#1425)
  .claude/ARCHITECTURE.md
  .claude/context/ci.md
  .claude/context/tooling.md
  .claude/hooks/bare-flag-repair.sh
  .claude/hooks/dev-command-reminder.sh
  .claude/hooks/precompact-handoff.sh
  .github/workflows/phase-label-gate.yml
  .github/workflows/release-please.yml
  scripts/core/check-capability-seeding.sh
  src/capability-seeding.test.ts
  src/gate/stages.ts
  tooling/claude/seeds/.claude/hooks/pr-create-log.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 4.31.1 (#1428)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(worktrees): check a quoted client command and resolve its id (#1424)
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  docs/agents/worktrees.md
  src/client-commands.test.ts
  src/client-commands.ts
  src/commands/worktrees.test.ts
  src/commands/worktrees.ts
  src/exempt-marker.ts
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/stages.test.ts
  src/gate/stages.ts
  src/worktrees/reclaim.test.ts
  src/worktrees/reclaim.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.32.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.32.0 (#1431)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sessions): state the cwd branch-resolution rule
  docs/agents/sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(references): ban self-citations in shipped bodies
  .claude/context/claude-internal/orchestration.md
  .claude/context/cli/audits.md
  claude/skills/claude-docs/references/anchor-sweep.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-dispatch.md
  claude/skills/claude-orchestrate/references/orchestrator-poll.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/write-human/REQUIREMENT.md
  claude/skills/write-human/references/source-material.md
  docs/agents/context-audit-checks.md
  docs/agents/key-changes.md
  docs/agents/markdown-audit.md
  docs/agents/superseded.md
  standards/publish.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gate): stop passing a qualified same-repository citation
  .claude/context/development/gates.md
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/shipped/references.test.ts
  src/shipped/references.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sessions): narrow the cwd resolution discriminator
  docs/agents/sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sessions): state the cwd branch-resolution rule (#1432)
  docs/agents/sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
