Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 4.40.0 (#1462)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(feedback): default the feedback skill to --github for target readers (#1458)
  claude/skills/canon-feedback-file/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.40.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): state the assets/examples boundary (#1459)
  .claude/ARCHITECTURE.md
  .claude/context/development/regeneration.md
  .claude/context/slides.md
  examples/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.40.1 (#1464)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): drop the isCI serial playwright worker override (#1460)
  tooling/astro/configs/playwright.config.ts
  tooling/vite-react/configs/playwright.config.ts
Due: none

chore(main): release 4.40.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(migrate): add rule-layout migration steps to target-projects.md
  docs/target-projects.md
  src/migrate/rule-layout.test.ts
  src/migrate/rule-layout.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.40.2 (#1466)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(teach): dedupe the outline ramp and the glossary filter
  .cspell/project-terms.txt
  src/teach/nav.ts
Due: none

test(migrate): assert the catalog-fallback file actually moves
  src/migrate/rule-layout.test.ts
Due: none

feat(migrate): add rule-layout to move installed rules onto canon/ (#1463)
  .claude/context/governance/install.md
  .claude/context/governance/rules.md
  docs/agents/commands.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  src/commands/migrate.ts
  src/migrate/rule-layout.test.ts
  src/migrate/rule-layout.ts
  src/sync/layout.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): seed the astro scenario switcher
  .claude/ARCHITECTURE.md
  .claude/REQUIREMENTS.md
  .claude/context/tooling.md
  claude/skills/canon-cli/SKILL.md
  tooling/astro/configs/src/components/dev/scenarios.astro
  tooling/astro/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): generate the root nav, contents pages, and lesson chrome (#1465)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .cspell/project-terms.txt
  claude/skills/claude-teach/SKILL.md
  claude/skills/claude-teach/references/lesson-craft.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/teach.md
  src/commands/teach.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.41.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.41.0 (#1467)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(architecture): stamp the anchor at the branch base
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): seed the astro scenario switcher (#1468)
  .claude/ARCHITECTURE.md
  .claude/REQUIREMENTS.md
  .claude/context/tooling.md
  claude/skills/canon-cli/SKILL.md
  tooling/astro/configs/src/components/dev/scenarios.astro
  tooling/astro/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.42.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): route claude-ui-test's checklist to the pull request
  .claude/context/development/scratch.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-ui-test/REQUIREMENT.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.42.0 (#1469)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record the second ui-test turn-count sample
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: none

feat(claude): route claude-ui-test's checklist to the pull request (#1470)
  .claude/context/development/scratch.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-ui-test/REQUIREMENT.md
  claude/skills/claude-ui-test/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.43.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.43.0 (#1471)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(wireframes): transcribe the three teach page layouts
  .claude/wireframes/index.md
  .claude/wireframes/teach-chrome.md
  .claude/wireframes/teach-contents.md
  .claude/wireframes/teach-lesson.md
  .claude/wireframes/teach-root.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(assets): move capture sources under assets/captures/
  assets/captures/governance.html
  assets/captures/governance.html.tmpl
  assets/captures/hero.html
  assets/captures/hero.html.tmpl
  assets/captures/install-surface.html
  assets/captures/install-surface.html.tmpl
  assets/captures/install.html
  assets/captures/install.html.tmpl
  assets/captures/task-board.html
  assets/captures/task-board.html.tmpl
  assets/governance.png
  assets/governance.stamp
  assets/install-surface.png
  assets/install-surface.stamp
  assets/task-board.png
  assets/task-board.stamp
Due: none

fix(gate): resolve a capture set across two folders
  src/gate/measures.test.ts
  src/gate/measures.ts
  src/gate/sequencer.test.ts
  src/gate/stages.ts
Due: none

fix(canon): point the four silent read sites at assets/captures/
  .claude/canon/pr-labels.toml
  .claude/rules/internal/claude/599-showcase-assets.md
  .prettierignore
  internal/rules/claude/599-showcase-assets.md
  scripts/core/regen-hero.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(capture): state the two-folder capture layout
  .claude/ARCHITECTURE.md
  .claude/DESIGN.md
  .claude/context/ci.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/audits.md
  .claude/context/cli/packaging.md
  .claude/context/design.md
  .claude/context/development/regeneration.md
  .claude/context/governance/rules.md
  .claude/context/governance/stacks.md
  .claude/context/scripts/core.md
  README.md
  docs/agents/capture.md
  src/cli.ts
  src/design/tokens.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gates): correct the shipped-reference marker count to twenty
  .claude/context/development/gates.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(wireframes): widen the teach-chrome citation range
  .claude/wireframes/teach-chrome.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): give the records sweep a frontmatter glob boundary
  src/commands/migrate.ts
  src/migrate/record-tree.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: none

fix(tooling): reach verify's end-to-end stage on both stacks
  .claude/context/tooling.md
  .cspell/tech-stack.txt
  scripts/tooling/verify.sh
  tooling/base/seeds/.cspell/tech-stack.txt
  tooling/vite-react/seeds/.cspell/tech-stack.txt
  tooling/web/manifest.toml
  tooling/web/seeds/.cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(wireframes): nest the teach surfaces under a teach/ folder
  .claude/wireframes/index.md
  .claude/wireframes/teach/chrome.md
  .claude/wireframes/teach/contents.md
  .claude/wireframes/teach/index.md
  .claude/wireframes/teach/lesson.md
  .claude/wireframes/teach/root.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(assets): correct the pre-move path each frame names in its header
  assets/captures/governance.html
  assets/captures/governance.html.tmpl
  assets/captures/hero.html
  assets/captures/hero.html.tmpl
  assets/captures/install-surface.html
  assets/captures/install-surface.html.tmpl
  assets/captures/install.html
  assets/captures/install.html.tmpl
  assets/captures/task-board.html
  assets/captures/task-board.html.tmpl
  assets/governance.stamp
  assets/hero.stamp
  assets/install-surface.stamp
  assets/install.stamp
  assets/task-board.stamp
  docs/agents/capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): state precisely what verify's fix confirmed
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): widen wireframe citations to cover nested surfaces
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-docs/references/wireframe-sweep.md
  claude/skills/claude-feature/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): give the records sweep a frontmatter glob boundary (#1476)
  src/commands/migrate.ts
  src/migrate/record-tree.ts
  src/migrate/records.test.ts
  src/migrate/records.ts
Due: none
