Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(context): break thirteen blocks past the depth checkpoint
  .claude/context/ci.md
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/boundaries.md
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/audits.md
  .claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the audit census read in two entries
  .claude/context/claude-internal.md
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox-check): read the census before prompting for a pairing
  .claude/skills/aitk-sandbox-check/REQUIREMENT.md
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): state which act a leave-alone constraint forbids
  claude/skills/claude-feature/REQUIREMENT.md
  claude/skills/claude-feature/SKILL.md
  scripts/sandbox/claude/feature.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(context): realign the internal skills table columns
  .claude/context/claude-internal.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): split the agents reference into a folder of thirteen
  docs/agents.md
  docs/agents/capture.md
  docs/agents/commands.md
  docs/agents/comments.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  docs/agents/docs.md
  docs/agents/index.md
  docs/agents/indexes.md
  docs/agents/install-and-sync.md
  docs/agents/output-shape.md
  docs/agents/overview.md
  docs/agents/sandbox.md
  docs/agents/scripting.md
  docs/agents/tasks.md
  docs/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): retarget every citation that named the agents file
  .claude/context/cli/overview.md
  .claude/context/design.md
  .claude/context/governance.md
  .claude/context/indexes.md
  .claude/context/scripts/framing.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/context/tooling.md
  .claude/context/transcripts.md
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-scripts/REQUIREMENT.md
  .claude/skills/aitk-scripts/SKILL.md
  CLAUDE.md
  README.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  docs/target-projects.md
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/ui.ts
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(docs): list a split docs domain by its folder
  scripts/docs/list.sh
  scripts/sandbox/infra/docs.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(context): break thirteen blocks past the depth checkpoint (#800)
  .claude/context/ci.md
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/boundaries.md
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/distribution.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/audits.md
  .claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox-check): offer the infra candidate before reporting a verdict
  .claude/context/sandbox/coverage.md
  .claude/skills/aitk-sandbox-check/REQUIREMENT.md
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): break two agents children past the depth checkpoint
  docs/agents/capture.md
  docs/agents/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox-check): read the census before prompting for a pairing (#801)
  .claude/context/claude-internal.md
  .claude/context/sandbox/coverage.md
  .claude/skills/aitk-sandbox-check/REQUIREMENT.md
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): state which act a leave-alone constraint forbids (#802)
  claude/skills/claude-feature/REQUIREMENT.md
  claude/skills/claude-feature/SKILL.md
  scripts/sandbox/claude/feature.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.40.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(docs): split the agents reference into a folder of thirteen (#803)
  .claude/context/cli/overview.md
  .claude/context/design.md
  .claude/context/governance.md
  .claude/context/indexes.md
  .claude/context/scripts/framing.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/context/tooling.md
  .claude/context/transcripts.md
  .claude/evals/aitk-ask.md
  .claude/skills/aitk-scripts/REQUIREMENT.md
  .claude/skills/aitk-scripts/SKILL.md
  CLAUDE.md
  README.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  docs/agents.md
  docs/agents/capture.md
  docs/agents/commands.md
  docs/agents/comments.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  docs/agents/docs.md
  docs/agents/index.md
  docs/agents/indexes.md
  docs/agents/install-and-sync.md
  docs/agents/output-shape.md
  docs/agents/overview.md
  docs/agents/sandbox.md
  docs/agents/scripting.md
  docs/agents/tasks.md
  docs/index.md
  docs/target-projects.md
  scripts/docs/list.sh
  scripts/sandbox/infra/docs.sh
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/ui.ts
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.40.0 (#804)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): state the table exemption beside the peer list
  .claude/standards/context.md
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): exempt a run of table rows from the depth checkpoint
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: none

docs(context-audit): document the table exemption and its reason
  docs/agents/context-audit-checks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): state which measures reach every audited folder
  .claude/context/cli/audits.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add the orchestrator pre-compact handoff snippet
  .claude/context/snippets.md
  .claude/snippets/claude/orchestrator-handoff.md
  assets/hero.html
  assets/hero.png
  snippets/claude/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): state the board write method and the ongoing output shape
  .claude/context/claude-internal.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): route executable prose to review by path
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add an autoship arm for executable prose
  scripts/sandbox/claude/autoship.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(autoship): state the path test in the workflow and context
  .claude/context/claude-plugin/skill-baseline.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): expand a selection to the standards it cites
  src/standards/closure.test.ts
  src/standards/closure.ts
Due: none

feat(standards): take a selection on install via --only
  src/commands/standards.ts
Due: none

feat(init): add --standards to mirror the snippets selection
  src/commands/init.ts
  src/init/flags.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/steps.test.ts
  src/init/steps.ts
Due: none

docs(standards): record the selection flag and its measured closure
  .claude/context/standards.md
  docs/agents/install-and-sync.md
  docs/agents/scripting.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): exempt a run of table rows from the depth checkpoint (#805)
  .claude/context/cli/audits.md
  .claude/standards/context.md
  docs/agents/context-audit-checks.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  standards/context.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.41.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the board write method, output shape, and handoff (#806)
  .claude/context/claude-internal.md
  .claude/context/snippets.md
  .claude/snippets/claude/orchestrator-handoff.md
  assets/hero.html
  assets/hero.png
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  snippets/claude/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.41.0 (#809)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.41.0
  CHANGELOG.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.41.0 (#810)
  CHANGELOG.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): add installed, tooling, and CLAUDE.md behavior paths
  .claude/context/claude-plugin/skill-baseline.md
  claude/skills/claude-autoship/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): stop the closure at a does-not-govern handoff
  .claude/context/standards.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  src/commands/standards.ts
  src/standards/closure.test.ts
  src/standards/closure.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): route executable prose to review by path (#807)
  .claude/context/claude-plugin/skill-baseline.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.41.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): install a named selection expanded to its citations (#808)
  .claude/context/standards.md
  docs/agents/install-and-sync.md
  docs/agents/scripting.md
  docs/target-projects.md
  src/commands/init.ts
  src/commands/standards.ts
  src/init/flags.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/steps.test.ts
  src/init/steps.ts
  src/standards/closure.test.ts
  src/standards/closure.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
