Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(scripts): remove manage-aitk.sh, drop guard_root from antigravity
  scripts/manage-aitk.sh
  scripts/manage-antigravity.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): add .prettierignore to lint-staged prettier flags
  tooling/vite-react/configs/.lintstagedrc
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): sync skills and GOV.md
  .claude/GOV.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(deps): update bun.lock, package.json, .gitignore, .lintstagedrc
  .gitignore
  .lintstagedrc
  bun.lock
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): document src/ TypeScript CLI structure and script tree
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(ui): replace clack with native TTY select and confirm
  src/ui.ts
Due: none

feat(ui): replace clack with native TTY select (#332)
  docs/scripts.md
  src/ui.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gemini): rename tooling category to gemini in gitignore
  .gitignore
Due: none

chore(deps): update dependencies, replace clack with native TTY, and clean up tooling configs (#333)
  .claude/GOV.md
  .claude/skills/aitk-scripts/SKILL.md
  .claude/skills/aitk-standards/SKILL.md
  .gitignore
  .lintstagedrc
  bun.lock
  package.json
  scripts/manage-aitk.sh
  scripts/manage-antigravity.sh
  tooling/vite-react/configs/.lintstagedrc
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): make roles optional and move to dedicated folder
  scripts/manage-claude.sh
  scripts/sandbox/infra/claude.sh
  src/commands/claude.ts
  tooling/claude/roles/IMPLEMENTER.md
  tooling/claude/roles/PLANNER.md
  tooling/claude/roles/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): add cross-update rule to domain skills
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(skills): inline reviewer into claude-review, delete ai-sync
  antigravity/workflows/claude-review.md
  claude/skills/ai-sync/SKILL.md
  claude/skills/claude-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): update CLI, add built-in vs toolkit comparison
  .cspell/project-terms.txt
  README.md
  docs/ai-workflow.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): drop log_step override causing missing blank line
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): make role prompts optional in default install (#334)
  .claude/skills/aitk-antigravity/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-gemini/SKILL.md
  .cspell/project-terms.txt
  README.md
  antigravity/workflows/claude-review.md
  claude/skills/ai-sync/SKILL.md
  claude/skills/claude-review/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  scripts/manage-claude.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/infra/claude.sh
  src/commands/claude.ts
  tooling/claude/roles/IMPLEMENTER.md
  tooling/claude/roles/PLANNER.md
  tooling/claude/roles/REVIEWER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): drop golden configs from vite-react and chrome
  scripts/sandbox/tooling/chrome.sh
  scripts/sandbox/tooling/cursor.sh
  scripts/sandbox/tooling/vite-react.sh
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/chrome/configs/.github/workflows/verify.yml
  tooling/chrome/configs/e2e/fixtures.ts
  tooling/chrome/configs/e2e/screenshot.ts
  tooling/chrome/configs/manifest.config.ts
  tooling/chrome/configs/playwright.config.ts
  tooling/chrome/configs/scripts/setup.sh
  tooling/chrome/configs/vite.config.ts
  tooling/chrome/configs/vitest.config.ts
  tooling/chrome/manifest.toml
  tooling/chrome/reference.md
  tooling/cursor/manifest.toml
  tooling/cursor/reference.md
  tooling/vite-react/configs/.github/workflows/verify.yml
  tooling/vite-react/configs/.lintstagedrc
  tooling/vite-react/configs/.prettierrc
  tooling/vite-react/configs/.vscode/extensions.json
  tooling/vite-react/configs/.vscode/settings.json
  tooling/vite-react/configs/e2e/screenshot.ts
  tooling/vite-react/configs/eslint.config.js
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/scripts/setup.sh
  tooling/vite-react/configs/scripts/verify.sh
  tooling/vite-react/configs/src/test/setup.ts
  tooling/vite-react/configs/tsconfig.e2e.json
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/configs/vitest.config.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
  tooling/vite-react/seeds/.cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(cli): add aitk init command for project bootstrapping
  scripts/manage-init.sh
  src/cli.ts
  src/commands/init.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): update docs for reference-only stacks and init command
  .claude/skills/aitk-tooling/SKILL.md
  README.md
  docs/sandbox.md
  docs/tooling.md
  prompts/tooling-reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(root): add wiki to key paths in CLAUDE.md and GEMINI.md
  CLAUDE.md
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add init infra scenario for aitk init testing
  scripts/sandbox/infra/init.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(vite-react): remove explicit eslint version
  tooling/vite-react/manifest.toml
Due: none

chore(tooling): warn missing package.json for manifest scripts/deps
  scripts/tooling/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): add bun and mcp pages, refactor claude-code
  wiki/bun.md
  wiki/claude-code.md
  wiki/claude-mcp.md
  wiki/claude-plan-mode.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(prose): replace em dashes and semicolons with rewrites
  .claude/skills/aitk-standards/SKILL.md
  docs/claude.md
  prompts/gemini-cli.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore: add promptname to dictionary, delete TASKS.md
  .claude/TASKS.md
  .cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add UX completeness rule for interactive UI
  governance/rules/ui/430-ux-completeness.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(governance): move UI rules to own domain at 400 range
  docs/governance.md
  governance/rules/ui/400-ui.mdc
  governance/rules/ui/410-a11y.mdc
  governance/rules/ui/420-forms.mdc
  governance/stacks/planner.toml
  governance/stacks/react.toml
  prompts/cursor-rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): upgrade claude-ui-test to auto e2e generation
  antigravity/workflows/claude-ui-test.md
  claude/skills/claude-ui-test/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(spelling): add automatable and sidepanel to dictionaries
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
Due: none

chore(governance): remove old framework UI rules and sync docs
  docs/ai-workflow.md
  governance/rules/framework/210-ui.mdc
  governance/rules/framework/220-a11y.mdc
  governance/rules/framework/230-forms.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(ui): update ui feedback transience rule
  governance/rules/ui/400-ui.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): upgrade claude-ui-test to auto e2e generation (#336)
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  antigravity/workflows/claude-ui-test.md
  claude/skills/claude-ui-test/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(docs): add wiki pages and fix prose style (#337)
  .claude/TASKS.md
  .claude/skills/aitk-standards/SKILL.md
  .cspell/project-terms.txt
  docs/claude.md
  prompts/gemini-cli.md
  tooling/vite-react/reference.md
  wiki/bun.md
  wiki/claude-code.md
  wiki/claude-mcp.md
  wiki/claude-plan-mode.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
