Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(prose): add American English spelling rule
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(git-split): warn about squash-merge conflicts in stacked mode
  antigravity/workflows/git-split.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(spelling): replace 'behaviour' with American English 'behavior'
  .cspell/project-terms.txt
  CLAUDE.md
  scripts/sandbox/docs/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(governance): add astro rule and stack
  docs/governance.md
  governance/rules/framework/210-astro.mdc
  governance/stacks/astro.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add catalog list command and --add install flag
  .claude/skills/aitk-governance/SKILL.md
  .cspell/tech-stack.txt
  docs/governance.md
  scripts/gov/install.sh
  scripts/gov/list.sh
  scripts/manage-gov.sh
  scripts/sandbox/infra/gov.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(governance): sync cursor-rules prompt with numbering
  .claude/skills/aitk-governance/SKILL.md
  prompts/cursor-rules.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add gov-install skill with stack detection
  claude/skills/gov-install/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add astro stack and gov list catalog (#350)
  .claude/skills/aitk-governance/SKILL.md
  .cspell/tech-stack.txt
  docs/governance.md
  governance/rules/framework/210-astro.mdc
  governance/stacks/astro.toml
  prompts/cursor-rules.md
  scripts/gov/install.sh
  scripts/gov/list.sh
  scripts/manage-gov.sh
  scripts/sandbox/infra/gov.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add gov-install skill with stack detection (#355)
  claude/skills/gov-install/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add task lifecycle and seed TASKS.md
  .claude/TASKS.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): establish agent-first design principles
  .claude/ARCHITECTURE.md
  CLAUDE.md
  README.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(seeds): document plan lifecycle for multi-session tasks
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): document task lifecycle and design principles (#352)
  .claude/ARCHITECTURE.md
  .claude/TASKS.md
  CLAUDE.md
  README.md
  docs/scripts.md
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git-ship): add claude-docs step before docs-sync
  antigravity/workflows/git-ship.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git-ship): add claude-docs step before docs-sync (#353)
  antigravity/workflows/git-ship.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(session-resume): read tracked work from tasks and plans
  claude/skills/gov-install/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(session-resume): read tracked work from tasks and plans (#354)
  claude/skills/gov-install/SKILL.md
  claude/skills/session-resume/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git-split): document squash-merge loop for stacked PRs
  .cspell/project-terms.txt
  antigravity/workflows/git-split.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): add stacked scenario for git-split
  docs/sandbox.md
  scripts/sandbox/git/split.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tasks): add non-interactive sandbox routing entry
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git-split): squash-merge loop for stacked PRs (#356)
  .claude/TASKS.md
  .cspell/project-terms.txt
  antigravity/workflows/git-split.md
  claude/skills/git-split/SKILL.md
  docs/sandbox.md
  scripts/sandbox/git/split.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(catalog): add list emitters for snippets, tooling, and standards
  .claude/ARCHITECTURE.md
  README.md
  docs/scripts.md
  docs/snippets.md
  docs/standards.md
  docs/tooling.md
  scripts/manage-snippets.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/snippets/list.sh
  scripts/standards/list.sh
  scripts/tooling/list.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): drop stale snippets.toml references
  CLAUDE.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tasks): archive completed catalog-emitters task
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(catalog): add list emitters for snippets, tooling, and standards (#357)
  .claude/ARCHITECTURE.md
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  CLAUDE.md
  README.md
  docs/claude.md
  docs/scripts.md
  docs/snippets.md
  docs/standards.md
  docs/tooling.md
  scripts/manage-snippets.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
  scripts/snippets/list.sh
  scripts/standards/list.sh
  scripts/tooling/list.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add non-interactive scenario routing
  .claude/ARCHITECTURE.md
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  .claude/skills/aitk-scripts/SKILL.md
  README.md
  docs/sandbox.md
  docs/scripts.md
  scripts/lib/ui.sh
  scripts/sandbox/dev/review.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/infra/antigravity.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/prompts.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add non-interactive scenario routing (#358)
  .claude/ARCHITECTURE.md
  .claude/TASKS-ARCHIVE.md
  .claude/TASKS.md
  .claude/skills/aitk-scripts/SKILL.md
  README.md
  docs/sandbox.md
  docs/scripts.md
  scripts/lib/ui.sh
  scripts/sandbox/dev/review.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/infra/antigravity.sh
  scripts/sandbox/infra/claude.sh
  scripts/sandbox/infra/gov.sh
  scripts/sandbox/infra/prompts.sh
  scripts/sandbox/infra/snippets.sh
  scripts/sandbox/infra/standards.sh
  scripts/sandbox/infra/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(init): add one-shot flags and init-project skill
  .claude/TASKS.md
  README.md
  claude/skills/init-project/SKILL.md
  docs/claude.md
  docs/sandbox.md
  docs/tooling.md
  scripts/manage-init.sh
  scripts/sandbox/infra/init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): clarify parity scope for new skills
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(init): tighten init-project skill description
  claude/skills/init-project/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(init): add one-shot flags and init-project skill (#359)
  .claude/TASKS.md
  .claude/skills/aitk-claude/SKILL.md
  README.md
  claude/skills/init-project/SKILL.md
  docs/claude.md
  docs/sandbox.md
  docs/tooling.md
  scripts/manage-init.sh
  scripts/sandbox/infra/init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(cspell): add Claude Code wiki terms
  .cspell/project-terms.txt
Due: none

docs(wiki): add community skills and plugins page
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  wiki/community-skills.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): sync Claude Code pages with current docs
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-hooks.md
  wiki/claude-mcp.md
  wiki/claude-memory.md
  wiki/claude-permissions.md
  wiki/claude-plan-mode.md
  wiki/claude-skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add routines page
  wiki/claude-routines.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): sync claude pages and add routines, community skills (#360)
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-hooks.md
  wiki/claude-mcp.md
  wiki/claude-memory.md
  wiki/claude-permissions.md
  wiki/claude-plan-mode.md
  wiki/claude-routines.md
  wiki/claude-skills.md
  wiki/community-skills.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
