Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(scripts): retarget hook, eval, and sandbox reads at markdown
  .claude/hooks/standards-audit.sh
  scripts/core/install-check.sh
  scripts/eval/README.md
  scripts/eval/pre-registration.md
  scripts/eval/run.sh
  scripts/sandbox/claude/seed-sync.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
  scripts/sandbox/fixtures/infra/drift/unmigrated/expect.toml
  src/commands/markdown.ts
  src/comments/vocabulary.ts
  src/markdown/bans.ts
  src/standards/closure.ts
  src/standards/read.test.ts
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the split by what reads each half
  .claude/ARCHITECTURE.md
  .claude/REQUIREMENTS.md
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/context/design.md
  .claude/context/development/hooks.md
  .claude/context/governance/routing.md
  .claude/context/standards/authoring.md
  .claude/context/standards/install.md
  .claude/context/standards/scope.md
  CLAUDE.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/markdown-audit.md
  docs/ai-workflow.md
  docs/target-projects.md
  wiki/concepts/index.md
  wiki/concepts/prose-influences.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record the port-offset arm and what it cannot reach
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): report an implementation that reached history before its test (#1025)
  .claude/context/cli/audits.md
  .claude/context/cli/index.md
  .claude/context/governance/rules.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
  .claude/rules/core/070-planning.md
  .cspell/tech-stack.txt
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/test-order.md
  governance/rules/core/070-planning.md
  scripts/sandbox/fixtures/infra/gov/test-order/expect.toml
  scripts/sandbox/infra/gov.sh
  src/commands/gov.ts
  src/gov/test-order.test.ts
  src/gov/test-order.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(groundwork): send a spike's evidence into the track that cites it (#1026)
  .claude/context/development/index.md
  .claude/context/development/scratch.md
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/running.md
  .claude/standards/groundwork.md
  claude/skills/claude-groundwork/SKILL.md
  docs/ai-workflow.md
  standards/groundwork.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): refuse a leftover worktree folder instead of the base port (#1027)
  .claude/context/sandbox/coverage.md
  .claude/context/tooling.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/port-offset/expect.toml
  src/worktree-port.test.ts
  tooling/astro/manifest.toml
  tooling/vite-react/manifest.toml
  tooling/web/configs/scripts/worktree-port.sh
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.105.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.105.0 (#1029)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): hoist manual above content blocks and set the ceiling
  scripts/sandbox/fixtures/claude/write-human/expect.toml
Due: none

docs(sandbox): state the turn ceiling as a judgment not a bound
  scripts/sandbox/fixtures/claude/write-human/expect.toml
Due: none

chore(main): release 0.106.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.106.0 (#1030)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): report the cause behind an entry past the checkpoint
  .claude/context/cli/audits.md
  docs/agents/context-audit-checks.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): cut the change narration from the congested entries
  .claude/context/sandbox/coverage.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): split claude-internal into a folder per sub-area
  .claude/context/claude-internal/discovery.md
  .claude/context/claude-internal/index.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-internal/overview.md
  .claude/context/claude-internal/skills.md
  .claude/context/claude-plugin/overview.md
  .claude/context/claude-plugin/skill-requirements.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/index.md
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): drop the glob from the internal skills description
  .claude/context/claude-internal/index.md
  .claude/context/claude-internal/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): keep the date anchoring a measurement through the sweep
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-internal/skills.md
  .claude/context/cli/audits.md
  .claude/context/sandbox/coverage.md
  .claude/context/tooling.md
  src/commands/context.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): report why an entry is long, not only that it is (#1031)
  .claude/context/claude-internal/discovery.md
  .claude/context/claude-internal/index.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-internal/overview.md
  .claude/context/claude-internal/skills.md
  .claude/context/claude-plugin/overview.md
  .claude/context/claude-plugin/skill-requirements.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/audits.md
  .claude/context/index.md
  .claude/context/tooling.md
  .claude/skills/aitk-claude/SKILL.md
  docs/agents/context-audit-checks.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.107.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.107.0 (#1032)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(verify): pin the plugin CLI install to 2.1.236
  .claude/context/ci.md
  .github/workflows/verify.yml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): guard the manifest stage on a runnable plugin CLI
  .claude/context/development/gates.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(verify): pin the plugin CLI and guard the stage on a runnable one (#1036)
  .claude/context/ci.md
  .claude/context/development/gates.md
  .github/workflows/verify.yml
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.107.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.107.1 (#1037)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): record reply-pin variance across identical runs
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): name the verb that resolves a dispatch target
  .claude/context/claude-internal/orchestration.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/operating-model.md
  wiki/claude/claude-sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(orchestrate): cut the dispatch passages to their checkpoints
  .claude/context/claude-internal/orchestration.md
  .claude/context/sandbox/running.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/operating-model.md
  wiki/claude/claude-sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): state what an aitk exit does not carry to a session
  docs/agents/indexes.md
  docs/agents/intake.md
  docs/agents/records.md
  docs/agents/sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the wrapper and the reporter-shaped record
  .claude/context/cli/commands.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): read the aitk record rather than a maskable exit
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/cli-script/SKILL.md
  claude/skills/project-commands/SKILL.md
  claude/skills/setup-indexes/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): name the bootstrap arm evidence for setup-indexes
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): split the pairing paragraph at the second example
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): match the provenance markers to the rule they cite
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: none

docs(context): state what the provenance check reports after the split
  .claude/context/cli/audits.md
  docs/agents/context-audit-checks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(pr): add a ci row to the label map
  .claude/pr-labels.toml
Due: none

docs(orchestrate): state the resolved dispatch on four surfaces (#1033)
  .claude/context/claude-internal/orchestration.md
  .claude/context/sandbox/running.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/operating-model.md
  wiki/claude/claude-sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(context): match the provenance markers to the rule they cite (#1034)
  .claude/context/cli/audits.md
  docs/agents/context-audit-checks.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): read the aitk record rather than an exit a wrapper masks (#1035)
  .claude/context/cli/commands.md
  .claude/context/sandbox/coverage.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/cli-script/SKILL.md
  claude/skills/project-commands/SKILL.md
  claude/skills/setup-indexes/SKILL.md
  docs/agents/indexes.md
  docs/agents/intake.md
  docs/agents/records.md
  docs/agents/sessions.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
