Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(project): update project name and description
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(project-name): rename project to toolkit
  README.md
  claude/.claude-plugin/plugin.json
  claude/README.md
  gemini/gemini-extension.json
  search.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(skills): align documentation with toolkit branding
  docs/skills.md
  search.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(project): rename 'AI Toolkit' to 'Toolkit' (#216)
  CLAUDE.md
  GEMINI.md
  README.md
  claude/.claude-plugin/plugin.json
  claude/README.md
  docs/skills.md
  gemini/README.md
  gemini/gemini-extension.json
  package.json
  scripts/manage-aitk.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(deps): update bun dependencies
  bun.lock
Due: none

docs(prompts): clarify bash script timeline and logging rules
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): simplify bash script help example
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): apply sentence case to bash script log examples
  prompts/bash-script.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(ui): refine tooling scripts output
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/configs/scripts/verify.sh
  tooling/chrome/configs/scripts/setup.sh
  tooling/vite-react/configs/scripts/setup.sh
  tooling/vite-react/configs/scripts/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

style(sandbox): refine script output formatting and messages
  scripts/sandbox/dev/apply.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/dev/review.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/release/changelog.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/chrome.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/gemini.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/sandbox/tooling/vite-react.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(scripts): standardize output formatting (#217)
  bun.lock
  docs/sandbox.md
  prompts/bash-script.md
  scripts/claude/prompt.sh
  scripts/core/clean.sh
  scripts/core/update.sh
  scripts/core/verify.sh
  scripts/gov/install.sh
  scripts/gov/sync.sh
  scripts/manage-aitk.sh
  scripts/manage-claude.sh
  scripts/manage-gov.sh
  scripts/manage-sandbox.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
  scripts/sandbox/dev/apply.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/dev/review.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/release/changelog.sh
  scripts/sandbox/tooling/base.sh
  scripts/sandbox/tooling/chrome.sh
  scripts/sandbox/tooling/claude.sh
  scripts/sandbox/tooling/gemini.sh
  scripts/sandbox/tooling/upstream.sh
  scripts/sandbox/tooling/vite-react.sh
  scripts/tooling/ref.sh
  scripts/tooling/sync.sh
  tooling/base/configs/scripts/clean.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/configs/scripts/verify.sh
  tooling/chrome/configs/scripts/setup.sh
  tooling/vite-react/configs/scripts/setup.sh
  tooling/vite-react/configs/scripts/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(gov): update documentation for governance build command
  docs/ai-workflow.md
  docs/governance.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): add 'gov build' command to cli summary
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add build command (#218)
  README.md
  docs/ai-workflow.md
  docs/governance.md
  scripts/claude/prompt.sh
  scripts/gov/build.sh
  scripts/lib/gov.sh
  scripts/manage-gov.sh
  scripts/sandbox/infra/gov.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(verify): remove step numbering from output
  scripts/core/verify.sh
  tooling/base/configs/scripts/verify.sh
  tooling/vite-react/configs/scripts/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): add playwright screenshots to gitignore
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(vite-react): add playwright e2e screenshot script
  tooling/vite-react/configs/e2e/screenshot.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(chrome): remove comment separators from screenshot script
  tooling/chrome/configs/e2e/screenshot.ts
Due: none

refactor(standards): abstract log messages
  scripts/manage-standards.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): abstract log messages
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(cli): standardize script output and logging (#221)
  scripts/manage-claude.sh
  scripts/manage-gov.sh
  scripts/manage-standards.sh
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add cursor ide support (#222)
  docs/sandbox.md
  docs/tooling.md
  scripts/sandbox/tooling/cursor.sh
  scripts/tooling/create.sh
  tooling/cursor/manifest.toml
  tooling/cursor/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): clarify managed and seeded file behavior
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): document role prompts as configs
  README.md
  docs/ai-workflow.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): separate managed configs from user seeds (#223)
  README.md
  docs/ai-workflow.md
  docs/tooling.md
  scripts/manage-claude.sh
  tooling/claude/configs/.claude/IMPLEMENTER.md
  tooling/claude/configs/.claude/PLANNER.md
  tooling/claude/configs/.claude/REVIEWER.md
  tooling/claude/configs/scripts/snapshot.sh
  tooling/claude/manifest.toml
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): update create script templates
  scripts/tooling/create.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): add manifest authoring guide
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): clarify manifest.toml fields and structure
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): add scripts reference documentation
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): add scripts reference documentation (#225)
  docs/governance.md
  docs/sandbox.md
  docs/scripts.md
  docs/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(scripts): update scripts reference in skill documentation (#226)
  .claude/skills/aitk-scripts/SKILL.md
  docs/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git): add split command to help manage mixed commits
  gemini/commands/git/split.toml
Due: none

chore(sandbox): add scenario for git split command
  scripts/sandbox/git/split.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(git): add git:split command (#227)
  docs/ai-workflow.md
  docs/sandbox.md
  gemini/README.md
  gemini/commands/git/split.toml
  scripts/sandbox/git/split.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): simplify snapshot log output
  tooling/claude/configs/scripts/snapshot.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(git): add batch commit command
  gemini/commands/git/stage.toml
Due: none

docs(git): document /git:stage command
  docs/ai-workflow.md
  docs/sandbox.md
  gemini/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): refactor documentation links
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(license): update copyright holder
  LICENSE
Due: none

docs(workflow): update ai workflow and tool usage
  docs/ai-workflow.md
  snippets/code-review.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
