Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): name the elements behind the layout-shift reading
  claude/skills/claude-ux-measure/REQUIREMENT.md
  claude/skills/claude-ux-measure/SKILL.md
  scripts/sandbox/claude/ux-measure.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record four borrows taken and two left standing
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/sandbox/coverage.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): gate tests on the corpora a src test asserts over (#1241)
  .claude/context/development/gates.md
  .claude/context/development/verification.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.42.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.42.1 (#1243)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): state the closing-output contract on both ship bodies
  .claude/context/sandbox/coverage.md
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-ship/SKILL.md
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/submodule-root/expect.toml
  scripts/sandbox/fixtures/claude/worktree/submodule/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(skills): gate git-ship on the project's verify commands (#1242)
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/sandbox/coverage.md
  .cspell/project-terms.txt
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  claude/skills/claude-ux-measure/REQUIREMENT.md
  claude/skills/claude-ux-measure/SKILL.md
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-ship/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/ux-measure.sh
  scripts/sandbox/claude/worktree.sh
  scripts/sandbox/fixtures/claude/worktree/submodule-root/expect.toml
  scripts/sandbox/fixtures/claude/worktree/submodule/expect.toml
  scripts/sandbox/git/ship.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.43.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): correct the sandbox checklist's stale who-drives claim
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.43.0 (#1244)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): correct the sandbox checklist's stale who-drives claim (#1245)
  .claude/skills/aitk-claude/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.43.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): make git-ship invocable by the autoship chain
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): git-worktree cleanup skips a tree it did not create
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/git-worktree/REQUIREMENT.md
  claude/skills/git-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): drop the stale flagged-skill list from skill-lifecycle
  .claude/context/claude-plugin/skill-lifecycle.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): order foreign ahead of dirty in the worktree skip reason
  claude/skills/git-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.43.1 (#1246)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): let the autoship chain reach its git-ship step (#1247)
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/git-ship/REQUIREMENT.md
  claude/skills/git-ship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): git-worktree cleanup skips a tree it did not create (#1248)
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/git-worktree/REQUIREMENT.md
  claude/skills/git-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.43.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.43.2 (#1249)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(skills): record that autoship cannot invoke git-ship
  .claude/context/claude-plugin/skill-lifecycle.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): correct the prefix citations and drop the stale ship claim
  .claude/context/claude-internal/overview.md
  .claude/context/claude-plugin/skill-lifecycle.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/skills/internal-ask/REQUIREMENT.md
  .claude/skills/internal-claude/REQUIREMENT.md
  .claude/skills/internal-claude/SKILL.md
  src/claude/cases/setup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(config): redirect machine state to a temp folder per run
  vitest.config.ts
  vitest.setup.ts
Due: none

feat(sessions): let the claim read answer for another repository
  src/commands/sessions.ts
  src/sessions/claim.test.ts
  src/sessions/claim.ts
Due: none

feat(targets): record every stamped target and sweep for the rest
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/targets/registry.test.ts
  src/targets/registry.ts
  src/targets/resolve.test.ts
  src/targets/resolve.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
Due: none

feat(targets): report pull request state across every target
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  src/cli.ts
  src/commands/targets.ts
  src/targets/pulls.test.ts
  src/targets/pulls.ts
Due: none

docs(targets): document the population read and the repository flag
  .claude/ARCHITECTURE.md
  .claude/context/cli/sync.md
  docs/agents/index.md
  docs/agents/sessions.md
  docs/agents/targets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(targets): thread the symlinks bound through and fix its type
  .claude/aitk/pr-labels.toml
  docs/agents/targets.md
  src/commands/targets.ts
  src/targets/registry.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(targets): restrict bound.symlinks to directory symlinks
  src/commands/targets.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
Due: none

feat(targets): report the projects the toolkit installed into (#1251)
  .claude/ARCHITECTURE.md
  .claude/aitk/pr-labels.toml
  .claude/context/cli/sync.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  docs/agents/index.md
  docs/agents/sessions.md
  docs/agents/targets.md
  src/cli.ts
  src/commands/sessions.ts
  src/commands/targets.ts
  src/sessions/claim.test.ts
  src/sessions/claim.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/targets/pulls.test.ts
  src/targets/pulls.ts
  src/targets/registry.test.ts
  src/targets/registry.ts
  src/targets/resolve.test.ts
  src/targets/resolve.ts
  src/targets/sweep.test.ts
  src/targets/sweep.ts
  vitest.config.ts
  vitest.setup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.44.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.44.0 (#1252)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add aitk-rollout, the outbound wave skill
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/sandbox/coverage.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/aitk-rollout/REQUIREMENT.md
  claude/skills/aitk-rollout/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/aitk-rollout.sh
  scripts/sandbox/fixtures/claude/aitk-rollout/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(claude): route a prompt to aitk-rollout and force the fetch in its arm
  .claude/context/sandbox/coverage.md
  claude/skills/aitk-rollout/SKILL.md
  scripts/sandbox/claude/aitk-rollout.sh
  scripts/sandbox/fixtures/claude/aitk-rollout/expect.toml
  src/claude/cases/setup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(sandbox): assert step 7 completion on autoship and worktree arms
  .claude/context/sandbox/authoring.md
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/fixtures/claude/autoship/happy-path/expect.toml
  scripts/sandbox/fixtures/claude/autoship/prose-executable/expect.toml
  scripts/sandbox/fixtures/claude/autoship/prose-informational/expect.toml
  scripts/sandbox/fixtures/claude/git-worktree/cleanup/expect.toml
  scripts/sandbox/fixtures/claude/git-worktree/list/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): match the role test to the prompt the dispatch writes
  claude/skills/aitk-rollout/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): drop the unmeasured max_turns ceiling on autoship arms
  .claude/context/sandbox/authoring.md
  scripts/sandbox/fixtures/claude/autoship/happy-path/expect.toml
  scripts/sandbox/fixtures/claude/autoship/prose-executable/expect.toml
  scripts/sandbox/fixtures/claude/autoship/prose-informational/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
