Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 4.67.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.67.0 (#1592)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(migrate): hold the retired spelling in the engine's own sources
  src/migrate/plan.test.ts
  src/migrate/rename.ts
Due: none

test(sandbox): pair the census fixture to a name no rename moves
  src/sandbox/census.test.ts
Due: none

docs(context): record the pipe hazard and the lost arm pairings
  .claude/context/cli/commands.md
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): recapture the frames the catalog rename moved
  assets/captures/hero.html
  assets/captures/task-board.html
  assets/captures/task-board.html.tmpl
  assets/hero.png
  assets/hero.stamp
  assets/task-board.png
  assets/task-board.stamp
Due: none

chore(main): release 4.68.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.68.0 (#1596)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): warn on checkout mismatch in feedback and gate run
  .claude/ARCHITECTURE.md
  .claude/context/development/verification.md
  src/commands/checkout-mismatch.test.ts
  src/commands/feedback.ts
  src/commands/gate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(cli): warn on checkout mismatch ahead of gate stages
  .claude/context/development/verification.md
  src/commands/checkout-mismatch.test.ts
  src/commands/gate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(cli): warn on checkout mismatch in feedback and gate run (#1597)
  .claude/ARCHITECTURE.md
  .claude/context/development/verification.md
  src/commands/checkout-mismatch.test.ts
  src/commands/feedback.ts
  src/commands/gate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(design): derive teach alias coverage from lesson diagram markup
  .claude/context/design.md
  src/design/css.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(teach): group the rendered glossary by lesson
  src/design/components.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
  standards/glossary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): update the marketplace plugin cache from post-merge on skew
  .claude/context/development/hooks.md
  .husky/post-merge
  docs/agents/commands.md
  src/claude/plugin-update.test.ts
  src/claude/plugin-update.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(design): cover ink-soft and ink-faint in alias fixture
  src/design/css.test.ts
Due: none

fix(sandbox): attribute escapes to concurrent sessions, record dead runs
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  .claude/context/sandbox/running.md
  docs/agents/sandbox.md
  scripts/lib/sandbox-dispatch.sh
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox-dispatch.test.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(teach): match the first glossary group heading correctly
  src/design/components.ts
Due: none

test(design): derive teach alias coverage from lesson diagram markup (#1599)
  .claude/context/design.md
  src/design/css.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): update the marketplace plugin cache from post-merge on skew (#1601)
  .claude/context/development/hooks.md
  .husky/post-merge
  docs/agents/commands.md
  src/claude/plugin-update.test.ts
  src/claude/plugin-update.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): attribute escapes to concurrent sessions, record dead runs (#1602)
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/overview.md
  .claude/context/sandbox/running.md
  docs/agents/sandbox.md
  scripts/lib/sandbox-dispatch.sh
  scripts/sandbox/run.sh
  src/commands/sandbox.ts
  src/sandbox-dispatch.test.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(teach): group the rendered glossary by lesson (#1600)
  src/design/components.ts
  src/teach/nav.test.ts
  src/teach/nav.ts
  standards/glossary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gate): fail sandbox coverage when the skill census drops
  .claude/context/development/gates.md
  src/gate/measures.test.ts
  src/gate/measures.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.69.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 4.69.0 (#1598)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(skills): name who may lift a pull request's draft mark
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/auto-ship/SKILL.md
  claude/skills/role-orchestrator/SKILL.md
  claude/skills/role-worker/SKILL.md
  docs/workflow/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(migrate): add four canon- skill renames to the map
  src/migrate/skill-names.test.ts
  src/migrate/skill-names.ts
Due: none

refactor(skills): split canon- prefix onto verb-first skill names
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/demo.md
  .claude/context/development/scratch.md
  .claude/context/slides.md
  claude/skills/draft-and-pick/REQUIREMENT.md
  claude/skills/draft-and-pick/SKILL.md
  claude/skills/draft-screencast/REQUIREMENT.md
  claude/skills/draft-screencast/SKILL.md
  claude/skills/draft-slides/REQUIREMENT.md
  claude/skills/draft-slides/SKILL.md
  claude/skills/read-frames/REQUIREMENT.md
  claude/skills/read-frames/SKILL.md
  claude/skills/record-screencast/REQUIREMENT.md
  claude/skills/record-screencast/SKILL.md
  docs/agents/demo.md
  docs/workflow/ai-workflow.md
  scripts/sandbox/claude/draft-screencast.sh
  scripts/sandbox/claude/draft-slides.sh
  scripts/sandbox/claude/read-frames.sh
  scripts/sandbox/claude/record-screencast.sh
  src/claude/cases/workflow.ts
  src/commands/demo.ts
  src/demo/beats.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(web): add a live design token preview section
  .claude/context/web.md
  .claude/wireframes/index.md
  .claude/wireframes/landing-page.md
  package.json
  scripts/core/regen-web-previews.ts
  web/e2e/home.spec.ts
  web/public/previews/design-tokens/design.css
  web/public/previews/design-tokens/index.html
  web/src/components/design-preview.astro
  web/src/content/copy.ts
  web/src/pages/index.astro
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): address review findings on draft-mark authority
  claude/skills/role-orchestrator/SKILL.md
  claude/skills/role-worker/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): add a decline verb for decided-against tasks
  docs/agents/commands.md
  docs/agents/tasks.md
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  src/tasks/label.test.ts
  src/tasks/label.ts
  src/tasks/validate.test.ts
  src/tasks/validate.ts
  standards/plan.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(pr): read a review's covered state from its own marker
  src/commands/pr.ts
  src/pr/review-scope.test.ts
  src/pr/review-scope.ts
Due: none

feat(review-pr): stamp every posted body with what the pass read
  claude/skills/review-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrator): scope the poll on the marker rather than the stamp
  claude/skills/role-orchestrator/references/orchestrator-poll.md
  claude/skills/role-orchestrator/scripts/poll.sh
  scripts/sandbox/claude/review-pr.sh
  scripts/sandbox/fixtures/claude/review-pr/marker-race/expect.toml
  src/orchestrate-poll.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(pr): record the read-time marker across docs and context
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/commands.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/pr-reads.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
