Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): restrict seed line-merge to .txt word lists (#459)
  docs/scripts.md
  docs/tooling.md
  scripts/lib/inject.sh
  scripts/sandbox/infra/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(overview): reframe 'what is inside' to lead with capability
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(overview): reframe 'what is inside' to lead with capability (#460)
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): pin vitest v3 and override screenshot on sync
  docs/tooling.md
  tooling/astro/manifest.toml
  tooling/astro/reference.md
  tooling/vite-react/reference.md
  tooling/web/configs/scripts/screenshot.sh
  tooling/web/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(seeds): drop dead tooling reference links
  tooling/base/seeds/docs/ci.md
  tooling/base/seeds/docs/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): exit screenshot script on preview poll timeout
  tooling/web/configs/scripts/screenshot.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): install node 22 in verify workflow jobs
  tooling/web/configs/.github/workflows/verify.yml
Due: none

fix(tooling): pin vitest v3 and override screenshot on sync (#461)
  docs/tooling.md
  tooling/astro/manifest.toml
  tooling/astro/reference.md
  tooling/base/seeds/docs/ci.md
  tooling/base/seeds/docs/development.md
  tooling/vite-react/reference.md
  tooling/web/configs/.github/workflows/verify.yml
  tooling/web/configs/scripts/screenshot.sh
  tooling/web/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): write seed-sync proposals to review file
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): scope claude-docs sweep to session-consumed scratch
  claude/skills/claude-docs/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(seeds): drop transactional TASKS rule from claude seeds
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(claude): align docs sandbox with scoped plan sweep
  .cspell/project-terms.txt
  scripts/sandbox/claude/docs.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox-check): print re-test commands on separate lines
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(vscode): disable vitest extension for toolkit workspace
  .vscode/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude-worktree): add session context fallback for name derivation
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude-worktree): apply prettier formatting
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): inject changed skills as project skills instead of plugin overlay
  .claude/skills/aitk-sandbox-check/SKILL.md
  scripts/manage-sandbox.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): document automatic dev skill injection
  docs/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude-worktree): replace em dash in step 4b proposal string
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox-check): add rule to print unnamespaced skill invocation note
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude-tooling): skill testing, vitest suppression, worktree context (#464)
  .claude/skills/aitk-sandbox-check/SKILL.md
  .vscode/settings.json
  claude/skills/claude-worktree/SKILL.md
  docs/sandbox.md
  scripts/manage-sandbox.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): write seed-sync proposals to review file (#462)
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): drop redundant wip line and align ship wording
  .claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): scope plan sweep and drop transactional tasks rule (#463)
  .claude/TASKS.md
  .cspell/project-terms.txt
  claude/skills/claude-docs/SKILL.md
  scripts/sandbox/claude/docs.sh
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add toolkit-feedback plugin skill
  claude/skills/toolkit-feedback/SKILL.md
  docs/claude.md
  docs/sandbox.md
  scripts/sandbox/claude/toolkit-feedback.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude-tooling): make aitk-sandbox-check worktree-aware
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): inject untracked skills during provisioning
  scripts/manage-sandbox.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude-tooling): emit provision script from aitk-sandbox-check
  .claude/skills/aitk-sandbox-check/SKILL.md
  .cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Revert "refactor(claude-tooling): emit provision script from aitk-sandbox-check"
  .claude/skills/aitk-sandbox-check/SKILL.md
  .cspell/tech-stack.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude-tooling): auto-run re-provision in aitk-sandbox-check
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude-tooling): preview re-provision before auto-run
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude-tooling): replace em dash placeholder with 'none'
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add aitk/toolkit-feedback paste-back formatter
  claude/skills/toolkit-feedback/SKILL.md
  docs/claude.md
  docs/sandbox.md
  docs/snippets.md
  scripts/sandbox/claude/toolkit-feedback.sh
  snippets/aitk/toolkit-feedback.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): note dev-skill injection now covers untracked folders
  docs/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude-tooling): worktree-aware, auto-run aitk-sandbox-check (#465)
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add aitk/toolkit-feedback paste-back formatter (#466)
  docs/snippets.md
  snippets/aitk/toolkit-feedback.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): inject untracked skills during provisioning (#467)
  docs/sandbox.md
  scripts/manage-sandbox.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add claude:standards-audit scenario
  docs/sandbox.md
  scripts/sandbox/claude/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): drop semicolon from claude-standards-audit body
  claude/skills/claude-standards-audit/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add standards-audit skill and retire snippets
  claude/skills/claude-standards-audit/SKILL.md
  docs/claude.md
  docs/snippets.md
  snippets/claude/prose-audit.md
  snippets/claude/standards-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
