Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(review): answer the reviewer-request section in claude-pr-review
  .claude/context/claude-plugin/skill-review.md
  .claude/standards/pr.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): apply the skill-existence test to the eight uncited skills
  .claude/context/claude-plugin/skill-strategy.md
  .cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(spelling): add ffmpeg terms to the tech-stack dictionary
  .cspell/tech-stack.txt
Due: none

feat(demo): derive pointer travel, render captions, and convert to mp4
  src/commands/demo.ts
  src/demo/compile.ts
  src/demo/container.ts
  src/demo/drive.ts
Due: none

test(demo): cover derived pointer steps, captions, and mp4 conversion
  src/demo/compile.test.ts
  src/demo/container.test.ts
  src/demo/drive.e2e.test.ts
Due: none

docs(demo): document mp4, captions, and the ship decision
  .claude/ARCHITECTURE.md
  .claude/context/demo.md
  docs/agents/demo.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): stamp a governance chain and read the retired path
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/tooling/stamp.test.ts
  src/tooling/stamp.ts
Due: none

feat(gov): resolve rules a target's chain lists and lacks
  src/gov/install.test.ts
  src/gov/install.ts
  src/gov/stacks.test.ts
  src/gov/stacks.ts
Due: none

feat(sync): report a listed rule as missing in the scan
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
Due: none

feat(sync): read new rules from the recorded chain first
  src/commands/gov.ts
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
Due: none

docs(sync): describe the chain-based missing-rule read
  .claude/context/cli/sync.md
  .claude/context/governance/install.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): retarget stale intake citations and drop board labels
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(review): count only an unanswered reviewer request as owed
  .claude/context/claude-plugin/skill-review.md
  .claude/standards/pr.md
  claude/skills/claude-pr-review/SKILL.md
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): separate missing rules and harden the stamp fallback
  src/commands/sync.ts
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
Due: none

fix(demo): calibrate pointer pace on the page it drives
  .claude/ARCHITECTURE.md
  .claude/context/demo.md
  src/commands/demo.ts
  src/demo/compile.ts
  src/demo/drive.e2e.test.ts
  src/demo/drive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): number groundwork and intake by creation order
  .claude/rules/claude/556-groundwork.md
  .claude/rules/claude/557-intake.md
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  claude/skills/claude-groundwork/REQUIREMENT.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-intake/REQUIREMENT.md
  claude/skills/claude-intake/SKILL.md
  governance/rules/claude/556-groundwork.md
  governance/rules/claude/557-intake.md
  standards/groundwork.md
  standards/index.md
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(intake): resolve a bare slug against its ordinal-prefixed folder
  src/intake/folder.test.ts
  src/intake/folder.ts
Due: none

test(sandbox): match groundwork and intake scenarios to ordinal folders
  scripts/sandbox/claude/groundwork.sh
  scripts/sandbox/claude/intake.sh
  scripts/sandbox/fixtures/claude/intake/file/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): retarget citations to renamed record folders
  .claude/context/claude-internal/orchestration.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/demo.md
  src/demo/compile.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(workflow): document the groundwork and intake ordinal
  docs/agents/intake.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): close the retroactive ordinal decision
  .claude/ARCHITECTURE.md
  .claude/context/cli/commands.md
  .claude/context/development/scratch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): name the stack and remedy in check's report
  src/commands/sync.ts
Due: none

fix(review): scope the summary line, add a sandbox arm for it
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/fixtures/claude/pr-review/reviewer-request/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(demo): drive a real step to prove a beat's caption reaches it
  src/demo/drive.e2e.test.ts
  src/demo/drive.ts
Due: none

fix(review): answer the reviewer-request section in claude-pr-review (#1124)
  .claude/context/claude-plugin/skill-review.md
  .claude/standards/pr.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/fixtures/claude/pr-review/reviewer-request/expect.toml
  standards/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.11.2
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.11.2 (#1129)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(demo): record the five-launch e2e file running clean
  .claude/context/demo.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(intake): name the empty-tree ordinal, split ambiguous slugs
  .claude/context/cli/commands.md
  .claude/rules/claude/556-groundwork.md
  .claude/rules/claude/557-intake.md
  .claude/standards/groundwork.md
  .claude/standards/intake.md
  docs/agents/intake.md
  governance/rules/claude/556-groundwork.md
  governance/rules/claude/557-intake.md
  src/intake/folder.test.ts
  src/intake/folder.ts
  standards/groundwork.md
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): drop named target projects from the migration gap
  .claude/context/claude-plugin/skill-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(demo): derive pointer travel, render captions, and convert to mp4 (#1126)
  .claude/ARCHITECTURE.md
  .claude/context/demo.md
  .cspell/tech-stack.txt
  docs/agents/demo.md
  src/commands/demo.ts
  src/demo/compile.test.ts
  src/demo/compile.ts
  src/demo/container.test.ts
  src/demo/container.ts
  src/demo/drive.e2e.test.ts
  src/demo/drive.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.12.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.12.0 (#1130)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): apply the skill-existence test to the eight uncited skills (#1125)
  .claude/context/claude-plugin/skill-strategy.md
  .cspell/project-terms.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(gov): report a rule a target's chain lists and lacks (#1127)
  .claude/context/cli/sync.md
  .claude/context/governance/install.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  src/commands/gov.ts
  src/commands/sync.ts
  src/gov/adapter.test.ts
  src/gov/adapter.ts
  src/gov/install.test.ts
  src/gov/install.ts
  src/gov/stacks.test.ts
  src/gov/stacks.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/engine.test.ts
  src/sync/engine.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/tooling/stamp.test.ts
  src/tooling/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.12.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): number groundwork and intake by creation order (#1128)
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal/orchestration.md
  .claude/context/cli/commands.md
  .claude/context/demo.md
  .claude/context/development/scratch.md
  .claude/rules/claude/556-groundwork.md
  .claude/rules/claude/557-intake.md
  .claude/standards/groundwork.md
  .claude/standards/index.md
  .claude/standards/intake.md
  claude/skills/claude-groundwork/REQUIREMENT.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-intake/REQUIREMENT.md
  claude/skills/claude-intake/SKILL.md
  docs/agents/intake.md
  docs/ai-workflow.md
  governance/rules/claude/556-groundwork.md
  governance/rules/claude/557-intake.md
  scripts/sandbox/claude/groundwork.sh
  scripts/sandbox/claude/intake.sh
  scripts/sandbox/fixtures/claude/intake/file/expect.toml
  src/demo/compile.ts
  src/intake/folder.test.ts
  src/intake/folder.ts
  standards/groundwork.md
  standards/index.md
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.12.1 (#1131)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.13.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): route bash to the interactive or non-interactive skill
  .claude/rules/lang/120-bash.md
  governance/rules/lang/120-bash.md
  governance/stacks/base.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
