Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 2.2.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 2.2.0 (#1087)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sync)!: move the install stamp into .claude/aitk/config.json
  .claude/context/cli/sync.md
  .claude/context/development/gates.md
  .claude/context/sandbox/overview.md
  .claude/context/tooling.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  scripts/sandbox/claude/setup-init.sh
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/gitignore/expect.toml
  scripts/sandbox/infra/drift.sh
  src/commands/tooling-sync.test.ts
  src/sync/check.test.ts
  src/sync/engine.test.ts
  src/sync/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): move the label map into .claude/aitk/pr-labels.toml
  .claude/aitk/pr-labels.toml
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/labels.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(eval): separate a path sweep from a prose sweep on frozen records
  .claude/context/scripts/eval.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sync): record the aitk folder boundary and the eval seed exemption
  .claude/context/cli/sync.md
  docs/agents/install-and-sync.md
  scripts/eval/result-seed.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sync)!: move toolkit config into a .claude/aitk/ folder (#1088)
  .claude/aitk/pr-labels.toml
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/sync.md
  .claude/context/development/gates.md
  .claude/context/sandbox/overview.md
  .claude/context/scripts/eval.md
  .claude/context/tooling.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/labels.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  scripts/eval/result-seed.md
  scripts/sandbox/claude/setup-init.sh
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/gitignore/expect.toml
  scripts/sandbox/infra/drift.sh
  src/commands/tooling-sync.test.ts
  src/sync/check.test.ts
  src/sync/engine.test.ts
  src/sync/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 3.0.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.0.0 (#1089)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(audits): report shipped bodies citing a path no target holds
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/claude/skills-reach.test.ts
  src/claude/skills-reach.ts
  src/commands/claude.ts
Due: none

fix(skills): name the toolkit as owner on every unqualified citation
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-intake-answer/REQUIREMENT.md
  claude/skills/decision-escalate/REQUIREMENT.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/youtube-transcripts/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(audits): document the citation reach check and its ownership key
  .claude/context/cli/audits.md
  .claude/context/cli/commands.md
  .claude/context/development/verification.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/skills-reach.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(audits): read an absent plugin corpus as absent, not unmeasured
  .claude/context/cli/audits.md
  docs/agents/skills-reach.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(audits): check a shipped body cites only what a target can open (#1090)
  .claude/context/cli/audits.md
  .claude/context/cli/commands.md
  .claude/context/development/verification.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-intake-answer/REQUIREMENT.md
  claude/skills/decision-escalate/REQUIREMENT.md
  claude/skills/setup-indexes/SKILL.md
  claude/skills/youtube-transcripts/SKILL.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/skills-reach.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/claude/skills-reach.test.ts
  src/claude/skills-reach.ts
  src/commands/claude.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.1.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): report rules a target never received
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
Due: none

docs(sync): state what a clean drift report does not prove
  .claude/context/cli/sync.md
  .claude/context/development/verification.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): scrub git resolution vars from the check report reads
  src/sync/check.ts
Due: none

docs(sync): name the unresolvable anchor and correct the remedy line
  .claude/context/cli/sync.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  src/commands/sync.ts
  src/sync/check.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(pr): move the declined paths from a comment into data
  .claude/aitk/pr-labels.toml
Due: none

chore(hero): regen counts for the labels command
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
Due: none

docs(pr): call the coverage verb from git-pr and its reference
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/labels.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(labels): name a bad --base apart from a missing trunk
  src/commands/labels.ts
  src/labels/audit.test.ts
  src/labels/audit.ts
Due: none

feat(labels): report a changed path the label map does not reach
  src/audits/catalog.ts
  src/cli.ts
  src/commands/labels.ts
  src/git-files.ts
  src/labels/audit.ts
  src/labels/coverage.test.ts
  src/labels/coverage.ts
  src/labels/map.test.ts
  src/labels/map.ts
Due: none

chore(main): release 3.1.0 (#1093)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(labels): drop the declined count and route every map refusal
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/audits.md
  claude/skills/git-pr/SKILL.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(labels): read the fixture with git's resolution vars stripped
  src/labels/audit.test.ts
Due: none

docs(context): record the label verb and its release-split shape
  .claude/ARCHITECTURE.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/audits.md
  .claude/context/cli/overview.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): add the label coverage reference
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/label-coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): count the sixteenth audit the rebase added
  .claude/context/cli/audits.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sync): correct the managed-gate count to match the section list
  docs/agents/install-and-sync.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(labels): report a pull request no label reaches (#1091)
  .claude/ARCHITECTURE.md
  .claude/aitk/pr-labels.toml
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/cli/audits.md
  .claude/context/cli/overview.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  claude/skills/git-pr/SKILL.md
  claude/skills/git-pr/references/labels.md
  docs/agents/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/label-coverage.md
  src/audits/catalog.test.ts
  src/audits/catalog.ts
  src/cli.ts
  src/commands/labels.ts
  src/git-files.ts
  src/labels/audit.test.ts
  src/labels/audit.ts
  src/labels/coverage.test.ts
  src/labels/coverage.ts
  src/labels/map.test.ts
  src/labels/map.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): report rules a target never received (#1092)
  .claude/context/cli/sync.md
  .claude/context/development/verification.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.2.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 3.2.0 (#1094)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): give the architecture standard a length budget
  .claude/standards/architecture.md
  standards/architecture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(secrets): extract the exemption marker placement rule
  src/exempt-marker.ts
  src/secrets/marker.ts
Due: none

feat(governance): ship a rule over the root file and split the pair
  .claude/ARCHITECTURE.md
  .claude/rules/claude/592-claude-md.md
  .claude/rules/claude/596-claude-md.md
  CLAUDE.md
  assets/hero.html
  assets/hero.png
  assets/hero.stamp
  governance/rules/claude/592-claude-md.md
  internal/rules/claude/596-claude-md.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): report values a changed convention no longer produces
  src/commands/gov.ts
  src/gov/superseded.test.ts
  src/gov/superseded.ts
Due: none

feat(standards): require a value sweep when the slug transform changes
  .claude/standards/slug.md
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
