Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

fix(worktree): make the entered branch pass the guards downstream (#884)
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/standards/slug.md
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/claude-worktree/references/branch.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-split/references/branch.md
  docs/ai-workflow.md
  scripts/sandbox/claude/worktree.sh
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sync): drop tooling from the closing unstamped line
  .claude/context/cli/sync.md
  src/commands/sync.ts
  src/sync/check.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): record the tooling stack chain in the install stamp (#887)
  .claude/context/cli/sync.md
  .claude/context/development.md
  .claude/context/tooling.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
  scripts/sandbox/fixtures/infra/drift/tooling/expect.toml
  scripts/sandbox/infra/drift.sh
  src/commands/sync.ts
  src/commands/tooling.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
  src/tooling/stamp.test.ts
  src/tooling/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.67.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.67.0 (#888)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(orchestrate): move memory capture from the sweep to the handoff
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): point the dev reminder at the split entry catalog
  .claude/hooks/dev-command-reminder.sh
  src/hooks-guard.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(context): split the development entry into sub-areas
  .claude/context/development.md
  .claude/context/development/gates.md
  .claude/context/development/hooks.md
  .claude/context/development/index.md
  .claude/context/development/overview.md
  .claude/context/development/regeneration.md
  .claude/context/development/scratch.md
  .claude/context/development/verification.md
  .claude/context/index.md
  CLAUDE.md
  CONTRIBUTING.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(citations): keep target-facing paths on the flat spelling
  .claude/context/claude-plugin/boundaries.md
  claude/skills/project-commands/SKILL.md
  docs/agents/context-audit.md
  docs/target-projects.md
  tooling/astro/reference.md
  tooling/base/reference.md
  tooling/claude/seeds/CLAUDE.md
  tooling/vite-react/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): date the capture debt in the sweep report
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(orchestrate): move memory capture from the sweep to the handoff (#889)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-lifecycle.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(citations): reword installable surfaces and arm the folder path
  .claude/context/development/overview.md
  claude/skills/project-commands/SKILL.md
  docs/agents/context-audit.md
  scripts/sandbox/claude/project-commands.sh
  scripts/sandbox/fixtures/claude/project-commands/split/expect.toml
  tooling/astro/reference.md
  tooling/base/reference.md
  tooling/vite-react/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(context): split the development entry into sub-area files (#891)
  .claude/context/claude-plugin/boundaries.md
  .claude/context/development.md
  .claude/context/development/gates.md
  .claude/context/development/hooks.md
  .claude/context/development/index.md
  .claude/context/development/overview.md
  .claude/context/development/regeneration.md
  .claude/context/development/scratch.md
  .claude/context/development/verification.md
  .claude/context/index.md
  .claude/hooks/dev-command-reminder.sh
  CLAUDE.md
  CONTRIBUTING.md
  claude/skills/project-commands/SKILL.md
  docs/agents/context-audit.md
  docs/target-projects.md
  scripts/sandbox/claude/project-commands.sh
  scripts/sandbox/fixtures/claude/project-commands/split/expect.toml
  src/hooks-guard.test.ts
  tooling/astro/reference.md
  tooling/base/reference.md
  tooling/claude/seeds/CLAUDE.md
  tooling/vite-react/reference.md
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(markdown): fail the audit on a banned character, word, or spelling
  cspell.json
  src/commands/markdown.ts
  src/markdown/gate.test.ts
  src/markdown/gate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(verify): fail a push carrying a markdown ban hit
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(markdown): record the ban gate and its two enforcement points
  .claude/context/cli/audits.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): prefer the checkout's CLI over the installed binary
  .claude/context/claude-plugin/cli.md
  .claude/context/cli/audits.md
  .claude/hooks/standards-audit.sh
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(hooks): read the ban findings from the audit verb
  .claude/hooks/standards-audit.sh
  src/hooks-guard.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

test(hooks): cover all three standards-audit runner branches
  .claude/context/cli/audits.md
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(development): correct the ban gate and override-list claims
  .claude/context/development/verification.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(hooks): link the degradation case dependencies into the fixture
  .claude/context/cli/audits.md
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(spelling): correct the dictionary scope rationale for the ban gate
  .claude/context/development/verification.md
  .cspell/banned-spellings.txt
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(markdown): fail a push on a banned character, word, or spelling (#890)
  .claude/context/claude-plugin/cli.md
  .claude/context/cli/audits.md
  .claude/context/development/verification.md
  .claude/hooks/standards-audit.sh
  .cspell/banned-spellings.txt
  cspell.json
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/markdown-audit.md
  scripts/core/verify.sh
  src/commands/markdown.ts
  src/hooks-guard.test.ts
  src/markdown/gate.test.ts
  src/markdown/gate.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.68.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(orchestrate): plan the next wave while the current one builds
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(markdown): record that depth names one run per file
  .claude/context/cli/audits.md
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(operator): route the four audits and re-check after a write
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add operator arms for the audit offer and ignore fix
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/toolkit-operator/audits/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/gitignore/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/installed/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): correct the claim that the operator writes nothing
  .claude/context/claude-plugin/skill-review.md
  .claude/context/sandbox/authoring.md
  .claude/context/sandbox/coverage.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.68.0 (#892)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sync): report what a target holds that no live catalog claims
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/history.ts
  src/sync/reverse.test.ts
  src/sync/reverse.ts
Due: none

test(sandbox): add a drift arm for a folder the toolkit dropped
  .cspell/tech-stack.txt
  scripts/sandbox/fixtures/infra/drift/unclaimed/expect.toml
  scripts/sandbox/infra/drift.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sync): document the reverse walk and its attribution
  .claude/context/cli/sync.md
  .claude/context/sandbox/authoring.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(operator): read measured before the tooling counts and chain
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): count unclaimed plans against workers, not the reserve
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): require a search for prior art before writing code
  .claude/rules/core/070-planning.md
  governance/rules/core/070-planning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sync): name the publish revision as content rather than the drop
  src/commands/sync.ts
Due: none

feat(orchestrate): plan the next wave while the current one builds (#893)
  .claude/context/cli/audits.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.69.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.69.0 (#896)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
