Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

refactor(claude): keep review minors off the PR body (#553)
  claude/skills/claude-autoship/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): slim CLAUDE.md commands and drop the markdown dup
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): promote cover-every-concern rule into behavior
  .cspell/project-terms.txt
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): inline daily commands in the CLAUDE.md pointer
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): slim CLAUDE.md and promote a behavior rule (#554)
  .cspell/project-terms.txt
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): promote codify-skill-output rule into skill.md
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): promote codify-skill-output rule into skill.md (#555)
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): spell out subdirectory in rule.md
  .claude/standards/rule.md
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): apply SRP to directories in constitution
  .claude/rules/core/000-constitution.md
  governance/rules/core/000-constitution.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): apply SRP to directories in constitution (#556)
  .claude/rules/core/000-constitution.md
  .claude/standards/rule.md
  governance/rules/core/000-constitution.md
  standards/rule.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): push before reply in address-review flow
  .claude/context/claude.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/git-followup/SKILL.md
  scripts/sandbox/claude/address-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): push before reply in address-review flow (#557)
  .claude/context/claude.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/git-followup/SKILL.md
  scripts/sandbox/claude/address-review.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(windows): add PowerShell setup guide for clp alias collision
  .claude/context/claude.md
  .cspell/tech-stack.txt
  README.md
  wiki/index.md
  wiki/powershell-profile.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): strip CRLF from jq output in statusline script
  tooling/claude/user/statusline-command.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add suggested-answer line to claude-feature plan questions
  claude/skills/claude-feature/SKILL.md
  scripts/sandbox/claude/feature.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add toolkit-cli contract skill and CLAUDE.md drift flag
  .claude/context/claude.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/toolkit-cli/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(claude): align markdown tables to prettier in sync-clarity skills
  claude/skills/toolkit-cli/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): document skill path resolution for bundled vs installed files
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add index-reminder PreToolUse hook to the seed
  .claude/context/claude.md
  .claude/hooks/index-reminder.sh
  .claude/settings.json
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): use spelling-clean session fallback in index-reminder hook
  .claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): document cspell dictionary split and extension path
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add suggested-answer line to claude-feature plan questions (#559)
  claude/skills/claude-feature/SKILL.md
  scripts/sandbox/claude/feature.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add toolkit-cli contract skill and CLAUDE.md drift flag (#560)
  .claude/context/claude.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/toolkit-cli/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): document skill path resolution for bundled vs installed files (#561)
  .claude/standards/skill.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add index-reminder PreToolUse hook to the seed (#562)
  .claude/context/claude.md
  .claude/hooks/index-reminder.sh
  .claude/settings.json
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(tooling): document cspell dictionary split and extension path (#563)
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(feedback): add --github issue path and structured issue template
  .github/ISSUE_TEMPLATE/toolkit-feedback.yml
  claude/skills/toolkit-feedback/SKILL.md
  src/commands/feedback-format.ts
  src/commands/feedback.test.ts
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): note the aitk feedback --github flag
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): document index-reminder hook and per-question suggestions
  .claude/context/claude.md
  .claude/context/indexes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): consolidate overlapping prose and skill rules
  .claude/standards/prose.md
  .claude/standards/skill.md
  standards/prose.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(feedback): add --github issue path and structured issue template (#564)
  .github/ISSUE_TEMPLATE/toolkit-feedback.yml
  claude/skills/toolkit-feedback/SKILL.md
  docs/agents.md
  src/commands/feedback-format.ts
  src/commands/feedback.test.ts
  src/commands/feedback.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): document index-reminder hook and per-question suggestions (#565)
  .claude/context/claude.md
  .claude/context/indexes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(standards): consolidate overlapping prose and skill rules (#566)
  .claude/standards/prose.md
  .claude/standards/skill.md
  standards/prose.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add toolkit-triage skill to consume feedback issues
  .claude/context/claude.md
  claude/skills/toolkit-triage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add toolkit-triage skill to consume feedback issues (#567)
  .claude/context/claude.md
  claude/skills/toolkit-triage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): add headless skill-test harness
  .claude/context/sandbox.md
  .claude/skills/aitk-scripts/SKILL.md
  scripts/sandbox/run.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): add Claude 5 context-engineering reference
  wiki/context-engineering.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add decision-memo snippet
  .claude/context/snippets.md
  .claude/snippets/decision-memo.md
  snippets/decision-memo.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(scripts): drop explanatory comments from run.sh
  scripts/sandbox/run.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): move decision-memo to claude category with a template
  .claude/context/snippets.md
  .claude/snippets/claude/decision-memo.md
  .claude/snippets/decision-memo.md
  snippets/claude/decision-memo.md
  snippets/decision-memo.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
