Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

.lintstagedrc:

{
  "**/*.{json,css,md,mdc}": ["prettier --write --ignore-path .gitignore"],
  "**/*.sh": ["shfmt --write --indent 2"],
  "**/*.{json,md,mdc}": ["cspell --no-must-find-files"]
}

refactor(build): adjust rules source path
  scripts/build-gov.sh
Due: shfmt --write --indent 2

refactor(cursor): relocate rules to .cursor directory
  .cursor/rules/core/000-constitution.mdc
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/core/020-concurrency.mdc
  .cursor/rules/core/030-error-handling.mdc
  .cursor/rules/core/040-performance.mdc
  .cursor/rules/core/050-logging.mdc
  .cursor/rules/core/060-naming.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/300-testing-ts.mdc
  .cursor/rules/lib/310-zod.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
  .cursor/rules/workflow/900-node.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(gov): update governance asset source paths
  scripts/lib/inject.sh
Due: shfmt --write --indent 2

refactor(gov): update governance asset source paths
  scripts/sync-gov.sh
Due: shfmt --write --indent 2

refactor(scripts): relocate template files
  scripts/templates/rules.toml.template
  scripts/templates/standards.toml.template
Due: none

refactor(build): update template paths in build script
  scripts/build-gov.sh
Due: shfmt --write --indent 2

feat(gov): prevent syncing to root directory
  scripts/sync-gov.sh
Due: shfmt --write --indent 2

refactor(gov): streamline governance asset locations (#95)
  .cursor/rules/core/000-constitution.mdc
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/core/020-concurrency.mdc
  .cursor/rules/core/030-error-handling.mdc
  .cursor/rules/core/040-performance.mdc
  .cursor/rules/core/050-logging.mdc
  .cursor/rules/core/060-naming.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/300-testing-ts.mdc
  .cursor/rules/lib/310-zod.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
  .cursor/rules/workflow/900-node.mdc
  scripts/assets/standards/branch.md
  scripts/assets/standards/changelog.md
  scripts/assets/standards/commit.md
  scripts/assets/standards/pr.md
  scripts/assets/standards/prose.md
  scripts/assets/standards/readme.md
  scripts/build-gov.sh
  scripts/lib/inject.sh
  scripts/sync-gov.sh
  scripts/templates/rules.toml.template
  scripts/templates/standards.toml.template
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

refactor(sandbox): relocate stage scripts to sandbox
  scripts/sandbox/dev/apply.sh
  scripts/sandbox/docs/readme.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/release/changelog.sh
Due: shfmt --write --indent 2

refactor(sandbox): rename stage references to sandbox
  scripts/manage-test.sh
Due: shfmt --write --indent 2

docs(readme): update commands and architecture for multi-agent support
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): update architecture and path references
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(project): rename 'stages' to 'sandbox' and update documentation (#96)
  GEMINI.md
  README.md
  scripts/manage-test.sh
  scripts/sandbox/dev/apply.sh
  scripts/sandbox/docs/readme.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/infra/cursor.sh
  scripts/sandbox/release/changelog.sh
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files

chore(gov): update rule discovery and add new framework rules
  scripts/templates/rules.toml.template
Due: none

fix(compiler): quote variable expansions and use fixed-string search
  scripts/lib/compiler.sh
Due: shfmt --write --indent 2

chore(scripts): update change detection logic in build-gov.sh
  scripts/build-gov.sh
Due: shfmt --write --indent 2

chore(gov): update 15 rules
  gemini/commands/gov/rules.toml
Due: none

chore(gov): update rule compilation logic (#97)
  gemini/commands/gov/rules.toml
  scripts/build-gov.sh
  scripts/lib/compiler.sh
  scripts/templates/rules.toml.template
Due: shfmt --write --indent 2

chore(cspell): remove typos dictionary
  .cspell/typos.txt
  cspell.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): add tooling reference
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): add 'lintstagedrc' to terms
  .cspell/project-terms.txt
Due: none

refactor(lint-staged): group commands for globs
  .lintstagedrc
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): add verification script template
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): enhance verification script and examples
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): reorder sections and remove redundant examples
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(dev): add setup command for tooling config
  gemini/commands/dev/setup.toml
Due: none

test(dev-sandbox): add setup sandbox script
  scripts/sandbox/dev/setup.sh
Due: shfmt --write --indent 2

docs(tooling): add dev dependencies section
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(dev-setup): clarify dependency installation and husky hook config
  gemini/commands/dev/setup.toml
Due: none

docs(tooling): add gitignore and cspell dictionary guidelines
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(dev-setup): add preconditions for dev setup command
  gemini/commands/dev/setup.toml
Due: none

refactor(verify): enhance script for reusability and output
  scripts/verify.sh
Due: shfmt --write --indent 2

chore(update): add update script for interactive dependency management
  scripts/update.sh
Due: shfmt --write --indent 2

chore(clean): add clean script for project maintenance
  scripts/clean.sh
Due: shfmt --write --indent 2

refactor(update): refactor verification script execution logic
  scripts/update.sh
Due: shfmt --write --indent 2

docs(scripts): document project scripts with full content
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

build(scripts): add update and clean scripts
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(setup): add clean and update scripts to dev setup command context
  gemini/commands/dev/setup.toml
Due: none

chore(gov): update 1 standard
  gemini/commands/gov/standards.toml
Due: none

feat(tooling): add comprehensive setup and standards (#98)
  .cspell/project-terms.txt
  .cspell/typos.txt
  .lintstagedrc
  cspell.json
  gemini/commands/dev/setup.toml
  gemini/commands/gov/standards.toml
  package.json
  scripts/clean.sh
  scripts/sandbox/dev/setup.sh
  scripts/update.sh
  scripts/verify.sh
  standards/tooling.md
Due: prettier --write --ignore-path .gitignore, shfmt --write --indent 2, cspell --no-must-find-files
