Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(main): release 0.19.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.19.0 (#724)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): allowlist the paths provisioning may remove
  .claude/context/sandbox.md
  .cspell/project-terms.txt
  scripts/lib/sandbox-path.sh
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): provision the tree outside the toolkit worktree (#723)
  .claude/context/sandbox.md
  .claude/context/scripts.md
  .cspell/project-terms.txt
  .gitignore
  scripts/lib/sandbox-path.sh
  scripts/lib/ui.sh
  scripts/manage-sandbox.sh
  scripts/sandbox/fixtures/claude/memory-review/expect.toml
  scripts/sandbox/fixtures/claude/review/expect.toml
  scripts/sandbox/fixtures/claude/ui-test/expect.toml
  scripts/sandbox/run.sh
  scripts/sandbox/tooling/upstream.sh
  src/commands/sandbox.ts
  src/sandbox/expect.test.ts
  src/sandbox/expect.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.20.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.20.0 (#725)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): record cross-domain decisions with alternatives
  .claude/ARCHITECTURE.md
  .cspell/project-terms.txt
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): scan phase labels on text bound for a remote
  .claude/standards/index.md
  .claude/standards/prose.md
  .claude/standards/versioning.md
  standards/index.md
  standards/prose.md
  standards/versioning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): cite the pre-publish scan from publishing skills
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/REQUIREMENT.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/REQUIREMENT.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/REQUIREMENT.md
  claude/skills/git-split/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the scan's two checks and its scoping
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skills.md
  .claude/context/governance.md
  .claude/context/standards.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): add the folder audit engine
  src/context/audit.test.ts
  src/context/audit.ts
  src/context/citations.test.ts
  src/context/citations.ts
  src/context/folders.test.ts
  src/context/folders.ts
  src/context/index-drift.test.ts
  src/context/index-drift.ts
Due: none

feat(scripts): gate the repository check on cited paths
  .claude/context/context-model.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(cli): add the aitk context audit command
  src/cli.ts
  src/commands/context.ts
Due: none

test(sandbox): add the infra:context scenario
  scripts/sandbox/infra/context.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): document the audit command and its gating split
  .claude/context/cli.md
  .claude/context/scripts.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): record the runtime and source the line budget
  .claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(architecture): add the decision set every session loads (#726)
  .claude/ARCHITECTURE.md
  .cspell/project-terms.txt
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): fold dot-dot segments before the guard compares
  .claude/context/sandbox.md
  scripts/lib/sandbox-path.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(sandbox): refuse past PATH_MAX and name the resolved path
  .cspell/tech-stack.txt
  scripts/lib/sandbox-path.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(context): report context folder health and gate cited paths (#728)
  .claude/context/cli.md
  .claude/context/context-model.md
  .claude/context/scripts.md
  docs/agents.md
  scripts/core/verify.sh
  scripts/sandbox/infra/context.sh
  src/cli.ts
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  src/context/citations.test.ts
  src/context/citations.ts
  src/context/folders.test.ts
  src/context/folders.ts
  src/context/index-drift.test.ts
  src/context/index-drift.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): resolve the scan citation without an installed standard
  .claude/standards/prose.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): resolve dot-dot before the path guard compares (#729)
  .claude/context/sandbox.md
  .cspell/tech-stack.txt
  scripts/lib/sandbox-path.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.21.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.21.0 (#730)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): scan phase labels on text bound for a remote (#727)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skills.md
  .claude/context/governance.md
  .claude/context/standards.md
  .claude/standards/index.md
  .claude/standards/prose.md
  .claude/standards/versioning.md
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-diagram/SKILL.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-followup/SKILL.md
  claude/skills/git-issue/REQUIREMENT.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/REQUIREMENT.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-split/REQUIREMENT.md
  claude/skills/git-split/SKILL.md
  docs/target-projects.md
  standards/index.md
  standards/prose.md
  standards/versioning.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.22.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.22.0 (#731)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(diagrams): redraw components from prose and drop the fidelity note
  .claude/diagrams/components.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(diagrams): add five entries and record the suffixed-name shape
  .claude/ARCHITECTURE.md
  .claude/diagrams/components-cli.md
  .claude/diagrams/data-pipeline-stacks.md
  .claude/diagrams/data-pipeline.md
  .claude/diagrams/index.md
  .claude/diagrams/request-flow-eval.md
  .claude/diagrams/request-flow-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): report an absent scenario tree as toolkit-only
  .claude/context/cli.md
  docs/agents.md
  src/commands/sandbox.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): subdivide the plugin skills entry with H3 seams
  .claude/context/claude-plugin/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(diagrams): expand the catalog to nine entries and redraw components (#732)
  .claude/ARCHITECTURE.md
  .claude/diagrams/components-cli.md
  .claude/diagrams/components.md
  .claude/diagrams/data-pipeline-stacks.md
  .claude/diagrams/data-pipeline.md
  .claude/diagrams/index.md
  .claude/diagrams/request-flow-eval.md
  .claude/diagrams/request-flow-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): report an absent scenario tree as toolkit-only (#733)
  .claude/context/cli.md
  docs/agents.md
  src/commands/sandbox.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.22.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.22.1 (#734)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): subdivide the plugin skills entry with H3 seams (#735)
  .claude/context/claude-plugin/skills.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): drop unreachable mappings from the standards audit
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/claude-standards-audit/references/branch.md
  claude/skills/claude-standards-audit/references/pr.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/branch.md
  claude/skills/git-split/references/pr.md
  standards/bundled/branch.md
  standards/bundled/pr.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): give every shipped skill an assertion verdict
  scripts/sandbox/exempt.toml
  src/commands/sandbox.ts
  src/sandbox/census.test.ts
  src/sandbox/census.ts
Due: none

docs(sandbox): record the skill census and its exempt rule
  .claude/context/cli.md
  .claude/context/sandbox.md
  docs/agents.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): report an exemption an arm has come to assert
  .claude/context/sandbox.md
  docs/agents.md
  src/commands/sandbox.ts
  src/sandbox/census.test.ts
  src/sandbox/census.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
