Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(context): add --gate to fail on section and index findings
  src/commands/context.ts
  src/context/gate.test.ts
  src/context/gate.ts
Due: none

feat(seeds): exempt a stub seed and strip the marker on install
  src/claude/seeds.ts
  src/context/audit.ts
  src/seed-marker.test.ts
  src/seed-marker.ts
  src/sync/seeds-report.test.ts
  src/sync/seeds-report.ts
  src/tooling/inject.ts
Due: none

docs(seeds): record the seed gate and its stub exemption
  .claude/ARCHITECTURE.md
  .claude/context/cli/audits.md
  .claude/context/scripts/core.md
  .claude/context/tooling.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  docs/agents/index.md
  docs/agents/install-and-sync.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(check): gate the seed tree against the standards it seeds
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): name the recovery when the orchestrate body is unloaded
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): namespace the orchestrate re-invocation command
  claude/skills/claude-orchestrate/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(wiki): split pages into claude, tools, and concepts subfolders
  wiki/claude/claude-code.md
  wiki/claude/claude-commands.md
  wiki/claude/claude-design.md
  wiki/claude/claude-hooks.md
  wiki/claude/claude-mcp.md
  wiki/claude/claude-memory.md
  wiki/claude/claude-permissions.md
  wiki/claude/claude-plan-mode.md
  wiki/claude/claude-routines.md
  wiki/claude/claude-skills.md
  wiki/claude/claude-subagents.md
  wiki/claude/claude-worktrees.md
  wiki/claude/index.md
  wiki/concepts/context-engineering.md
  wiki/concepts/index.md
  wiki/concepts/prose-influences.md
  wiki/concepts/rule-writing-vocabulary.md
  wiki/index.md
  wiki/tools/community-mcp-servers.md
  wiki/tools/community-skills.md
  wiki/tools/index.md
  wiki/tools/stitch.md
  wiki/tools/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): retarget inbound references to the split page paths
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/design.md
  .claude/context/governance.md
  .claude/context/scripts/core.md
  .claude/evals/aitk-ask.md
  .claude/internal/snippets/vocab-capture.md
  docs/ai-workflow.md
  docs/operating-model.md
  docs/visual-design-workflow.md
  docs/zshrc-aliases.md
  internal/snippets/vocab-capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(indexes): record the nested wiki tree and its silent subfolder gap
  .claude/context/indexes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): state the wiki placement test for the split layout
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): carry the orchestrator runbooks inside the skill (#832)
  .claude/ARCHITECTURE.md
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/audits.md
  .claude/context/snippets.md
  .claude/snippets/claude/orchestrator-handoff.md
  .claude/snippets/claude/orchestrator-resume.md
  .claude/snippets/claude/orchestrator-sweep.md
  assets/hero.html
  assets/hero.png
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-orchestrate/references/orchestrator-handoff.md
  claude/skills/claude-orchestrate/references/orchestrator-resume.md
  claude/skills/claude-orchestrate/references/orchestrator-sweep.md
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.51.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.51.0 (#834)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(check): report seed coverage per root instead of one verdict
  .claude/context/scripts/core.md
  docs/agents/context-audit.md
  scripts/core/verify.sh
  src/claude/seeds.ts
  src/seed-marker.ts
  src/sync/seeds-report.ts
  src/tooling/inject.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(check): report a refused seed audit as a refusal, not a violation
  .claude/context/scripts/core.md
  docs/agents/context-audit.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(wiki): name the role catalog hop in the index lookup path
  .claude/skills/aitk-ask/REQUIREMENT.md
  .claude/skills/aitk-ask/SKILL.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(seeds): gate the seed tree against the standards it seeds (#833)
  .claude/ARCHITECTURE.md
  .claude/context/cli/audits.md
  .claude/context/scripts/core.md
  .claude/context/tooling.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  docs/agents/index.md
  docs/agents/install-and-sync.md
  scripts/core/verify.sh
  src/claude/seeds.ts
  src/commands/context.ts
  src/context/audit.ts
  src/context/gate.test.ts
  src/context/gate.ts
  src/seed-marker.test.ts
  src/seed-marker.ts
  src/sync/seeds-report.test.ts
  src/sync/seeds-report.ts
  src/tooling/inject.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.52.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(wiki): split pages into claude, tools, and concepts subfolders (#835)
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/design.md
  .claude/context/governance.md
  .claude/context/indexes.md
  .claude/context/scripts/core.md
  .claude/evals/aitk-ask.md
  .claude/internal/snippets/vocab-capture.md
  .claude/skills/aitk-ask/REQUIREMENT.md
  .claude/skills/aitk-ask/SKILL.md
  CLAUDE.md
  docs/ai-workflow.md
  docs/operating-model.md
  docs/visual-design-workflow.md
  docs/zshrc-aliases.md
  internal/snippets/vocab-capture.md
  wiki/claude/claude-code.md
  wiki/claude/claude-commands.md
  wiki/claude/claude-design.md
  wiki/claude/claude-hooks.md
  wiki/claude/claude-mcp.md
  wiki/claude/claude-memory.md
  wiki/claude/claude-permissions.md
  wiki/claude/claude-plan-mode.md
  wiki/claude/claude-routines.md
  wiki/claude/claude-skills.md
  wiki/claude/claude-subagents.md
  wiki/claude/claude-worktrees.md
  wiki/claude/index.md
  wiki/concepts/context-engineering.md
  wiki/concepts/index.md
  wiki/concepts/prose-influences.md
  wiki/concepts/rule-writing-vocabulary.md
  wiki/index.md
  wiki/tools/community-mcp-servers.md
  wiki/tools/community-skills.md
  wiki/tools/index.md
  wiki/tools/stitch.md
  wiki/tools/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.52.0 (#836)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): drop version markers and break runs past the checkpoint
  .claude/context/ci.md
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/audits.md
  .claude/context/cli/sync.md
  .claude/context/governance.md
  .claude/context/sandbox/coverage.md
  .claude/context/scripts/core.md
  .claude/context/snippets.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): drop version markers and break runs past the checkpoint (#837)
  .claude/context/ci.md
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/cli/audits.md
  .claude/context/cli/sync.md
  .claude/context/governance.md
  .claude/context/sandbox/coverage.md
  .claude/context/scripts/core.md
  .claude/context/snippets.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): split prose.md into prose and markdown halves
  .claude/standards/diagrams.md
  .claude/standards/index.md
  .claude/standards/markdown.md
  .claude/standards/prose.md
  .claude/standards/publish.md
  .claude/standards/readme.md
  .claude/standards/skill.md
  .claude/standards/standard.md
  .claude/standards/versioning.md
  .claude/standards/wireframes.md
  claude/skills/create-snippet/references/snippets.md
  claude/skills/git-issue/references/issue.md
  claude/skills/git-pr/references/pr.md
  claude/skills/git-split/references/pr.md
  standards/bundled/issue.md
  standards/bundled/pr.md
  standards/bundled/snippets.md
  standards/diagrams.md
  standards/index.md
  standards/markdown.md
  standards/prose.md
  standards/publish.md
  standards/readme.md
  standards/skill.md
  standards/standard.md
  standards/versioning.md
  standards/wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): route markdown edits to both standard halves
  .claude/rules/claude/500-prose.md
  governance/rules/claude/500-prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(hooks): name both standard halves in the audit message
  .claude/hooks/standards-audit.sh
  src/comments/vocabulary.ts
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(skills): retarget prose citations to the governing half
  .claude/skills/aitk-ask/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-standards/REQUIREMENT.md
  .claude/skills/aitk-standards/SKILL.md
  claude/skills/claude-design-extract/SKILL.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-memory-capture/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/create-skill/SKILL.md
  claude/skills/create-snippet/SKILL.md
  claude/skills/create-standard/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-issue/SKILL.md
  claude/skills/git-pr/SKILL.md
  claude/skills/git-stage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(scripts): cover markdown.md in install checks and eval fixtures
  scripts/core/install-check.sh
  scripts/eval/run.sh
  scripts/sandbox/fixtures/claude/setup-init/fresh/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the split and the two parser gotchas
  .claude/REQUIREMENTS.md
  .claude/context/claude-plugin/cli.md
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/design.md
  .claude/context/sandbox/authoring.md
  .claude/context/standards.md
  CLAUDE.md
  wiki/concepts/index.md
  wiki/concepts/prose-influences.md
  wiki/index.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(assets): regenerate the hero catalog for the added standard
  assets/hero.html
  assets/hero.png
Due: none

feat(governance): add 501-markdown so each rule routes to one standard
  .claude/context/claude-plugin/cli.md
  .claude/context/governance.md
  .claude/rules/claude/500-prose.md
  .claude/rules/claude/501-markdown.md
  .claude/standards/markdown.md
  .claude/standards/prose.md
  assets/hero.html
  assets/hero.png
  governance/rules/claude/500-prose.md
  governance/rules/claude/501-markdown.md
  governance/stacks/base.toml
  standards/markdown.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.53.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.53.0 (#839)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(plugin): validate manifests on the runner rather than skipping
  .github/workflows/verify.yml
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): carve the single-job gate into ci-workflow
  claude/skills/ci-workflow/REQUIREMENT.md
  claude/skills/ci-workflow/SKILL.md
  claude/skills/ci-workflow/references/workflows.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): rebuild the CI stage table from verify.sh
  .claude/context/ci.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add a claude-intake skill for breadth passes
  .claude/context/claude-plugin/skill-strategy.md
  assets/hero.html
  assets/hero.png
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-intake/REQUIREMENT.md
  claude/skills/claude-intake/SKILL.md
  claude/skills/claude-intake/references/folder-format.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): arm a claude-intake scenario with two arms
  .claude/context/sandbox/coverage.md
  scripts/sandbox/claude/intake.sh
  scripts/sandbox/fixtures/claude/intake/file/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/.claude/tasks/v01.0-error-envelope.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/notes/dump.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/cli.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/commands/build.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/commands/serve.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/lib/log.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/expect.toml
  scripts/sandbox/fixtures/claude/intake/route/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/intake/route/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/intake/route/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/intake/route/01-initial/create/src/cli.ts.fixture
  scripts/sandbox/fixtures/claude/intake/route/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(workflow): add claude-intake to the skills table
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(governance): widen 595 to cover the manifest and state the pair
  .claude/internal/standards/tooling-reference.md
  .claude/rules/claude/595-tooling-reference.md
  .claude/skills/aitk-tooling/SKILL.md
  internal/rules/claude/595-tooling-reference.md
  internal/standards/tooling-reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
