Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(hooks): announce closed tasks after a merge (#646)
  .claude/context/claude-plugin.md
  .claude/context/development.md
  .cspell/tech-stack.txt
  .husky/post-merge
  .husky/post-rewrite
  claude/skills/claude-tasks/SKILL.md
  docs/ai-workflow.md
  tooling/base/configs/.husky/post-merge
  tooling/base/configs/.husky/post-rewrite
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): share the anchor hook and remote setup
  scripts/lib/sandbox-git.sh
  scripts/sandbox/claude/address-review.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/git/followup.sh
  scripts/sandbox/git/issue.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/infra/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): record the shared anchor helper and arm order dependence
  .claude/context/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): collapse duplicated anchor and remote setup (#648)
  .claude/context/sandbox.md
  scripts/lib/sandbox-git.sh
  scripts/sandbox/claude/address-review.sh
  scripts/sandbox/claude/autoship.sh
  scripts/sandbox/claude/pr-review.sh
  scripts/sandbox/git/followup.sh
  scripts/sandbox/git/issue.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/ship.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/infra/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(skill): name aitk in the toolkit-feedback trigger description
  claude/skills/toolkit-feedback/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): repair 'core.bare' after entry sets it
  claude/skills/claude-worktree/SKILL.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(worktree): record the bare flag defect and recovery
  .claude/context/claude-plugin.md
  .claude/context/scripts.md
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(plugin): expand the manifest with author, homepage, and license
  claude/.claude-plugin/plugin.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(verify): validate plugin and marketplace manifests
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

ci(release): generate tags and changelog on merge to main
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the release story and the manifest stage
  .claude/context/ci.md
  .claude/context/claude-plugin.md
  .claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): note that CI does not run the manifest stage
  .claude/context/ci.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(worktree): pin 'repair_bare_flag' against six repository shapes
  .claude/context/claude-plugin.md
  .claude/context/scripts.md
  scripts/core/verify.sh
  scripts/lib/worktree.sh
  src/worktree-repair.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(test): strip inherited GIT_ vars so fixtures survive git hooks
  .claude/context/scripts.md
  src/worktree-repair.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): stage the anchor tree from a local fixture
  scripts/manage-sandbox.sh
  scripts/sandbox/fixtures/anchor/create/.gitignore.fixture
  scripts/sandbox/fixtures/anchor/create/README.md.fixture
  scripts/sandbox/fixtures/anchor/create/utils.js.fixture
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): record the anchor fixture provisioning model
  .claude/context/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): repair 'core.bare' after worktree entry sets it (#650)
  .claude/context/claude-plugin.md
  .claude/context/scripts.md
  claude/skills/claude-worktree/SKILL.md
  scripts/core/verify.sh
  scripts/lib/worktree.sh
  src/worktree-repair.test.ts
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(release): add release automation and manifest validation (#651)
  .claude/context/ci.md
  .claude/context/claude-plugin.md
  .claude/context/development.md
  .github/workflows/release-please.yml
  .release-please-manifest.json
  claude/.claude-plugin/plugin.json
  release-please-config.json
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): stage the anchor tree from a local fixture (#652)
  .claude/context/sandbox.md
  scripts/manage-sandbox.sh
  scripts/sandbox/fixtures/anchor/create/.gitignore.fixture
  scripts/sandbox/fixtures/anchor/create/README.md.fixture
  scripts/sandbox/fixtures/anchor/create/utils.js.fixture
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(release): exclude the plugin manifest from prettier
  .claude/context/claude-plugin.md
  .prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(release): widen the prettier ignore to every plugin manifest
  .claude/context/claude-plugin.md
  .prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(release): exclude the plugin manifest from prettier (#654)
  .claude/context/claude-plugin.md
  .prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(plugin): publish through a marketplace manifest
  .claude-plugin/marketplace.json
  claude/snippets
  claude/standards
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(plugin): add the marketplace install path
  .claude/context/claude-plugin.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(release): keep the marketplace manifest under the format gate
  .prettierignore
Due: none

fix(release): exclude the generated changelog from prettier
  .claude/context/ci.md
  .prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(release): pin the changelog ignore to the repository root
  .claude/context/ci.md
  .prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(release): exclude the generated changelog from prettier (#656)
  .claude/context/ci.md
  .prettierignore
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(plugin): publish through a marketplace manifest (#655)
  .claude-plugin/marketplace.json
  .claude/context/claude-plugin.md
  .prettierignore
  claude/snippets
  claude/standards
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): resolve the diff baseline against a merge base
  claude/skills/claude-review/SKILL.md
  claude/skills/claude-standards-audit/SKILL.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the diff baseline port to four skills
  .claude/context/claude-plugin.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): route tooling reference edits to their standard
  .claude/context/governance.md
  .claude/context/standards.md
  .claude/rules/claude/595-tooling-reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(hooks): flag closed-set banned words read from the prose standard
  .claude/context/claude-plugin.md
  .claude/hooks/standards-audit.sh
  .claude/skills/aitk-claude/SKILL.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(sync): rename the generated branch prefix and widen the cleanup
  .claude/context/cli.md
  .claude/skills/aitk-scripts/SKILL.md
  scripts/sandbox/infra/sync.sh
  src/sync/git.test.ts
  src/sync/git.ts
  src/sync/workflow.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): drop the stale product name from the sync PR mention
  .claude/context/claude-plugin.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(install): lead with the marketplace command and add a capture
  README.md
  assets/install.png
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(docs): correct the marketplace source form and update claim
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(install): commit the capture source beside its rendered png
  assets/install.html
  assets/install.png
Due: none

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
