Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(context): correct the run-boundary defect counts and kinds
  .claude/context/cli/audits.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(context): report a decision narrated beside its replacement (#875)
  .claude/context/cli/audits.md
  .claude/rules/claude/510-context.md
  docs/agents/commands.md
  docs/agents/context-audit-checks.md
  docs/agents/context-audit.md
  governance/rules/claude/510-context.md
  src/commands/context.ts
  src/context/audit.test.ts
  src/context/audit.ts
  src/context/narration.test.ts
  src/context/narration.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.65.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.65.0 (#877)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): collapse the standards entry bullets into prose
  .claude/context/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(markdown): raise the paragraph weight checkpoint to 600
  .claude/standards/markdown.md
  docs/agents/markdown-audit.md
  src/markdown/structure.test.ts
  src/markdown/structure.ts
  standards/markdown.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): record two gotchas for editing a measured standard
  .claude/context/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(markdown): correct the guidance line and back out the context edit
  .claude/context/standards.md
  src/commands/markdown.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): collapse the standards entry bullets into prose (#878)
  .claude/context/standards.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(markdown): record that a standard sits inside its own corpus
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(markdown): raise the paragraph weight checkpoint to 600 (#879)
  .claude/standards/markdown.md
  docs/agents/markdown-audit.md
  src/commands/markdown.ts
  src/markdown/structure.test.ts
  src/markdown/structure.ts
  standards/markdown.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.65.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.65.1 (#880)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(seeds): state the capability rather than the toolkit CLI
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(scripts): add the seed independence check to verify
  .claude/context/development.md
  .claude/context/scripts/core.md
  .claude/context/scripts/lib.md
  scripts/core/check-seed-independence.sh
  scripts/core/verify.sh
  scripts/lib/tooling.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(context): split the standards entry into sub-area files
  .claude/context/index.md
  .claude/context/indexes.md
  .claude/context/standards.md
  .claude/context/standards/authoring.md
  .claude/context/standards/index.md
  .claude/context/standards/install.md
  .claude/context/standards/overview.md
  .claude/context/standards/per-standard.md
  .claude/context/standards/scope.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): retarget the standards entry citations at the folder
  .claude/skills/aitk-standards/SKILL.md
  README.md
  claude/skills/create-standard/SKILL.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(prose): drop banned qualifiers from six authoring sources
  .claude/REQUIREMENTS.md
  .claude/snippets/claude/feature-recap.md
  claude/skills/claude-standards-audit/REQUIREMENT.md
  claude/skills/git-split/SKILL.md
  governance/rules/ui/420-forms.md
  snippets/claude/feature-recap.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): mark quoted red flags as code spans
  claude/skills/systematic-debugging/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(markdown): record the ban corpus reaching zero
  .claude/context/cli/audits.md
  .cspell/project-terms.txt
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(scripts): fail the seed check when the walk reads no prose
  .claude/context/development.md
  .claude/rules/claude/596-claude-md.md
  internal/rules/claude/596-claude-md.md
  scripts/core/check-seed-independence.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(standards): drop a leading type segment from the branch slug
  .claude/standards/slug.md
  standards/slug.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): rename the entered branch to a conventional type prefix
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/claude-worktree/references/branch.md
  claude/skills/git-branch/references/branch.md
  claude/skills/git-pr/references/branch.md
  claude/skills/git-split/references/branch.md
  scripts/sandbox/claude/worktree.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(followup): accept an open pull request in place of a tracking ref
  claude/skills/git-followup/REQUIREMENT.md
  claude/skills/git-followup/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record the typed branch and the widened followup guard
  .claude/context/claude-plugin/index.md
  .claude/context/claude-plugin/skill-procedures.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): collapse the folder-decision gotchas to a subsection
  .claude/context/standards/overview.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(seeds): keep the toolkit CLI out of scaffolded instructions (#881)
  .claude/context/development.md
  .claude/context/scripts/core.md
  .claude/context/scripts/lib.md
  .claude/rules/claude/596-claude-md.md
  internal/rules/claude/596-claude-md.md
  scripts/core/check-seed-independence.sh
  scripts/core/verify.sh
  scripts/lib/tooling.sh
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.66.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.66.0 (#885)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(context): split the standards entry into sub-area files (#882)
  .claude/context/index.md
  .claude/context/indexes.md
  .claude/context/standards.md
  .claude/context/standards/authoring.md
  .claude/context/standards/index.md
  .claude/context/standards/install.md
  .claude/context/standards/overview.md
  .claude/context/standards/per-standard.md
  .claude/context/standards/scope.md
  .claude/skills/aitk-standards/SKILL.md
  README.md
  claude/skills/create-standard/SKILL.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(prose): rewrite the quoted red flag and collapse the ban narrative
  .claude/context/cli/audits.md
  claude/skills/systematic-debugging/SKILL.md
  docs/agents/markdown-audit.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tooling): record the resolved stack chain at install
  src/commands/tooling.ts
  src/tooling/stamp.test.ts
  src/tooling/stamp.ts
Due: none

feat(sync): add tooling to the stamp and report its chain
  src/commands/sync.ts
  src/sync/check.test.ts
  src/sync/check.ts
  src/sync/stamp.test.ts
  src/sync/stamp.ts
Due: none

test(sandbox): add a drift arm for unmeasured tooling
  scripts/sandbox/fixtures/infra/drift/tooling/expect.toml
  scripts/sandbox/infra/drift.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sync): document the tooling chain record and unmeasured state
  .claude/context/cli/sync.md
  .claude/context/tooling.md
  docs/agents/install-and-sync.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(development): note the deliberate failure lines in check output
  .claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(prose): take the markdown ban corpus to zero (#883)
  .claude/REQUIREMENTS.md
  .claude/context/cli/audits.md
  .claude/snippets/claude/feature-recap.md
  .cspell/project-terms.txt
  claude/skills/claude-standards-audit/REQUIREMENT.md
  claude/skills/git-split/SKILL.md
  claude/skills/systematic-debugging/SKILL.md
  docs/agents/markdown-audit.md
  governance/rules/ui/420-forms.md
  snippets/claude/feature-recap.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.66.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.66.1 (#886)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(worktree): test both target names before entering rather than after
  .claude/context/claude-plugin/skill-procedures.md
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
