Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(orchestrate): record why the roadmap claim was stripped
  .claude/context/claude-plugin.md
  .cspell/project-terms.txt
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): stop asserting an active version with no source
  claude/skills/claude-orchestrate/SKILL.md
  scripts/sandbox/claude/orchestrate.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(wiki): move three in-house pages into the docs surface
  .claude/context/claude-internal.md
  .claude/context/design.md
  .claude/context/index.md
  README.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/ai-workflow.md
  docs/index.md
  docs/operating-model.md
  docs/visual-design-workflow.md
  docs/zshrc-aliases.md
  wiki/claude-design.md
  wiki/claude-worktrees.md
  wiki/index.md
  wiki/stitch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): fold skills-strategy into context and skill
  .claude/context/claude-plugin.md
  .claude/skills/aitk-claude/SKILL.md
  wiki/community-skills.md
  wiki/skills-strategy.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): state the external-subject test and its exception
  .claude/skills/aitk-ask/SKILL.md
  CLAUDE.md
  wiki/rule-writing-vocabulary.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(internal): move toolkit-internal content out of shipped trees
  .claude/internal/snippets/format-edits.md
  .claude/internal/snippets/orchestrator-resume.md
  .claude/internal/snippets/sandbox-worktree.md
  .claude/internal/snippets/vocab-capture.md
  .claude/internal/standards/tooling-reference.md
  internal/snippets/format-edits.md
  internal/snippets/orchestrator-resume.md
  internal/snippets/sandbox-worktree.md
  internal/snippets/vocab-capture.md
  internal/standards/tooling-reference.md
  scripts/core/regen-claude-copies.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(snippets): drop the internal-category filters
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/create.sh
  src/commands/snippets.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
  src/snippets/list.test.ts
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(verify): assert the plugin ships no toolkit-internal content
  scripts/core/check-plugin-boundary.sh
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(internal): state the boundary as location and repoint references
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/rules/claude/595-tooling-reference.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(context): reflow the core scripts table
  .claude/context/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): exit on a missing realpath instead of reporting a leak
  .claude/context/scripts.md
  scripts/core/check-plugin-boundary.sh
  scripts/snippets/create.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): drop the ownership row that named two surfaces
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(orchestrate): read priority.md's actual 'Run now' heading
  claude/skills/claude-orchestrate/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/orchestrate.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(cspell): add realpath to the tech stack dictionary
  .cspell/tech-stack.txt
Due: none

fix(orchestrate): stop asserting an active version with no source (#670)
  .claude/context/claude-plugin.md
  .cspell/project-terms.txt
  claude/skills/claude-orchestrate/SKILL.md
  docs/ai-workflow.md
  scripts/sandbox/claude/orchestrate.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(wiki): move in-house pages out of the wiki surface (#671)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/design.md
  .claude/context/index.md
  .claude/skills/aitk-ask/SKILL.md
  .claude/skills/aitk-claude/SKILL.md
  CLAUDE.md
  README.md
  claude/skills/claude-orchestrate/SKILL.md
  docs/ai-workflow.md
  docs/index.md
  docs/operating-model.md
  docs/visual-design-workflow.md
  docs/zshrc-aliases.md
  wiki/claude-design.md
  wiki/claude-worktrees.md
  wiki/community-skills.md
  wiki/index.md
  wiki/rule-writing-vocabulary.md
  wiki/skills-strategy.md
  wiki/stitch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(internal): move toolkit-internal content out of shipped trees (#672)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/governance.md
  .claude/context/scripts.md
  .claude/context/snippets.md
  .claude/context/standards.md
  .claude/internal/snippets/format-edits.md
  .claude/internal/snippets/orchestrator-resume.md
  .claude/internal/snippets/sandbox-worktree.md
  .claude/internal/snippets/vocab-capture.md
  .claude/internal/standards/tooling-reference.md
  .claude/rules/claude/595-tooling-reference.md
  .claude/skills/aitk-snippets/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  .cspell/tech-stack.txt
  CLAUDE.md
  internal/snippets/format-edits.md
  internal/snippets/orchestrator-resume.md
  internal/snippets/sandbox-worktree.md
  internal/snippets/vocab-capture.md
  internal/standards/tooling-reference.md
  scripts/core/check-plugin-boundary.sh
  scripts/core/regen-claude-copies.sh
  scripts/core/verify.sh
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/create.sh
  src/commands/snippets.ts
  src/snippets/adapter.test.ts
  src/snippets/adapter.ts
  src/snippets/categories.test.ts
  src/snippets/categories.ts
  src/snippets/install.test.ts
  src/snippets/install.ts
  src/snippets/list.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): drop the legacy sync branch pattern
  .claude/skills/aitk-scripts/SKILL.md
  scripts/sandbox/infra/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add requirements lifecycle and distribution sections
  .claude/standards/requirements.md
  standards/requirements.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(requirements): add distribution outcomes and hosted-service clause
  .claude/REQUIREMENTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(sandbox): drop the legacy sync branch pattern (#674)
  .claude/skills/aitk-scripts/SKILL.md
  scripts/sandbox/infra/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(tasks): add an archive command for the task board
  src/cli.ts
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
Due: none

feat(tasks): archive the task a merged pull request closed
  .husky/post-merge
  claude/skills/git-pr/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tasks): route the skill archive through the command
  claude/skills/claude-tasks/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tasks): document the archive command and the pull request line
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/standards/tasks.md
  docs/agents.md
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(standards): limit roadmap sequencing, add distribution to template
  .claude/standards/requirements.md
  standards/requirements.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): define post-MVP scope with lifecycle and distribution (#675)
  .claude/REQUIREMENTS.md
  .claude/standards/requirements.md
  standards/requirements.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tasks): scope the row match and the plan gate to one form each
  .claude/standards/tasks.md
  claude/skills/git-pr/SKILL.md
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(wiki): add a source line to every page and clear banned words
  wiki/claude-code.md
  wiki/claude-commands.md
  wiki/claude-design.md
  wiki/claude-hooks.md
  wiki/claude-mcp.md
  wiki/claude-memory.md
  wiki/claude-permissions.md
  wiki/claude-plan-mode.md
  wiki/claude-routines.md
  wiki/claude-skills.md
  wiki/claude-subagents.md
  wiki/claude-worktrees.md
  wiki/community-mcp-servers.md
  wiki/community-skills.md
  wiki/prose-influences.md
  wiki/rule-writing-vocabulary.md
  wiki/stitch.md
  wiki/visual-wireframes.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): require a source line on every wiki page
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(tasks): close a task from the merge that shipped it (#676)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/standards/tasks.md
  .husky/post-merge
  claude/skills/claude-tasks/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/agents.md
  src/cli.ts
  src/commands/tasks.ts
  src/tasks/archive.test.ts
  src/tasks/archive.ts
  standards/tasks.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(review): add a close-out pass with its own heading and body path
  .cspell/tech-stack.txt
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(review): document the close-out pass and its two headings
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add a close-out arm to the pr-review scenario
  scripts/sandbox/claude/pr-review.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): add render checks, budgets, and acc fields to diagrams
  .claude/standards/diagrams.md
  .cspell/tech-stack.txt
  standards/diagrams.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(diagram): render each changed diagram and verify the image
  claude/skills/claude-diagram/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): cover the render step and add a known-bad fixture
  scripts/sandbox/claude/diagram.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(diagram): note the render step in the skill catalogs and setup flow
  .claude/context/claude-plugin.md
  docs/ai-workflow.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(init): default the stack to base and make governance skippable
  src/commands/init.ts
  src/init/flags.test.ts
  src/init/flags.ts
  src/init/plan.test.ts
  src/init/plan.ts
  src/init/run.test.ts
  src/init/run.ts
  src/init/steps.test.ts
  src/init/steps.ts
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(init): document the default stack and the governance skip
  .claude/context/claude-plugin.md
  .claude/context/cli.md
  .claude/context/development.md
  .claude/context/tooling.md
  README.md
  docs/agents.md
  docs/target-projects.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
