Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

chore(tooling): rename gitignore key Vscode to VSCode
  docs/tooling.md
  tooling/web/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): require single-word gitignore group keys
  .claude/skills/aitk-tooling/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): preserve user-extended cspell and lintstaged on sync (#487)
  .claude/skills/aitk-tooling/SKILL.md
  docs/tooling.md
  tooling/base/manifest.toml
  tooling/base/reference.md
  tooling/base/seeds/.lintstagedrc
  tooling/base/seeds/cspell.json
  tooling/python/manifest.toml
  tooling/web/manifest.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): untrack '.claude/TASKS.md' as local session scratch
  .claude/TASKS.md
  .gitignore
  CLAUDE.md
  docs/ai-workflow.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): tighten conventions and resolve 'TASKS.md' at main root
  .cspell/project-terms.txt
  CLAUDE.md
  claude/skills/session-resume/SKILL.md
  docs/snippets.md
  snippets/aitk/format-edits.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): restore shared scratch inventory in worktree bullet
  CLAUDE.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(claude): untrack '.claude/TASKS.md' as local session scratch (#488)
  .claude/TASKS.md
  .cspell/project-terms.txt
  .gitignore
  CLAUDE.md
  claude/skills/session-resume/SKILL.md
  docs/ai-workflow.md
  docs/snippets.md
  snippets/aitk/format-edits.md
  tooling/claude/manifest.toml
  tooling/claude/reference.md
  tooling/claude/seeds/CLAUDE.md
  wiki/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): split user and project settings
  .cspell/tech-stack.txt
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
  scripts/manage-claude.sh
  tooling/claude/seeds/.claude/settings.json
  tooling/claude/user/settings.template.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(claude): align dogfood and tooling reference with split
  .claude/settings.json
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): split user and project settings (#489)
  .claude/settings.json
  .cspell/tech-stack.txt
  claude/skills/claude-seed-sync/SKILL.md
  docs/claude.md
  scripts/manage-claude.sh
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/settings.json
  tooling/claude/user/settings.template.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): promote git/followup to a skill
  claude/skills/git-followup/SKILL.md
  docs/claude.md
  docs/snippets.md
  scripts/sandbox/git/followup.sh
  snippets/git/followup.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(claude): drop PR-state false-pass and harden followup scenarios
  claude/skills/git-followup/SKILL.md
  scripts/sandbox/git/followup.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

style(claude): drop trailing periods on single-sentence steps
  claude/skills/git-followup/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): promote git/followup to a skill (#490)
  claude/skills/git-followup/SKILL.md
  docs/claude.md
  docs/snippets.md
  scripts/sandbox/git/followup.sh
  snippets/git/followup.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): exclude nested dirs in vitest
  tooling/astro/configs/vitest.config.ts
  tooling/vite-react/configs/vitest.config.ts
Due: none

fix(init): propagate non-interactive flag to child domains
  README.md
  scripts/manage-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(init): drop antigravity from optional domains
  docs/target-projects.md
  docs/tooling.md
  scripts/manage-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(tooling): exclude nested dirs in vitest (#491)
  tooling/astro/configs/vitest.config.ts
  tooling/vite-react/configs/vitest.config.ts
Due: none

fix(init): propagate non-interactive flag to child domains (#492)
  README.md
  scripts/manage-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(init): drop antigravity from optional domains (#493)
  docs/target-projects.md
  docs/tooling.md
  scripts/manage-init.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(governance): add 230-nextjs rule to react stack
  docs/governance.md
  governance/rules/framework/230-nextjs.md
  governance/stacks/react.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add essentials preset and snippets.toml
  .claude/skills/aitk-snippets/SKILL.md
  docs/agents.md
  docs/snippets.md
  scripts/manage-init.sh
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/install.sh
  scripts/snippets/list.sh
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): fold memory phases into review skill
  claude/skills/claude-memory-review/SKILL.md
  snippets/claude/memory-apply.md
  snippets/claude/memory-challenge.md
  snippets/claude/memory-cleanup.md
  snippets/claude/memory-discuss.md
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(snippets): drop toml comments and switch review to diff fences
  claude/skills/claude-memory-review/SKILL.md
  snippets/snippets.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): defend diff fence from prettier list normalization
  claude/skills/claude-memory-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(snippets): add essentials preset and trim memory snippets (#495)
  .claude/skills/aitk-snippets/SKILL.md
  claude/skills/claude-memory-review/SKILL.md
  docs/agents.md
  docs/snippets.md
  scripts/manage-init.sh
  scripts/sandbox/infra/snippets.sh
  scripts/snippets/install.sh
  scripts/snippets/list.sh
  snippets/claude/memory-apply.md
  snippets/claude/memory-challenge.md
  snippets/claude/memory-cleanup.md
  snippets/claude/memory-discuss.md
  snippets/snippets.toml
  wiki/claude-memory.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(prompts): add essentials preset and switch init default
  .claude/skills/aitk-prompts/SKILL.md
  docs/prompts.md
  prompts/prompts.toml
  scripts/manage-init.sh
  scripts/sandbox/infra/prompts.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(prompts): include ci-workflow in essentials
  docs/prompts.md
  prompts/prompts.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(prompts): add essentials preset and switch init default (#496)
  .claude/skills/aitk-prompts/SKILL.md
  docs/prompts.md
  prompts/prompts.toml
  scripts/manage-init.sh
  scripts/sandbox/infra/prompts.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): add claude-diagram skill for mermaid diagrams from prompts
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  claude/skills/claude-diagram/SKILL.md
  docs/claude.md
  scripts/sandbox/claude/diagram.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(claude): drop prompt args from diagram skill
  claude/skills/claude-diagram/SKILL.md
  docs/claude.md
  scripts/sandbox/claude/diagram.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): list diagram skill in reqs, workflow, sandbox
  .claude/REQUIREMENTS.md
  docs/ai-workflow.md
  docs/sandbox.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): use 4-backtick fence in diagram skill example
  claude/skills/claude-diagram/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): ban em-dashes in diagram output to keep hook quiet
  claude/skills/claude-diagram/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): reword prose ban to avoid hook self-trigger
  claude/skills/claude-diagram/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): drop bullet periods and unbreak inline backticks
  claude/skills/claude-diagram/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add claude-diagram skill for mermaid diagrams (#497)
  .claude/REQUIREMENTS.md
  .cspell/project-terms.txt
  .cspell/tech-stack.txt
  claude/skills/claude-diagram/SKILL.md
  docs/ai-workflow.md
  docs/claude.md
  docs/sandbox.md
  scripts/sandbox/claude/diagram.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): copy re-test command to clipboard
  .claude/skills/aitk-sandbox-check/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files
