Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

.lintstagedrc:

{
  "**/*.{json,md,mdc}": [
    "prettier --write --ignore-path .gitignore",
    "cspell --no-must-find-files"
  ],
  "**/*.sh": ["shfmt --write --indent 2", "shellcheck --severity=warning"]
}

docs(prose): standardize punctuation and formatting (#243)
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  claude/skills/git-branch/SKILL.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-pr/SKILL.md
  docs/governance.md
  docs/scripts.md
  docs/snippets.md
  docs/tooling.md
  gemini/commands/dev/comment.toml
  gemini/commands/dev/review.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/stage.toml
  prompts/bash-script.md
  prompts/cursor-rules.md
  prompts/meta-prompt.md
  standards/comments.md
  standards/prose.md
  standards/skill.md
  tooling/base/reference.md
  tooling/chrome/reference.md
  tooling/claude/configs/.claude/PLANNER.md
  tooling/claude/configs/.claude/REVIEWER.md
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(sandbox-scenario): refine changelog scenario setup
  scripts/sandbox/release/changelog.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(sandbox): use git references for baseline management (#244)
  docs/sandbox.md
  scripts/manage-sandbox.sh
  scripts/sandbox/release/changelog.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

refactor(gemini): standardize command output with 'AFTER EXECUTION'
  gemini/commands/dev/apply.toml
  gemini/commands/dev/comment.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/pr.toml
  gemini/commands/git/split.toml
  gemini/commands/git/stage.toml
  gemini/commands/release/changelog.toml
  prompts/gemini-cli.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): clarify git:pr command behavior
  docs/gemini.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(git-pr): add draft branch guard (#247)
  docs/gemini.md
  gemini/commands/git/pr.toml
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/stage.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): inject GEMINI.md context into sandboxes (#248)
  docs/sandbox.md
  scripts/manage-sandbox.sh
  scripts/sandbox/dev/comment.sh
  scripts/sandbox/docs/sync.sh
  scripts/sandbox/git/branch.sh
  scripts/sandbox/git/commit.sh
  scripts/sandbox/git/pr.sh
  scripts/sandbox/git/split.sh
  scripts/sandbox/git/stage.sh
  scripts/sandbox/release/changelog.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(command-docs): clarify preview instructions for docs sync command
  gemini/commands/docs/sync.toml
Due: none

test(sandbox-docs): add scenario selection for docs sync sandbox
  scripts/sandbox/docs/sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(sandbox): add scenarios to docs sync script (#249)
  docs/sandbox.md
  gemini/commands/docs/sync.toml
  scripts/sandbox/docs/sync.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(gemini): simplify /git:pr command description
  docs/gemini.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prose): add prose formatting rules
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prose): add prose rules, simplify gemini command docs (#250)
  docs/gemini.md
  standards/prose.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(rules): add UI copy standards rule
  .cursor/rules/framework/210-ui.mdc
  .cursor/stacks/react.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gov): update react stack to include ui rule
  docs/governance.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(gov): add ui copy standards rule (#252)
  .cursor/rules/framework/210-ui.mdc
  .cursor/stacks/react.toml
  docs/governance.md
  tooling/claude/configs/.claude/PLANNER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(shadcn): add rule for vendored component immutability
  .cursor/rules/framework/260-shadcn.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): refine and expand core and framework rules (#253)
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/core/020-concurrency.mdc
  .cursor/rules/core/030-error-handling.mdc
  .cursor/rules/core/040-performance.mdc
  .cursor/rules/core/050-logging.mdc
  .cursor/rules/core/060-naming.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/300-testing-ts.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(governance): update rule range table for planning rule
  docs/governance.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(rules): promote planning rule to core and apply globally (#254)
  .cursor/rules/core/070-planning.mdc
  .cursor/stacks/base.toml
  .cursor/stacks/node.toml
  docs/governance.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): add overview of skill concept
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): clarify documentation update process
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(aitk-standards): refine skill description
  .claude/skills/aitk-standards/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(ai-workflow): clarify descriptions for DESIGN.md and WIREFRAMES.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add guidelines to seed docs (#257)
  docs/ai-workflow.md
  tooling/claude/configs/.claude/PLANNER.md
  tooling/claude/reference.md
  tooling/claude/seeds/.claude/ARCHITECTURE.md
  tooling/claude/seeds/.claude/DESIGN.md
  tooling/claude/seeds/.claude/REQUIREMENTS.md
  tooling/claude/seeds/.claude/TASKS.md
  tooling/claude/seeds/.claude/WIREFRAMES.md
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(planner): introduce planner stack and refine ui rule
  .cursor/rules/framework/210-ui.mdc
  .cursor/stacks/planner.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): integrate planner stack rules into prompt generation
  scripts/claude/prompt.sh
  tooling/claude/configs/.claude/PLANNER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): implement stack-filtered 'aitk claude gov' command
  scripts/manage-claude.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): update CLI and governance documentation
  docs/claude.md
  docs/governance.md
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): update CLI docs for gov command filtering
  README.md
  docs/scripts.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(claude): wrap governance rules in 'gov' tag
  tooling/claude/configs/.claude/IMPLEMENTER.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(release): refine changelog commit collection and rules
  gemini/commands/release/changelog.toml
Due: none

chore(claude): refine '.claude/TASKS.md' rules and snippet
  snippets/claude-docs.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(commands, docs): refine command arguments and documentation standards (#260)
  gemini/commands/docs/sync.toml
  gemini/commands/git/commit.toml
  gemini/commands/git/split.toml
  gemini/commands/git/stage.toml
  gemini/commands/release/changelog.toml
  snippets/claude-docs.md
  tooling/claude/seeds/.claude/TASKS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(gemini): simplify GEMINI.md template description
  tooling/gemini/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): reorder Rules section
  tooling/claude/seeds/CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(rules): standardize mdc format and add timer and alt text rules (#262)
  .cursor/rules/core/010-testing.mdc
  .cursor/rules/core/030-error-handling.mdc
  .cursor/rules/core/060-naming.mdc
  .cursor/rules/framework/200-react.mdc
  .cursor/rules/framework/210-ui.mdc
  .cursor/rules/framework/250-tailwind.mdc
  .cursor/rules/framework/260-shadcn.mdc
  .cursor/rules/lang/100-typescript.mdc
  .cursor/rules/lib/300-testing-ts.mdc
  .cursor/rules/lib/320-tanstack-query.mdc
  .cursor/rules/lib/350-security-web.mdc
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(snippets): add snippet reference
  standards/snippets.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): deny env file access in seed settings
  tooling/claude/seeds/.claude/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(git-branch): inline context commands and remove script
  claude/skills/git-branch/SKILL.md
  claude/skills/git-branch/scripts/context.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning
