Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(standards): state the rule and skill layering checkpoint in both
  .claude/ARCHITECTURE.md
  .claude/standards/rule.md
  .claude/standards/skill.md
  standards/rule.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add a CLAUDE.md rule for the edit and seed protocol
  .claude/rules/claude/596-claude-md.md
  .claude/skills/aitk-claude/SKILL.md
  CLAUDE.md
  internal/rules/claude/596-claude-md.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): promote three silently-failing invariants into rules
  .claude/rules/core/095-cli-output.md
  .claude/rules/core/096-operator-files.md
  .claude/rules/core/097-non-interactive.md
  internal/rules/core/095-cli-output.md
  internal/rules/core/096-operator-files.md
  internal/rules/core/097-non-interactive.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record the audit verdict and route entries to new rules
  .claude/context/cli/overview.md
  .claude/context/governance.md
  .claude/context/scripts/overview.md
  .claude/context/tooling.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): document the exit discipline behind the stream contract
  docs/agents/index.md
  docs/agents/output-shape.md
  docs/agents/overview.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(ci): pin the plugin CLI and give job granularity a default
  .claude/context/ci.md
  .github/workflows/verify.yml
  claude/skills/ci-workflow/REQUIREMENT.md
  claude/skills/ci-workflow/SKILL.md
  claude/skills/ci-workflow/references/workflows.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(intake): state what carries the write-scope floor and why
  .claude/context/sandbox/coverage.md
  claude/skills/claude-intake/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(governance): scope the process.exit ban to stdout-writing actions
  .claude/context/cli/overview.md
  .claude/rules/core/095-cli-output.md
  docs/agents/output-shape.md
  internal/rules/core/095-cli-output.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): correct the granularity checklist and the format-stage note
  .claude/context/ci.md
  claude/skills/ci-workflow/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(intake): move the rule-boundary reasoning to the context entry
  .claude/context/claude-plugin/skill-strategy.md
  claude/skills/claude-intake/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): ship the template in the folded shape the rule states
  claude/skills/ci-workflow/SKILL.md
  claude/skills/ci-workflow/references/workflows.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(governance): add four path-scoped rules and the layering checkpoint (#842)
  .claude/ARCHITECTURE.md
  .claude/context/cli/overview.md
  .claude/context/governance.md
  .claude/context/scripts/overview.md
  .claude/context/tooling.md
  .claude/internal/standards/tooling-reference.md
  .claude/rules/claude/595-tooling-reference.md
  .claude/rules/claude/596-claude-md.md
  .claude/rules/core/095-cli-output.md
  .claude/rules/core/096-operator-files.md
  .claude/rules/core/097-non-interactive.md
  .claude/skills/aitk-claude/SKILL.md
  .claude/skills/aitk-tooling/SKILL.md
  .claude/standards/rule.md
  .claude/standards/skill.md
  CLAUDE.md
  docs/agents/index.md
  docs/agents/output-shape.md
  docs/agents/overview.md
  internal/rules/claude/595-tooling-reference.md
  internal/rules/claude/596-claude-md.md
  internal/rules/core/095-cli-output.md
  internal/rules/core/096-operator-files.md
  internal/rules/core/097-non-interactive.md
  internal/standards/tooling-reference.md
  standards/rule.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): name the e2e gate by role rather than by job name
  claude/skills/ci-workflow/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add a claude-intake skill for filing a brain dump (#841)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/sandbox/coverage.md
  assets/hero.html
  assets/hero.png
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-intake/REQUIREMENT.md
  claude/skills/claude-intake/SKILL.md
  claude/skills/claude-intake/references/folder-format.md
  docs/ai-workflow.md
  scripts/sandbox/claude/intake.sh
  scripts/sandbox/fixtures/claude/intake/file/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/.claude/tasks/v01.0-error-envelope.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/notes/dump.md.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/cli.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/commands/build.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/commands/serve.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/01-initial/create/src/lib/log.ts.fixture
  scripts/sandbox/fixtures/claude/intake/file/expect.toml
  scripts/sandbox/fixtures/claude/intake/route/01-initial/append/CLAUDE.md.fixture
  scripts/sandbox/fixtures/claude/intake/route/01-initial/create/.claude/tasks/index.md.fixture
  scripts/sandbox/fixtures/claude/intake/route/01-initial/create/package.json.fixture
  scripts/sandbox/fixtures/claude/intake/route/01-initial/create/src/cli.ts.fixture
  scripts/sandbox/fixtures/claude/intake/route/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.54.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.54.0 (#843)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

ci(plugin): close the manifest gap in the merge gate (#840)
  .claude/context/ci.md
  .github/workflows/verify.yml
  claude/skills/ci-workflow/REQUIREMENT.md
  claude/skills/ci-workflow/SKILL.md
  claude/skills/ci-workflow/references/workflows.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(hooks): bound the stdin read so a manual run refuses
  .claude/hooks/dev-command-reminder.sh
  .claude/hooks/index-reminder.sh
  .claude/hooks/memory-index.sh
  .claude/hooks/scratch-guard.sh
  .claude/hooks/standards-audit.sh
  .claude/hooks/tasks-index.sh
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/hooks/memory-index.sh
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the hook stdin guard and seed pairing
  .claude/context/claude-plugin/cli.md
  .claude/context/development.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(hooks): assert the stdin guard across both trees
  src/hooks-guard.test.ts
Due: none

test(cli): cover command action exit codes with spawned runs
  .claude/context/cli/overview.md
  src/commands/exit-code.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(cli): set exitCode and return in command actions
  src/commands/design.ts
  src/commands/feedback.ts
  src/commands/slides.ts
  src/commands/transcripts.ts
Due: none

docs(governance): restate the process exit rule as a helper condition
  .claude/rules/core/095-cli-output.md
  docs/agents/output-shape.md
  internal/rules/core/095-cli-output.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(cli): set exitCode and return in command actions (#845)
  .claude/context/cli/overview.md
  .claude/rules/core/095-cli-output.md
  docs/agents/output-shape.md
  internal/rules/core/095-cli-output.md
  src/commands/design.ts
  src/commands/exit-code.test.ts
  src/commands/feedback.ts
  src/commands/slides.ts
  src/commands/transcripts.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(autoship): split review findings by origin at step 6
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  docs/ai-workflow.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(ask): route standards questions through a fourth index
  .claude/skills/aitk-ask/REQUIREMENT.md
  .claude/skills/aitk-ask/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(sandbox): gate undeclared scenarios behind a ceiling
  .claude/context/ci.md
  .claude/context/development.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(principles): state that a rule needs a check behind it
  .claude/REQUIREMENTS.md
  CLAUDE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): rewrite the base reference in the web shape
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(standards): add the four-question change checkpoint
  .claude/standards/skill.md
  .claude/standards/standard.md
  standards/skill.md
  standards/standard.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(eval): correct the seed's standards citation claim
  scripts/eval/README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(hooks): exercise each hook on a payload it acts on
  .claude/context/development.md
  src/hooks-guard.test.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(sandbox): fail the coverage stage under CI when it cannot report
  .claude/context/ci.md
  .claude/context/development.md
  scripts/core/verify.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(sandbox): add stage_toolkit_markdown to the fixtures lib
  .claude/context/sandbox/authoring.md
  scripts/lib/sandbox-fixtures.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(context): record the routing arms and the shared sandbox tree
  .claude/context/claude-plugin/skill-procedures.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/sandbox/coverage.md
  .claude/context/sandbox/running.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): arm toolkit-operator with three routing assertions
  scripts/sandbox/claude/toolkit-operator.sh
  scripts/sandbox/fixtures/claude/toolkit-operator/fresh/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/installed/expect.toml
  scripts/sandbox/fixtures/claude/toolkit-operator/unmigrated/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): take migration-standards detection from the report
  claude/skills/migration-standards/REQUIREMENT.md
  claude/skills/migration-standards/SKILL.md
  docs/agents/install-and-sync.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): add a migration-standards scenario and root-layout arm
  scripts/sandbox/claude/migration-standards.sh
  scripts/sandbox/fixtures/claude/migration-standards/root-layout/expect.toml
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(hooks): bound the stdin read so a manual run refuses (#844)
  .claude/context/claude-plugin/cli.md
  .claude/context/development.md
  .claude/hooks/dev-command-reminder.sh
  .claude/hooks/index-reminder.sh
  .claude/hooks/memory-index.sh
  .claude/hooks/scratch-guard.sh
  .claude/hooks/standards-audit.sh
  .claude/hooks/tasks-index.sh
  src/hooks-guard.test.ts
  tooling/claude/seeds/.claude/hooks/index-reminder.sh
  tooling/claude/seeds/.claude/hooks/memory-index.sh
  tooling/claude/seeds/.claude/hooks/scratch-guard.sh
  tooling/claude/seeds/.claude/hooks/standards-audit.sh
  tooling/claude/seeds/.claude/hooks/tasks-index.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(toolkit): add a coverage gate and six unrelated small fixes (#846)
  .claude/REQUIREMENTS.md
  .claude/context/ci.md
  .claude/context/claude-plugin/skill-review.md
  .claude/context/development.md
  .claude/skills/aitk-ask/REQUIREMENT.md
  .claude/skills/aitk-ask/SKILL.md
  .claude/standards/skill.md
  .claude/standards/standard.md
  CLAUDE.md
  claude/skills/claude-autoship/REQUIREMENT.md
  claude/skills/claude-autoship/SKILL.md
  docs/ai-workflow.md
  scripts/core/verify.sh
  scripts/eval/README.md
  standards/skill.md
  standards/standard.md
  tooling/base/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
