Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.89.0 (#966)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(tooling): derive a served port per worktree
  tooling/astro/configs/astro.config.mjs
  tooling/astro/configs/playwright.config.ts
  tooling/astro/manifest.toml
  tooling/astro/reference.md
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
  tooling/web/configs/scripts/worktree-port.sh
  tooling/web/manifest.toml
  tooling/web/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): report worktree dependency state on entry
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

docs(worktrees): record why a worktree starts empty
  .claude/context/tooling.md
  docs/operating-model.md
  wiki/claude/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(worktree): report the derived port offset on entry
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  scripts/sandbox/claude/worktree.sh
  tooling/astro/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(worktree): derive a served port and report dependency state (#967)
  .claude/context/tooling.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  docs/operating-model.md
  scripts/sandbox/claude/worktree.sh
  tooling/astro/configs/astro.config.mjs
  tooling/astro/configs/playwright.config.ts
  tooling/astro/manifest.toml
  tooling/astro/reference.md
  tooling/vite-react/configs/playwright.config.ts
  tooling/vite-react/configs/vite.config.ts
  tooling/vite-react/manifest.toml
  tooling/vite-react/reference.md
  tooling/web/configs/scripts/worktree-port.sh
  tooling/web/manifest.toml
  tooling/web/reference.md
  wiki/claude/claude-worktrees.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(main): release 0.89.1
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.89.1 (#968)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(agents): document the intake command surface
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .claude/context/sandbox/running.md
  assets/hero.html
  assets/hero.png
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(claude): add the intake answer skill and route to it
  claude/skills/claude-intake-answer/REQUIREMENT.md
  claude/skills/claude-intake-answer/SKILL.md
  claude/skills/claude-intake/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(standards): state the label suffix and the chat answer route
  .claude/standards/intake.md
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(intake): add list and answer verbs over intake folders
  src/cli.ts
  src/commands/intake.ts
  src/intake/folder.test.ts
  src/intake/folder.ts
  src/intake/items.test.ts
  src/intake/items.ts
Due: none

fix(skills): point emitted paths at the output rule, not the terminal
  .claude/standards/skill.md
  claude/skills/toolkit-feedback/SKILL.md
  claude/skills/youtube-transcripts/REQUIREMENT.md
  claude/skills/youtube-transcripts/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record that a must line and its body line move together
  .claude/context/claude-plugin/skill-requirements.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): score the orchestrate arm on four reply pins
  .claude/context/sandbox/coverage.md
  scripts/sandbox/claude/orchestrate.sh
  scripts/sandbox/fixtures/claude/orchestrate/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): put a reply that changes a finding on the PR
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): record the return leg write-back and its split
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): retire the clickable wording from two kept sentences
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-tasks/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(intake): refuse an answer carrying a line break
  docs/agents/intake.md
  src/commands/intake.ts
  src/intake/folder.test.ts
  src/intake/folder.ts
  src/intake/items.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(claude): point the close-out line at the withdrawal exception
  claude/skills/claude-pr-review/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(intake): add a chat answer route over intake folders (#969)
  .claude/context/claude-plugin/skill-strategy.md
  .claude/context/cli/commands.md
  .claude/context/sandbox/running.md
  .claude/standards/intake.md
  assets/hero.html
  assets/hero.png
  claude/skills/claude-intake-answer/REQUIREMENT.md
  claude/skills/claude-intake-answer/SKILL.md
  claude/skills/claude-intake/SKILL.md
  docs/agents/commands.md
  docs/agents/index.md
  docs/agents/intake.md
  src/cli.ts
  src/commands/intake.ts
  src/intake/folder.test.ts
  src/intake/folder.ts
  src/intake/items.test.ts
  src/intake/items.ts
  standards/intake.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): point emitted paths at the output rule, not the terminal (#970)
  .claude/context/claude-plugin/skill-requirements.md
  .claude/standards/skill.md
  claude/skills/claude-groundwork/SKILL.md
  claude/skills/claude-tasks/SKILL.md
  claude/skills/toolkit-feedback/SKILL.md
  claude/skills/youtube-transcripts/REQUIREMENT.md
  claude/skills/youtube-transcripts/SKILL.md
  standards/skill.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.90.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): state the observed turn cost behind the orchestrate cap
  scripts/sandbox/fixtures/claude/orchestrate/expect.toml
Due: none

chore(main): release 0.90.0 (#973)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

test(sandbox): score the orchestrate arm on four reply pins (#971)
  .claude/context/sandbox/coverage.md
  scripts/sandbox/claude/orchestrate.sh
  scripts/sandbox/fixtures/claude/orchestrate/expect.toml
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(claude): put a reply that changes a finding on the pull request (#972)
  .claude/context/claude-internal.md
  .claude/context/claude-plugin/skill-review.md
  claude/skills/claude-address-review/REQUIREMENT.md
  claude/skills/claude-address-review/SKILL.md
  claude/skills/claude-orchestrate/REQUIREMENT.md
  claude/skills/claude-orchestrate/SKILL.md
  claude/skills/claude-pr-review/REQUIREMENT.md
  claude/skills/claude-pr-review/SKILL.md
  docs/operating-model.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.91.0
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(main): release 0.91.0 (#974)
  .release-please-manifest.json
  CHANGELOG.md
  claude/.claude-plugin/plugin.json
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(capture): write a provenance stamp beside every png
  src/capture/render.ts
  src/capture/stamp.test.ts
  src/capture/stamp.ts
Due: none

fix(skills): name the corpus each docs sync skill owns in its triggers
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/docs-sync/REQUIREMENT.md
  claude/skills/docs-sync/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): compare the hero stamp digest instead of timing
  .cspell/tech-stack.txt
  assets/hero.stamp
  scripts/core/regen-hero.sh
  scripts/core/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): point a worktree list request at its owning sibling
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): route the overwrite contract from the bodies running syncs
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/migration-standards/REQUIREMENT.md
  claude/skills/migration-standards/SKILL.md
  claude/skills/toolkit-cli/REQUIREMENT.md
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(capture): record the stamp and what the hero gate proves
  .claude/context/ci.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/governance/stacks.md
  .claude/context/scripts/core.md
  docs/agents/capture.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(context): record that a requirement file creates no routing edge
  .claude/context/claude-plugin/skill-requirements.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): split the commit pair on hunk-level staged selection
  claude/skills/git-commit/REQUIREMENT.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-stage/REQUIREMENT.md
  claude/skills/git-stage/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(skills): state the trigger gap behind the docs corpus claim
  claude/skills/claude-docs/REQUIREMENT.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

fix(verify): digest the hero image as well as its markup
  .claude/context/ci.md
  .claude/context/development/gates.md
  .claude/context/development/regeneration.md
  .claude/context/governance/stacks.md
  .claude/context/scripts/core.md
  assets/hero.stamp
  docs/agents/capture.md
  scripts/core/verify.sh
  src/capture/render.ts
  src/capture/stamp.test.ts
  src/capture/stamp.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

fix(skills): repair four routing defects the skill census found (#975)
  .claude/context/claude-plugin/skill-requirements.md
  claude/skills/claude-docs/REQUIREMENT.md
  claude/skills/claude-docs/SKILL.md
  claude/skills/claude-seed-sync/REQUIREMENT.md
  claude/skills/claude-seed-sync/SKILL.md
  claude/skills/claude-worktree/REQUIREMENT.md
  claude/skills/claude-worktree/SKILL.md
  claude/skills/docs-sync/REQUIREMENT.md
  claude/skills/docs-sync/SKILL.md
  claude/skills/git-commit/REQUIREMENT.md
  claude/skills/git-commit/SKILL.md
  claude/skills/git-stage/REQUIREMENT.md
  claude/skills/git-stage/SKILL.md
  claude/skills/migration-standards/REQUIREMENT.md
  claude/skills/migration-standards/SKILL.md
  claude/skills/toolkit-cli/REQUIREMENT.md
  claude/skills/toolkit-operator/REQUIREMENT.md
  claude/skills/toolkit-operator/SKILL.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
