Repository erclx/ai-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(branch): allow branch name derivation from user intent
  gemini/commands/git/branch.toml
Due: none

docs(branch): update description guideline
  standards/branch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(gov): update 2 standards
  gemini/commands/gov/standards.toml
Due: none

refactor(config): reposition standards blocks in command toml files
  gemini/commands/git/branch.toml
  gemini/commands/git/pr.toml
  gemini/commands/release/changelog.toml
Due: none

docs(meta): refactor project overview
  GEMINI.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

style(pr): remove blank line from data context
  gemini/commands/git/pr.toml
Due: none

refactor(commands): optimize prompt context and expand docs sync (#107)
  GEMINI.md
  README.md
  docs/SANDBOX.md
  gemini/commands/dev/apply.toml
  gemini/commands/dev/setup.toml
  gemini/commands/docs/readme.toml
  gemini/commands/docs/sync.toml
  gemini/commands/git/branch.toml
  gemini/commands/git/pr.toml
  gemini/commands/gov/standards.toml
  gemini/commands/release/changelog.toml
  prompts/gemini-cli.md
  scripts/sandbox/dev/setup.sh
  scripts/sandbox/docs/sync.sh
  scripts/templates/master-prompt-cli.template
  standards/branch.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

feat(ui): add project root enforcement
  scripts/lib/ui.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

build(gov): require project root before execution
  scripts/build-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(test): use readlink -f to resolve script directory
  scripts/manage-test.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(cli): add gdev command for test management
  package.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(readme): add bun link to installation instructions
  README.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(sandbox): add gdev refresh instructions
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

feat(dev): add gdev command and enforce project root (#108)
  README.md
  docs/SANDBOX.md
  package.json
  scripts/build-gov.sh
  scripts/lib/ui.sh
  scripts/manage-test.sh
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

chore(update): use VERIFY_NESTED env var for verify script
  scripts/core/update.sh
  tooling/base/configs/scripts/update.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(tooling): add interactive diff review to sync command
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(gov): add interactive diff review to gov sync
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(tooling): improve config inheritance and deduplication
  scripts/manage-tooling.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(gov): use log_warn for sync cancellation messages
  scripts/sync-gov.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

feat(sync): add interactive diff review to config and gov sync (#109)
  scripts/core/update.sh
  scripts/core/verify.sh
  scripts/manage-tooling.sh
  scripts/sync-gov.sh
  tooling/base/configs/scripts/update.sh
  tooling/base/configs/scripts/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(tooling): enhance verify script config and error handling
  tooling/vite-react/configs/scripts/verify.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

refactor(commitlint): refactor export style and rules order
  tooling/base/configs/commitlint.config.js
Due: none

style(vscode): reorder shellcheck setting
  tooling/vite-react/configs/.vscode/settings.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

refactor(tooling): update configs and verify script (#110)
  tooling/base/configs/commitlint.config.js
  tooling/vite-react/configs/.vscode/extensions.json
  tooling/vite-react/configs/.vscode/settings.json
  tooling/vite-react/configs/scripts/verify.sh
  tooling/vite-react/configs/src/test/setup.ts
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files, shfmt --write --indent 2, shellcheck --severity=warning

test(playwright): add typescript config for playwright e2e tests
  tooling/vite-react/configs/tsconfig.e2e.json
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(vite-react): update eslint and vitest config details
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(tooling): update verifications, eslint, vitest, and add e2e tsconfig (#111)
  tooling/base/reference.md
  tooling/vite-react/configs/tsconfig.e2e.json
  tooling/vite-react/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(templates): remove master prompt cli template
  scripts/templates/master-prompt-cli.template
Due: none

refactor(prompts): improve rule reading log output
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

fix(prompts): remove trailing newlines from rules content
  scripts/manage-prompts.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(sandbox): remove gov sync sandbox script
  scripts/sandbox/infra/gov-sync.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

chore(docs): update prompt and sandbox documentation
  README.md
  docs/PROMPTS.md
  docs/SANDBOX.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(prompts): update prompt system workflow
  docs/PROMPTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(cspell): add 'unrequested' to dictionary and sort
  .cspell/project-terms.txt
Due: none

refactor(workflow): refine internal agent workflow and documentation (#113)
  .cspell/project-terms.txt
  docs/PROMPTS.md
  docs/WORKFLOW.md
  gemini/commands/dev/apply.toml
  scripts/templates/master-prompt-chat.template
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

chore(tooling): update snapshot script path
  tooling/base/manifest.toml
Due: none

fix(snapshot): exclude .git from snapshots
  tooling/base/configs/scripts/snapshot.sh
Due: shfmt --write --indent 2, shellcheck --severity=warning

docs(claude): add requirements documentation structure
  tooling/claude/seeds/.claude/REQUIREMENTS.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add architecture documentation structure
  tooling/claude/seeds/.claude/ARCHITECTURE.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

docs(claude): add tooling reference documentation
  tooling/claude/reference.md
Due: prettier --write --ignore-path .gitignore, cspell --no-must-find-files

Path conditions:
  prettier --write --ignore-path .gitignore: any of: **/*.{json,md,mdc}
  cspell --no-must-find-files: any of: **/*.{json,md,mdc}
  shfmt --write --indent 2: any of: **/*.sh
  shellcheck --severity=warning: any of: **/*.sh
